Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

chore: headache
  packages/ui/slideshow/src/components/orchestrator/edit-scene-dialog/index.stories.tsx
  packages/ui/slideshow/src/components/orchestrator/scene-selector/index.stories.tsx
Due: eslint --fix, prettier --check --write

feat: new utils
  packages/utils/src/lib/discovery/hooks/index.ts
  packages/utils/src/lib/discovery/hooks/use-recursive-library.ts
  packages/utils/src/lib/discovery/index.ts
  packages/utils/src/lib/discovery/lib/file-discovery.ts
  packages/utils/src/lib/discovery/lib/generate-manifest.ts
  packages/utils/src/lib/discovery/lib/index.ts
  packages/utils/src/lib/discovery/lib/resource-loader.ts
Due: eslint --fix, prettier --check --write

fix: ts
  packages/utils/src/lib/discovery/lib/file-discovery.ts
Due: eslint --fix, prettier --check --write

refactor: this is a script, not a module
  packages/utils/src/lib/discovery/lib/index.ts
  scripts/generate-manifest.ts
Due: eslint --fix, prettier --check --write

chore: lint scripts
  tsconfig.json
Due: prettier --check --write

refactor: scripts in content, expose modules
  packages/some-content/package.json
  packages/some-content/scripts/generate-manifest.ts
  packages/some-content/src/data/scenes/manifest.json
  packages/some-content/tsconfig.json
  packages/utils/src/lib/discovery/index.ts
  packages/utils/src/lib/index.ts
Due: eslint --fix, prettier --check --write

refactor: use new api
  packages/ui/slideshow/src/hooks/use-scene-library.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/slideshow/src/hooks/use-scene-library.ts
Due: eslint --fix, prettier --check --write

feat: add selection dialog
  packages/ui/chat/src/components/topik/session-header/index.stories.tsx
  packages/ui/chat/src/components/topik/session-header/index.tsx
Due: eslint --fix, prettier --check --write

chore: gen manifest
  packages/some-content/scripts/generate-manifest.ts
Due: eslint --fix, prettier --check --write

feat: discover topiks
  packages/ui/chat/src/hooks/topik/use-conversation-batches.ts
  packages/ui/chat/src/hooks/topik/use-session-fsm.ts
  packages/ui/chat/src/hooks/topik/use-topik-library.ts
  packages/ui/chat/src/lib/topik/session-reducer.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/chat/src/hooks/topik/use-session-fsm.ts
  packages/ui/chat/src/hooks/topik/use-topik-library.ts
  packages/ui/chat/src/lib/topik/session-reducer.ts
Due: eslint --fix, prettier --check --write

feat: discover topiks
  packages/ui/chat/src/components/topik/study-session/index.stories.tsx
  packages/ui/chat/src/components/topik/study-session/index.tsx
Due: eslint --fix, prettier --check --write

refactor(ci): improve caching, separation of concerns
  .github/workflows/storybook-build.yml
Due: prettier --check --write

chore: build updates, rmv consoles
  packages/some-vite-config/src/index.ts
Due: eslint --fix, prettier --check --write

fix: unnecessary side effect
  packages/ui/chat/src/components/topik/study-session/index.tsx
  packages/ui/chat/src/hooks/topik/use-session-fsm.ts
  packages/ui/chat/src/hooks/topik/use-topik-library.ts
  packages/ui/chat/src/hooks/topik/use-tts-integration.ts
  packages/ui/chat/src/types/topik.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/chat/src/components/topik/quiz-states/quiz-ready/index.tsx
  packages/ui/chat/src/hooks/topik/use-tts-integration.ts
Due: eslint --fix, prettier --check --write

fix(ci): make node/pnpm avail in ci
  flake.nix
Due: none

fix: don't use link
  crates/polyhedron/package.json
  packages/utils/package.json
  turbo.json
Due: prettier --check --write

fix: typo
  packages/utils/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: ts issues
  packages/ui/makjang/package.json
  packages/ui/makjang/src/components/cdrama/metrics-panel/index.tsx
Due: eslint --fix, prettier --check --write

chore: lockfile
  pnpm-lock.yaml
Due: none

chore: update wasm build
  crates/hangul-game-core/package.json
  crates/polyhedron/package.json
  crates/some-hexagon/package.json
  packages/ui/honeycomb/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: lint
  packages/ui/honeycomb/src/utils/hangul-keyboard-mapping.ts
Due: eslint --fix, prettier --check --write

feat: adding stories
  extensions/some-drama/src/components/floating-bar/index.stories.tsx
  extensions/some-drama/src/components/floating-bar/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/tsconfig.json
Due: eslint --fix, prettier --check --write

fix: lint'
  packages/ui/honeycomb/src/lib/hangul/keyboard-input-manager.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/honeycomb/src/components/neuron/index.tsx
Due: eslint --fix, prettier --check --write

fix: ts, resize observer
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/honeycomb/src/components/hex-grid/index.stories.tsx
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/honeycomb/src/components/song-hex-grid/song-overlay/index.tsx
Due: eslint --fix, prettier --check --write

chore: deprecate component
  packages/ui/honeycomb/src/components/hexagon-grid-demo/index.stories.tsx
  packages/ui/honeycomb/src/components/hexagon-grid-demo/index.tsx
Due: eslint --fix, prettier --check --write

chore: don't build wip
  extensions/some-drama/package.json
Due: prettier --check --write

chore: fix types field
  crates/hangul-game-core/package.json
  crates/polyhedron/package.json
  crates/some-hexagon/package.json
Due: prettier --check --write

fix: use snake case
  crates/hangul-game-core/package.json
  crates/polyhedron/package.json
  crates/some-hexagon/package.json
Due: prettier --check --write

feat: breaking everything
  packages/ui/chat/src/components/topik/change-material/bookshelf-grid/index.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.tsx
  packages/ui/chat/src/components/topik/change-material/topik-book-card/index.tsx
  packages/ui/chat/src/components/topik/chat-panel/index.tsx
  packages/ui/chat/src/components/topik/quiz-panel/index.tsx
  packages/ui/chat/src/components/topik/session-header/index.stories.tsx
  packages/ui/chat/src/components/topik/session-header/index.tsx
  packages/ui/chat/src/components/topik/study-session/index.tsx
  packages/ui/chat/src/hooks/topik/use-session-fsm.ts
  packages/ui/chat/src/hooks/topik/use-topik-library.ts
  packages/ui/chat/src/hooks/topik/use-tts-integration.ts
  packages/ui/chat/src/lib/topik/README.md
  packages/ui/chat/src/lib/topik/adapter/index.ts
  packages/ui/chat/src/lib/topik/adapter/korean-study.vm.ts
  packages/ui/chat/src/lib/topik/adapter/query-bridge.ts
  packages/ui/chat/src/lib/topik/adapter/session-selectors.ts
  packages/ui/chat/src/lib/topik/adapter/topik-metadata-queries.ts
  packages/ui/chat/src/lib/topik/adapter/topik-queries.ts
  packages/ui/chat/src/lib/topik/adapter/use-korean-study-page-vm.ts
  packages/ui/chat/src/lib/topik/adapter/use-session.ts
  packages/ui/chat/src/lib/topik/core/effect-executor.ts
  packages/ui/chat/src/lib/topik/core/session-machine.ts
  packages/ui/chat/src/lib/topik/core/session-reducer.ts
  packages/ui/chat/src/lib/topik/core/session-types.ts
  packages/ui/chat/src/lib/topik/core/topik-metadata-repository.ts
  packages/ui/chat/src/lib/topik/core/topik-repository.ts
  packages/ui/chat/src/lib/topik/core/tts-effect-handler.ts
  packages/ui/chat/src/lib/topik/entity/topik-metadata.ts
  packages/ui/chat/src/lib/topik/entity/topik-types.ts
  packages/ui/chat/src/lib/topik/index.ts
  packages/ui/chat/src/lib/topik/session-reducer.ts
Due: eslint --fix, prettier --check --write

feat: can't be bothered to remember
  .github/ISSUE_TEMPLATE/level-task.md
  .github/ISSUE_TEMPLATE/level-tracking.md
  .github/pull-request-template/pedagogy/index.md
  .github/workflows/pedagogy.yml
  .storybook/main.ts
  packages/some-vite-config/src/index.ts
  packages/ui/maishatu-fetch-kit/src/lib/query-hooks.ts
  packages/utils/src/lib/discovery/hooks/index.ts
  packages/utils/src/lib/discovery/hooks/use-recursive-library.ts
  packages/utils/src/lib/discovery/index.ts
  pedagogy/GETTING_STARTED.md
  pedagogy/QUICK_REFERENCE.md
  pedagogy/README.md
  pedagogy/challenges/level-1/index.md
  pedagogy/challenges/level-2/index.md
  pedagogy/challenges/level-3/index.md
  pedagogy/challenges/level-4/index.md
  pedagogy/docs/CONCEPTS.md
  pedagogy/docs/PROJECT_STRUCTURE.md
  pedagogy/docs/TEST_GENERATION_PROMPT.md
  scripts/pedagogy/setup.sh
Due: eslint --fix, prettier --check --write

feat: not working
  packages/ui/chat/src/components/topik/change-material/bookshelf-grid/index.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.tsx
  packages/ui/chat/src/components/topik/change-material/topik-book-card/index.tsx
  packages/ui/chat/src/components/topik/chat-panel/index.tsx
  packages/ui/chat/src/components/topik/quiz-panel/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-idle/index.tsx
  packages/ui/chat/src/components/topik/session-header/index.tsx
  packages/ui/chat/src/components/topik/study-session/index.stories.tsx
  packages/ui/chat/src/components/topik/study-session/index.tsx
  packages/ui/chat/src/lib/topik/adapter/context/index.ts
  packages/ui/chat/src/lib/topik/adapter/context/session-config-context.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/index.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-korean-study-page-vm.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-session.ts
  packages/ui/chat/src/lib/topik/adapter/index.ts
  packages/ui/chat/src/lib/topik/adapter/korean-study.vm.ts
  packages/ui/chat/src/lib/topik/adapter/server/index.ts
  packages/ui/chat/src/lib/topik/adapter/server/query-bridge.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-metadata-queries.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-queries.ts
  packages/ui/chat/src/lib/topik/adapter/session-selectors.ts
  packages/ui/chat/src/lib/topik/core/effect-executor.ts
  packages/ui/chat/src/lib/topik/core/tts-effect-handler.ts
  packages/ui/chat/src/lib/topik/index.ts
  packages/ui/chat/src/lib/topik/utils/index.ts
  packages/ui/chat/src/types/index.ts
  packages/ui/chat/src/types/topik.ts
Due: eslint --fix, prettier --check --write

refactor: rerender clean
  packages/ui/chat/src/lib/topik/adapter/hooks/use-session.ts
Due: eslint --fix, prettier --check --write

fix: decouple stable cbs from volatile state
  packages/ui/chat/src/lib/topik/adapter/hooks/use-korean-study-page-vm.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-speech-queue.ts
Due: eslint --fix, prettier --check --write

feat: issa kinda working
  packages/ui/chat/src/lib/topik/adapter/hooks/use-korean-study-page-vm.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-session.ts
  packages/ui/chat/src/lib/topik/adapter/server/query-bridge.ts
  packages/ui/chat/src/lib/topik/adapter/session-selectors.ts
  packages/ui/chat/src/lib/topik/core/effect-executor.ts
  packages/ui/chat/src/lib/topik/core/session-reducer.ts
  packages/ui/chat/src/lib/topik/core/session-types.ts
Due: eslint --fix, prettier --check --write
