Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: bolster load file
  apps/www/.gitignore
  apps/www/src/lib/session-duration-policy/index.ts
  packages/ui/leetype/package.json
  packages/ui/leetype/src/hooks/leetype/use-chunked-code/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-chunked-code/index.ts
  packages/ui/leetype/src/utils/with-timeout.ts
  packages/ui/leetype/src/utils/with-timeout/index.test.ts
  packages/ui/leetype/src/utils/with-timeout/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(leetype): resolve lint/typecheck errors in newly-added property tests
  packages/ui/leetype/src/hooks/leetype/use-chunked-code/index.test.ts
  packages/ui/leetype/src/utils/with-timeout/index.test.ts
Due: eslint --fix, prettier --check --write

fix(www): wire leetype's real challenge/codePaths instead of unread fields
  apps/www/package.json
  apps/www/src/lib/activity-catalog/catalog.ts
  packages/ui/leetype/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: place data in content workspace
  apps/www/package.json
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/session-duration-policy/index.ts
  packages/some-content/package.json
  packages/some-content/src/data/index.ts
  packages/some-content/src/data/leetype/challenges.ts
  packages/some-content/src/data/leetype/index.ts
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/challenge-selector/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/leetype-app/index.tsx
  packages/ui/leetype/src/components/typing-game/results-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/session-config/index.stories.tsx
  packages/ui/leetype/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: cyclical deps
  packages/some-content/package.json
  packages/some-content/src/data/leetype/challenges.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(honeycomb): sfx permanently silent after StrictMode's dev mount replay
  packages/ui/honeycomb/src/hooks/use-game-audio.test.ts
  packages/ui/honeycomb/src/hooks/use-game-audio.ts
Due: eslint --fix, prettier --check --write

fix(ci): stop interpolating raw commit message into wasm-release shell script
  .github/workflows/wasm-release.yml
Due: prettier --check --write

chore: use the public pkg
  packages/ui/honeycomb/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: knip
  apps/www/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: knip
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/configure-step.tsx
Due: eslint --fix, prettier --check --write

chore: use the public pkg (#778)
  apps/www/package.json
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/configure-step.tsx
  packages/ui/honeycomb/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore(resume): commit compiled resume.pdf
  apps/www/public/resume.pdf
Due: none

fix(www): install tar and xz explicitly in the docker build stage
  apps/www/Dockerfile
Due: none

chore(resume): resync compiled resume.pdf
  apps/www/public/resume.pdf
Due: none

chore: remove from git
  apps/www/public/resume.pdf
Due: none

chore: update gitignore
  apps/www/.gitignore
Due: none

docs: canonicalize .typ canons into docs/canon, add the adaptive-learning canon
  crates/hangul-game-core/README.md
  crates/hangul-game-core/docs/adr/0002-content-domain-genericity-and-crate-boundary.md
  crates/hangul-game-core/docs/adr/0003-word-challenge-board-and-overlay-architecture.md
  crates/hangul-game-core/docs/adr/0004-mutation-isolation.md
  crates/hangul-game-core/src/lib.rs
  crates/leetype_wasm/README.md
  crates/leetype_wasm/src/lib.rs
  docs/canon/README.md
  docs/canon/adaptive-learning-canon.typ
  docs/canon/dom-state-estimation-canon.typ
  docs/canon/hangul-progression-canon.typ
  docs/canon/package.json
  docs/canon/scripts/build.sh
  docs/canon/scripts/check-citations.sh
  docs/turbo-registry/01-task-graph-audit.md
  docs/turbo-registry/02-registry-decision.md
  docs/turbo-registry/03-provisioning-runbook.md
  extensions/some-censor/README.md
  extensions/some-filter/README.md
  extensions/some-filter/src/adapter/swatches.ts
  extensions/transport/README.md
  packages/ui/honeycomb/README.md
  packages/ui/interview/README.md
  packages/ui/leetype/README.md
  packages/ui/topik/README.md
  pedagogy/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-mutation-boundary.sh
  scripts/check-wasm-bindgen-boundary.sh
Due: eslint --fix, prettier --check --write

chore: use dir pattern
  packages/ws/src/lib/lifecycle/index.property.test.ts
  packages/ws/src/lib/lifecycle/index.ts
  packages/ws/src/lib/listener-registry/index.property.test.ts
  packages/ws/src/lib/listener-registry/index.ts
  packages/ws/src/lib/manager/index.test.ts
  packages/ws/src/lib/manager/index.ts
  packages/ws/src/lib/mutation-queue/index.test.ts
  packages/ws/src/lib/mutation-queue/index.ts
  packages/ws/src/lib/ref-counter/index.property.test.ts
  packages/ws/src/lib/ref-counter/index.ts
  packages/ws/src/lib/use-websocket/index.test.ts
  packages/ws/src/lib/use-websocket/index.ts
  packages/ws/tsconfig.build.json
  packages/ws/tsconfig.json
  packages/ws/vitest.config.ts
  vite.config.ts
Due: eslint --fix, prettier --check --write

chore: update root dir
  packages/ws/tsconfig.json
Due: prettier --check --write

chore: use dir pattern
  packages/fetch-kit/src/lib/api-config/index.test.ts
  packages/fetch-kit/src/lib/api-config/index.ts
  packages/fetch-kit/src/lib/data-source/index.test.ts
  packages/fetch-kit/src/lib/data-source/index.ts
  packages/fetch-kit/src/lib/fetch-client/index.test.ts
  packages/fetch-kit/src/lib/fetch-client/index.ts
  packages/fetch-kit/src/lib/query-hooks/index.test.tsx
  packages/fetch-kit/src/lib/query-hooks/index.ts
  packages/fetch-kit/src/lib/runtime-mode/index.test.ts
  packages/fetch-kit/src/lib/runtime-mode/index.ts
  packages/fetch-kit/tsconfig.build.json
  packages/fetch-kit/tsconfig.json
  packages/fetch-kit/vitest.config.ts
Due: eslint --fix, prettier --check --write

chore: rip some next thingy
  packages/eslint/tsconfig.workspace-resolve.json
  packages/mdx-generator/.gitignore
  packages/mdx-generator/CHANGELOG.md
  packages/mdx-generator/contentlayer.config.js
  packages/mdx-generator/package.json
  packages/mdx-generator/src/components/index.ts
  packages/mdx-generator/src/index.ts
  packages/mdx-generator/tsconfig.build.json
  packages/mdx-generator/tsconfig.json
  packages/mdx-generator/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: yay you survived the reaper
  packages/ui/emoji-animations/src/components/battery-indicator/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/components/bored-emoji/index.stories.tsx
  packages/ui/emoji-animations/src/hooks/use-battery-state.ts
Due: eslint --fix, prettier --check --write

chore: the reaper takes another one
  extensions/scripts/package-source.sh
  extensions/some-scrobbler/README.build.md
  extensions/some-scrobbler/eslint.config.js
  extensions/some-scrobbler/package.json
  extensions/some-scrobbler/rollup.config.js
  extensions/some-scrobbler/src/background/index.ts
  extensions/some-scrobbler/src/content/index.test.ts
  extensions/some-scrobbler/src/content/index.ts
  extensions/some-scrobbler/src/popup/popup.html
  extensions/some-scrobbler/src/popup/popup.tsx
  extensions/some-scrobbler/src/types/index.ts
  extensions/some-scrobbler/tsconfig.build.json
  extensions/some-scrobbler/tsconfig.json
  extensions/some-scrobbler/tsconfig.node.json
  extensions/some-scrobbler/vite.config.ts
  packages/eslint/tsconfig.workspace-resolve.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/eslint.config.mjs
  packages/rollup-config/index.ts
  packages/rollup-config/package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/rollup-config/src/configs/index.ts
  packages/rollup-config/src/index.ts
  packages/rollup-config/src/types/files.ts
  packages/rollup-config/src/types/index.ts
  packages/rollup-config/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write

docs: canonicalize .typ canons into docs/canon, add the adaptive-learning canon (#785)
  crates/hangul-game-core/README.md
  crates/hangul-game-core/docs/adr/0002-content-domain-genericity-and-crate-boundary.md
  crates/hangul-game-core/docs/adr/0003-word-challenge-board-and-overlay-architecture.md
  crates/hangul-game-core/docs/adr/0004-mutation-isolation.md
  crates/hangul-game-core/src/lib.rs
  crates/leetype_wasm/README.md
  crates/leetype_wasm/src/lib.rs
  docs/canon/README.md
  docs/canon/adaptive-learning-canon.typ
  docs/canon/dom-state-estimation-canon.typ
  docs/canon/hangul-progression-canon.typ
  docs/canon/package.json
  docs/canon/scripts/build.sh
  docs/canon/scripts/check-citations.sh
  docs/turbo-registry/01-task-graph-audit.md
  docs/turbo-registry/02-registry-decision.md
  docs/turbo-registry/03-provisioning-runbook.md
  extensions/some-censor/README.md
  extensions/some-filter/README.md
  extensions/some-filter/src/adapter/swatches.ts
  extensions/transport/README.md
  packages/ui/honeycomb/README.md
  packages/ui/interview/README.md
  packages/ui/leetype/README.md
  packages/ui/topik/README.md
  pedagogy/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-mutation-boundary.sh
  scripts/check-wasm-bindgen-boundary.sh
Due: eslint --fix, prettier --check --write

test(filter): prove prepaint veil poisoning across a new session (#741)
  extensions/some-filter/tests/e2e/specs/issue-741-auto-defects.spec.ts
Due: eslint --fix, prettier --check --write

test(filter): prove #741's classifier and auto-theme defects with failing e2e tests (#768)
  extensions/filter-classifier/package.json
  extensions/filter-classifier/scripts/claude-e2e.sh
  extensions/filter-classifier/src/comfort-lab/ComfortFixture.stories.tsx
  extensions/filter-classifier/tests/e2e/fixtures/corpus.ts
  extensions/some-filter/package.json
  extensions/some-filter/scripts/claude-e2e.sh
  extensions/some-filter/tests/e2e/fixtures/filter-invert-vendor-page.html
  extensions/some-filter/tests/e2e/fixtures/gradient-leak-page.html
  extensions/some-filter/tests/e2e/fixtures/text-contrast-gap-page.html
  extensions/some-filter/tests/e2e/specs/issue-741-auto-defects.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat(honeycomb,www): fetch real hangul vocab locally/Docker, demo seed stays on Pages
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/hangul-vocab/index.ts
  apps/www/src/lib/hangul-vocab/schema.test.ts
  apps/www/src/lib/hangul-vocab/schema.ts
  infra/compose/www.yml
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.tsx
  packages/ui/honeycomb/src/data/hangul-words.ts
  packages/ui/honeycomb/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

docs(some-content): add an LLM prompt template for hangul vocab generation
  packages/some-content/prompts/hangul-vocab-generator/index.md
Due: eslint --fix, prettier --check --write

chore: update ignore
  apps/www/.gitignore
Due: none

fix(hangul): correct the false "no batchim" claim, add regression tests
  apps/www/src/lib/hangul-vocab/schema.ts
  crates/hangul-game-core/src/internal/engine.rs
  packages/some-content/prompts/hangul-vocab-generator/index.md
  packages/ui/honeycomb/src/data/hangul-words.ts
Due: eslint --fix, prettier --check --write

fix: ignore public dir for eslint
  packages/eslint/src/configs/base.config.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
