Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

chore: add data fetching
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/data/brick-data.ts
  packages/ui/nfl/src/data/index.ts
  packages/ui/nfl/src/index.ts
  packages/ui/nfl/src/utils/brick-positions.ts
Due: eslint --fix, prettier --check --write

fix: get brick wall to show all datums
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
Due: eslint --fix, prettier --check --write

refactor: updating messages style, and refactoring rotating cube passed data
  packages/ui/chat/src/components/chat-interface/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/data/chat-messages.ts
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/utils/index.ts
  packages/ui/slideshow/src/utils/rotating-cube.ts
Due: eslint --fix, prettier --check --write

fix: get slideshow building
  packages/types/package.json
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/dial-components/dial-animation/index.tsx
  packages/ui/slideshow/src/components/dial-components/dial-controls/index.tsx
  packages/ui/slideshow/src/components/dial-components/dial-progress/index.tsx
  packages/ui/slideshow/src/components/dial-components/dial/index.tsx
  packages/ui/slideshow/src/components/some-sphere/scalar-globe/index.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-drawer/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-drawer/index.tsx
  packages/ui/slideshow/src/hooks/index.ts
  packages/ui/slideshow/src/hooks/use-audio-feedback.ts
  packages/ui/slideshow/src/index.ts
  packages/ui/slideshow/tsconfig.build.json
Due: eslint --fix, prettier --check --write

chore: remove comments
  packages/ui/maishatu-fetch-kit/src/lib/fetch-client.ts
Due: eslint --fix, prettier --check --write

feat: add chat messages to rotating cube overlay
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/chat/src/components/chat-message/index.stories.tsx
  packages/ui/chat/src/components/chat-message/index.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/components/index.ts
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/chat/src/index.ts
  packages/ui/chat/src/types/chat.ts
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/data/chatbot-messages/index.ts
  packages/ui/overlays/src/data/chatbot-messages/wai-no-tock-tock.ts
  packages/ui/overlays/src/data/index.ts
  packages/ui/overlays/tsconfig.json
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: add border beam
  packages/ui/shared/src/components/icons/ant-svg/index.stories.tsx
  packages/ui/shared/src/components/icons/ant-svg/index.tsx
  packages/ui/shared/src/components/icons/index.ts
  packages/ui/shared/src/components/ui/border-beam/index.css
  packages/ui/shared/src/components/ui/border-beam/index.stories.tsx
  packages/ui/shared/src/components/ui/border-beam/index.tsx
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: added border-beam to overlays
  packages/ui/chat/package.json
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/data/chatbot-messages/beached-whale.ts
  packages/ui/overlays/src/data/chatbot-messages/characters.ts
  packages/ui/overlays/src/data/chatbot-messages/index.ts
  packages/ui/overlays/src/data/chatbot-messages/wai-no-tock-tock.ts
  packages/ui/shared/src/components/ui/border-beam/index.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

style: ensure messages dont' overflow parent container
  packages/ui/chat/src/components/chat-header/index.tsx
  packages/ui/chat/src/components/chat-interface/index.stories.tsx
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/chat/src/components/chat-messages/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
Due: eslint --fix, prettier --check --write

feat: get gantt drawer and main content wireframe overlays working
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/scrolling-credits/.index.tsx.swp
  packages/ui/attributions/src/data/index.ts
  packages/ui/attributions/src/index.ts
  packages/ui/attributions/tsconfig.build.json
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/components/brick-wall/index.ts
  packages/ui/nfl/src/components/brick-wall/ladder-chart/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/ladder-chart/index.tsx
  packages/ui/nfl/src/components/standings/index.stories.tsx
  packages/ui/nfl/src/components/standings/index.tsx
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/data/chatbot-messages/index.ts
  packages/ui/overlays/src/data/chatbot-messages/nfl-tennis.ts
  packages/ui/slideshow/src/hooks/use-gantt-drawer.ts
  packages/ui/slideshow/src/utils/rotating-cube.ts
  packages/utils/src/lib/array-utils.ts
  packages/utils/src/lib/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: add nfl-tennis carousel overlay
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/index.ts
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/shared/src/components/ui/carousel.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

style: give carousel bg color
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/attributions/src/components/scrolling-credits/index.tsx
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
Due: eslint --fix, prettier --check --write

feat: replay chat messages
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

feat: update chat messages to use any character, new position key
  packages/ui/chat/src/components/chat-message/index.stories.tsx
  packages/ui/chat/src/components/chat-message/index.tsx
  packages/ui/chat/src/components/chat-messages/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/data/chat-messages.ts
  packages/ui/chat/src/types/chat.ts
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/data/chatbot-messages/beached-whale.ts
  packages/ui/overlays/src/data/chatbot-messages/index.ts
  packages/ui/overlays/src/data/chatbot-messages/nfl-tennis.ts
  packages/ui/overlays/src/data/chatbot-messages/wai-no-tock-tock.ts
  packages/ui/overlays/src/data/chatbot-messages/yet-another-python.ts
Due: eslint --fix, prettier --check --write

feat: init crossword ui
  packages/ui/input/package.json
  packages/ui/input/src/components/crossword-clues/index.stories.tsx
  packages/ui/input/src/components/crossword-clues/index.tsx
  packages/ui/input/src/components/crossword-puzzle/index.stories.tsx
  packages/ui/input/src/components/crossword-puzzle/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/components/index.ts
  packages/ui/input/src/components/index.tsx
  packages/ui/input/src/data/crossword.ts
  packages/ui/input/src/data/index.ts
  packages/ui/input/src/hooks/index.ts
  packages/ui/input/src/hooks/use-crossword-puzzle.ts
  packages/ui/input/src/lib/crossword-grid.ts
  packages/ui/input/src/lib/index.ts
Due: eslint --fix, prettier --check --write

feat: get crossword bulding and prepare for overlay
  packages/ui/input/package.json
  packages/ui/input/src/components/crossword-clues/index.stories.tsx
  packages/ui/input/src/components/crossword-clues/index.tsx
  packages/ui/input/src/components/crossword-puzzle/index.stories.tsx
  packages/ui/input/src/components/crossword-puzzle/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/components/index.ts
  packages/ui/input/src/index.ts
  packages/ui/input/src/lib/crossword-grid.ts
  packages/ui/input/src/lib/index.ts
Due: eslint --fix, prettier --check --write

refactor: joys of vibe coding!
  packages/ui/input/src/lib/crossword-grid.ts
Due: eslint --fix, prettier --check --write

feat: getting warmer on that crossword vibe check
  packages/ui/input/src/components/crossword-puzzle/index.stories.tsx
  packages/ui/input/src/components/crossword-puzzle/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/lib/crossword-grid.ts
Due: eslint --fix, prettier --check --write

refactor: headache
  packages/ui/input/src/components/crossword-svg/index.tsx
Due: eslint --fix, prettier --check --write

feat: crossword wasm
  crates/some-crossword/Cargo.toml
  crates/some-crossword/examples/categorize_words.rs
  crates/some-crossword/examples/does_a_thing.rs
  crates/some-crossword/src/lib.rs
  crates/some-crossword/src/main.rs
Due: none

feat: vibe coding go brrr!
  crates/some-crossword/Cargo.toml
  crates/some-crossword/src/lib.rs
  crates/some-crossword/wasm-pack.toml
Due: none

feat: alot of the nonsense going on!
  packages/ui/input/src/components/crossword-cell/index.stories.tsx
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/components/crossword-svg/index.css
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/components/crossword-svg/test.tsx
  packages/ui/input/src/hooks/index.ts
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-typewriter-animation.ts
  packages/ui/input/src/lib/crossword-grid.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: 1 step forward ...
  packages/ui/input/package.json
  packages/ui/input/src/components/crossword-cell/index.stories.tsx
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/components/crossword-svg/test.tsx
  packages/ui/input/src/components/wasm-card/index.stories.tsx
  packages/ui/input/src/components/wasm-card/index.tsx
  packages/ui/input/src/hooks/use-crossword-wasm.ts
  packages/ui/input/src/hooks/use-grid-cells.ts
  packages/ui/input/src/types/crossword.ts
Due: eslint --fix, prettier --check --write

style: update grid cell color
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/hooks/use-crossword-wasm.ts
Due: eslint --fix, prettier --check --write

refactor: update internal apis
  crates/some-crossword/examples/categorize_words.rs
  crates/some-crossword/src/lib.rs
Due: none

fix: memba to add clue_num to js struct
  crates/some-crossword/examples/categorize_words.rs
  crates/some-crossword/src/lib.rs
Due: none

chore: configs updates
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --check --write

refactor: use clue_nums from api
  packages/ui/input/src/hooks/use-grid-cells.ts
  packages/ui/input/src/types/crossword.ts
Due: eslint --fix, prettier --check --write

chore: broken code
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/hooks/use-crossword-wasm.ts
  packages/ui/input/src/hooks/use-grid-cells.ts
  packages/ui/input/src/hooks/use-solve-animation.ts
  packages/ui/input/src/hooks/use-typewriter-animation.ts
  packages/ui/input/src/types/crossword.ts
Due: eslint --fix, prettier --check --write

feat: yeah me, it lives!
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-grid-cells.ts
  packages/ui/input/src/hooks/use-solve-animation.ts
Due: eslint --fix, prettier --check --write

refactor: type checks
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
Due: eslint --fix, prettier --check --write

fix: add missing case of shared grid cell
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
Due: eslint --fix, prettier --check --write

refactor: add clue_num context to each cell grid
  packages/ui/input/package.json
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/components/crossword-puzzle/index.stories.tsx
  packages/ui/input/src/components/crossword-puzzle/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/types/crossword.ts
Due: eslint --fix, prettier --check --write

fix: track to render clue_number as own field
  packages/ui/input/src/components/crossword-cell/index.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/types/crossword.ts
Due: eslint --fix, prettier --check --write

refactor: make it play nice with overlays
  packages/ui/chat/src/components/chat-header/index.stories.tsx
  packages/ui/chat/src/components/chat-header/index.tsx
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
Due: eslint --fix, prettier --check --write

feat: add new wasm crate
  crates/some-bricks/Cargo.toml
  crates/viewport-rotation/Cargo.toml
  crates/viewport-rotation/src/lib.rs
  crates/viewport-rotation/wasm-pack.toml
Due: none

refactor: index id logic
  crates/viewport-rotation/src/lib.rs
Due: none

feat: add event emitters to rotating cube, did we break?
  packages/ui/slideshow/src/components/dice-card/index.stories.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/hooks/index.ts
  packages/ui/slideshow/src/hooks/use-cube-events.ts
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

feat: add prev/next handlers to rotatecube
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

feat: suppose something is working
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
