Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat(topik): a handheld lesson, not the desktop session squeezed (#1544)
  docs/canon/adaptive-learning-canon.typ
  packages/ui/topik/README.md
  packages/ui/topik/src/components/topik/handheld/check-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/check-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/fixture.ts
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/line-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/line-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/components/topik/handheld/step-layout/index.tsx
  packages/ui/topik/src/components/topik/handheld/tile-board/index.tsx
  packages/ui/topik/src/components/topik/handheld/wrap-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/wrap-card/index.tsx
  packages/ui/topik/src/components/topik/study-session/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/adapter/hooks/use-surface/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/hooks/use-surface/index.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.test.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.ts
  packages/ui/wireframes/src/components/render-solved/index.test.tsx
  packages/ui/wireframes/src/components/render-solved/index.tsx
Due: eslint --fix, prettier --check --write

fix(topik): restore a probe's result only onto the same version of it
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

refactor(topik): key resumed outcomes by probe id
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

feat(topik): morphism probes replace first-order checks on handheld
  docs/canon/adaptive-learning-canon.typ
  packages/ui/topik/src/components/topik/handheld/check-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/check-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/diff-text/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/fixture.ts
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/probe-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/probe-card/index.tsx
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
  packages/ui/topik/src/lib/topik/core/morph-diff/index.test.ts
  packages/ui/topik/src/lib/topik/core/morph-diff/index.ts
  packages/ui/topik/src/lib/topik/core/probe/index.test.ts
  packages/ui/topik/src/lib/topik/core/probe/index.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.test.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.test.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.ts
  packages/ui/topik/src/lib/topik/index.ts
Due: eslint --fix, prettier --check --write

fix(styles): define and map the `success` token
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/tailwind.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(topik): judge a build probe deliverable by the form its board tiles
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

feat(topik): morphism probes replace first-order checks on handheld (#1546)
  docs/canon/adaptive-learning-canon.typ
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/tailwind.css
  packages/some-styles/tokens/base.css
  packages/ui/topik/src/components/topik/handheld/check-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/check-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/diff-text/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/fixture.ts
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/probe-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/probe-card/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
  packages/ui/topik/src/lib/topik/core/morph-diff/index.test.ts
  packages/ui/topik/src/lib/topik/core/morph-diff/index.ts
  packages/ui/topik/src/lib/topik/core/probe/index.test.ts
  packages/ui/topik/src/lib/topik/core/probe/index.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.test.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.test.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.ts
  packages/ui/topik/src/lib/topik/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(server-routes): sync the server route snapshot through one script
  CLAUDE.md
  packages/contract-harness/README.md
  packages/contract-harness/routes.server.json
  packages/contract-harness/src/cli.ts
  packages/server-routes/README.md
  packages/server-routes/src/generated/routes.ts
  scripts/sync-server-routes.sh
Due: eslint --fix, prettier --check --write

feat(server-routes): sync the server route snapshot through one script (#1547)
  CLAUDE.md
  packages/contract-harness/README.md
  packages/contract-harness/routes.server.json
  packages/contract-harness/src/cli.ts
  packages/server-routes/README.md
  packages/server-routes/src/generated/routes.ts
  scripts/sync-server-routes.sh
Due: eslint --fix, prettier --check --write

feat(www): read topik lessons from file_host's curriculum routes
  .env.example
  apps/www/.gitignore
  apps/www/scripts/link-content-assets.js
  apps/www/src/lib/data-mode/index.ts
  apps/www/src/lib/file-host-config/__tests__/index.test.ts
  apps/www/src/lib/file-host-config/index.ts
  apps/www/src/lib/topik-content/index.test.ts
  apps/www/src/lib/topik-content/index.ts
  apps/www/vite.config.ts
  infra/compose/www.yml
  packages/fetch-kit/src/lib/api-config/index.ts
Due: eslint --fix, prettier --check --write

feat(www): read topik lessons from file_host's curriculum routes (#1548)
  .env.example
  apps/www/.gitignore
  apps/www/scripts/link-content-assets.js
  apps/www/src/lib/data-mode/index.ts
  apps/www/src/lib/file-host-config/__tests__/index.test.ts
  apps/www/src/lib/file-host-config/index.ts
  apps/www/src/lib/topik-content/index.test.ts
  apps/www/src/lib/topik-content/index.ts
  apps/www/vite.config.ts
  infra/compose/www.yml
  packages/fetch-kit/src/lib/api-config/index.ts
Due: eslint --fix, prettier --check --write

docs(topik): lessons are beats of a makjang family romcom
  packages/some-content/prompts/topik-lesson-generator/index.md
Due: eslint --fix, prettier --check --write

docs(topik): name the makjang workspace as the cast's eventual home
  packages/some-content/prompts/topik-lesson-generator/index.md
Due: eslint --fix, prettier --check --write

docs(topik): fold two blind trials' reviews into the probe authoring prompt
  packages/some-content/prompts/topik-probe-author/index.md
Due: eslint --fix, prettier --check --write

docs(topik): the probe prompt becomes a lesson generator at a TOPIK level
  packages/some-content/prompts/topik-lesson-generator/index.md
  scripts/check-topik-probes.ts
Due: eslint --fix, prettier --check --write

feat(topik): a probe authoring prompt, and a checker for what it produces
  package.json
  packages/some-content/prompts/topik-probe-author/index.md
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/fixture.ts
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/lib/topik/core/probe-audit/index.test.ts
  packages/ui/topik/src/lib/topik/core/probe-audit/index.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.ts
  scripts/check-topik-probes.ts
Due: eslint --fix, prettier --check --write

docs(topik): fold the generator trial's findings into the prompt
  packages/some-content/prompts/topik-lesson-generator/index.md
Due: eslint --fix, prettier --check --write

docs(topik): the survey steers lesson content; the level stays estimated
  packages/some-content/prompts/topik-lesson-generator/index.md
Due: eslint --fix, prettier --check --write

feat(topik): ask the learner's verdict on a lesson before its recap
  docs/canon/adaptive-learning-canon.typ
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/survey-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/survey-card/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/survey-card/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/adapter/survey-store/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/survey-store/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-survey/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-survey/index.ts
Due: eslint --fix, prettier --check --write

feat(topik): a probe's relation is authored and open, not a closed list
  docs/canon/adaptive-learning-canon.typ
  packages/some-content/prompts/topik-lesson-generator/index.md
  packages/ui/topik/src/lib/topik/core/probe-audit/index.test.ts
  packages/ui/topik/src/lib/topik/core/probe-audit/index.ts
  packages/ui/topik/src/lib/topik/core/probe/index.test.ts
  packages/ui/topik/src/lib/topik/core/probe/index.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.test.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.ts
  packages/ui/topik/src/lib/topik/index.ts
Due: eslint --fix, prettier --check --write

feat(topik): the app assembles the lesson prompt and takes the lesson back
  packages/some-content/prompts/topik-lesson-generator/index.md
  packages/ui/topik/src/lib/topik/adapter/lesson-store/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/lesson-store/index.ts
  packages/ui/topik/src/lib/topik/adapter/survey-store/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-survey/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/intake/index.test.ts
  packages/ui/topik/src/lib/topik/generation/intake/index.ts
  packages/ui/topik/src/lib/topik/generation/lesson-prompt.md
  packages/ui/topik/src/types/raw.d.ts
Due: eslint --fix, prettier --check --write

feat(topik): write, keep and replay your own lessons on the phone
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/components/topik/handheld/probe-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/survey-card/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
Due: eslint --fix, prettier --check --write

test(www): let the no-overflow sweep wait for a lazy story to mount
  apps/www/tests/ui-fit/no-overflow.spec.ts
Due: eslint --fix, prettier --check --write

docs(canon): v1.7 - the learner's model authors, the device keeps
  docs/canon/adaptive-learning-canon.typ
Due: none

docs(canon): say precisely what Rem. 7.3 forbids the server to hold
  docs/canon/adaptive-learning-canon.typ
Due: none

build(vite-config): build libraries as ESM only
  packages/activity-catalog/package.json
  packages/core-utils/package.json
  packages/fetch-kit/package.json
  packages/intent-kit/package.json
  packages/job-tracker/package.json
  packages/some-vite-config/src/lib/build-config.ts
  packages/some-vite-config/src/lib/package-json/generate.ts
  packages/some-vite-config/src/types/index.ts
  packages/speech/package.json
  packages/ui/assessment/package.json
  packages/ui/auth/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/dice-card/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/interview/package.json
  packages/ui/leetype/package.json
  packages/ui/makjang/package.json
  packages/ui/milestones/package.json
  packages/ui/neon-sign/package.json
  packages/ui/portfolio-chart/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/topik/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/ws/package.json
Due: eslint --fix, prettier --check --write

chore(eslint-kit): retire no-manual-build-exclude
  packages/eslint/src/configs/build-hygiene.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-manual-build-exclude.ts
  packages/eslint/tests/build-hygiene.lint.test.ts
  packages/eslint/tests/lazy-registry.lint.test.ts
Due: eslint --fix, prettier --check --write

fix(vite-config): substitute a paths target's star by position
  packages/some-vite-config/src/lib/__tests__/declarations.test.ts
  packages/some-vite-config/src/lib/declarations.ts
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore(release): publish extension suspender-ledger
  extensions/suspender-ledger/CHANGELOG.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
Due: eslint --fix, prettier --check --write

fix(resume): hold route and Clippy claims to the repositories they cite
  packages/contract-harness/README.md
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/check-claims.mjs
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/react/generated/data.ts
Due: eslint --fix, prettier --check --write

refactor(some-drama): bring the extension's plumbing up to the shared pattern
  extensions/common/src/utils/guards.ts
  extensions/common/src/utils/index.ts
  extensions/some-drama/README.md
  extensions/some-drama/package.json
  extensions/some-drama/popup.html
  extensions/some-drama/public/assets/icon-128.png
  extensions/some-drama/public/assets/icon-16.png
  extensions/some-drama/public/assets/icon-48.png
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/effects/content/keybindings.ts
  extensions/some-drama/src/effects/messaging.ts
  extensions/some-drama/src/effects/popup/fsm.ts
  extensions/some-drama/src/logic/content/commands.ts
  extensions/some-drama/src/logic/popup/constants.ts
  extensions/some-drama/src/logic/popup/video-host.ts
  extensions/some-drama/src/types/index.ts
  extensions/some-drama/tsconfig.json
  extensions/some-drama/uno.config.popup.ts
  extensions/some-drama/uno.config.ts
  extensions/some-drama/uno.sources.ts
  extensions/some-drama/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write

build(resume): rebuild the résumé when the route snapshot moves
  knip.json
  packages/ui/resume/package.json
  packages/ui/resume/scripts/check-claims.mjs
  packages/ui/resume/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

ci(detect-changes): run Node CI when a résumé claim source changes
  .github/workflows/_detect-changes.yml
Due: prettier --check --write

fix(resume): hold route and Clippy claims to the repositories they cite (#1550)
  .github/workflows/_detect-changes.yml
  knip.json
  packages/contract-harness/README.md
  packages/ui/resume/package.json
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/check-claims.mjs
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/react/generated/data.ts
  packages/ui/resume/turbo.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(some-drama): log beats from hotkeys and pulse them live on the card
  extensions/some-drama/README.md
  extensions/some-drama/package.json
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/live-strip/index.stories.tsx
  extensions/some-drama/src/components/live-strip/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/effects/content/playback.ts
  extensions/some-drama/src/effects/popup/fsm.ts
  extensions/some-drama/src/logic/beats.test.ts
  extensions/some-drama/src/logic/beats.ts
  extensions/some-drama/src/logic/content/commands.ts
  extensions/some-drama/src/logic/content/constants.ts
  extensions/some-drama/src/logic/popup/constants.ts
  extensions/some-drama/src/logic/popup/video-host.ts
  extensions/some-drama/src/logic/video-host.ts
  extensions/some-drama/src/styles/components/live-strip.css
  extensions/some-drama/src/styles/content.css
  extensions/some-drama/src/types/index.ts
  extensions/some-drama/tests/content-css.test.ts
  extensions/some-drama/tsconfig.json
  extensions/some-drama/uno.config.ts
  extensions/some-drama/uno.sources.ts
  extensions/some-drama/vitest.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(some-drama): streaming sites are marked by the user, not built in
  extensions/some-drama/README.md
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/popup-renderer/index.stories.tsx
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/effects/popup/fsm.ts
  extensions/some-drama/src/logic/__tests__/beats.test.ts
  extensions/some-drama/src/logic/__tests__/stream-sites.test.ts
  extensions/some-drama/src/logic/stream-sites.ts
  extensions/some-drama/src/logic/video-host.ts
  extensions/some-drama/src/styles/components/popup/popup-base.css
  extensions/some-drama/src/types/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
