Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix(clippy): keep unwrap usage denied
  .cargo/config.toml
  crates/hangul-game-core/src/internal/engine.rs
  crates/pkg_cloner/benches/benchmark.rs
  crates/some-bricks/src/lib.rs
  crates/some-crossword/examples/categorize_words.rs
  crates/some-crossword/src/lib.rs
Due: none

chore: init clippy default
  .cargo/config.toml
Due: none

Resolve Rust Clippy diagnostics and adjust lint policy across workspace (#959)
  .cargo/config.toml
  Cargo.toml
  clippy.toml
  crates/hangul-game-core/Cargo.toml
  crates/hangul-game-core/src/internal/content_domain/test_fixture.rs
  crates/hangul-game-core/src/internal/engine.rs
  crates/hangul-game-core/src/internal/events.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/types.rs
  crates/hangul-game-core/src/lib.rs
  crates/leetype_wasm/tests/invariants.rs
  crates/leetype_wasm/tests/support/mod.rs
  crates/pkg_cloner/benches/benchmark.rs
  crates/pkg_cloner/src/cloner/workspace.rs
  crates/polyhedron/Cargo.toml
  crates/polyhedron/src/core.rs
  crates/polyhedron/src/lib.rs
  crates/some-bricks/Cargo.toml
  crates/some-bricks/src/lib.rs
  crates/some-crossword/Cargo.toml
  crates/some-crossword/README.md
  crates/some-crossword/examples/categorize_words.rs
  crates/some-crossword/examples/does_a_thing.rs
  crates/some-crossword/src/lib.rs
  crates/some-hexagon/Cargo.toml
  crates/some-hexagon/README.md
  crates/some-hexagon/src/hex_grid.rs
  crates/some-hexagon/src/hex_layout.rs
  crates/some-hexagon/src/hex_pattern.rs
  crates/some-hexagon/src/lib.rs
  crates/some-hexagon/src/utils.rs
  crates/some-hexagon/src/wasm_hex.rs
  crates/viewport-rotation/Cargo.toml
  crates/viewport-rotation/README.md
  crates/viewport-rotation/src/lib.rs
Due: eslint --fix, prettier --check --write

ci: add explicit Pages rollback deploys
  .github/actions/pages-detect/action.yml
  .github/actions/pages-detect/detect.sh
  .github/workflows/pages.yml
Due: prettier --check --write

ci: add explicit Pages rollback deploys (#961)
  .github/actions/pages-detect/action.yml
  .github/actions/pages-detect/detect.sh
  .github/workflows/pages.yml
Due: prettier --check --write

feat(eslint-kit): add intent-guard/no-unbounded-intent lint rule
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/intent-guard.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-unbounded-intent.ts
  packages/eslint/tests/intent-guard.lint.test.ts
Due: eslint --fix, prettier --check --write

feat(intent-kit,www): turn on switch-exhaustiveness-check and wire intent-guard into apps/www
  apps/www/eslint.config.js
  apps/www/src/lib/intent/index.ts
  apps/www/src/lib/intent/presentation.ts
  apps/www/src/lib/intent/use-async-intent.ts
  apps/www/src/lib/intent/use-intent.ts
  packages/intent-kit/src/index.ts
  packages/intent-kit/src/intent.ts
Due: eslint --fix, prettier --check --write

test(www): promote the intent sabotage suite toward enforcement, extend coverage
  apps/www/package.json
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/routes/_dashboard/profile.intent.test.tsx
  apps/www/src/routes/_dashboard/sessions/index.intent.test.tsx
  apps/www/src/routes/_dashboard/settings.intent.test.tsx
  apps/www/src/test-support/file-host-sabotage.ts
Due: eslint --fix, prettier --check --write

fix(eslint-kit): resolve producers by scope and check all enclosing functions
  packages/eslint/src/rules/no-unbounded-intent.ts
  packages/eslint/tests/intent-guard.lint.test.ts
Due: eslint --fix, prettier --check --write

feat(www,eslint-kit,intent-kit): make the silent-intent family unrepresentable (#937) (#962)
  apps/www/eslint.config.js
  apps/www/package.json
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/lib/intent/index.ts
  apps/www/src/lib/intent/presentation.ts
  apps/www/src/lib/intent/use-async-intent.ts
  apps/www/src/lib/intent/use-intent.ts
  apps/www/src/routes/_dashboard/profile.intent.test.tsx
  apps/www/src/routes/_dashboard/sessions/index.intent.test.tsx
  apps/www/src/routes/_dashboard/settings.intent.test.tsx
  apps/www/src/test-support/file-host-sabotage.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/intent-guard.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-unbounded-intent.ts
  packages/eslint/tests/intent-guard.lint.test.ts
  packages/intent-kit/src/index.ts
  packages/intent-kit/src/intent.ts
Due: eslint --fix, prettier --check --write

refactor(www): migrate topik-content to fetch-kit's createDataSource
  apps/www/src/lib/topik-content/index.test.ts
  apps/www/src/lib/topik-content/index.ts
Due: eslint --fix, prettier --check --write

fix(www): treat SPA-fallback responses as an empty topik manifest
  apps/www/src/lib/topik-content/index.test.ts
  apps/www/src/lib/topik-content/index.ts
Due: eslint --fix, prettier --check --write

Use @some-ui/fetch-kit for topik content loading (#963)
  apps/www/src/lib/topik-content/index.test.ts
  apps/www/src/lib/topik-content/index.ts
Due: eslint --fix, prettier --check --write

fix(styles,honeycomb,storybook): address review findings
  .storybook/theme-decorator.tsx
  packages/eslint/src/configs/overrides-deps.config.ts
  packages/some-styles/src/theme/tokens.test.ts
  packages/ui/honeycomb/eslint.config.js
  packages/ui/honeycomb/src/components/hangul-hex-grid/error-state/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/loading-state/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/components/neuron/index.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/song-overlay/index.tsx
Due: eslint --fix, prettier --check --write

build(resume): provision typst outside compilation
  apps/www/package.json
  apps/www/tests/network-trace/README.md
  apps/www/tests/network-trace/run.ts
  flake.nix
  package.json
  packages/ui/resume/README.md
  packages/ui/resume/scripts/compile.mjs
Due: eslint --fix, prettier --check --write

fix(www): make trace preview startup deterministic
  apps/www/tests/network-trace/README.md
  apps/www/tests/network-trace/run.ts
  apps/www/tests/network-trace/vite.preview.config.ts
Due: eslint --fix, prettier --check --write

fix(topik,eslint-kit,www): contain panels at the boundary that grants their size (#899)
  .github/workflows/pr.yml
  apps/www/tests/ui-fit/harness.ts
  apps/www/tests/ui-fit/no-overflow.spec.ts
  apps/www/tests/ui-fit/panel-fit.spec.ts
  docs/ui-fit/README.md
  packages/eslint/src/configs/fits-the-box.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-unshrinkable-flex-child.ts
  packages/eslint/tests/no-unshrinkable-flex-child.lint.test.ts
  packages/ui/topik/src/components/topik/chat-panel/index.tsx
  packages/ui/topik/src/components/topik/quiz-panel/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-feedback/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-idle/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-ready/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-summary/index.tsx
  packages/ui/topik/src/components/topik/session-header/index.tsx
  packages/ui/topik/src/components/topik/study-session/index.tsx
Due: eslint --fix, prettier --check --write

fix(eslint-kit): satisfy the kit's own lint rules in the new rule
  packages/eslint/src/rules/no-unshrinkable-flex-child.ts
Due: eslint --fix, prettier --check --write

fix(www): keep REPO_ROOT internal to the ui-fit harness
  apps/www/tests/ui-fit/harness.ts
Due: eslint --fix, prettier --check --write

fix(eslint-kit,www): two review findings on the containment gate
  apps/www/tests/ui-fit/panel-fit.spec.ts
  packages/eslint/src/rules/no-unshrinkable-flex-child.ts
  packages/eslint/tests/no-unshrinkable-flex-child.lint.test.ts
Due: eslint --fix, prettier --check --write

fix(topik,eslint-kit,www): contain panels at the boundary that grants their size (#899) (#972)
  .github/workflows/pr.yml
  apps/www/tests/ui-fit/harness.ts
  apps/www/tests/ui-fit/no-overflow.spec.ts
  apps/www/tests/ui-fit/panel-fit.spec.ts
  docs/ui-fit/README.md
  packages/eslint/src/configs/fits-the-box.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-unshrinkable-flex-child.ts
  packages/eslint/tests/no-unshrinkable-flex-child.lint.test.ts
  packages/ui/topik/src/components/topik/chat-panel/index.tsx
  packages/ui/topik/src/components/topik/quiz-panel/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-feedback/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-idle/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-ready/index.tsx
  packages/ui/topik/src/components/topik/quiz-states/quiz-summary/index.tsx
  packages/ui/topik/src/components/topik/session-header/index.tsx
  packages/ui/topik/src/components/topik/study-session/index.tsx
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

fix(www): wait for real network trace content
  apps/www/tests/network-trace/run.ts
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

feat(network): bound shared HTTP requests
  docs/network-boundaries.md
  extensions/some-censor/src/lib/background/api-client.ts
  extensions/some-conveyor/src/lib/content/effect-bus.ts
  packages/eslint/src/configs/base.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-raw-fetch.ts
  packages/eslint/tests/base.config.test.ts
  packages/eslint/tests/no-raw-fetch.lint.test.ts
  packages/fetch-kit/src/lib/fetch-client/index.test.ts
  packages/fetch-kit/src/lib/fetch-client/index.ts
  packages/fetch-kit/src/lib/query-hooks/index.test.tsx
  packages/some-content-registry/package.json
  packages/some-content-registry/src/scripts/mood-events/seed.ts
  packages/ui/interview/package.json
  packages/ui/interview/src/lib/interview/core/question-repository/index.ts
  packages/ui/interview/src/lib/interview/core/transcription-adapter/index.ts
  packages/ui/topik/package.json
  packages/ui/topik/src/lib/topik/core/topik-metadata-repository/index.ts
  packages/ui/topik/src/lib/topik/core/topik-repository/index.ts
  packages/utils/src/lib/discovery/lib/file-discovery.ts
  packages/utils/src/lib/discovery/lib/resource-loader.ts
  packages/utils/src/lib/hooks/use-fetch.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(censor): unocss veil, commons hoists, and the #973 masking gap
  extensions/common/src/index.ts
  extensions/common/src/lib/click-gate.ts
  extensions/common/src/lib/session.ts
  extensions/common/tests/click-gate/click-gate.spec.ts
  extensions/common/tests/session/session.spec.ts
  extensions/some-censor/eslint.config.js
  extensions/some-censor/package.json
  extensions/some-censor/src/content/content.css
  extensions/some-censor/src/content/content.ts
  extensions/some-censor/src/lib/content/click-gate.ts
  extensions/some-censor/src/lib/content/debug.ts
  extensions/some-censor/src/lib/content/dom-handle.ts
  extensions/some-censor/src/lib/content/extract/channel-id.ts
  extensions/some-censor/src/lib/content/extract/extract.test.ts
  extensions/some-censor/src/lib/content/extract/meta.ts
  extensions/some-censor/src/lib/content/extract/title.ts
  extensions/some-censor/src/lib/content/fsm.test.ts
  extensions/some-censor/src/lib/content/fsm.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/record.ts
  extensions/some-censor/src/lib/content/render.ts
  extensions/some-censor/src/lib/content/resolver.ts
  extensions/some-censor/src/lib/content/selectors.test.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/session.ts
  extensions/some-censor/src/lib/content/veil-styles.test.ts
  extensions/some-censor/src/lib/content/veil-styles.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/src/types/states.ts
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/diagnostic.spec.ts
  extensions/some-censor/tests/e2e/specs/lockup-cards.spec.ts
  extensions/some-censor/tsconfig.json
  extensions/some-censor/uno.config.ts
  extensions/some-censor/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(censor): address review findings on the unocss veil
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/styles.test.ts
  extensions/some-censor/src/lib/content/veil-styles.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/uno.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: extend network and use container server name
  apps/www/nginx.https.conf
  infra/compose/base.yml
  infra/compose/tts.yml
  infra/compose/www.yml
Due: prettier --check --write

fix: make shared-network integration opt-in, restore host.docker.internal default
  .env.example
  apps/www/nginx.https.conf
  infra/compose/base.yml
  infra/compose/monitoring.yml
  infra/compose/tts.yml
  infra/compose/www.yml
Due: prettier --check --write

fix: drop the shared-network override, host.docker.internal reaches file_host either way
  .env.example
  apps/www/nginx.https.conf
  infra/compose/monitoring.yml
  infra/compose/www.yml
Due: prettier --check --write

fix: rejoin shared-dev-network without external:true, so it self-creates
  .env.example
  apps/www/nginx.https.conf
  infra/compose/base.yml
  infra/compose/tts.yml
  infra/compose/www.yml
Due: prettier --check --write

fix: eh eye is a dangerous thing
  infra/compose/base.yml
Due: prettier --check --write

fix(censor): bound premask handoff work
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/selectors.test.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: extend network and use container server name (#976)
  .env.example
  apps/www/nginx.https.conf
  infra/compose/base.yml
  infra/compose/tts.yml
  infra/compose/www.yml
Due: prettier --check --write

perf(www): give intent-preloading something to preload
  apps/www/src/lib/tenant/hooks.ts
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/queries.ts
  apps/www/src/main.tsx
  apps/www/src/providers/tanstack-query.tsx
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  apps/www/src/routes/loaders.test.ts
Due: eslint --fix, prettier --check --write

perf(www): give intent-preloading something to preload (#983)
  apps/www/src/lib/tenant/hooks.ts
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/queries.ts
  apps/www/src/main.tsx
  apps/www/src/providers/tanstack-query.tsx
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  apps/www/src/routes/loaders.test.ts
Due: eslint --fix, prettier --check --write

fix(auth): make auth template passkey first
  packages/ui/auth/README.md
  packages/ui/auth/src/components/auth-flow/index.stories.tsx
  packages/ui/auth/src/components/auth-flow/index.tsx
  packages/ui/auth/src/components/index.ts
  packages/ui/auth/src/components/passkey-button/index.stories.tsx
  packages/ui/auth/src/components/passkey-button/index.tsx
  packages/ui/auth/src/components/passkey-enrollment/index.stories.tsx
  packages/ui/auth/src/components/passkey-enrollment/index.tsx
  packages/ui/auth/src/components/sign-in-form/index.stories.tsx
  packages/ui/auth/src/components/sign-in-form/index.tsx
  packages/ui/auth/src/index.ts
  packages/ui/auth/src/templates/auth-page/index.stories.tsx
  packages/ui/auth/src/templates/auth-page/index.tsx
  packages/ui/auth/src/templates/index.ts
  packages/ui/auth/src/types/auth.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
