Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: dehoist wireframes lib modules
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.stories.tsx
  packages/ui/wireframes/src/hooks/use-scene-driven-layout.ts
  packages/ui/wireframes/src/lib/layout-tree/drama.ts
  packages/ui/wireframes/src/lib/layout-tree/index.ts
  packages/ui/wireframes/src/lib/layout-tree/study.ts
  packages/ui/wireframes/src/lib/layout-tree/topik.ts
  packages/ui/wireframes/src/lib/layout-tree/voice.ts
  packages/ui/wireframes/src/types/layout-trees-map.ts
Due: eslint --fix, prettier --check --write

test(wireframes): add property/regression tests, fix tsc+eslint, fix 3 FSM bugs found
  apps/www/src/routes/overlays/youtube.tsx
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.stories.tsx
  packages/ui/wireframes/src/index.ts
  packages/ui/wireframes/src/lib/__tests__/layout-intent-arbitrary.ts
  packages/ui/wireframes/src/lib/__tests__/tree-invariants.ts
  packages/ui/wireframes/src/lib/layout-intent.property.test.ts
  packages/ui/wireframes/src/lib/layout-intent.ts
  packages/ui/wireframes/src/lib/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/tree-serialization.property.test.ts
  packages/ui/wireframes/tsconfig.build.json
  packages/ui/wireframes/tsconfig.json
  packages/ui/wireframes/vitest.config.ts
  packages/ui/wireframes/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

test(wireframes): add property/regression tests, fix tsc+eslint, fix 3 FSM bugs found (#671)
  apps/www/src/routes/overlays/youtube.tsx
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.stories.tsx
  packages/ui/wireframes/src/index.ts
  packages/ui/wireframes/src/lib/__tests__/layout-intent-arbitrary.ts
  packages/ui/wireframes/src/lib/__tests__/tree-invariants.ts
  packages/ui/wireframes/src/lib/layout-intent.property.test.ts
  packages/ui/wireframes/src/lib/layout-intent.ts
  packages/ui/wireframes/src/lib/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/tree-serialization.property.test.ts
  packages/ui/wireframes/tsconfig.build.json
  packages/ui/wireframes/tsconfig.json
  packages/ui/wireframes/vitest.config.ts
  packages/ui/wireframes/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: import resolve
  packages/ui/wireframes/src/lib/layout-tree/drama.ts
  packages/ui/wireframes/src/lib/layout-tree/study.ts
  packages/ui/wireframes/src/lib/layout-tree/topik.ts
  packages/ui/wireframes/src/lib/layout-tree/voice.ts
Due: eslint --fix, prettier --check --write

fix: exclude registry from vite
  packages/ui/wireframes/vite.config.ts
Due: eslint --fix, prettier --check --write

feat(vite-config,eslint): centralize & enforce library build excludes
  packages/eslint/src/configs/build-hygiene.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-manual-build-exclude.ts
  packages/eslint/tests/build-hygiene.lint.test.ts
  packages/some-vite-config/BUILD_EXCLUDES.md
  packages/some-vite-config/src/index.ts
  packages/some-vite-config/src/lib/plugins.ts
  packages/some-vite-config/src/types/index.ts
  packages/ui/wireframes/tsconfig.build.json
  packages/ui/wireframes/vite.config.ts
Due: eslint --fix, prettier --check --write

feat(vite-config,eslint): centralize & enforce library build excludes (#672)
  packages/eslint/src/configs/build-hygiene.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-manual-build-exclude.ts
  packages/eslint/tests/build-hygiene.lint.test.ts
  packages/some-vite-config/BUILD_EXCLUDES.md
  packages/some-vite-config/src/index.ts
  packages/some-vite-config/src/lib/plugins.ts
  packages/some-vite-config/src/types/index.ts
  packages/ui/wireframes/tsconfig.build.json
  packages/ui/wireframes/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: doesn't use registry
  packages/ui/chat/tsconfig.json
Due: prettier --check --write

style: update default preference
  apps/www/src/providers/theme.tsx
  packages/some-content/package.json
  packages/some-styles/eslint.config.js
  packages/some-styles/src/theme/controller.ts
  packages/some-styles/src/theme/index.ts
  packages/ui/stepper/package.json
Due: eslint --fix, prettier --check --write

feat(www): housekeeping — 404, error boundary, loading skeleton, SEO, robots
  apps/www/index.html
  apps/www/public/manifest.json
  apps/www/public/robots.txt
  apps/www/src/components/housekeeping/error-state.tsx
  apps/www/src/components/housekeeping/index.ts
  apps/www/src/components/housekeeping/not-found.tsx
  apps/www/src/components/housekeeping/route-pending.tsx
  apps/www/src/main.tsx
Due: eslint --fix, prettier --check --write, prettier --write

fix(www): add css-only pre-paint fallback for the theme flash
  apps/www/index.html
Due: prettier --write

fix(www): resolve pre-existing lint failures surfaced by turbo's affected-package scope
  apps/www/package.json
  apps/www/scripts/analyze-bundle.js
  apps/www/src/reportWebVitals.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(repo): exclude TanStack Router codegen from prettier
  .prettierignore
Due: none

fix(www): scope vitest to src/ so it stops picking up the Playwright spec
  apps/www/vitest.config.ts
Due: eslint --fix, prettier --check --write

chore: update gitignore
  .gitignore
  apps/www/.gitignore
Due: none

feat(www): housekeeping — 404, error boundary, loading skeleton, SEO, robots (#667)
  .gitignore
  .prettierignore
  apps/www/.gitignore
  apps/www/index.html
  apps/www/package.json
  apps/www/public/manifest.json
  apps/www/public/robots.txt
  apps/www/scripts/analyze-bundle.js
  apps/www/src/components/housekeeping/error-state.tsx
  apps/www/src/components/housekeeping/index.ts
  apps/www/src/components/housekeeping/not-found.tsx
  apps/www/src/components/housekeeping/route-pending.tsx
  apps/www/src/main.tsx
  apps/www/src/reportWebVitals.ts
  apps/www/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write

fix(ci): stop eager CI/artifact-build triggers on unrelated changes
  .github/workflows/_detect-changes.yml
  .github/workflows/_extension-detect.yml
  .github/workflows/extension.yml
  .github/workflows/pages.yml
Due: prettier --check --write

fix(www): honeycomb sfx serving text/html in both Docker and vite dev
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  infra/compose/www.yml
Due: eslint --fix, prettier --check --write

fix(www): stop auto-running the content-link script, warn loudly instead
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

chore: formating
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

chore: very sad
  .github/workflows/www-docker-release.yml
Due: prettier --check --write

Link content assets for dev server and optimize CI workflows (#673)
  .github/workflows/_detect-changes.yml
  .github/workflows/_extension-detect.yml
  .github/workflows/extension.yml
  .github/workflows/pages.yml
  .github/workflows/www-docker-release.yml
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  apps/www/vite.config.ts
  infra/compose/www.yml
Due: eslint --fix, prettier --check --write

fix(ci): stop splicing raw commit messages into www-docker-release's shell
  .github/actions/www-detect/action.yml
  .github/actions/www-detect/detect.sh
  .github/actions/www-version/action.yml
  .github/actions/www-version/version.sh
  .github/workflows/www-docker-release.yml
Due: prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

fix(ci): stop splicing raw commit messages into www-docker-release's shell (#675)
  .github/actions/www-detect/action.yml
  .github/actions/www-detect/detect.sh
  .github/actions/www-version/action.yml
  .github/actions/www-version/version.sh
  .github/workflows/www-docker-release.yml
Due: prettier --check --write

refactor(suspender-ledger): migrate to shared extensionConfig vite build
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/playwright.config.ts
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vite.config.firefox.ts
  extensions/suspender-ledger/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(some-filter): migrate to shared extensionConfig vite build
  extensions/some-filter/package.json
  extensions/some-filter/src/lib/platform/background/api.chrome.ts
  extensions/some-filter/src/lib/platform/background/api.firefox.ts
  extensions/some-filter/src/lib/platform/content/api.chrome.ts
  extensions/some-filter/src/lib/platform/content/api.firefox.ts
  extensions/some-filter/tests/e2e/specs/smoke.manual.spec.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
  extensions/some-filter/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(some-mujik): migrate to shared extensionConfig vite build
  extensions/some-mujik/package.json
  extensions/some-mujik/popup.html
  extensions/some-mujik/public/manifest.json
  extensions/some-mujik/tsconfig.json
  extensions/some-mujik/vite.config.ts
  extensions/some-mujik/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write

style(some-mujik): clear stylelint debt in content.css and popup.css
  extensions/some-mujik/src/popup/popup.css
  extensions/some-mujik/src/styles/content.css
Due: stylelint --allow-empty-input, prettier --write

chore: use docker image
  infra/compose/www.yml
Due: prettier --check --write

chore: update storybook
  .storybook/main.ts
  extensions/tab-tracker/src/ui/floating-hud/index.stories.tsx
  package.json
  packages/ui/interview/src/lib/interview/recording-reducer/index.ts
  packages/ui/leetype/src/lib/leetype/game-store/index.test.ts
  packages/ui/slideshow/src/components/orchestrator/library-picker/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/bookshelf-grid/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/bookshelf-grid/index.test.tsx
  packages/ui/topik/src/components/topik/change-material/change-material-dialog/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/change-material-dialog/index.test.tsx
  packages/ui/topik/src/components/topik/change-material/omni-search-input/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/omni-search-input/index.test.tsx
  packages/ui/topik/src/components/topik/change-material/topik-book-card/index.test.tsx
  packages/ui/topik/src/components/topik/session-header/index.stories.tsx
  packages/ui/topik/src/components/topik/study-session/index.stories.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-session/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-session/index.ts
  packages/ui/topik/src/lib/topik/adapter/server/query-bridge.ts
  packages/ui/topik/src/lib/topik/adapter/server/topik-metadata-queries/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/server/topik-metadata-queries/index.ts
  packages/ui/topik/src/lib/topik/adapter/server/topik-queries/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/server/topik-queries/index.ts
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/hooks/now-playing/index.ts
  packages/ui/umag/src/hooks/now-playing/store.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Chore/update storybook (#677)
  .storybook/main.ts
  extensions/tab-tracker/src/ui/floating-hud/index.stories.tsx
  infra/compose/www.yml
  package.json
  packages/ui/interview/src/lib/interview/recording-reducer/index.ts
  packages/ui/leetype/src/lib/leetype/game-store/index.test.ts
  packages/ui/slideshow/src/components/orchestrator/library-picker/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/bookshelf-grid/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/bookshelf-grid/index.test.tsx
  packages/ui/topik/src/components/topik/change-material/change-material-dialog/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/change-material-dialog/index.test.tsx
  packages/ui/topik/src/components/topik/change-material/omni-search-input/index.stories.tsx
  packages/ui/topik/src/components/topik/change-material/omni-search-input/index.test.tsx
  packages/ui/topik/src/components/topik/change-material/topik-book-card/index.test.tsx
  packages/ui/topik/src/components/topik/session-header/index.stories.tsx
  packages/ui/topik/src/components/topik/study-session/index.stories.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-session/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-session/index.ts
  packages/ui/topik/src/lib/topik/adapter/server/query-bridge.ts
  packages/ui/topik/src/lib/topik/adapter/server/topik-metadata-queries/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/server/topik-metadata-queries/index.ts
  packages/ui/topik/src/lib/topik/adapter/server/topik-queries/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/server/topik-queries/index.ts
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/hooks/now-playing/index.ts
  packages/ui/umag/src/hooks/now-playing/store.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(extensions): migrate suspender-ledger, some-filter, some-mujik to shared extensionConfig (#676)
  extensions/some-filter/package.json
  extensions/some-filter/src/lib/platform/background/api.chrome.ts
  extensions/some-filter/src/lib/platform/background/api.firefox.ts
  extensions/some-filter/src/lib/platform/content/api.chrome.ts
  extensions/some-filter/src/lib/platform/content/api.firefox.ts
  extensions/some-filter/tests/e2e/specs/smoke.manual.spec.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
  extensions/some-filter/vite.config.ts
  extensions/some-mujik/package.json
  extensions/some-mujik/popup.html
  extensions/some-mujik/public/manifest.json
  extensions/some-mujik/src/popup/popup.css
  extensions/some-mujik/src/styles/content.css
  extensions/some-mujik/tsconfig.json
  extensions/some-mujik/vite.config.ts
  extensions/some-mujik/vitest.config.ts
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/playwright.config.ts
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vite.config.firefox.ts
  extensions/suspender-ledger/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(extensions): keep archived pnpm-lock.yaml in sync with pruned package.json
  extensions/scripts/package-source.sh
  extensions/scripts/prune-lockfile-root-deps.mjs
Due: eslint --fix, prettier --check --write

fix(extensions): keep archived pnpm-lock.yaml in sync with pruned package.json (#679)
  extensions/scripts/package-source.sh
  extensions/scripts/prune-lockfile-root-deps.mjs
Due: eslint --fix, prettier --check --write

fix(deps): force ws to 8.21.1 to patch DoS vulnerability (GHSA-3h5v-q93c-6h6q)
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(deps): bump happy-dom to 20.10.6 to patch VM escape RCE (GHSA-37j7-fq2v-fjm7)
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(deps): force ws to 8.21.1 to patch DoS vulnerability (GHSA-3h5v-q93c-6h6q) (#680)
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(deps): bump happy-dom to 20.10.6 to patch VM escape RCE (GHSA-37j7-fq2v-fjm7) (#681)
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
