Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

refactor: build on postinstall
  .env.example
  packages/rollup-config/package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

test: sadness
  packages/tsconfig/tsconfig.ui.json
  packages/types/package.json
Due: prettier --check --write

fix: broken syntax
  .github/workflows/lint.yml
Due: prettier --check --write

fix: hot fix add prettier ignore to the everything
  packages/pivot-search/.prettierignore
  packages/rollup-config/.prettierignore
  packages/tsconfig/.prettierignore
  packages/types/.prettierignore
  packages/ui/calendar/.prettierignore
  packages/ui/chat/.prettierignore
  packages/ui/input/.prettierignore
  packages/ui/resume/.prettierignore
  packages/ui/shared/.prettierignore
  packages/utils/.prettierignore
Due: none

refactor: install from lockfile
  .github/workflows/lint.yml
Due: prettier --check --write

refactor: split the checks
  .github/workflows/lint.yml
Due: prettier --check --write

test: welp
  .gitignore
  packages/pivot-search/package.json
  packages/pivot-search/tsconfig.json
  packages/rollup-config/package.json
  packages/rollup-config/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/rollupconfig.json
  packages/tsconfig/tsconfig.ui.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/ui/calendar/package.json
  packages/ui/calendar/tsconfig.json
  packages/ui/chat/package.json
  packages/ui/chat/tsconfig.json
  packages/ui/input/package.json
  packages/ui/input/tsconfig.json
  packages/ui/resume/package.json
  packages/ui/resume/tsconfig.json
  packages/ui/shared/package.json
  packages/ui/shared/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check --write

test: rename scoped package
  packages/pivot-search/package.json
  packages/pivot-search/tsconfig.json
  packages/rollup-config/package.json
  packages/rollup-config/tsconfig.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/ui/calendar/package.json
  packages/ui/calendar/tsconfig.json
  packages/ui/chat/package.json
  packages/ui/chat/tsconfig.json
  packages/ui/input/package.json
  packages/ui/input/tsconfig.json
  packages/ui/resume/package.json
  packages/ui/resume/tsconfig.json
  packages/ui/shared/package.json
  packages/ui/shared/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: remove build
  .github/workflows/lint.yml
Due: prettier --check --write

feat: init new cargo crate
  .Cargo.toml.swp
  .rustfmt.toml
  Cargo.toml
  clippy.toml
  crates/package-cli/.gitignore
  crates/package-cli/Cargo.toml
  crates/package-cli/src/lib.rs
Due: none

feat: add package-cli crate
  Cargo.lock
  crates/package-cli/Cargo.toml
  crates/package-cli/src/config.rs
  crates/package-cli/src/core/command.rs
  crates/package-cli/src/core/mod.rs
  crates/package-cli/src/core/repo.rs
  crates/package-cli/src/core/task.rs
  crates/package-cli/src/error.rs
  crates/package-cli/src/lib.rs
  crates/package-cli/tests/config_tests.rs
Due: none

fix: remove bin
  crates/package-cli/Cargo.toml
Due: none

refactor: add back bin
  crates/package-cli/Cargo.toml
  crates/package-cli/src/main.rs
Due: none

fix: add missing deps, fix error handling
  Cargo.lock
  Cargo.toml
  crates/package-cli/Cargo.toml
  crates/package-cli/src/error.rs
Due: none

feat: init new crate logger
  Cargo.toml
  crates/cli-logger/Cargo.toml
  crates/cli-logger/src/lib.rs
Due: none

feat: setup starter code for logger crate
  Cargo.lock
  Cargo.toml
  crates/cli-logger/Cargo.toml
  crates/cli-logger/src/formatter.rs
  crates/cli-logger/src/levels.rs
  crates/cli-logger/src/lib.rs
  crates/cli-logger/src/output.rs
Due: none

fix: add unhandled error
  Cargo.lock
  crates/package-cli/Cargo.toml
  crates/package-cli/src/core/task.rs
  crates/package-cli/src/error.rs
Due: none

test: add passing test for cli-logger
  crates/cli-logger/src/formatter.rs
  crates/cli-logger/src/levels.rs
  crates/cli-logger/src/lib.rs
Due: none

test: add more test (passing)
  crates/cli-logger/src/lib.rs
Due: none

refactor: update ci to only run for correct staged language
  .github/workflows/lint.yml
Due: prettier --check --write

feat: add deny ci
  .github/workflows/deny.yml
  deny.toml
Due: prettier --check --write

test: some hallucinations
  packages/ui/shared/src/components/demos/index.ts
  packages/ui/shared/src/components/demos/rect-utils.ts
  packages/ui/shared/src/components/demos/some-demo.stories.tsx
  packages/ui/shared/src/components/demos/some-demo.tsx
Due: eslint --fix, prettier --check --write

feat: usemeasurerect hook
  packages/ui/shared/package.json
  packages/ui/shared/src/components/demos/rect-utils.ts
  packages/ui/shared/src/components/demos/some-demo.stories.tsx
  packages/ui/shared/src/components/demos/some-demo.tsx
  packages/utils/index.ts
  packages/utils/lib/hooks/index.ts
  packages/utils/lib/hooks/use-measure-rect.ts
  packages/utils/lib/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: add new package
  packages/mdx-generator/.gitignore
  packages/mdx-generator/.prettierignore
  packages/mdx-generator/package.json
  packages/mdx-generator/rollup.config.js
  packages/mdx-generator/src/index.ts
  packages/mdx-generator/tsconfig.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

feat: setting up components for mdx
  packages/mdx-generator/src/components/callout.tsx
  packages/mdx-generator/src/components/code-block-wrapper.tsx
  packages/mdx-generator/src/components/copy-button.tsx
  packages/mdx-generator/src/components/index.ts
  packages/mdx-generator/src/components/mdx-components/default-components.tsx
  packages/mdx-generator/src/components/mdx-components/index.ts
  packages/mdx-generator/src/components/mdx-components/mdx-components.tsx
  packages/mdx-generator/src/types/index.ts
  packages/mdx-generator/src/types/mdx-components.ts
  packages/mdx-generator/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: add shadcn shared ui
  packages/ui/shared/package.json
  packages/ui/shared/src/components/ui/alert.tsx
  packages/ui/shared/src/components/ui/aspect-ratio.tsx
  packages/ui/shared/src/components/ui/button.tsx
  packages/ui/shared/src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --check --write

fix: have some export
  package.json
  packages/ui/shared/src/components/demos/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor: allow for external deps prop
  packages/rollup-config/src/configs/core.rollup.config.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
