Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat: add test changeset
  .changeset/modern-books-mate.md
Due: eslint --fix, prettier --check --write

refactor: remove version bump
  packages/ui/calendar/package.json
Due: prettier --check --write

fix: remove private option from package.json
  packages/ui/calendar/package.json
Due: prettier --check --write

chore: add changeset
  .changeset/mighty-snakes-talk.md
Due: eslint --fix, prettier --check --write

fix: ci package filter
  .github/workflows/release.yml
Due: prettier --check --write

test: add changeset to test release
  .changeset/metal-actors-grab.md
Due: eslint --fix, prettier --check --write

fix: remove npx cmd
  .github/workflows/release.yml
Due: prettier --check --write

fix: use npx on relase ci publish
  .github/workflows/release.yml
  packages/ui/calendar/package.json
Due: prettier --check --write

chore: add changeset
  .changeset/breezy-suns-begin.md
Due: eslint --fix, prettier --check --write

fix: make changeset public access
  .changeset/config.json
Due: prettier --check --write

chore: create changeset
  .changeset/yellow-pots-compare.md
  packages/ui/calendar/package.json
Due: eslint --fix, prettier --check --write

refactor: switch rollup from root to workspace
  packages/rollup-config/index.ts
  packages/rollup-config/package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/rollup-config/src/configs/index.ts
  packages/rollup-config/src/index.ts
  packages/rollup-config/src/types/files.ts
  packages/rollup-config/src/types/index.ts
  packages/rollup-config/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: use shared rollup config dependency for workspace bundling
  packages/pivot-search/rollup.config.js
  packages/ui/calendar/rollup.config.js
  packages/ui/chat/rollup.config.js
  packages/ui/input/rollup.config.js
  packages/ui/resume/rollup.config.js
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

refactor: update tsconfig for shared rollup config
  packages/pivot-search/tsconfig.json
  packages/ui/chat/tsconfig.json
  packages/ui/input/tsconfig.json
  packages/ui/resume/tsconfig.json
  packages/utils/tsconfig.json
Due: prettier --check --write

chore: add necessary scripts and deps for rollup build
  packages/pivot-search/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/utils/package.json
Due: prettier --check --write

chore: delete unecessary file
  packages/ui/shared/tsc-alias.json
Due: prettier --check --write

feat: add new package to workspace
  pnpm-workspace.yaml
Due: none

fix: use index.ts for root
  packages/ui/input/src/index.tsx
Due: eslint --fix, prettier --check --write

fix: use index.ts for root
  packages/pivot-search/src/index.ts
Due: eslint --fix, prettier --check --write

feat: add component demo to test build
  packages/ui/chat/src/components/index.tsx
  packages/ui/chat/src/index.ts
  packages/ui/input/src/components/index.tsx
  packages/ui/input/src/index.ts
  packages/ui/resume/src/components/index.tsx
  packages/ui/resume/src/index.ts
Due: eslint --fix, prettier --check --write

chore: remove unecessary root deps
  package.json
Due: prettier --check --write

chore: update deps
  pnpm-lock.yaml
Due: none
