Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: release bump issue
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: eslint deps bump
  package.json
  packages/bark/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: prettier --check --write

fix: lockfile prettier fix
  .changeset/chilly-hornets-accept.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Fix rollup kit (#164)
  .changeset/chilly-hornets-accept.md
  package.json
  packages/bark/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: place rollup as dev dep at root
  package.json
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: add peer deps for rollup
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: utils build not exporting modules
  packages/utils/src/index.ts
  packages/utils/src/lib/index.ts
Due: eslint --fix, prettier --check --write

Release chores (#166)
  package.json
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: update package
  .changeset/red-mayflies-bake.md
Due: eslint --fix, prettier --check --write

Release chores (#167)
  .changeset/red-mayflies-bake.md
Due: eslint --fix, prettier --check --write

chore: use published utils package
  packages/mdx-generator/package.json
  packages/ui/attributions/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: remove alias from index files
  packages/ui/shared/src/components/index.ts
  packages/ui/shared/src/index.ts
Due: eslint --fix, prettier --check --write

chore: update utils deps
  packages/ui/shared/package.json
Due: prettier --check --write

style: update message style
  packages/ui/chat/src/components/chat-message/index.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
Due: eslint --fix, prettier --check --write

style: chat interface
  packages/ui/chat/src/components/chat-header/index.stories.tsx
  packages/ui/chat/src/components/chat-header/index.tsx
  packages/ui/chat/src/components/chat-interface/index.stories.tsx
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/shared/src/components/ui/avatar-group/index.tsx
Due: eslint --fix, prettier --check --write

chore: misc
  package.json
  packages/ui/overlays/src/components/youtube/yt-marquee/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: add git submodule
  .gitmodules
Due: none

feat: add some ui
  packages/ui/chat/package.json
  packages/ui/makjang/src/components/shapes/table/semi-table/index.stories.tsx
  packages/ui/makjang/src/components/shapes/table/semi-table/index.tsx
  packages/ui/makjang/src/components/shapes/tv/screen/index.stories.tsx
  packages/ui/makjang/src/components/shapes/tv/screen/index.tsx
  packages/ui/makjang/src/components/shapes/tv/tv-footer/index.css
  packages/ui/makjang/src/components/shapes/tv/tv-footer/index.stories.tsx
  packages/ui/makjang/src/components/shapes/tv/tv-footer/index.tsx
  packages/ui/slideshow/src/components/animated-steps/index.css
  packages/ui/slideshow/src/components/animated-steps/index.stories.tsx
  packages/ui/slideshow/src/components/animated-steps/index.tsx
  packages/ui/slideshow/src/components/paper-flip/index.css
  packages/ui/slideshow/src/components/paper-flip/index.stories.tsx
  packages/ui/slideshow/src/components/paper-flip/index.tsx
  packages/ui/slideshow/src/hooks/index.ts
  packages/ui/slideshow/src/hooks/use-animated-steps.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: init own eslint tw foolishness
  packages/maishatu-tw-eslint/eslint.config.mjs
  packages/maishatu-tw-eslint/package.json
  packages/maishatu-tw-eslint/scripts/generate-configs.mts
  packages/maishatu-tw-eslint/src/configs/recommended.ts
  packages/maishatu-tw-eslint/src/index.ts
  packages/maishatu-tw-eslint/src/rules/enforce-order.ts
  packages/maishatu-tw-eslint/src/rules/index.ts
  packages/maishatu-tw-eslint/src/util/create-rule.ts
  packages/maishatu-tw-eslint/src/util/get-constrained-type-allocation.ts
  packages/maishatu-tw-eslint/src/util/index.ts
  packages/maishatu-tw-eslint/src/util/parsers.test.ts
  packages/maishatu-tw-eslint/src/util/parsers.ts
  packages/maishatu-tw-eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: madness just madness!
  packages/types/src/components/index.ts
  packages/types/src/components/range.ts
  packages/types/src/index.ts
  packages/ui/neon-sign/src/components/index.ts
  packages/ui/neon-sign/src/components/raining-character/index.stories.tsx
  packages/ui/neon-sign/src/components/raining-character/index.tsx
  packages/ui/neon-sign/src/components/raining-text/index.stories.tsx
  packages/ui/neon-sign/src/components/raining-text/index.tsx
  packages/ui/neon-sign/src/components/scramble-card/index.css
  packages/ui/neon-sign/src/components/scramble-card/index.stories.tsx
  packages/ui/neon-sign/src/components/scramble-card/index.tsx
  packages/ui/neon-sign/src/components/scrambled-title/index.stories.tsx
  packages/ui/neon-sign/src/components/scrambled-title/index.tsx
  packages/ui/neon-sign/src/components/sign-post/index.stories.tsx
  packages/ui/neon-sign/src/components/sign-post/index.tsx
  packages/ui/neon-sign/src/hooks/index.ts
  packages/ui/neon-sign/src/hooks/use-active-indices.ts
  packages/ui/neon-sign/src/hooks/use-characters.ts
  packages/ui/neon-sign/src/hooks/use-text-scramble.ts
  packages/ui/neon-sign/src/index.ts
  packages/ui/overlays/src/components/youtube/yt-marquee/index.tsx
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/dice-card/index.stories.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/lens-shutter/index.css
  packages/ui/slideshow/src/components/lens-shutter/index.stories.tsx
  packages/ui/slideshow/src/components/lens-shutter/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/hooks/index.ts
  packages/ui/slideshow/src/hooks/use-aperture.ts
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: making spaghetti
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

feat: well somehow is progress?!
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

feat: got rotating cube kinda working
  packages/ui/slideshow/src/components/dice-card/index.stories.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

chore: update rotatingcube to use dice-card
  packages/ui/slideshow/src/components/dice-card/index.stories.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
Due: eslint --fix, prettier --check --write

style: minor updates
  packages/ui/slideshow/src/components/rotating-cube/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
Due: eslint --fix, prettier --check --write

feat: somehow the rotating cube thingy is working,for now?!
  packages/ui/neon-sign/src/components/index.ts
  packages/ui/neon-sign/src/components/neon-text/index.stories.tsx
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/neon-sign/src/components/raining-character/index.stories.tsx
  packages/ui/neon-sign/src/components/raining-character/index.tsx
  packages/ui/neon-sign/src/components/raining-text/index.stories.tsx
  packages/ui/neon-sign/src/components/raining-text/index.tsx
  packages/ui/neon-sign/src/components/scrambled-title/index.stories.tsx
  packages/ui/neon-sign/src/components/scrambled-title/index.tsx
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/dice-card/index.stories.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/index.ts
  packages/ui/slideshow/src/components/rotating-neon-sign/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-neon-sign/index.tsx
Due: eslint --fix, prettier --check --write

feat: update to use rotating neon sign
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/animated-steps/index.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/index.ts
  packages/ui/slideshow/src/components/paper-flip/index.css
  packages/ui/slideshow/src/components/paper-flip/index.stories.tsx
  packages/ui/slideshow/src/components/paper-flip/index.tsx
  packages/ui/slideshow/src/components/rotating-neon-sign/index.tsx
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: init rust workspace
  crates/ujinga/.gitignore
  crates/ujinga/Cargo.toml
  crates/ujinga/src/main.rs
  flake.lock
  flake.nix
Due: none

feat: working on wasm bulder script
  Cargo.lock
  Cargo.toml
  crates/ujinga/Cargo.toml
  crates/ujinga/README.md
  crates/ujinga/src/file_path.rs
  crates/ujinga/src/lib.rs
  crates/ujinga/src/main.rs
Due: eslint --fix, prettier --check --write

feat: retrieving dir path
  crates/ujinga/Cargo.toml
  crates/ujinga/src/file_path.rs
  crates/ujinga/src/lib.rs
  crates/ujinga/src/main.rs
Due: none

chore: add wasm build script
  Cargo.lock
  package.json
  turbo.json
Due: prettier --check --write

feat: add rust crates germaine to this monorepo: pkg_cloner, some-charts
  Cargo.lock
  Cargo.toml
  crates/pkg_cloner/Cargo.toml
  crates/pkg_cloner/benches/benchmark.rs
  crates/pkg_cloner/src/lib.rs
  crates/pkg_cloner/src/main.rs
  crates/some-charts/Cargo.toml
  crates/some-charts/LICENSE-ISC
  crates/some-charts/src/lib.rs
  crates/some-charts/src/linear_scale.rs
Due: none

feat: export several configs in case of broken case i.e tailwind-eslint
  eslint.config.js
  packages/eslint/package.json
  packages/eslint/src/index.ts
Due: eslint --fix, prettier --check --write

feat: begin building portfolio ui
  packages/ui/portfolio-chart/eslint.config.js
  packages/ui/portfolio-chart/package.json
  packages/ui/portfolio-chart/rollup.config.js
  packages/ui/portfolio-chart/src/components/bar-group/index.stories.tsx
  packages/ui/portfolio-chart/src/components/bar-group/index.tsx
  packages/ui/portfolio-chart/src/components/index.ts
  packages/ui/portfolio-chart/src/hooks/index.ts
  packages/ui/portfolio-chart/src/hooks/use-chart-scale.ts
  packages/ui/portfolio-chart/src/index.ts
  packages/ui/portfolio-chart/src/some-wasm/index.ts
  packages/ui/portfolio-chart/src/some-wasm/scales.ts
  packages/ui/portfolio-chart/src/types/chart.ts
  packages/ui/portfolio-chart/src/types/index.ts
  packages/ui/portfolio-chart/src/types/trade-data.ts
  packages/ui/portfolio-chart/tsconfig.build.json
  packages/ui/portfolio-chart/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: something about tailwind linter
  packages/maishatu-tw-eslint/package.json
  packages/maishatu-tw-eslint/scripts/paths.mts
  packages/maishatu-tw-eslint/src/rules/enforce-order.ts
  packages/maishatu-tw-eslint/src/util/get-option.ts
  packages/maishatu-tw-eslint/src/util/index.ts
  packages/maishatu-tw-eslint/tsconfig.build.json
  packages/maishatu-tw-eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: deps updates/ci updates
  .github/workflows/wasm-release.yml
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check --write

chore: to do comment
  .husky/pre-commit
  eslint.config.js
Due: eslint --fix, prettier --check --write

chore: remove root dev deps from packages
  packages/bark/package.json
  packages/ui/portfolio-chart/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/utils/package.json
Due: prettier --check --write
