Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

chore: update lock-file
  pnpm-lock.yaml
Due: none

feat: init the bored-emoji ui
  packages/ui/emoji-animations/src/components/bored-animation/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/components/bored-emoji/README.md
  packages/ui/emoji-animations/src/components/bored-emoji/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-emoji/index.tsx
Due: eslint --fix, prettier --check --write

chore: workspace yaml
  pnpm-workspace.yaml
Due: none

feat: add new shadcn chart
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

feat: add component
  packages/ui/stepper/src/components/step/index.tsx
Due: eslint --fix, prettier --check --write

feat: init new ui
  packages/ui/slideshow/.gitignore
  packages/ui/slideshow/.prettierignore
  packages/ui/slideshow/package.json
  packages/ui/slideshow/rollup.config.js
  packages/ui/slideshow/src/components/index.tsx
  packages/ui/slideshow/src/index.ts
  packages/ui/slideshow/tsconfig.json
Due: eslint --fix, prettier --check --write

fix: incorrect yard markers
  packages/ui/nfl/src/components/nfl-field/index.tsx
Due: eslint --fix, prettier --check --write

chore: update gitignore, don't track vim swap files
  .ALEPreviewWindow.swp
  .gitignore
Due: none

chore: add turbo script
  package.json
  packages/mdx-generator/package.json
  turbo.json
Due: prettier --check --write

chore: update adjacent main files
  .storybook/main-next.ts
  .storybook/main-vite.ts
Due: eslint --fix, prettier --check --write

feat: create new package
  packages/ui/emoji-animations/.gitignore
  packages/ui/emoji-animations/.prettierignore
  packages/ui/emoji-animations/package.json
  packages/ui/emoji-animations/rollup.config.js
  packages/ui/emoji-animations/src/components/battery-indicator/index.stories.tsx
  packages/ui/emoji-animations/src/components/battery-indicator/index.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/components/bored-emoji/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-emoji/index.tsx
  packages/ui/emoji-animations/src/components/index.tsx
  packages/ui/emoji-animations/src/hooks/use-battery-state.ts
  packages/ui/emoji-animations/src/index.ts
  packages/ui/emoji-animations/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: expose carousel ui
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

feat: modularize the eslint config, and update to compatible package versions
  eslint.config.mjs
  eslint/base.config.js
  eslint/index.js
  eslint/overrides-tests.config.js
  eslint/overrides-tools.config.js
  eslint/react.config.js
  eslint/stories.config.js
  eslint/tailwind.config.js
  eslint/typescript.config.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --check --write

feat: add new shadcn components
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/table.tsx
  packages/ui/shared/src/components/ui/tabs.tsx
Due: eslint --fix, prettier --check --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: lock-file update
  pnpm-lock.yaml
Due: none

feat(wip): navbar stepper
  packages/ui/stepper/src/components/navbar-stepper/index.stories.tsx
  packages/ui/stepper/src/components/navbar-stepper/index.tsx
Due: eslint --fix, prettier --check --write

chore: remove deprecated mod
  packages/ui/nfl/src/components/lineup-chart/index.stories.tsx
  packages/ui/nfl/src/components/lineup-chart/index.tsx
Due: eslint --fix, prettier --check --write

feat: add new shadcn components
  packages/ui/shared/src/components/ui/accordion.tsx
  packages/ui/shared/src/components/ui/card.tsx
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

feat(broken): just add all the mess
  packages/charts/d3/package.json
  packages/charts/d3/src/components/bar/bar-background/index.stories.tsx
  packages/charts/d3/src/components/board/index.stories.tsx
  packages/charts/d3/src/components/board/index.tsx
  packages/charts/d3/src/components/grid/index.stories.tsx
  packages/charts/d3/src/components/grid/index.tsx
  packages/charts/d3/src/types/index.ts
  packages/ui/honeycomb/src/components/index.tsx
  packages/ui/nfl/src/components/nfl-field-draggable/index.tsx
  packages/ui/nfl/src/components/standings/index.stories.tsx
  packages/ui/nfl/src/components/standings/index.tsx
  packages/ui/searchbar/src/components/searchbar-form/searchbar-form.tsx
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
  packages/ui/shared/src/components/flip-book/index.stories.tsx
  packages/ui/shared/src/components/flip-book/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Feat: init nfl field
  packages/ui/nfl/src/components/nfl-field/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field/index.tsx
Due: eslint --fix, prettier --check --write

feat: add new state machine package
  packages/bark/.prettierignore
  packages/bark/LICENSE
  packages/bark/README.md
  packages/bark/package.json
  packages/bark/rollup.config.js
  packages/bark/src/components/create-enum-zod-schema.ts
  packages/bark/src/components/index.ts
  packages/bark/src/components/is-null/index.test.ts
  packages/bark/src/components/is-null/index.ts
  packages/bark/src/components/numerical/index.ts
  packages/bark/src/components/numerical/is-number/index.test.ts
  packages/bark/src/components/numerical/is-number/index.ts
  packages/bark/src/components/zd-types/index.ts
  packages/bark/src/components/zd-types/zod-generic-object/index.test.ts
  packages/bark/src/components/zd-types/zod-generic-object/index.ts
  packages/bark/src/index.ts
  packages/bark/tsconfig.json
Due: eslint --fix, prettier --check --write

feat(wip): building navbar stepper
  packages/ui/stepper/src/components/navbar-stepper/index.stories.tsx
  packages/ui/stepper/src/components/navbar-stepper/index.tsx
Due: eslint --fix, prettier --check --write

style: update shadcn tailwind global.css
  tailwind.css
Due: stylelint --allow-empty-input, prettier --write

feat(wip): update styles and config for emoji ui
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/hooks/use-battery-state.ts
Due: eslint --fix, prettier --check --write

chore: update stories
  packages/ui/nfl/src/components/nfl-field/index.stories.tsx
Due: eslint --fix, prettier --check --write

fix: syntax error in file export
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

chore: don't bundle peer deps
  packages/ui/stepper/rollup.config.js
Due: eslint --fix, prettier --check --write

feat(crates): init - del all start over
  .cargo/config.toml
  Cargo.toml
  clippy.toml
  crates/cli-logger/Cargo.toml
  crates/cli-logger/src/formatter.rs
  crates/cli-logger/src/levels.rs
  crates/cli-logger/src/lib.rs
  crates/cli-logger/src/output.rs
  crates/file-paths/Cargo.toml
  crates/file-paths/LICENSE
  crates/file-paths/src/config.rs
  crates/file-paths/src/core/absolute_system_path.rs
  crates/file-paths/src/core/mod.rs
  crates/file-paths/src/error.rs
  crates/file-paths/src/lib.rs
  crates/package-cli/.gitignore
  crates/package-cli/Cargo.toml
  crates/package-cli/src/config.rs
  crates/package-cli/src/core/command.rs
  crates/package-cli/src/core/mod.rs
  crates/package-cli/src/core/repo.rs
  crates/package-cli/src/core/task.rs
  crates/package-cli/src/error.rs
  crates/package-cli/src/lib.rs
  crates/package-cli/src/main.rs
  crates/package-cli/tests/config_tests.rs
Due: none

style: tailwind config update
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

chore: update config aliases
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: vite config alias path error
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: bundling issue, don't bundle deps
  packages/ui/searchbar/rollup.config.js
Due: eslint --fix, prettier --check --write

feat: update bored emoji to persist state in local storage
  packages/ui/emoji-animations/package.json
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/hooks/use-battery-state.ts
Due: eslint --fix, prettier --check --write

chore: add new workspace alias
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: wrong/missing import
  packages/ui/shared/src/components/ui/carousel.tsx
Due: eslint --fix, prettier --check --write

chore: welp something happening here!
  packages/types/src/components/common/index.ts
  packages/types/src/components/index.ts
  packages/types/src/components/match/index.ts
  packages/types/src/components/option/index.ts
  packages/types/src/components/zd-types/index.ts
  packages/types/src/components/zd-types/zod-generic-object/index.test.ts
  packages/types/src/components/zd-types/zod-generic-object/index.ts
  packages/types/src/index.ts
Due: eslint --fix, prettier --check --write

fix: ts/lint issues, unused forwarded ref
  packages/ui/nfl/src/components/draggable/index.tsx
Due: eslint --fix, prettier --check --write

refactor: css changes
  packages/ui/nfl/src/components/draggable/index.tsx
Due: eslint --fix, prettier --check --write

feat: sadness
  eslint.config.mjs
  packages/charts/d3/.gitignore
  packages/charts/d3/.prettierignore
  packages/charts/d3/LICENSE
  packages/charts/d3/package.json
  packages/charts/d3/rollup.config.js
  packages/charts/d3/src/components/bar/bar-background/index.stories.tsx
  packages/charts/d3/src/components/bar/bar-background/index.tsx
  packages/charts/d3/src/components/bar/bar-rectangle/index.tsx
  packages/charts/d3/src/components/bar/index.tsx
  packages/charts/d3/src/components/brushing/index.stories.tsx
  packages/charts/d3/src/components/brushing/index.tsx
  packages/charts/d3/src/components/index.tsx
  packages/charts/d3/src/index.ts
  packages/charts/d3/src/types/index.ts
  packages/charts/d3/tsconfig.json
  packages/types/src/components/is-null/index.test.ts
  packages/types/src/components/is-null/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
