Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat(auth): add themed branded honeycomb template
  packages/ui/auth/README.md
  packages/ui/auth/src/auth.css
  packages/ui/auth/src/components/auth-brand/index.stories.tsx
  packages/ui/auth/src/components/auth-brand/index.tsx
  packages/ui/auth/src/components/index.ts
  packages/ui/auth/src/index.ts
  packages/ui/auth/src/templates/auth-page/index.stories.tsx
  packages/ui/auth/src/templates/auth-page/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(ci): repair node license audit
  .github/workflows/_deny-checks.yml
  scripts/audit-node-licenses.mjs
Due: eslint --fix, prettier --check --write

fix(ci): scope license exception to reviewed release
  scripts/audit-node-licenses.mjs
Due: eslint --fix, prettier --check --write

fix(ci): repair Node license audit with dedicated audit script (#985)
  .github/workflows/_deny-checks.yml
  scripts/audit-node-licenses.mjs
Due: eslint --fix, prettier --check --write

Add passkey UI and passkey-first auth flow with page template (#984)
  packages/ui/auth/README.md
  packages/ui/auth/src/auth.css
  packages/ui/auth/src/components/auth-brand/index.stories.tsx
  packages/ui/auth/src/components/auth-brand/index.tsx
  packages/ui/auth/src/components/auth-flow/index.stories.tsx
  packages/ui/auth/src/components/auth-flow/index.tsx
  packages/ui/auth/src/components/index.ts
  packages/ui/auth/src/components/passkey-button/index.stories.tsx
  packages/ui/auth/src/components/passkey-button/index.tsx
  packages/ui/auth/src/components/passkey-enrollment/index.stories.tsx
  packages/ui/auth/src/components/passkey-enrollment/index.tsx
  packages/ui/auth/src/components/sign-in-form/index.stories.tsx
  packages/ui/auth/src/components/sign-in-form/index.tsx
  packages/ui/auth/src/index.ts
  packages/ui/auth/src/templates/auth-page/index.stories.tsx
  packages/ui/auth/src/templates/auth-page/index.tsx
  packages/ui/auth/src/templates/index.ts
  packages/ui/auth/src/types/auth.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: place eslint in deps graph
  packages/ui/auth/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(ci): build every package before the repo-wide Storybook build
  .github/workflows/pr.yml
Due: prettier --check --write

feat(filter): move tab state machine to wasm
  Cargo.lock
  Cargo.toml
  crates/some-filter-fsm/Cargo.toml
  crates/some-filter-fsm/package.json
  crates/some-filter-fsm/src/index.d.ts
  crates/some-filter-fsm/src/lib.rs
  extensions/some-filter/README.build.md
  extensions/some-filter/package.json
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/__tests__/fixtures/some-filter-fsm.ts
  extensions/some-filter/src/lib/__tests__/tab-state.test.ts
  extensions/some-filter/src/lib/tab-state.ts
  extensions/some-filter/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(common): match secondary keyboard modifiers
  extensions/common/src/lib/keybindings/index.ts
  extensions/common/tests/keybindings/keybindings.spec.ts
Due: eslint --fix, prettier --check --write

feat(leetype-wasm): add manual-reveal toggle to the auto-hide loop
  crates/leetype_wasm/src/game_core.rs
  crates/leetype_wasm/src/leetype/reveal.rs
  crates/leetype_wasm/src/leetype/session.rs
  crates/leetype_wasm/src/leetype/view.rs
  crates/leetype_wasm/src/lib.rs
Due: none

fix(leetype-wasm): stop the manual override from pinning k when cancelled
  crates/leetype_wasm/src/game_core.rs
  crates/leetype_wasm/src/leetype/reveal.rs
  crates/leetype_wasm/src/leetype/session.rs
Due: none

test(common): exercise production keybinding matcher
  extensions/common/tests/keybindings/keybindings.spec.ts
Due: eslint --fix, prettier --check --write

fix(leetype-wasm): stop the override from unlocking the delay gate
  crates/leetype_wasm/src/leetype/reveal.rs
Due: none

keybindings: strictly match secondary modifier (ctrl/meta) and add regression tests (#988)
  extensions/common/src/lib/keybindings/index.ts
  extensions/common/tests/keybindings/keybindings.spec.ts
Due: eslint --fix, prettier --check --write

feat(leetype-wasm): add manual-reveal toggle to the auto-hide loop (#989)
  crates/leetype_wasm/src/game_core.rs
  crates/leetype_wasm/src/leetype/reveal.rs
  crates/leetype_wasm/src/leetype/session.rs
  crates/leetype_wasm/src/leetype/view.rs
  crates/leetype_wasm/src/lib.rs
Due: none

feat(leetype): add manual-reveal toggle to the auto-hide loop
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.test.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-keystroke-capture/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-keystroke-capture/index.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/leetype-wasm-loader.ts
  packages/ui/leetype/src/types/leetype.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(leetype): add manual-reveal toggle to the auto-hide loop (#987)
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.test.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-keystroke-capture/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-keystroke-capture/index.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/leetype-wasm-loader.ts
  packages/ui/leetype/src/types/leetype.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

feat(www): add decorative passkey auth gate
  apps/www/package.json
  apps/www/src/lib/auth-session.ts
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/auth.tsx
  apps/www/style.context.ts
  packages/ui/auth/src/components/auth-flow/index.tsx
  packages/ui/auth/src/components/sign-in-form/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(www): use split auth welcome panel
  apps/www/src/routes/auth.tsx
  packages/ui/auth/src/templates/auth-page/index.tsx
Due: eslint --fix, prettier --check --write

fix(auth): refine split screen template
  apps/www/src/routes/auth.tsx
  packages/ui/auth/src/auth.css
  packages/ui/auth/src/templates/auth-page/index.stories.tsx
  packages/ui/auth/src/templates/auth-page/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(leetype-wasm): add Role::Context, the frame the engine reads but never types
  crates/leetype_wasm/src/game_core.rs
  crates/leetype_wasm/src/leetype/program.rs
  crates/leetype_wasm/src/lib.rs
  crates/leetype_wasm/tests/context_frame.rs
  crates/leetype_wasm/tests/support/mod.rs
  docs/leetype/README.md
Due: eslint --fix, prettier --check --write

fix(leetype-wasm): expose the rendered display source for context-bearing chunks
  crates/leetype_wasm/src/leetype/program.rs
  crates/leetype_wasm/src/leetype/view.rs
  crates/leetype_wasm/src/lib.rs
Due: none

Add decorative passkey-only auth route to www (#1020)
  apps/www/package.json
  apps/www/src/lib/auth-session.ts
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/auth.tsx
  apps/www/style.context.ts
  packages/ui/auth/src/auth.css
  packages/ui/auth/src/components/auth-flow/index.tsx
  packages/ui/auth/src/components/sign-in-form/index.tsx
  packages/ui/auth/src/templates/auth-page/index.stories.tsx
  packages/ui/auth/src/templates/auth-page/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(leetype-wasm): add Role::Context, the frame the engine reads but never types (#1021)
  crates/leetype_wasm/src/game_core.rs
  crates/leetype_wasm/src/leetype/program.rs
  crates/leetype_wasm/src/leetype/view.rs
  crates/leetype_wasm/src/lib.rs
  crates/leetype_wasm/tests/context_frame.rs
  crates/leetype_wasm/tests/support/mod.rs
  docs/leetype/README.md
Due: eslint --fix, prettier --check --write

feat(leetype): wire ROLE_CONTEXT through the workspace
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.test.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-viewport/index.stories.tsx
  packages/ui/leetype/src/hooks/leetype/use-preview-game/index.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/leetype-wasm-loader.ts
  packages/ui/leetype/src/types/leetype.ts
  packages/ui/leetype/src/types/wasm/leetype-wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(leetype): wire ROLE_CONTEXT through the workspace (#1024)
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.test.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-viewport/index.stories.tsx
  packages/ui/leetype/src/hooks/leetype/use-preview-game/index.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/leetype-wasm-loader.ts
  packages/ui/leetype/src/types/leetype.ts
  packages/ui/leetype/src/types/wasm/leetype-wasm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(leetype): enforce a hard prose budget on PromptBlock
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.stories.tsx
  packages/ui/leetype/src/lib/leetype/exercises/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

fix(leetype): close the multi-block prose budget gap
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

feat(leetype): enforce a hard prose budget on PromptBlock (#1025)
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.stories.tsx
  packages/ui/leetype/src/lib/leetype/exercises/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

feat(leetype): add the three evidence block kinds, closed
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

fix(leetype): reject region spans past the typing source's length
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

feat(leetype): add the three evidence block kinds, closed (#1026)
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

feat(leetype): render evidence in PromptPanel, pagination becomes a lint
  packages/ui/leetype/src/components/typing-game/prompt-panel/corpus-lint.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.test.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/rows.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/rows.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

fix(leetype): cover the whole corpus in the lint, add a spoken transition separator
  packages/ui/leetype/src/components/typing-game/prompt-panel/corpus-lint.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.tsx
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
Due: eslint --fix, prettier --check --write

feat(leetype): render evidence in PromptPanel, pagination becomes a lint (#1027)
  packages/ui/leetype/src/components/typing-game/prompt-panel/corpus-lint.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.test.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/rows.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/rows.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

test(leetype): prove CodeDisplay's context invariants at the render level
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.test.tsx
Due: eslint --fix, prettier --check --write

fix(leetype): reset -webkit-text-fill-color on context, test it stays unmasked
  packages/ui/leetype/src/components/typing-game/code-display/index.test.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
Due: eslint --fix, prettier --check --write
