Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

debt(infra): run lint-staged tasks sequentially to stop eslint SIGKILL
  .husky/pre-commit
Due: none

debt(lint): fix import/no-unresolved for workspace packages (#394)
  packages/ui/input/eslint.config.js
  packages/ui/input/src/types/wasm/leetype-wasm.d.ts
  packages/ui/input/src/types/wasm/some-crossword.d.ts
  packages/ui/input/src/types/wasm/viewport-rotation.d.ts
  packages/ui/input/tsconfig.eslint.json
Due: eslint --fix, prettier --check --write

chore: add SessionStart hook to build workspace dist/ on cloud sandboxes
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: prettier --check --write

fix(infra): decouple lint from build in turbo task graph
  turbo.json
Due: prettier --check --write

fix(lint): centralize import/no-unresolved fix for all first-party packages
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/tsconfig.workspace-resolve.json
  packages/ui/input/eslint.config.js
  packages/ui/input/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

debt(lint): fix import/no-unresolved for workspace packages + lint-staged SIGKILL (#403)
  .claude/hooks/session-start.sh
  .claude/settings.json
  .husky/pre-commit
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/tsconfig.workspace-resolve.json
  packages/ui/input/eslint.config.js
  packages/ui/input/package.json
  packages/ui/input/src/types/wasm/leetype-wasm.d.ts
  packages/ui/input/src/types/wasm/some-crossword.d.ts
  packages/ui/input/src/types/wasm/viewport-rotation.d.ts
  packages/ui/input/tsconfig.eslint.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write

feat(extensions): native tab discard for suspender-ledger, legacy filter dim mode
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/lib/legacy-presets.ts
  extensions/some-filter/src/popup/components/legacy-style-toggle/index.ts
  extensions/some-filter/src/popup/popup.css
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/src/types/popup.ts
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/resume-veil.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: util to constrain prop
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.test.ts
  packages/utils/src/lib/index.ts
  packages/utils/src/lib/registry/index.ts
  packages/utils/src/lib/registry/renderer.tsx
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/input/eslint.config.js
  packages/ui/input/package.json
  packages/ui/input/src/components/clues-carousel/index.tsx
  packages/ui/input/src/components/crossword-cell/index.stories.tsx
  packages/ui/input/src/components/demo-dice/index.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
  packages/ui/input/src/lib/crossword-grid.ts
  packages/ui/input/src/types/crossword.ts
  packages/ui/input/tsconfig.eslint.json
Due: eslint --fix, prettier --check --write

refactor: export i32
  crates/viewport-rotation/src/lib.rs
Due: none

fix: disaster has struck!
  apps/www/package.json
  apps/www/src/index.css
  apps/www/src/routes/index.tsx
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/some-content/src/components/overlay/cube-content/index.tsx
  packages/some-content/src/registry/index.ts
  packages/ui/input/src/components/typing-game/challenge-selector/index.stories.tsx
  packages/ui/input/src/components/typing-game/challenge-selector/index.tsx
  packages/ui/input/src/components/typing-game/code-display/index.tsx
  packages/ui/input/src/components/typing-game/leetype-app/index.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/components/typing-game/level-progress/index.stories.tsx
  packages/ui/input/src/components/typing-game/level-progress/index.tsx
  packages/ui/input/src/components/typing-game/results-card/index.stories.tsx
  packages/ui/input/src/components/typing-game/results-card/index.tsx
  packages/ui/input/src/components/typing-game/session-config/index.stories.tsx
  packages/ui/input/src/components/typing-game/session-config/index.tsx
  packages/ui/input/src/data/leetype.ts
  packages/ui/input/src/hooks/leetype/use-player-progress.ts
  packages/ui/overlays/CHANGELOG.md
  packages/ui/overlays/package.json
  packages/ui/slideshow/CHANGELOG.md
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/viewport-dice-card/index.tsx
  packages/ui/slideshow/src/hooks/use-gantt-drawer.ts
  packages/ui/slideshow/vite.config.ts
  packages/ui/vidya/package.json
  packages/ui/wireframes/eslint.config.js
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/editor-layout-renderer/index.tsx
  packages/ui/wireframes/src/components/tree-visualizer/index.tsx
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
  packages/ui/wireframes/src/hooks/focus-system.ts
  packages/ui/wireframes/src/hooks/orchestrator-integration.ts
  packages/ui/wireframes/src/hooks/use-focus-controls.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(chat): flesh out mock-interview session into an adapter-based architecture
  packages/ui/chat/package.json
  packages/ui/chat/src/components/mock-interview/audio-player/index.tsx
  packages/ui/chat/src/components/mock-interview/index.ts
  packages/ui/chat/src/components/mock-interview/interview-app/index.tsx
  packages/ui/chat/src/components/mock-interview/interview-app/slideshow-presenter.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/progress-header/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/progress-header/index.tsx
  packages/ui/chat/src/components/mock-interview/question-playback/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/question-playback/index.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/session-complete/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/session-complete/index.tsx
  packages/ui/chat/src/components/mock-interview/welcome-screen/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/welcome-screen/index.tsx
  packages/ui/chat/src/data/index.ts
  packages/ui/chat/src/data/interview-questions.ts
  packages/ui/chat/src/hooks/use-audio-level.ts
  packages/ui/chat/src/hooks/use-audio-recorder.ts
  packages/ui/chat/src/hooks/use-interview-session.ts
  packages/ui/chat/src/lib/interview/core/interview-reducer.ts
  packages/ui/chat/src/lib/interview/core/interview-types.ts
  packages/ui/chat/src/lib/interview/core/question-repository.ts
  packages/ui/chat/src/lib/interview/core/transcription-adapter.ts
  packages/ui/chat/src/lib/interview/core/tts-adapter.ts
  packages/ui/chat/src/lib/interview/format-time.ts
  packages/ui/chat/src/lib/interview/session-storage.ts
  packages/ui/chat/src/lib/interview/upload-service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(chat): flesh out mock-interview session into an adapter-based architecture (#407)
  packages/ui/chat/package.json
  packages/ui/chat/src/components/mock-interview/audio-player/index.tsx
  packages/ui/chat/src/components/mock-interview/index.ts
  packages/ui/chat/src/components/mock-interview/interview-app/index.tsx
  packages/ui/chat/src/components/mock-interview/interview-app/slideshow-presenter.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/progress-header/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/progress-header/index.tsx
  packages/ui/chat/src/components/mock-interview/question-playback/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/question-playback/index.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/session-complete/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/session-complete/index.tsx
  packages/ui/chat/src/components/mock-interview/welcome-screen/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/welcome-screen/index.tsx
  packages/ui/chat/src/data/index.ts
  packages/ui/chat/src/data/interview-questions.ts
  packages/ui/chat/src/hooks/use-audio-level.ts
  packages/ui/chat/src/hooks/use-audio-recorder.ts
  packages/ui/chat/src/hooks/use-interview-session.ts
  packages/ui/chat/src/lib/interview/core/interview-reducer.ts
  packages/ui/chat/src/lib/interview/core/interview-types.ts
  packages/ui/chat/src/lib/interview/core/question-repository.ts
  packages/ui/chat/src/lib/interview/core/transcription-adapter.ts
  packages/ui/chat/src/lib/interview/core/tts-adapter.ts
  packages/ui/chat/src/lib/interview/format-time.ts
  packages/ui/chat/src/lib/interview/session-storage.ts
  packages/ui/chat/src/lib/interview/upload-service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(extensions): native tab discard for suspender-ledger, legacy filter dim mode (#406)
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/lib/legacy-presets.ts
  extensions/some-filter/src/popup/components/legacy-style-toggle/index.ts
  extensions/some-filter/src/popup/popup.css
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/src/types/popup.ts
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/resume-veil.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

test(suspender-ledger): model suspend lifecycle FSM, expose marker-orphan bugs (#344, #345)
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/src/worker/core/suspend-fsm.exhaustion.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-fsm.property.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-fsm.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): stop stranding the sleep marker on live tabs (#344, #345)
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/suspend-fsm.ts
Due: eslint --fix, prettier --check --write

test(suspender-ledger): expose marker-stacking races under concurrent discard re-entry
  extensions/suspender-ledger/src/worker/core/discard.concurrency.test.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): close the concurrent-marking races (thunderstorm smell test)
  extensions/suspender-ledger/src/worker/core/discard.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): stop dropping the legacy style config on already-legacy tabs
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/__tests__/guard.test.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/src/types/tab.ts
  extensions/some-filter/vitest.config.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): stop the mark-then-refresh race on manual suspend
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/menu.ts
Due: eslint --fix, prettier --check --write

refactor(suspender-ledger): make suspend-fsm authoritative over discard.ts
  extensions/suspender-ledger/src/worker/core/discard-adapter.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/title-marker.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): stop rollback from reloading an already-discarded tab
  extensions/suspender-ledger/src/worker/core/discard-adapter.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
Due: eslint --fix, prettier --check --write

chore(suspender-ledger): add always-on trace instrumentation for #409
  extensions/suspender-ledger/src/content/resume-veil.ts
  extensions/suspender-ledger/src/content/watch.ts
  extensions/suspender-ledger/src/worker/core/discard-adapter.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/trace.ts
  extensions/suspender-ledger/src/worker/menu.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): discard tabs via the Promise API, not the callback one
  extensions/suspender-ledger/src/worker/core/discard-adapter.ts
  extensions/suspender-ledger/src/worker/core/discard.concurrency.test.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
Due: eslint --fix, prettier --check --write

fix(eslint-kit): ban chrome.tabs.discard's callback form at lint time
  packages/eslint/src/configs/extensions-security.config.ts
  packages/eslint/tests/extensions.lint.test.ts
Due: eslint --fix, prettier --check --write

Fix marker stranding on audible/refused-discard tabs (#344, #345) (#409)
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/__tests__/guard.test.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/src/types/tab.ts
  extensions/some-filter/vitest.config.ts
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/src/content/resume-veil.ts
  extensions/suspender-ledger/src/content/watch.ts
  extensions/suspender-ledger/src/worker/core/discard-adapter.ts
  extensions/suspender-ledger/src/worker/core/discard.concurrency.test.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/suspend-fsm.exhaustion.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-fsm.property.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-fsm.ts
  extensions/suspender-ledger/src/worker/core/title-marker.ts
  extensions/suspender-ledger/src/worker/core/trace.ts
  extensions/suspender-ledger/src/worker/menu.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  packages/eslint/src/configs/extensions-security.config.ts
  packages/eslint/tests/extensions.lint.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(ci): repair extensions/common playwright storage tests and extension/docs matrix
  .github/workflows/_extension-detect.yml
  extensions/common/tests/browser-invariants/browser-invariants.spec.ts
Due: eslint --fix, prettier --check --write

fix(storybook): stop stale prebuilt CSS from overriding live theme tokens
  .storybook/preview.tsx
  packages/some-content/src/registry/index.ts
Due: eslint --fix, prettier --check --write

fix(storybook): scope UnoCSS output to extension/catalog stories only
  .storybook/preview.tsx
  .storybook/unocss-decorator.tsx
Due: eslint --fix, prettier --check --write

lint(charter): enforce Storybook title prefix on extension stories
  packages/eslint/src/configs/extensions-charter.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/require-story-title-prefix.ts
Due: eslint --fix, prettier --check --write

Fix CI (playwright/extension-docs) and Storybook theme not rendering (#418)
  .github/workflows/_extension-detect.yml
  .storybook/preview.tsx
  .storybook/unocss-decorator.tsx
  extensions/common/tests/browser-invariants/browser-invariants.spec.ts
  packages/eslint/src/configs/extensions-charter.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/require-story-title-prefix.ts
  packages/some-content/src/registry/index.ts
Due: eslint --fix, prettier --check --write

fix(ci): exclude non-manifest workspace packages from extension matrix
  .github/workflows/_extension-detect.yml
Due: prettier --check --write

docs(ci): describe manifest-based extension detection without naming packages
  .github/workflows/_extension-detect.yml
Due: prettier --check --write

Refine extension detection to exclude non-buildable packages (#419)
  .github/workflows/_extension-detect.yml
Due: prettier --check --write

fix(hangul-game): persist completed characters and fix startup lifetime
  crates/hangul-game-core/src/internal/engine.rs
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-loop.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.test.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
Due: eslint --fix, prettier --check --write

docs(hangul-game): add adr 0001 for multimodal word testing
  crates/hangul-game-core/docs/adr/0001-multimodal-word-testing.md
Due: eslint --fix, prettier --check --write

fix(hangul-game): give the board enough valid cells to complete every character
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.ts
  packages/ui/honeycomb/vitest.config.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
