Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

chore: configs updates
  .gitignore
  turbo.json
Due: prettier --check --write

chore: update adjacent main files
  .storybook/main-next.ts
  .storybook/main-vite.ts
Due: eslint --fix, prettier --check --write

chore: update storybook for reverse proxy
  package.json
Due: prettier --check --write

chore: lockfile updates
  pnpm-lock.yaml
Due: none

fix: don't bundle stories
  packages/ui/calendar/rollup.config.js
  packages/ui/calendar/tsconfig.build.json
  packages/ui/chat/rollup.config.js
  packages/ui/chat/tsconfig.build.json
  packages/ui/emoji-animations/tsconfig.build.json
  packages/ui/honeycomb/rollup.config.js
  packages/ui/honeycomb/tsconfig.build.json
  packages/ui/input/rollup.config.js
  packages/ui/input/tsconfig.build.json
  packages/ui/neon-sign/rollup.config.js
  packages/ui/neon-sign/tsconfig.build.json
  packages/ui/nfl/rollup.config.js
  packages/ui/nfl/tsconfig.build.json
  packages/ui/resume/rollup.config.js
  packages/ui/resume/tsconfig.build.json
  packages/ui/searchbar/rollup.config.js
  packages/ui/searchbar/tsconfig.build.json
  packages/ui/shared/rollup.config.js
  packages/ui/shared/tsconfig.build.json
  packages/ui/slideshow/rollup.config.js
  packages/ui/slideshow/tsconfig.build.json
  packages/ui/stepper/rollup.config.js
  packages/ui/stepper/tsconfig.build.json
Due: eslint --fix, prettier --check --write

chore: scripts updates
  package.json
  packages/bark/package.json
  packages/charts/d3/package.json
  packages/mdx-generator/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/src/components/neon-text/index.stories.tsx
  packages/ui/neon-sign/src/components/neon-text/indext.stories.tsx
  packages/ui/nfl/package.json
  packages/ui/nfl/src/index.ts
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/utils/package.json
  turbo.json
Due: eslint --fix, prettier --check --write

chore: force push
  packages/ui/nfl/src/components/nfl-field/index.tsx
  packages/ui/slideshow/src/components/sidebar-carousel/index.tsx
Due: eslint --fix, prettier --check --write

feat: init new ui
  packages/ui/stepper/.gitignore
  packages/ui/stepper/.prettierignore
  packages/ui/stepper/package.json
  packages/ui/stepper/rollup.config.js
  packages/ui/stepper/src/components/index.stories.tsx
  packages/ui/stepper/src/components/index.tsx
  packages/ui/stepper/src/index.ts
  packages/ui/stepper/tsconfig.json
Due: eslint --fix, prettier --check --write

fix: import plugin not working, add rules manually
  eslint/react.config.js
Due: eslint --fix, prettier --check --write

feat: welp?
  packages/google-service/src/types/zod-types/schema-parser/index.test.ts
Due: eslint --fix, prettier --check --write

chore: remove .swp file from remote
  .Cargo.toml.swp
Due: none

feat: add new shadcn chart
  packages/ui/shared/src/components/ui/chart.tsx
Due: eslint --fix, prettier --check --write

feat: suppose we tell stories about bar background
  packages/charts/d3/src/components/bar/bar-background/index.stories.tsx
  packages/charts/d3/src/components/bar/bar-background/index.tsx
  packages/charts/d3/src/components/bar/bar-rectangle/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/input/src/components/index.tsx
  packages/ui/shared/src/components/ui/resizable.tsx
Due: eslint --fix, prettier --check --write

feat: init barchart
  packages/charts/d3/src/components/bar/bar-background/index.tsx
Due: eslint --fix, prettier --check --write

feat: add neon-text ui
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/neon-sign/src/components/neon-text/indext.stories.tsx
Due: eslint --fix, prettier --check --write

feat: add nfl field draggable component
  packages/ui/nfl/src/components/nfl-field-draggable/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field-draggable/index.tsx
Due: eslint --fix, prettier --check --write

feat(wip): setting up stepper
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/index.stories.tsx
  packages/ui/stepper/src/components/index.tsx
  packages/ui/stepper/src/components/step/index.stories.tsx
  packages/ui/stepper/src/components/step/index.tsx
Due: eslint --fix, prettier --check --write

chore: update shared bundler
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: some config and lockfile updates
  eslint/react.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

style: add sidebar tailwind shadcn classname
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

feat: add new shadcn ui carousel
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
  packages/ui/shared/src/components/ui/carousel.tsx
Due: eslint --fix, prettier --check --write

chore: deps update
  packages/ui/stepper/package.json
Due: prettier --check --write

chore: update deps
  packages/ui/slideshow/package.json
Due: prettier --check --write

feat: new shadcn shared ui
  packages/ui/shared/src/components/ui/breadcrumb.tsx
Due: eslint --fix, prettier --check --write

chore: stories style update
  packages/ui/nfl/src/components/draggable/index.stories.tsx
Due: eslint --fix, prettier --check --write

feat(wip): add sidebar for slideshow
  packages/ui/slideshow/src/components/slideshow-card/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.tsx
Due: eslint --fix, prettier --check --write

feat: add shadcn hook
  packages/utils/src/lib/hooks/use-mobile.tsx
Due: eslint --fix, prettier --check --write

feat(wip): working on slideshow
  packages/ui/slideshow/src/components/sidebar-carousel/index.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
Due: eslint --fix, prettier --check --write

feat: add new shadcn ui card
  packages/ui/shared/src/components/ui/separator.tsx
  packages/ui/shared/src/components/ui/sheet.tsx
  packages/ui/shared/src/components/ui/sidebar.tsx
  packages/ui/shared/src/components/ui/skeleton.tsx
  packages/ui/shared/src/components/ui/tooltip.tsx
Due: eslint --fix, prettier --check --write

feat(wip): building a working mdx-generator template
  packages/mdx-generator/contentlayer.config.js
  packages/mdx-generator/scripts/build-registry.mts
  packages/mdx-generator/src/components/mdx-components/mdx-components.tsx
  packages/mdx-generator/src/lib/rehype-component.ts
  packages/mdx-generator/src/lib/rehype-npm-command.ts
Due: eslint --fix, prettier --check --write

chore: expose new shared shadcn ui
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

chore: wsl shell needs memory set for eslint
  .ALEPreviewWindow.swp
  package.json
  packages/charts/d3/package.json
  packages/pivot-search/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/nfl/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/index.stories.tsx
  packages/ui/stepper/src/components/index.tsx
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write

feat: init draggable container for nfl formations
  packages/ui/nfl/src/components/draggable/index.stories.tsx
  packages/ui/nfl/src/components/draggable/index.tsx
Due: eslint --fix, prettier --check --write

chore: update stoybook to bind only to localhost, deps udpate
  package.json
Due: prettier --check --write
