Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: compiler errors
  crates/some-bricks/src/lib.rs
Due: none

fix: lint
  apps/www/package.json
  package.json
  packages/some-content/package.json
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/overlays/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: lints
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/attributions/src/components/scrolling-credits/index.tsx
  packages/ui/attributions/tsconfig.build.json
  packages/ui/attributions/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: nix config
  nix/desktop/default.nix
  nix/node/default.nix
  nix/playwright/default.nix
  nix/rust/default.nix
  tsconfig.json
Due: prettier --check --write

fix: lint
  .lintstagedrc.json
  extensions/some-filter/package.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/classify.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/popup/components/action-bar/index.ts
  extensions/some-filter/src/popup/components/tablist/index.ts
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/config.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/src/types/tab.ts
  extensions/some-filter/tsconfig.build.json
  extensions/some-filter/tsconfig.json
  extensions/some-filter/tsconfig.node.json
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: very annoying
  lint-staged.config.js
Due: eslint --fix, prettier --check --write

chore: configs
  .gitignore
  flake.nix
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --check --write

feat(ci): nix playwright
  nix/playwright/default.nix
Due: none

refactor: rmv rule
  lint-staged.config.js
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/tests/assembly.test.ts
  packages/eslint/tests/overrides.test.ts
  packages/eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: deprecate pkg
  extensions/leetcode-tracker/README.md
  extensions/leetcode-tracker/eslint.config.js
  extensions/leetcode-tracker/package.json
  extensions/leetcode-tracker/public/manifest.json
  extensions/leetcode-tracker/src/background/background.ts
  extensions/leetcode-tracker/src/content/content.css
  extensions/leetcode-tracker/src/content/content.ts
  extensions/leetcode-tracker/src/popup/popup.css
  extensions/leetcode-tracker/src/popup/popup.html
  extensions/leetcode-tracker/src/popup/popup.js
  extensions/leetcode-tracker/src/types/browser.d.ts
  extensions/leetcode-tracker/tsconfig.build.json
  extensions/leetcode-tracker/tsconfig.json
  extensions/leetcode-tracker/tsconfig.node.json
  extensions/leetcode-tracker/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: fixed deps
  packages/eslint/package.json
Due: prettier --check --write

chore: rmv unnecessary tscheck flag
  packages/eslint/src/configs/base.config.ts
  packages/eslint/src/configs/overrides-tests.config.ts
  packages/eslint/src/configs/overrides-tools.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/src/index.ts
Due: eslint --fix, prettier --check --write

fix: run prettier on all files
  lint-staged.config.js
Due: eslint --fix, prettier --check --write

chore: lockfile
  pnpm-lock.yaml
Due: none

feat(wip): add playwright configuration
  .gitignore
  extensions/some-censor/package.json
  extensions/some-censor/playwright.config.ts
  extensions/some-censor/src/lib/content/debug.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/test-results/.last-run.json
  extensions/some-censor/tests/e2e/boyo.spec.ts
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
Due: eslint --fix, prettier --check --write, prettier --write

feat(ci): pain
  extensions/some-censor/package.json
  extensions/some-censor/playwright.config.ts
  extensions/some-censor/public/manifest.json
  extensions/some-censor/scripts/setup-test-profile.mjs
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-censor/tsconfig.build.json
  extensions/some-censor/tsconfig.json
Due: eslint --fix, prettier --check --write

feat(ci): suppose playwright fails but works fails
  .gitignore
  extensions/some-censor/playwright.config.ts
  extensions/some-censor/public/chromium-v3-manifest.json
  extensions/some-censor/public/firefox-v2-manifest.json
  extensions/some-censor/scripts/setup-test-profile.mjs
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-censor/tests/e2e/global-setup.ts
  extensions/some-censor/tests/e2e/global-teardown.ts
  flake.nix
  nix/playwright/default.nix
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(tests): some progress
  extensions/some-censor/src/lib/content/debug.ts
  extensions/some-censor/tests/e2e/boyo.spec.ts
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-censor/tests/e2e/specs/diagnostic.spec.ts
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
  extensions/some-censor/tsconfig.build.json
  extensions/some-censor/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: use chrome
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-censor/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: workflow for chromium/firefox
  extensions/some-censor/package.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/lib/background/api-client.ts
  extensions/some-censor/src/lib/background/message-handler.ts
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/extract/channel-id.ts
  extensions/some-censor/src/lib/content/extract/video-id.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/lib/platform/api.ts
  extensions/some-censor/src/lib/platform/background/api.chrome.ts
  extensions/some-censor/src/lib/platform/background/api.firefox.ts
  extensions/some-censor/src/lib/platform/content/api.chrome.ts
  extensions/some-censor/src/lib/platform/content/api.firefox.ts
  extensions/some-censor/tsconfig.build.json
  extensions/some-censor/tsconfig.json
  extensions/some-censor/tsconfig.node.json
  extensions/some-censor/vite.config.chromium.ts
  extensions/some-censor/vite.config.firefox.ts
  extensions/some-censor/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: key-bindings
  extensions/some-censor/src/lib/content/.debug.ts.swp
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/debug.ts
  extensions/some-censor/src/lib/content/fsm.ts
  extensions/some-censor/src/lib/content/key-binding.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/types/.global.d.ts.swp
  extensions/some-censor/src/types/debug.ts
  extensions/some-censor/src/types/global.d.ts
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
  extensions/some-censor/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: update eslint ignore
  extensions/some-censor/src/lib/content/.debug.ts.swp
  extensions/some-censor/src/lib/content/debug.ts
  packages/eslint/src/configs/base.config.ts
Due: eslint --fix, prettier --check --write

ci: extension webext lint
  .github/workflows/extensions/extension-detect.yml
  .github/workflows/extensions/extension-main.yml
  .github/workflows/extensions/extension-pr.yml
  .github/workflows/extensions/extension-sign.yml
  .github/workflows/extensions/extension-verify.yml
  extensions/some-censor/src/types/.global.d.ts.swp
  flake.nix
  packages/ui/portfolio-chart/src/lib/archetypeDetector.ts
  packages/ui/portfolio-chart/src/types/index.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/portfolio-chart/src/components/pl-chart/index.tsx
  packages/ui/portfolio-chart/src/components/top-bar/index.stories.tsx
  packages/ui/portfolio-chart/src/lib/blackScholes.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/portfolio-chart/src/components/add-leg-form/index.stories.tsx
  packages/ui/portfolio-chart/src/components/add-leg-form/index.tsx
  packages/ui/portfolio-chart/src/components/leg-list/index.stories.tsx
  packages/ui/portfolio-chart/src/components/leg-list/leg-row.tsx
  packages/ui/portfolio-chart/src/components/metrics-bar/index.stories.tsx
  packages/ui/portfolio-chart/src/components/motif-panel/index.stories.tsx
  packages/ui/portfolio-chart/src/components/motif-panel/index.tsx
  packages/ui/portfolio-chart/src/components/pl-chart/index.stories.tsx
  packages/ui/portfolio-chart/src/components/sandlot-app/index.stories.tsx
  packages/ui/portfolio-chart/src/components/sim-controls/index.stories.tsx
  packages/ui/portfolio-chart/tsconfig.build.json
  packages/ui/portfolio-chart/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: prettier
  .prettierignore
Due: none

chore: prettier
  packages/ui/portfolio-chart/.prettierignore
  prettier.config.cjs
Due: none

fix: lint
  extensions/tab-tracker/src/lib/content/key-binding.ts
Due: eslint --fix, prettier --check --write

style(fix): lint
  .stylelintrc.mjs
  packages/some-styles/themes/headline.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: lint
  packages/eslint/.prettierignore
  packages/eslint/package.json
  packages/ui/maishatu-fetch-kit/package.json
Due: prettier --check --write

chore: prettier ignore
  extensions/some-mujik/.prettierignore
  packages/ui/calendar/.prettierignore
  packages/ui/makjang/.prettierignore
  packages/ui/shared/.prettierignore
  packages/ui/slideshow/.prettierignore
  packages/ui/wireframes/.prettierignore
Due: none

fix: lint
  packages/ui/neon-sign/src/components/scramble-card/index.css
Due: stylelint --allow-empty-input, prettier --write

chore: config
  .stylelintrc.mjs
  extensions/tab-tracker/.prettierignore
  packages/ui/attributions/.prettierignore
  packages/ui/chat/.prettierignore
  packages/ui/honeycomb/.prettierignore
  packages/ui/neon-sign/.prettierignore
  packages/ui/nfl/.prettierignore
  packages/ui/overlays/.prettierignore
  packages/ui/searchbar/.prettierignore
  packages/ui/stepper/.prettierignore
Due: eslint --fix, prettier --check --write

chore(ci): update ci workflow
  .github/actions/cargo-cache.yml
  .github/actions/nix-setup.yml
  .github/actions/pnpm-cache.yml
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/deny.yml
  .github/workflows/extensions/extension-detect.yml
  .github/workflows/extensions/extension-main.yml
  .github/workflows/extensions/extension-pr.yml
  .github/workflows/extensions/extension-sign.yml
  .github/workflows/extensions/extension-verify.yml
  .github/workflows/lint.yml
  .github/workflows/pedagogy.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/shared/deny-checks.yml
  .github/workflows/shared/detect-changes.yml
  .github/workflows/shared/node-ci.yml
  .github/workflows/shared/rust-ci.yml
  .github/workflows/storybook-build.yml
  .github/workflows/test.yml
  .github/workflows/wasm-release.yml
  flake.nix
  nix/deny/default.nix
  nix/rust/default.nix
Due: prettier --check --write

fix(ci): github is a meanie
  .github/workflows/_deny-checks.yml
  .github/workflows/_detect-changes.yml
  .github/workflows/_extension-detect.yml
  .github/workflows/_extension-sign.yml
  .github/workflows/_extension-verify.yml
  .github/workflows/_node-ci.yml
  .github/workflows/_rust-ci.yml
  .github/workflows/extension.yml
  .github/workflows/extensions/extension-main.yml
  .github/workflows/extensions/extension-pr.yml
  .github/workflows/pr.yml
  .github/workflows/storybook-build.yml
Due: prettier --check --write

fix(ci): github is a meanie still
  .github/actions/cargo-cache/action.yml
  .github/actions/nix-setup/action.yml
  .github/actions/pnpm-cache/action.yml
Due: prettier --check --write

fix(ci): path detection, artifact strategy
  .github/workflows/_extension-detect.yml
  .github/workflows/_extension-sign.yml
  .github/workflows/_extension-verify.yml
  .github/workflows/extension.yml
  .github/workflows/pr.yml
  .github/workflows/trunk.yml
Due: prettier --check --write

chore: update configs
  packages/some-styles/package.json
  packages/some-styles/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: new extension
  extensions/some-conveyor/.prettierignore
  extensions/some-conveyor/README.md
  extensions/some-conveyor/eslint.config.js
  extensions/some-conveyor/package.json
  extensions/some-conveyor/public/manifest.json
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/cube-instance.ts
  extensions/some-conveyor/src/lib/content/cube-renderer.ts
  extensions/some-conveyor/src/lib/content/disposable-registry.ts
  extensions/some-conveyor/src/lib/content/effect-bus.ts
  extensions/some-conveyor/src/lib/content/face-contents.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/rotation-adapter.ts
  extensions/some-conveyor/src/lib/content/shadow-host.ts
  extensions/some-conveyor/src/lib/content/theme-engine.ts
  extensions/some-conveyor/src/lib/content/wasm-bridge.ts
  extensions/some-conveyor/src/styles/conveyor.css
  extensions/some-conveyor/src/types/index.ts
  extensions/some-conveyor/tsconfig.build.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
  extensions/some-conveyor/vite.config.ts
  extensions/some-conveyor/vitest.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write
