Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

chore: updating packages rollup configs
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/rollup.config.js
  packages/ui/slideshow/package.json
  packages/ui/slideshow/rollup.config.js
Due: eslint --fix, prettier --check --write

feat: init eslint shared package
  packages/eslint/package.json
  packages/eslint/src/configs/base.config.js
  packages/eslint/src/configs/index.js
  packages/eslint/src/configs/overrides-tests.config.js
  packages/eslint/src/configs/overrides-tools.config.js
  packages/eslint/src/configs/react.config.js
  packages/eslint/src/configs/stories.config.js
  packages/eslint/src/configs/tailwind.config.js
  packages/eslint/src/configs/typescript.config.js
  packages/eslint/src/index.ts
  packages/eslint/tsconfig.build.json
  packages/eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

refactor: updating rollup config, setting up rollup package
  packages/eslint/src/configs/base.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/overrides-tests.config.ts
  packages/eslint/src/configs/overrides-tools.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/tsconfig.build.tsbuildinfo
  packages/ui/input/package.json
  packages/ui/input/rollup.config.js
  packages/ui/shared/package.json
  packages/ui/stepper/package.json
  packages/ui/stepper/rollup.config.js
  packages/ui/stepper/src/components/index.tsx
  packages/ui/stepper/src/components/navbar-stepper/index.tsx
  packages/utils/package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

feat: init eslint package
  packages/eslint/package.json
  packages/eslint/src/configs/overrides-tests.config.ts
  packages/eslint/src/configs/overrides-tools.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/types/global.d.ts
  packages/eslint/tsconfig.build.json
  packages/eslint/tsconfig.build.tsbuildinfo
  packages/eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: add eslint tsconfig
  packages/eslint/tsconfig.json
  packages/tsconfig/eslint.tsconfig.json
Due: prettier --check --write

chore: update rollup config
  packages/ui/nfl/package.json
  packages/ui/nfl/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: fix rollup config
  packages/bark/package.json
  packages/bark/rollup.config.js
  packages/bark/tsconfig.build.json
  packages/charts/d3/package.json
  packages/charts/d3/rollup.config.js
  packages/charts/d3/src/index.ts
  packages/charts/d3/tsconfig.build.json
  packages/mdx-generator/package.json
  packages/mdx-generator/rollup.config.js
  packages/mdx-generator/tsconfig.build.json
  packages/pivot-search/package.json
  packages/pivot-search/rollup.config.js
  packages/pivot-search/tsconfig.build.json
  packages/types/package.json
  packages/types/rollup.config.js
  packages/types/tsconfig.build.json
  packages/ui/calendar/package.json
  packages/ui/calendar/rollup.config.js
  packages/ui/emoji-animations/package.json
  packages/ui/emoji-animations/rollup.config.js
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/rollup.config.js
  packages/ui/honeycomb/src/index.ts
  packages/ui/honeycomb/tsconfig.json
  packages/ui/resume/package.json
  packages/ui/resume/rollup.config.js
  packages/ui/searchbar/package.json
  packages/ui/searchbar/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: build
  pnpm-lock.yaml
Due: none

chore: utils rollup fixes
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
  packages/utils/tsconfig.build.json
Due: eslint --fix, prettier --check --write

fix: eslint bug
  eslint/typescript.config.js
Due: eslint --fix, prettier --check --write

feat: update rollup to auto set external
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/ui/chat/package.json
  packages/ui/chat/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: working towards a refactored rollup config
  package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/ui/chat/package.json
  packages/ui/chat/tsconfig.json
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
  packages/ui/shared/src/components/ui/aspect-ratio.tsx
  packages/ui/shared/src/components/ui/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: update rollup config
  package.json
  packages/rollup-config/package.json
  packages/ui/chat/src/components/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: build
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/neon-sign/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/slideshow/package.json
Due: prettier --check --write

refactor: update to allow for auto discover root file
  packages/eslint/src/configs/base.config.ts
  packages/eslint/src/configs/overrides-tools.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/typescript.config.ts
Due: eslint --fix, prettier --check --write

chore: consume custom eslint plugin at package level
  packages/ui/calendar/eslint.config.js
  packages/ui/calendar/package.json
  packages/ui/chat/eslint.config.js
  packages/ui/emoji-animations/eslint.config.js
  packages/ui/honeycomb/eslint.config.js
  packages/ui/honeycomb/package.json
  packages/ui/input/eslint.config.js
  packages/ui/input/package.json
  packages/ui/neon-sign/eslint.config.js
  packages/ui/neon-sign/package.json
  packages/ui/nfl/eslint.config.js
  packages/ui/nfl/package.json
  packages/ui/resume/eslint.config.js
  packages/ui/resume/package.json
  packages/ui/searchbar/eslint.config.js
  packages/ui/searchbar/package.json
  packages/ui/shared/eslint.config.js
  packages/ui/slideshow/eslint.config.js
  packages/ui/slideshow/package.json
  packages/ui/stepper/eslint.config.js
  packages/ui/stepper/package.json
Due: eslint --fix, prettier --check --write

fix: consume self from build dir, lint fixes
  packages/eslint/eslint.config.js
  packages/eslint/package.json
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/tsconfig.build.json
  packages/eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

fix: outdir issue
  packages/tsconfig/eslint.tsconfig.json
Due: prettier --check --write

test: lint
  turbo.json
Due: prettier --check --write

feat: maintain eslint config as a package plugin
  eslint.config.js
  eslint.config.mjs
  eslint/base.config.js
  eslint/index.js
  eslint/overrides-tests.config.js
  eslint/overrides-tools.config.js
  eslint/react.config.js
  eslint/stories.config.js
  eslint/tailwind.config.js
  eslint/typescript.config.js
  package.json
  packages/bark/eslint.config.js
  packages/bark/package.json
  packages/eslint/eslint.config.js
  packages/eslint/package.json
  packages/eslint/tsconfig.build.tsbuildinfo
  packages/eslint/tsconfig.cjs.build.json
  packages/eslint/tsconfig.esm.build.json
  packages/rollup-config/eslint.config.mjs
  packages/rollup-config/package.json
  packages/types/eslint.config.js
  packages/types/package.json
  packages/ui/shared/package.json
  packages/utils/eslint.config.js
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: gen changeset, update package.json
  .changeset/long-icons-applaud.md
  packages/eslint/package.json
Due: eslint --fix, prettier --check --write

ci: fix release yml
  .github/workflows/release.yml
Due: prettier --check --write

fix: use pnpm not npm
  packages/eslint/package.json
Due: prettier --check --write

chore: update release yml
  .github/workflows/release.yml
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
