Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix(some-filter): a partial scan may not drive a total realization
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/__tests__/visibility-gate.test.ts
  extensions/some-filter/src/lib/content/visibility-gate.ts
  extensions/some-filter/tests/e2e/specs/main-thread-budget.spec.ts
  packages/eslint/src/rules/require-named-lifetime.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): throttle the interaction audit instead of latching it off
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/visibility-gate.test.ts
  extensions/some-filter/tests/e2e/specs/main-thread-budget.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): owe the settle its audit instead of dropping it
  extensions/some-filter/src/adapter/pipeline.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): retry only the deferred half, and stop certifying a teardown that does not exist
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/shadow-scope-discovery.ts
  extensions/some-filter/src/adapter/shadow-scope-theming.ts
  extensions/some-filter/src/lib/content/coverage-watchdog.ts
Due: eslint --fix, prettier --check --write

feat(www): add /extensions, the comb that tells six extensions visually
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.test.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/extensions.tsx
  apps/www/src/routes/index.tsx
  apps/www/src/routes/mission.tsx
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.stories.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
  packages/ui/honeycomb/src/components/index.ts
  packages/ui/honeycomb/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor(build): inline five build scripts that shelled back out to pnpm
  crates/hangul-game-core/package.json
  crates/leetype_wasm/package.json
  crates/polyhedron/package.json
  packages/eslint/package.json
  packages/some-vite-config/package.json
Due: prettier --check --write

perf(build): stop every turbo task from running a full pnpm install first
  pnpm-workspace.yaml
Due: none

fix(build): use the upstream workaround for the spurious pre-run reinstall
  pnpm-workspace.yaml
Due: none

docs(some-filter): record ADR 0002, user-origin palette enforcement
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
Due: eslint --fix, prettier --check --write

feat(www): give the comb the whole viewport, drop the page copy
  apps/www/src/routes/extensions.tsx
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.stories.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
Due: eslint --fix, prettier --check --write

feat(some-filter): land ADR 0002 steps 1-2 — border-led swatches, enforcement sheet behind a flag
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/__tests__/swatches.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/adapter/swatches/index.ts
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): force border-width/style on the enforcement sheet's erase rule
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

docs(some-filter): record independent live confirmation of the §3.1 shadow-crossing finding
  extensions/some-filter/src/adapter/enforcement-sheet.ts
Due: eslint --fix, prettier --check --write

docs(some-filter): record ADR 0003, embrace shadow crossing + compile-time highlight table
  extensions/some-filter/docs/adr/0003-embrace-shadow-crossing-and-highlight-table.md
Due: eslint --fix, prettier --check --write

feat(some-filter): implement ADR 0003 §3 HIGHLIGHT_TABLE, hold svg row
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): scope forced border-width/style to containers, not every erased element
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
Due: eslint --fix, prettier --check --write

refactor(build): inline five build scripts that shelled back out to pnpm (#1465)
  crates/hangul-game-core/package.json
  crates/leetype_wasm/package.json
  crates/polyhedron/package.json
  packages/eslint/package.json
  packages/some-vite-config/package.json
  pnpm-workspace.yaml
Due: prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore(release): publish extension suspender-ledger
  extensions/suspender-ledger/CHANGELOG.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
Due: eslint --fix, prettier --check --write

perf(build): stop every packages/ui/* build type-checking twice
  packages/activity-catalog/package.json
  packages/core-utils/package.json
  packages/fetch-kit/package.json
  packages/intent-kit/package.json
  packages/job-tracker/package.json
  packages/some-vite-config/BUILD_EXCLUDES.md
  packages/some-vite-config/package.json
  packages/some-vite-config/src/lib/plugins.ts
  packages/speech/package.json
  packages/ui/assessment/package.json
  packages/ui/auth/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/dice-card/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/interview/package.json
  packages/ui/leetype/package.json
  packages/ui/makjang/package.json
  packages/ui/milestones/package.json
  packages/ui/neon-sign/package.json
  packages/ui/portfolio-chart/package.json
  packages/ui/searchbar/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/topik/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/ws/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(build): catch options diagnostics vite-plugin-dts's own check misses
  packages/some-vite-config/src/lib/plugins.ts
Due: eslint --fix, prettier --check --write

fix(build): recover config-file parsing diagnostics getPreEmitDiagnostics can't
  packages/some-vite-config/src/lib/plugins.ts
Due: eslint --fix, prettier --check --write

fix(www): make failed initial route reads a terminal outcome, not a stuck skeleton
  apps/www/eslint.config.js
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/lib/file-host-config/client.test.ts
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/lib/query-outcome/index.ts
  apps/www/src/routes/_dashboard/app.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/profile.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/index.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
  apps/www/src/routes/_dashboard/settings.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/query-guard.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-loading-elided-default.ts
  packages/eslint/tests/query-guard.lint.test.ts
Due: eslint --fix, prettier --check --write

fix: satisfy eslint-kit's own lint on the new query-guard rule/test
  packages/eslint/src/rules/no-loading-elided-default.ts
  packages/eslint/tests/query-guard.lint.test.ts
Due: eslint --fix, prettier --check --write

fix(www): don't retry a file_host timeout - it multiplies the deadline instead of bounding it
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/providers/tanstack-query.test.ts
  apps/www/src/providers/tanstack-query.tsx
Due: eslint --fix, prettier --check --write

fix(www): bound the whole file_host request, not just headers to it
  apps/www/src/lib/file-host-config/client.test.ts
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/routes/_dashboard/sessions/$sessionId.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/index.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
Due: eslint --fix, prettier --check --write

fix(www): stop exporting DEFAULT_FILE_HOST_TIMEOUT_MS, nothing else uses it
  apps/www/src/lib/file-host-config/client.ts
Due: eslint --fix, prettier --check --write

fix(www): a timed-out non-idempotent write is not retryable
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/lib/file-host-config/client.test.ts
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/lib/file-host-config/index.ts
  apps/www/src/lib/intent/errors.ts
Due: eslint --fix, prettier --check --write

fix(www): disable the button on a non-retryable failure, don't resubmit
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/lib/intent/render/intent-button/index.test.tsx
  apps/www/src/lib/intent/render/intent-button/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): only block resubmission for the ambiguous timeout, not every non-retryable failure
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/lib/intent/errors.ts
  apps/www/src/lib/intent/render/intent-button/index.test.tsx
  apps/www/src/lib/intent/render/intent-button/index.tsx
  packages/intent-kit/src/intent-error.ts
Due: eslint --fix, prettier --check --write

fix(www): surface a refresh failure for cached non-null session data too
  apps/www/src/routes/_dashboard/sessions/$sessionId.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/new.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
Due: eslint --fix, prettier --check --write

fix(www): surface refresh failures on profile/settings/dashboard too
  apps/www/src/routes/_dashboard/app.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/profile.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/settings.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/settings.tsx
Due: eslint --fix, prettier --check --write

fix(www): block the sibling create button too on an ambiguous timeout
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/components/composer/session-composer.tsx
Due: eslint --fix, prettier --check --write

fix(www): also block the sibling button once create has succeeded
  apps/www/src/components/composer/session-composer.test.tsx
  apps/www/src/components/composer/session-composer.tsx
Due: eslint --fix, prettier --check --write

fix(www): gate create-blocking by retry availability, not activeAction
  apps/www/src/components/composer/session-composer.test.tsx
  apps/www/src/components/composer/session-composer.tsx
Due: eslint --fix, prettier --check --write

fix(some-filter): replace border soup with a sibling-scoped lift gradient
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/adapter/swatches/index.ts
  extensions/some-filter/tests/e2e/fixtures/lift-gradient-page.html
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(some-filter): bound the lift gradient's raster cost to 3rem
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/fixtures/lift-gradient-page.html
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

refactor(www): narrow routeFileIgnorePattern to the __tests__ directory
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
