Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

test: testing lint tsx
  .lintstagedrc.json
  package.json
  packages/embla-carousel/src/components/Axis.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

test: testing lint tsx
  del
  eslint.config.mjs
  packages/embla-carousel/eslint.config.mjs
  packages/embla-carousel/src/components/Axis.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: convert legacy eslintrc to flat config eslint.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor: update package eslint
  packages/embla-carousel/eslint.config.mjs
Due: eslint --fix, prettier --check --write

test: test lint
  packages/embla-carousel/src/components/Axis.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: get flat config working
  eslint.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --check --write

fix: final touches on linters and tsconfig
  package.json
  packages/embla-carousel/src/components/Axis.ts
  packages/embla-carousel/tsconfig.json
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: linter sort issue
  rollup.config.js
Due: eslint --fix, prettier --check --write

refactor: yarn to pnpm
  package.json
Due: prettier --check --write

fix: eslint issues
  packages/embla-carousel/src/components/Engine.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/OptionsHandler.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/ResizeHandler.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/ScrollContain.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/ScrollLimit.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/ScrollSnaps.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/utils.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/SlidesToScroll.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  eslint.config.mjs
  packages/embla-carousel/src/components/SlideLooper.ts
  packages/embla-carousel/src/components/Translate.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/SlideSizes.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/SlidesInView.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/SlideRegistry.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: eslint issues
  packages/embla-carousel/src/components/ScrollTarget.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: setup build script
  packages/embla-carousel/rollup.config.js
  packages/embla-carousel/src/components/Animations.ts
  packages/embla-carousel/src/components/DragTracker.ts
  packages/embla-carousel/src/components/EventHandler.ts
  packages/embla-carousel/src/components/Options.ts
  packages/embla-carousel/src/components/Plugins.ts
  packages/embla-carousel/tsconfig.json
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: add autoplay types
  packages/embla-carousel/src/components/EventHandler.ts
  packages/embla-carousel/src/components/ScrollLooper.ts
  packages/embla-carousel/src/components/SlidesHandler.ts
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: update husky, add embla deps
  package.json
  packages/embla-carousel/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: add autoplay package
  packages/embla-carousel-autoplay/.prettierrc.js
  packages/embla-carousel-autoplay/README.md
  packages/embla-carousel-autoplay/eslint.config.mjs
  packages/embla-carousel-autoplay/jest.config.js
  packages/embla-carousel-autoplay/package.json
  packages/embla-carousel-autoplay/rollup.config.js
  packages/embla-carousel-autoplay/src/components/Autoplay.ts
  packages/embla-carousel-autoplay/src/components/Options.ts
  packages/embla-carousel-autoplay/src/index.ts
  packages/embla-carousel-autoplay/tsconfig.json
  packages/embla-carousel-reactive-utils/eslint.config.mjs
  packages/embla-carousel/src/components/ScrollTo.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: update autoplay to switch direction
  packages/embla-carousel-autoplay/src/components/Autoplay.ts
Due: eslint --fix, prettier --check --write

chore(scope): update deps
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: eslint config dup key
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

refactor: run lint-staged directly in husky hook
  .husky/pre-commit
Due: none

feat: Create LICENSE
  LICENSE
Due: none

feat: add pull template
  .github/pull_request_template.md
Due: eslint --fix, prettier --check --write

feat: add lint ci
  .github/workflows/lint.yml
Due: prettier --check --write

feat: add test ci
  .github/workflows/test.yml
Due: prettier --check --write

feat: build and dependabot
  .github/dependabot.yml
  .github/workflows/build.yml
Due: prettier --check --write

feat: node version files
  .npmrc
  .nvmrc
Due: none

feat: ignore file
  .gitignore
Due: none

feat: npm package config
  package.json
  pnpm-workspace.yaml
  turbo.json
Due: prettier --check --write
