Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat(leetype, www): the warm-up, and the boxes that prove the shell fits
  apps/www/tests/ui-fit/exercise-shell-fit.spec.ts
  docs/leetype/README.md
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/typing-viewport/index.stories.tsx
  packages/ui/leetype/src/hooks/leetype/use-keystroke-intervals/index.ts
  packages/ui/leetype/src/lib/leetype/baseline-store/calibration.ts
  packages/ui/leetype/src/utils/assert-never.ts
  packages/ui/leetype/src/utils/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(leetype): resolve each finished step exactly once
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/step-rail/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
Due: eslint --fix, prettier --check --write

feat(leetype): the exercise contract, the seed shim, and the baseline store
  packages/ui/leetype/src/lib/leetype/baseline-store/index.test.ts
  packages/ui/leetype/src/lib/leetype/baseline-store/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

chore(leetype, www): clear what the milestone orphaned
  apps/www/package.json
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/leetype-wasm-loader.ts
  packages/ui/leetype/src/types/exercise.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

style(leetype_wasm): apply rustfmt
  crates/leetype_wasm/src/leetype/program.rs
  crates/leetype_wasm/src/leetype/reveal.rs
  crates/leetype_wasm/src/leetype/stats.rs
  crates/leetype_wasm/src/lib.rs
  crates/leetype_wasm/tests/invariants.rs
Due: none

fix(leetype): bump leetype-wasm to 0.0.10, assert the binding contract at compile time
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/types/wasm/bindings-contract.ts
  packages/ui/leetype/src/types/wasm/leetype-wasm.d.ts
  packages/ui/leetype/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(leetype): bump leetype-wasm to 0.0.10, assert the binding contract at compile time (#894)
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/types/wasm/bindings-contract.ts
  packages/ui/leetype/src/types/wasm/leetype-wasm.d.ts
  packages/ui/leetype/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(honeycomb): fit the three hangul overlays to their box
  packages/ui/honeycomb/src/components/hangul-hex-grid/game-over-modal/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): fit the three hangul overlays to their box (#896)
  packages/ui/honeycomb/src/components/hangul-hex-grid/game-over-modal/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.tsx
Due: eslint --fix, prettier --check --write

ci: stop building wasm crates outside the wasm release flow
  .github/actions/pnpm-cache/action.yml
  .github/workflows/_deny-checks.yml
  .github/workflows/_extension-sign.yml
  .github/workflows/_extension-verify.yml
  .github/workflows/extension-sign-manual.yml
  .github/workflows/extension.yml
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/trunk.yml
  .github/workflows/wasm-release.yml
  .github/workflows/www-docker-release.yml
  package.json
Due: prettier --check --write

ci: stop building wasm crates outside the wasm release flow (#897)
  .github/actions/pnpm-cache/action.yml
  .github/workflows/_deny-checks.yml
  .github/workflows/_extension-sign.yml
  .github/workflows/_extension-verify.yml
  .github/workflows/extension-sign-manual.yml
  .github/workflows/extension.yml
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/trunk.yml
  .github/workflows/wasm-release.yml
  .github/workflows/www-docker-release.yml
  package.json
Due: prettier --check --write

fix(vite-config): make the package.json sync a build-only side effect
  packages/some-vite-config/src/index.ts
  packages/some-vite-config/src/lib/index.ts
  packages/some-vite-config/src/lib/package-json/generate.ts
  packages/some-vite-config/src/lib/package-json/index.ts
  packages/some-vite-config/src/lib/package-json/plugin.ts
  packages/some-vite-config/src/lib/package-json/write.ts
  packages/some-vite-config/src/types/index.ts
Due: eslint --fix, prettier --check --write

fix(vite-config): require an explicit packageRoot for the manifest write
  packages/some-vite-config/src/index.ts
  packages/some-vite-config/src/lib/build-config.ts
  packages/some-vite-config/src/lib/package-json/write.ts
Due: eslint --fix, prettier --check --write

fix: broken eslint comment
  packages/ui/shared/src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --check --write

fix: prettier
  packages/eslint/CHANGELOG.md
Due: eslint --fix, prettier --check --write

fix: @some-ui/shared knip
  packages/ui/shared/package.json
  packages/ui/shared/src/components/demos/index.ts
  packages/ui/shared/src/components/demos/some-demo.stories.tsx
  packages/ui/shared/src/components/demos/some-demo.tsx
  packages/ui/shared/src/components/flip-book/index.stories.tsx
  packages/ui/shared/src/components/flip-book/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: knip @some-ui/honeycomb
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/data/index.ts
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
  packages/ui/honeycomb/src/lib/hangul/speech/index.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/index.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
  packages/ui/honeycomb/src/types/hex-grid.ts
  packages/ui/honeycomb/src/utils/hex-grid-fit/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: knip packages/ws
  packages/ws/package.json
Due: prettier --check --write

chore: knip core-utils
  packages/core-utils/package.json
Due: prettier --check --write

fix: knip ui/leetype
  knip.json
  packages/ui/leetype/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(vite-config): make the package.json sync a build-only side effect (#898)
  knip.json
  packages/core-utils/package.json
  packages/eslint/CHANGELOG.md
  packages/some-vite-config/src/index.ts
  packages/some-vite-config/src/lib/build-config.ts
  packages/some-vite-config/src/lib/index.ts
  packages/some-vite-config/src/lib/package-json/generate.ts
  packages/some-vite-config/src/lib/package-json/index.ts
  packages/some-vite-config/src/lib/package-json/plugin.ts
  packages/some-vite-config/src/lib/package-json/write.ts
  packages/some-vite-config/src/types/index.ts
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/data/index.ts
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
  packages/ui/honeycomb/src/lib/hangul/speech/index.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/index.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
  packages/ui/honeycomb/src/types/hex-grid.ts
  packages/ui/honeycomb/src/utils/hex-grid-fit/index.ts
  packages/ui/leetype/package.json
  packages/ui/shared/package.json
  packages/ui/shared/src/components/demos/index.ts
  packages/ui/shared/src/components/demos/some-demo.stories.tsx
  packages/ui/shared/src/components/demos/some-demo.tsx
  packages/ui/shared/src/components/flip-book/index.stories.tsx
  packages/ui/shared/src/components/flip-book/index.tsx
  packages/ui/shared/src/components/ui/sidebar.tsx
  packages/ws/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

docs(resume): re-derive counts after the graveyard deletions
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: none

fix: add explicit await
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
Due: eslint --fix, prettier --check --write

fix: broken tests
  packages/ui/interview/src/hooks/use-audio-recorder/index.test.ts
  packages/ui/interview/vitest.setup.ts
Due: eslint --fix, prettier --check --write

fix(wireframes): focusing an absent region collapsed the whole layout
  packages/ui/wireframes/src/lib/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/layout-weighted.ts
Due: eslint --fix, prettier --check --write

chore: avoid failing tests on wip module
  packages/ui/input/src/hooks/use-crossword-wasm/index.test.ts
Due: eslint --fix, prettier --check --write

fix: fmt
  crates/some-charts/src/lib.rs
  crates/some-charts/src/linear_scale.rs
  crates/some-charts/src/string_interpolate.rs
  crates/some-hexagon/src/lib.rs
  crates/some-hexagon/src/utils.rs
Due: none

chore: update ignore
  .gitignore
  cargo-errors.json
Due: prettier --check --write

chore: update ignore
  .gitignore
Due: none

chore: retire graveyard crate
  Cargo.lock
  Cargo.toml
  crates/some-charts/Cargo.toml
  crates/some-charts/LICENSE-ISC
  crates/some-charts/src/lib.rs
  crates/some-charts/src/linear_scale.rs
  crates/some-charts/src/string_interpolate.rs
  crates/some-charts/src/ticks.rs
  crates/some-charts/wasm-pack.toml
Due: none

feat(www): study nudges via a service worker
  apps/www/public/sw.js
  apps/www/src/components/settings/study-nudge-section.tsx
  apps/www/src/lib/study-nudge/index.test.ts
  apps/www/src/lib/study-nudge/index.ts
  apps/www/src/lib/study-nudge/service-worker.ts
  apps/www/src/lib/study-nudge/use-study-nudge.ts
  apps/www/src/lib/tenant/settings-repository.ts
  apps/www/src/lib/tenant/types.ts
  apps/www/src/providers/index.tsx
  apps/www/src/providers/study-nudge.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  docs/study-nudge.md
Due: eslint --fix, prettier --check --write

feat(www): study nudges via a service worker (#907)
  apps/www/public/sw.js
  apps/www/src/components/settings/study-nudge-section.tsx
  apps/www/src/lib/study-nudge/index.test.ts
  apps/www/src/lib/study-nudge/index.ts
  apps/www/src/lib/study-nudge/service-worker.ts
  apps/www/src/lib/study-nudge/use-study-nudge.ts
  apps/www/src/lib/tenant/settings-repository.ts
  apps/www/src/lib/tenant/types.ts
  apps/www/src/providers/index.tsx
  apps/www/src/providers/study-nudge.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  docs/study-nudge.md
Due: eslint --fix, prettier --check --write
