Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: opus does a thing
  extensions/some-conveyor/src/components/faces/action/index.ts
  extensions/some-conveyor/src/components/faces/category-overview/index.stories.tsx
  extensions/some-conveyor/src/components/faces/category-overview/index.ts
  extensions/some-conveyor/src/components/faces/clock/index.stories.tsx
  extensions/some-conveyor/src/components/faces/clock/index.ts
  extensions/some-conveyor/src/components/faces/last-activity/index.stories.tsx
  extensions/some-conveyor/src/components/faces/last-activity/index.ts
  extensions/some-conveyor/src/components/faces/streak-count/index.stories.tsx
  extensions/some-conveyor/src/components/faces/streak-count/index.ts
  extensions/some-conveyor/src/components/faces/today-progress/index.stories.tsx
  extensions/some-conveyor/src/components/faces/today-progress/index.ts
  extensions/some-conveyor/src/components/story-bridge.tsx
  extensions/some-conveyor/src/components/terminal/index.ts
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/cube-renderer.ts
  extensions/some-conveyor/src/lib/content/cycle-rotation-adapter.ts
  extensions/some-conveyor/src/lib/content/face-contents.ts
  extensions/some-conveyor/src/lib/content/streak-store.ts
  extensions/some-conveyor/src/types/index.ts
  extensions/some-conveyor/src/types/polyhedron.d.ts
  extensions/some-conveyor/src/utils/content/type-guards.ts
  extensions/some-conveyor/tsconfig.json
Due: eslint --fix, prettier --check --write

fix(ci): use correct pkg name for pnpm scripts
  .github/workflows/_extension-detect.yml
  .github/workflows/_extension-sign.yml
  .github/workflows/_extension-verify.yml
Due: prettier --check --write

fix: lint
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/content/content.css
  extensions/some-censor/src/lib/background/message-handler.ts
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/extract/extracted.ts
  extensions/some-censor/src/lib/content/extract/index.ts
  extensions/some-censor/src/lib/content/fsm.ts
  extensions/some-censor/src/lib/content/key-binding.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/record.ts
  extensions/some-censor/src/lib/content/session.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/lib/platform/api.ts
  extensions/some-censor/src/types/api.ts
  extensions/some-censor/src/types/global.d.ts
  extensions/some-censor/src/types/ids.ts
  extensions/some-censor/src/types/messages.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/fixtures/yt-watch.html
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/capture-panel/index.stories.tsx
  extensions/some-drama/src/components/capture-panel/index.ts
  extensions/some-drama/src/components/drama-card/index.stories.tsx
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/components/right-panel/index.stories.tsx
  extensions/some-drama/src/components/slideshow/index.stories.tsx
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/popup/constants.ts
  extensions/some-drama/src/lib/popup/content-scraper.ts
  extensions/some-drama/src/lib/popup/fsm.ts
  extensions/some-drama/src/lib/popup/messaging.ts
  extensions/some-drama/src/types/index.ts
  extensions/some-drama/tsconfig.json
  extensions/some-drama/tsconfig.node.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: new emotional ui
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/drama-card/index.stories.tsx
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/components/right-panel/index.stories.tsx
  extensions/some-drama/src/components/slideshow/index.stories.tsx
  extensions/some-drama/src/components/slideshow/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/content/particles.ts
  extensions/some-drama/src/styles/components/popup-form-mood.css
  extensions/some-drama/src/styles/components/slideshow.css
  extensions/some-drama/src/styles/tokens/tokens.css
  extensions/some-drama/src/types/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(drama): add VanillaBridge stories for four unstoryable components
  extensions/some-drama/src/components/drag-controller/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/index.stories.tsx
  extensions/some-drama/src/components/form-structural/index.stories.tsx
  extensions/some-drama/src/components/popup-renderer/index.stories.tsx
Due: eslint --fix, prettier --check --write

chore: update pnpm-lock.yaml after workspace install
  pnpm-lock.yaml
Due: none

fix(drama): make no-drama-active pill ephemeral and keybind-dismissible
  extensions/some-drama/src/content/content.ts
Due: eslint --fix, prettier --check --write

Claude/eager maxwell zztuzq (#196)
  extensions/some-drama/src/components/drag-controller/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/index.stories.tsx
  extensions/some-drama/src/components/form-structural/index.stories.tsx
  extensions/some-drama/src/components/popup-renderer/index.stories.tsx
  extensions/some-drama/src/content/content.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor: prepaint collision
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/content/content.ts
  extensions/tab-tracker/src/styles/banner.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: update config
  packages/eslint/src/configs/base.config.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): resolve prepaint handshake race, handoff lag, and flash-bang
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
  extensions/some-filter/src/lib/content/prepaint.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-filter): close three prepaint snapshot poisoning vectors
  extensions/some-filter/src/lib/content/dark-theme.ts
  extensions/some-filter/src/lib/content/prepaint.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): unify suppression window to cover patchAll, guard observer
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): restore patchAll, add state cache for legacy latency
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): switch prepaint sheet detection to URL lookup, add state-machine tests
  extensions/some-filter/src/lib/content/__tests__/classify.test.ts
  extensions/some-filter/src/lib/content/__tests__/dark-theme.test.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vitest.setup.ts
  packages/tsconfig/base.json
  packages/tsconfig/tsconfig.ui.json
Due: eslint --fix, prettier --check --write

fix(some-filter): switch prepaint sheet detection to URL lookup, add state-machine tests (#199)
  extensions/some-filter/src/lib/content/__tests__/classify.test.ts
  extensions/some-filter/src/lib/content/__tests__/dark-theme.test.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vitest.setup.ts
  packages/tsconfig/base.json
  packages/tsconfig/tsconfig.ui.json
Due: eslint --fix, prettier --check --write

test(some-filter): add Playwright E2E suite for prepaint-handshake Bug 1 triage
  extensions/some-filter/package.json
  extensions/some-filter/playwright.config.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tests/e2e/fixtures/dark-page.html
  extensions/some-filter/tests/e2e/fixtures/light-page.html
  extensions/some-filter/tests/e2e/fixtures/transparent-page.html
  extensions/some-filter/tests/e2e/global-setup.ts
  extensions/some-filter/tests/e2e/global-teardown.ts
  extensions/some-filter/tests/e2e/specs/prepaint-handshake.spec.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.chromium.ts
Due: eslint --fix, prettier --check --write, prettier --write

chore(some-filter): exclude tests and playwright configs from build tsconfig
  extensions/some-filter/tsconfig.build.json
Due: prettier --check --write

fix(some-filter): add platform adapter, split Chrome/Firefox manifests, fix fixture
  extensions/some-filter/package.json
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/platform/api.chrome.ts
  extensions/some-filter/src/lib/platform/api.firefox.ts
  extensions/some-filter/src/lib/platform/api.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: ensure no shared import of disjoint modules, to avoid esm import at runtime
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/platform/background/api.chrome.ts
  extensions/some-filter/src/lib/platform/background/api.firefox.ts
  extensions/some-filter/src/lib/platform/content/api.chrome.ts
  extensions/some-filter/src/lib/platform/content/api.firefox.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

fix(filter): capture prepaint sheet ref at document_start for Chrome MV3
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/tests/e2e/specs/prepaint-handshake.spec.ts
Due: eslint --fix, prettier --check --write

fix: classify not surviving refresh, latency causing flashbang
  extensions/some-filter/playwright.config.ts
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tests/e2e/specs/prepaint-handshake.spec.ts
  extensions/some-filter/tests/e2e/specs/smoke.manual.spec.ts
  extensions/some-filter/tsconfig.json
Due: eslint --fix, prettier --check --write

fix: prettier
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/popup/components/window-group-header/index.ts
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/message.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): resolve prepaint handshake race, handoff lag, and flash-bang (#197) (#198)
  extensions/some-filter/package.json
  extensions/some-filter/playwright.config.ts
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/classify.test.ts
  extensions/some-filter/src/lib/content/__tests__/dark-theme.test.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/platform/api.ts
  extensions/some-filter/src/lib/platform/background/api.chrome.ts
  extensions/some-filter/src/lib/platform/background/api.firefox.ts
  extensions/some-filter/src/lib/platform/content/api.chrome.ts
  extensions/some-filter/src/lib/platform/content/api.firefox.ts
  extensions/some-filter/src/popup/components/window-group-header/index.ts
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tests/e2e/fixtures/dark-page.html
  extensions/some-filter/tests/e2e/fixtures/light-page.html
  extensions/some-filter/tests/e2e/fixtures/transparent-page.html
  extensions/some-filter/tests/e2e/global-setup.ts
  extensions/some-filter/tests/e2e/global-teardown.ts
  extensions/some-filter/tests/e2e/specs/smoke.manual.spec.ts
  extensions/some-filter/tsconfig.build.json
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
  extensions/some-filter/vite.config.ts
  extensions/some-filter/vitest.setup.ts
  packages/tsconfig/base.json
  packages/tsconfig/tsconfig.ui.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-conveyor): add missing build infra so extension compiles
  extensions/some-conveyor/public/firefox-v2-manifest.json
  extensions/some-conveyor/src/background/background.ts
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/types/vite-env.d.ts
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

refactor(some-conveyor): enforce platform-adapter invariant in production code
  extensions/some-conveyor/src/background/background.ts
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/vite.config.chromium.ts
Due: eslint --fix, prettier --check --write

feat(some-conveyor): add Playwright E2E tests and platform adapter
  extensions/some-conveyor/playwright.config.ts
  extensions/some-conveyor/src/lib/platform/api.ts
  extensions/some-conveyor/src/lib/platform/background/api.chrome.ts
  extensions/some-conveyor/src/lib/platform/background/api.firefox.ts
  extensions/some-conveyor/src/lib/platform/content/api.chrome.ts
  extensions/some-conveyor/src/lib/platform/content/api.firefox.ts
  extensions/some-conveyor/tests/e2e/fixture.ts
  extensions/some-conveyor/tests/e2e/fixtures/basic-page.html
  extensions/some-conveyor/tests/e2e/global-setup.ts
  extensions/some-conveyor/tests/e2e/global-teardown.ts
  extensions/some-conveyor/tests/e2e/specs/conveyor-init.spec.ts
  extensions/some-conveyor/tests/e2e/specs/wasm-bridge.spec.ts
  extensions/some-conveyor/tsconfig.build.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vitest.setup.ts
Due: eslint --fix, prettier --check --write, prettier --write

refactor(some-conveyor): route effect-bus and streak-store through platform adapter
  extensions/some-conveyor/src/lib/content/effect-bus.ts
  extensions/some-conveyor/src/lib/content/streak-store.ts
Due: eslint --fix, prettier --check --write

fix(some-conveyor): resolve all workspace lint errors
  extensions/some-conveyor/eslint.config.js
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/cube-instance.ts
  extensions/some-conveyor/src/lib/content/disposable-registry.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/wasm-bridge.ts
Due: eslint --fix, prettier --check --write

fix: lints
  extensions/some-filter/.prettierignore
  extensions/some-filter/package.json
  extensions/some-filter/tests/e2e/fixtures/dark-page.html
  extensions/some-filter/tests/e2e/fixtures/light-page.html
  extensions/some-filter/tests/e2e/fixtures/transparent-page.html
  extensions/some-filter/tsconfig.build.json
  extensions/some-filter/tsconfig.json
  packages/eslint/src/configs/typescript.config.ts
  packages/rollup-config/package.json
  tsconfig.json
Due: eslint --fix, prettier --check --write, prettier --write

feat(some-conveyor): fix MV3 manifests and add cube/strip Storybook stories
  extensions/some-conveyor/public/firefox-v3-manifest.json
  extensions/some-conveyor/public/manifest.json
  extensions/some-conveyor/src/components/conveyor-strip/index.stories.tsx
  extensions/some-conveyor/src/components/cube-renderer/index.stories.tsx
  extensions/some-conveyor/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

feat(some-conveyor): make cube rotation read as a true 3-D box
  extensions/some-conveyor/README.md
  extensions/some-conveyor/src/components/conveyor-strip/index.stories.tsx
  extensions/some-conveyor/src/components/cube-renderer/index.stories.tsx
  extensions/some-conveyor/src/lib/content/cube-geometry.test.ts
  extensions/some-conveyor/src/lib/content/cube-geometry.ts
  extensions/some-conveyor/src/lib/content/cube-renderer.ts
  extensions/some-conveyor/src/styles/conveyor.css
  extensions/some-conveyor/vitest.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(some-styles): onboard UnoCSS as shared design-system foundation (M1)
  package.json
  packages/some-styles/.prettierignore
  packages/some-styles/README.md
  packages/some-styles/examples/showcase.html
  packages/some-styles/package.json
  packages/some-styles/src/config.ts
  packages/some-styles/src/index.ts
  packages/some-styles/src/preset/index.ts
  packages/some-styles/src/preset/shortcuts.ts
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/src/preset/themes.ts
  packages/some-styles/tailwind.css
  packages/some-styles/tokens/base.css
  packages/some-styles/tsconfig.json
  packages/some-styles/uno.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(storybook): UnoCSS integration + @some-ui/styles visual catalog (M2)
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/styles.stories.tsx
  .storybook/theme-decorator.tsx
  .storybook/uno.config.ts
  .storybook/uno.d.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
