Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

refactor(leetype): collapse code + input into one card, move settings to a bottom nav
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/settings-card/index.tsx
  packages/ui/leetype/src/components/typing-game/stats-bar/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-input-card/index.tsx
Due: eslint --fix, prettier --check --write

chore(some-filter): add test:claude:e2e for sandboxes without Nix
  extensions/some-filter/package.json
  extensions/some-filter/scripts/claude-e2e.sh
Due: prettier --check --write

test(filter): prove #741's classifier and auto-theme defects with failing e2e tests
  extensions/filter-classifier/package.json
  extensions/filter-classifier/scripts/claude-e2e.sh
  extensions/filter-classifier/src/comfort-lab/ComfortFixture.stories.tsx
  extensions/filter-classifier/tests/e2e/fixtures/corpus.ts
  extensions/some-filter/tests/e2e/fixtures/filter-invert-vendor-page.html
  extensions/some-filter/tests/e2e/fixtures/gradient-leak-page.html
  extensions/some-filter/tests/e2e/fixtures/text-contrast-gap-page.html
  extensions/some-filter/tests/e2e/specs/issue-741-auto-defects.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(honeycomb): replace hexgrid fit banner with sonner toast, drop shared Toast
  .storybook/preview.tsx
  .storybook/toast-decorator.tsx
  apps/www/package.json
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/toaster.tsx
  apps/www/src/providers/index.tsx
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  package.json
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/shared/package.json
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/toast.tsx
  packages/ui/shared/src/hooks/index.ts
  packages/ui/shared/src/hooks/use-toast.ts
  packages/ui/shared/src/index.ts
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/youtube/layout-crm/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(leetype): scope Sheet/Drawer/Dialog to the card's own theme, add a stats dialog
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/shared/src/components/ui/dialog.tsx
  packages/ui/shared/src/components/ui/drawer.tsx
  packages/ui/shared/src/components/ui/sheet.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): fix wasm mock constructor and @honeycomb/* path alias
  packages/ui/honeycomb/src/hooks/use-hexgrid-wasm/index.test.ts
  tsconfig.json
Due: eslint --fix, prettier --check --write

fix: resolver issues for every workspace
  tsconfig.json
Due: prettier --check --write

refactor(leetype): collapse code + input into one card, move settings to a bottom nav (#766)
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/settings-card/index.tsx
  packages/ui/leetype/src/components/typing-game/stats-bar/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-input-card/index.tsx
  packages/ui/shared/src/components/ui/dialog.tsx
  packages/ui/shared/src/components/ui/drawer.tsx
  packages/ui/shared/src/components/ui/sheet.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): replace hexgrid fit banner with sonner toast, drop shared Toast (#769)
  .storybook/preview.tsx
  .storybook/toast-decorator.tsx
  apps/www/package.json
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/toaster.tsx
  apps/www/src/providers/index.tsx
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  package.json
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/hooks/use-hexgrid-wasm/index.test.ts
  packages/ui/shared/package.json
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/toast.tsx
  packages/ui/shared/src/hooks/index.ts
  packages/ui/shared/src/hooks/use-toast.ts
  packages/ui/shared/src/index.ts
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/youtube/layout-crm/index.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --check --write

feat(hangul-game-core): generalize engine to Stimulus/Answer challenges (#421, #422, #423)
  crates/hangul-game-core/src/internal.rs
  crates/hangul-game-core/src/internal/content_domain/test_fixture.rs
  crates/hangul-game-core/src/internal/engine.rs
  crates/hangul-game-core/src/internal/events.rs
  crates/hangul-game-core/src/internal/game_modes.rs
  crates/hangul-game-core/src/internal/game_modes/completion.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/game_modes/vocabulary.rs
  crates/hangul-game-core/src/internal/stimulus.rs
  crates/hangul-game-core/src/internal/types.rs
  crates/hangul-game-core/src/lib.rs
Due: none

feat(honeycomb): word content dataset + placeholder hex cells + backspace (#424, #425)
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/data/hangul-words.ts
  packages/ui/honeycomb/src/data/index.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.test.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.test.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
  packages/ui/honeycomb/src/lib/hangul/keyboard-input-manager/index.ts
  packages/ui/honeycomb/src/lib/hangul/speech/index.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/index.methods.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/index.ts
Due: eslint --fix, prettier --check --write

feat(honeycomb): masked-word feedback overlay + Celebrate ceremony (#426)
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/success-feedback/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/word-progress-overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-loop/index.test.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.test.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
Due: eslint --fix, prettier --check --write

feat(honeycomb): prompt/concept station overlay (#762)
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.tsx
  packages/ui/honeycomb/src/data/hangul-words.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.ts
  packages/ui/honeycomb/src/hooks/use-prompt-escalation.test.ts
  packages/ui/honeycomb/src/hooks/use-prompt-escalation.ts
Due: eslint --fix, prettier --check --write

feat(honeycomb,www): wire up vocabulary mode end to end
  .changeset/hangul-word-mode.md
  apps/www/src/lib/activity-catalog/catalog.ts
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.test.ts
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.ts
Due: eslint --fix, prettier --check --write

test(honeycomb): storybook coverage for the Hangul honeycomb component tree
  packages/ui/honeycomb/src/components/hangul-hex-grid/control-buttons/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/decorative-particles/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/error-state/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/game-over-modal/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/instructions-panel/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/key-buffer-display/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/loading-state/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/pause-overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/success-feedback/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/word-progress-overlay/index.stories.tsx
  packages/ui/honeycomb/src/lib/hangul/story-fixtures/index.ts
Due: eslint --fix, prettier --check --write

fix(honeycomb): word queue semantics, drop grid overlay, restore single-jamo play
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/word-progress-overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/word-progress-overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-loop/index.test.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.ts
  packages/ui/honeycomb/src/lib/hangul/story-fixtures/index.ts
Due: eslint --fix, prettier --check --write

docs(hangul-game-core): ratify mutation-isolation constraint (#749)
  crates/hangul-game-core/docs/adr/0001-multimodal-word-testing.md
  crates/hangul-game-core/docs/adr/0002-content-domain-genericity-and-crate-boundary.md
  crates/hangul-game-core/docs/adr/0004-mutation-isolation.md
  crates/hangul-game-core/docs/hangul-progression-canon.typ
Due: eslint --fix, prettier --check --write

refactor(hangul-game-core): de-mutify GameMode::get_next_challenge/on_miss (#750)
  crates/hangul-game-core/src/internal/game_modes.rs
  crates/hangul-game-core/src/internal/game_modes/completion.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/game_modes/vocabulary.rs
Due: none

refactor(hangul-game-core): stop re-threading &mut EventBatch; extract pure calculators (#751, #752)
  crates/hangul-game-core/src/internal/difficulty.rs
  crates/hangul-game-core/src/internal/engine.rs
Due: none

ci(hangul-game-core): add mutation-boundary guardrail, sibling to wasm-bindgen check (#753)
  .github/workflows/_rust-ci.yml
  scripts/check-mutation-boundary.sh
Due: prettier --check --write

fix(honeycomb): mode switches were silently ignored after the first WASM load
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.test.ts
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.test.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
Due: eslint --fix, prettier --check --write

refactor(hangul-game-core,honeycomb): mode as a runtime state transition, not a constructor arg
  crates/hangul-game-core/docs/adr/0004-mutation-isolation.md
  crates/hangul-game-core/docs/hangul-progression-canon.typ
  crates/hangul-game-core/src/internal/engine.rs
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.test.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/index.ts
  scripts/check-mutation-boundary.sh
Due: eslint --fix, prettier --check --write

fix(honeycomb): stop wasting compute when the grid's own WASM fails to load
  packages/ui/honeycomb/src/components/hangul-hex-grid/grid-error-overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/grid-error-overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.test.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
Due: eslint --fix, prettier --check --write

fix(utils): guard useResizeObserver's onResize callback against post-unmount delivery
  packages/utils/package.json
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.test.tsx
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(honeycomb): let players calibrate difficulty alongside mode selection
  apps/www/src/lib/activity-catalog/catalog.ts
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.tsx
  packages/ui/honeycomb/src/lib/hangul/difficulty-presets/index.test.ts
  packages/ui/honeycomb/src/lib/hangul/difficulty-presets/index.ts
Due: eslint --fix, prettier --check --write

feat(www): session list tags and replay-with-reconfigure
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
Due: eslint --fix, prettier --check --write

fix(hangul-game-core): withhold mastery credit while the QWERTY hint is visible
  crates/hangul-game-core/docs/hangul-progression-canon.typ
  crates/hangul-game-core/src/internal/content_domain/test_fixture.rs
  crates/hangul-game-core/src/internal/game_modes/completion.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/game_modes/vocabulary.rs
Due: none

feat(www): bulk delete and bulk status update for sessions
  apps/www/src/lib/tenant/hooks.ts
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/sessions-repository.test.ts
  apps/www/src/lib/tenant/sessions-repository.ts
  apps/www/src/routes/_dashboard/sessions/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): composer allows repeating an activity with distinct config per instance
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/configure-step.tsx
  apps/www/src/components/composer/review-step.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/composer/utils.test.ts
  apps/www/src/components/composer/utils.ts
  apps/www/vitest.config.ts
Due: eslint --fix, prettier --check --write

feat(www): cap combined session duration, reject zero/near-zero activity blocks
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/lib/session-duration-policy/index.test.ts
  apps/www/src/lib/session-duration-policy/index.ts
Due: eslint --fix, prettier --check --write

feat(www): paginate the sessions list instead of unbounded overflow scroll
  apps/www/src/routes/_dashboard/sessions/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): paginate the composer's own list surfaces, not just the sessions list
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/arrangement-step.tsx
  apps/www/src/components/composer/configure-step.tsx
  apps/www/src/components/composer/review-step.tsx
  apps/www/src/components/pagination-controls.tsx
  apps/www/src/hooks/use-pagination.test.ts
  apps/www/src/hooks/use-pagination.ts
  apps/www/src/routes/_dashboard/sessions/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): stop letting Add grow a session past its duration cap
  apps/www/src/components/composer/session-composer.tsx
Due: eslint --fix, prettier --check --write

chore: temporarily fallback to workspace deps
  packages/ui/honeycomb/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(wireframes): key panels bound by more than one active lifetime
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): a new session sharing its predecessor's mode inherited its board/stats
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.test.ts
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.test.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
Due: eslint --fix, prettier --check --write

chore: git registry a key, and declare import
  apps/www/src/components/player/use-edit-mode-hotkey.ts
  apps/www/src/lib/activity-catalog/to-scene-config.ts
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.ts
Due: eslint --fix, prettier --check --write

feat(wireframes): let a caller compose its own enhancer into a viewport
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): replace mount-timing reset heuristic with an explicit sessionKey
  apps/www/src/components/player/session-key-context.tsx
  apps/www/src/components/player/session-viewport.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.test.ts
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.test.ts
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
Due: eslint --fix, prettier --check --write

refactor(session-context): replace React Context transport with a store, add suspend gate
  apps/www/src/components/player/session-key-context.tsx
  apps/www/src/components/player/session-viewport.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
  packages/utils/src/lib/context/zustand-store/index.ts
  packages/utils/src/lib/context/zustand-store/session-context-store.ts
  packages/utils/src/lib/index.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
