Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix(www): shares to one cache directory run one at a time
  apps/www/src/lib/share-files/index.test.ts
  apps/www/src/lib/share-files/index.ts
Due: eslint --fix, prettier --check --write

feat(topik,www): share the next scene's prompt to the learner's drive (#1729)
  apps/www/build.paths.ts
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/agent-export/index.test.ts
  apps/www/src/lib/agent-export/index.ts
  apps/www/src/lib/intent/foreign.ts
  apps/www/src/lib/share-files/index.test.ts
  apps/www/src/lib/share-files/index.ts
  apps/www/tests/ui-fit/panel-page/fixtures.tsx
  docs/canon/adaptive-learning-canon.typ
  docs/makjang/README.md
  packages/ui/topik/src/components/topik/handheld/drama-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/share-prompt/index.tsx
  packages/ui/topik/src/components/topik/study-session/index.tsx
  packages/ui/topik/src/index.ts
  packages/ui/topik/src/lib/topik/adapter/context/session-config-context.ts
  packages/ui/topik/src/lib/topik/adapter/hooks/use-share/index.ts
  packages/ui/topik/src/lib/topik/adapter/next-scene-share/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/next-scene-share/index.ts
  packages/ui/topik/src/lib/topik/core/drama-runtime/index.test.ts
  packages/ui/topik/src/lib/topik/core/drama-runtime/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/tree-prompt.md
Due: eslint --fix, prettier --check --write

feat(topik,lesson-crm): the feed is cards that seed your own drama, or play as is
  docs/makjang/README.md
  packages/ui/lesson-crm/src/components/lesson-details/index.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-lesson-prompt/index.ts
  packages/ui/topik/src/lib/topik/core/feed-card/index.test.ts
  packages/ui/topik/src/lib/topik/core/feed-card/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/tree-prompt.md
Due: eslint --fix, prettier --check --write

fix(topik): a card's genres stay offered, and Genre wins without overriding the rest
  docs/makjang/README.md
  packages/ui/topik/src/components/topik/handheld/drama-review/index.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/components/topik/handheld/toggle-chip/index.tsx
  packages/ui/topik/src/lib/topik/core/feed-card/index.test.ts
  packages/ui/topik/src/lib/topik/core/feed-card/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/tree-prompt.md
Due: eslint --fix, prettier --check --write

feat(topik,lesson-crm): the feed is cards that seed your own drama, or play as is (#1730)
  docs/makjang/README.md
  packages/ui/lesson-crm/src/components/lesson-details/index.tsx
  packages/ui/topik/src/components/topik/handheld/drama-review/index.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/components/topik/handheld/toggle-chip/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-lesson-prompt/index.ts
  packages/ui/topik/src/lib/topik/core/feed-card/index.test.ts
  packages/ui/topik/src/lib/topik/core/feed-card/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/tree-prompt.md
Due: eslint --fix, prettier --check --write

feat(topik): open a scene from storage through the system file picker
  docs/makjang/README.md
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/lib/topik/adapter/scene-file/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): the scene file's read belongs to its card, and only the latest pick lands
  docs/makjang/README.md
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-scene-file/index.ts
  packages/ui/topik/src/lib/topik/adapter/scene-file/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/scene-file/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): a newer pick stays reachable while a scene file opens
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/lib/topik/adapter/scene-file/index.test.ts
Due: eslint --fix, prettier --check --write

feat(topik): open a scene from storage through the system file picker (#1731)
  docs/makjang/README.md
  packages/ui/topik/src/components/topik/handheld/generate-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-scene-file/index.ts
  packages/ui/topik/src/lib/topik/adapter/scene-file/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/scene-file/index.ts
Due: eslint --fix, prettier --check --write

fix(mobile): stream the launch test's logcat instead of dumping it at the end
  apps/mobile/launch/launch-test.sh
Due: none

refactor(mobile): trim the launch test's logcat stream to what it needs
  apps/mobile/launch/launch-test.sh
Due: none

fix(mobile): stream the launch test's logcat instead of dumping it at the end (#1732)
  apps/mobile/launch/launch-test.sh
Due: none

build(nix): refresh flake.lock and follow nixpkgs' move off nodePackages
  flake.lock
  flake.nix
  nix/node/default.nix
  nix/playwright/default.nix
Due: none

build(toolchain): make the flake the source of truth for the node and pnpm pins
  .github/workflows/flake-update.yml
  .github/workflows/pr.yml
  .nvmrc
  README.md
  package.json
  packages/eslint/src/toolchain-pins.ts
  packages/eslint/tests/toolchain-pins.test.ts
  pnpm-lock.yaml
  scripts/sync-toolchain.ts
Due: eslint --fix, prettier --check --write

build(nix): make the flake the source of Node and pnpm versions
  .github/workflows/flake-update.yml
  .github/workflows/pr.yml
  .nvmrc
  CLAUDE.md
  README.md
  apps/www/Dockerfile
  flake.lock
  flake.nix
  nix/desktop/default.nix
  nix/node/default.nix
  nix/playwright/default.nix
  package.json
  pnpm-lock.yaml
  scripts/sync-toolchain.sh
Due: eslint --fix, prettier --check --write

chore(nix): trim toolchain-sync comments and checks
  .github/workflows/flake-update.yml
  .github/workflows/pr.yml
  flake.nix
  nix/node/default.nix
  scripts/sync-toolchain.sh
Due: prettier --check --write

fix(nix): find Chromium under chrome-linux64 for Playwright 1.63
  nix/playwright/default.nix
Due: none

fix(scripts): pass --no-frozen-lockfile when the sync regenerates the lockfile
  scripts/sync-toolchain.sh
Due: none

build(nix): make the flake the source of Node and pnpm versions (#1734)
  .github/workflows/flake-update.yml
  .github/workflows/pr.yml
  .nvmrc
  CLAUDE.md
  README.md
  apps/www/Dockerfile
  flake.lock
  flake.nix
  nix/desktop/default.nix
  nix/node/default.nix
  nix/playwright/default.nix
  package.json
  pnpm-lock.yaml
  scripts/sync-toolchain.sh
Due: eslint --fix, prettier --check --write

refactor(www,mobile): retire mkcert; Caddy on the host serves the LAN's HTTPS
  .env.example
  apps/mobile/README.md
  apps/mobile/package.json
  apps/www/nginx.https.conf
  apps/www/src/lib/serving-privacy/__tests__/nginx-privacy.test.ts
  apps/www/vite.config.ts
  docs/study-nudge.md
  infra/compose/www.yml
  nix/desktop/default.nix
Due: eslint --fix, prettier --check --write

refactor(compose): publish the TTS proxy on 127.0.0.1 only
  infra/compose/tts.yml
Due: prettier --check --write

docs(www,compose): trim the mkcert-retirement comments; fix three wrong claims
  .env.example
  apps/www/nginx.https.conf
  apps/www/nginx.tts-proxy.conf
  apps/www/src/lib/serving-privacy/__tests__/nginx-privacy.test.ts
  apps/www/vite.config.ts
  infra/compose/tts.yml
  infra/compose/www.yml
Due: eslint --fix, prettier --check --write

refactor(www,mobile,compose): retire mkcert; Caddy on the host serves the LAN's HTTPS (#1735)
  .env.example
  apps/mobile/README.md
  apps/mobile/package.json
  apps/www/nginx.https.conf
  apps/www/nginx.tts-proxy.conf
  apps/www/src/lib/serving-privacy/__tests__/nginx-privacy.test.ts
  apps/www/vite.config.ts
  docs/study-nudge.md
  infra/compose/tts.yml
  infra/compose/www.yml
  nix/desktop/default.nix
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

feat(speech,makjang,topik): the drama's cast is voiced in two parts and drawn as figures that talk
  docs/canon/adaptive-learning-canon.typ
  docs/makjang/README.md
  packages/makjang/src/__tests__/fixture.ts
  packages/makjang/src/__tests__/story-audit.test.ts
  packages/makjang/src/index.ts
  packages/makjang/src/media.ts
  packages/makjang/src/schema.ts
  packages/makjang/src/story-audit.ts
  packages/speech/README.md
  packages/speech/src/lib/adapters/http/index.ts
  packages/speech/src/lib/adapters/native/index.test.ts
  packages/speech/src/lib/adapters/native/index.ts
  packages/speech/src/lib/adapters/types.ts
  packages/speech/src/lib/adapters/web-speech/index.ts
  packages/speech/src/lib/index.ts
  packages/speech/src/lib/part/index.ts
  packages/speech/src/lib/queue/__tests__/manager.test.ts
  packages/speech/src/lib/queue/manager.ts
  packages/speech/src/lib/speaker/index.ts
  packages/speech/src/lib/types/tts-types.ts
  packages/speech/src/lib/voices/index.test.ts
  packages/speech/src/lib/voices/index.ts
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.css
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.tsx
  packages/ui/topik/src/components/topik/handheld/webtoon-panel/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/webtoon-panel/index.tsx
  packages/ui/topik/src/lib/topik/adapter/voice-port/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/voice-port/index.ts
  packages/ui/topik/src/lib/topik/core/cast/index.test.ts
  packages/ui/topik/src/lib/topik/core/cast/index.ts
  packages/ui/topik/src/lib/topik/core/drama-runtime/index.test.ts
  packages/ui/topik/src/lib/topik/core/drama-runtime/index.ts
  packages/ui/topik/src/lib/topik/core/tree-audit/index.test.ts
  packages/ui/topik/src/lib/topik/core/tree-audit/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/tree-prompt.md
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(topik): sit the peach figure's cheeks inside its outline
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.tsx
Due: eslint --fix, prettier --check --write

refactor(speech,makjang,topik): trim the cast change's repeated docs and redundant tests
  packages/makjang/src/schema.ts
  packages/speech/README.md
  packages/speech/src/lib/adapters/native/index.test.ts
  packages/speech/src/lib/part/index.ts
  packages/speech/src/lib/voices/index.test.ts
  packages/speech/src/lib/voices/index.ts
  packages/ui/topik/src/lib/topik/adapter/voice-port/index.ts
  packages/ui/topik/src/lib/topik/core/cast/index.test.ts
  packages/ui/topik/src/lib/topik/core/cast/index.ts
  packages/ui/topik/src/lib/topik/core/tree-audit/index.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): the cast figure imports its own stylesheet
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.tsx
Due: eslint --fix, prettier --check --write

fix(speech,topik,www): address the independent review of the cast change
  apps/www/src/components/settings/__tests__/hosted-voice-fields.test.tsx
  apps/www/src/components/settings/hosted-voice-fields.tsx
  docs/canon/adaptive-learning-canon.typ
  docs/makjang/README.md
  packages/speech/src/lib/adapters/__tests__/backends.test.ts
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.tsx
  packages/ui/topik/src/lib/topik/generation/index.ts
Due: eslint --fix, prettier --check --write

docs(topik): the chosen line's figure never talks; tidy MK5's wrap and the dot stroke
  docs/makjang/README.md
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.tsx
Due: eslint --fix, prettier --check --write

feat(resume): aim the backend composition at backend APIs, data pipelines, and agent analytics
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/react/generated/data.ts
Due: eslint --fix, prettier --check --write

feat(speech,makjang,topik): the drama's cast is voiced in two parts and drawn as figures that talk (#1736)
  apps/www/src/components/settings/__tests__/hosted-voice-fields.test.tsx
  apps/www/src/components/settings/hosted-voice-fields.tsx
  docs/canon/adaptive-learning-canon.typ
  docs/makjang/README.md
  packages/makjang/src/__tests__/fixture.ts
  packages/makjang/src/__tests__/story-audit.test.ts
  packages/makjang/src/index.ts
  packages/makjang/src/media.ts
  packages/makjang/src/schema.ts
  packages/makjang/src/story-audit.ts
  packages/speech/README.md
  packages/speech/src/lib/adapters/__tests__/backends.test.ts
  packages/speech/src/lib/adapters/http/index.ts
  packages/speech/src/lib/adapters/native/index.test.ts
  packages/speech/src/lib/adapters/native/index.ts
  packages/speech/src/lib/adapters/types.ts
  packages/speech/src/lib/adapters/web-speech/index.ts
  packages/speech/src/lib/index.ts
  packages/speech/src/lib/part/index.ts
  packages/speech/src/lib/queue/__tests__/manager.test.ts
  packages/speech/src/lib/queue/manager.ts
  packages/speech/src/lib/speaker/index.ts
  packages/speech/src/lib/types/tts-types.ts
  packages/speech/src/lib/voices/index.test.ts
  packages/speech/src/lib/voices/index.ts
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.css
  packages/ui/topik/src/components/topik/handheld/cast-figure/index.tsx
  packages/ui/topik/src/components/topik/handheld/webtoon-panel/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/webtoon-panel/index.tsx
  packages/ui/topik/src/lib/topik/adapter/voice-port/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/voice-port/index.ts
  packages/ui/topik/src/lib/topik/core/cast/index.test.ts
  packages/ui/topik/src/lib/topik/core/cast/index.ts
  packages/ui/topik/src/lib/topik/core/drama-runtime/index.test.ts
  packages/ui/topik/src/lib/topik/core/drama-runtime/index.ts
  packages/ui/topik/src/lib/topik/core/tree-audit/index.test.ts
  packages/ui/topik/src/lib/topik/core/tree-audit/index.ts
  packages/ui/topik/src/lib/topik/generation/index.test.ts
  packages/ui/topik/src/lib/topik/generation/index.ts
  packages/ui/topik/src/lib/topik/generation/tree-prompt.md
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(www,mobile): /jobs on the phone opens one job brief from Drive and confirms it back
  apps/mobile/README.md
  apps/www/build.paths.ts
  apps/www/package.json
  apps/www/src/components/jobs/index.test.tsx
  apps/www/src/components/jobs/index.tsx
  apps/www/src/components/mobile-shell/index.tsx
  apps/www/src/lib/app-surface/index.ts
  apps/www/src/lib/job-brief/__tests__/amplitude.brief.json
  apps/www/src/lib/job-brief/__tests__/brief.test.ts
  apps/www/src/lib/job-brief/__tests__/index.test.ts
  apps/www/src/lib/job-brief/__tests__/runtime.test.ts
  apps/www/src/lib/job-brief/brief.ts
  apps/www/src/lib/job-brief/clipboard.ts
  apps/www/src/lib/job-brief/index.ts
  apps/www/src/lib/job-brief/runtime.ts
  apps/www/src/lib/job-tracker/index.test.ts
  apps/www/src/lib/job-tracker/index.ts
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/_apk/jobs.tsx
  apps/www/src/routes/_dashboard/jobs.tsx
  apps/www/tests/local-mode/no-egress.spec.ts
  packages/job-tracker/eslint.config.js
  packages/job-tracker/package.json
  packages/job-tracker/src/index.ts
  packages/job-tracker/src/lib/queue.test.ts
  packages/job-tracker/src/lib/queue.ts
  packages/job-tracker/src/lib/types.ts
  packages/job-tracker/tsconfig.build.json
  packages/job-tracker/tsconfig.json
  packages/job-tracker/vite.config.ts
  packages/job-tracker/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(vite-config,www,honeycomb): the desktop web is its own surface; Honeycomb ships only there
  CLAUDE.md
  REVIEW.md
  apps/www/build.paths.ts
  apps/www/build.profiles.ts
  apps/www/src/components/activity/activity-launcher.tsx
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/extensions/extensions-page.tsx
  apps/www/src/components/player/scene-props/index.test.ts
  apps/www/src/components/player/scene-props/index.ts
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/playable/index.test.ts
  apps/www/src/lib/playable/index.ts
  apps/www/src/lib/serving-privacy/__tests__/egress-choke-points.test.ts
  apps/www/src/lib/topik-content/index.ts
  apps/www/src/lib/web-surface/hangul/panel.tsx
  apps/www/src/lib/web-surface/hangul/schema.test.ts
  apps/www/src/lib/web-surface/hangul/schema.ts
  apps/www/src/lib/web-surface/hangul/vocab.ts
  apps/www/src/lib/web-surface/index.test.tsx
  apps/www/src/lib/web-surface/index.ts
  apps/www/src/routes/__tests__/audience-gates.test.ts
  apps/www/src/routes/_dashboard/sessions/new.tsx
  apps/www/tests/ui-fit/panel-fit.spec.ts
  apps/www/tests/ui-fit/panel-page/fixtures.tsx
  packages/some-content-registry/package.json
  packages/some-content-registry/src/registry/index.ts
  packages/some-vite-config/AUDIENCES.md
  packages/some-vite-config/src/audience/__tests__/plugin.test.ts
  packages/some-vite-config/src/audience/schema.ts
  packages/ui/honeycomb/package.json
  pnpm-lock.yaml
  scripts/react-coordination.allowlist
Due: eslint --fix, prettier --check --write

refactor(www,vite-config): trim what the line-justification pass flagged
  apps/www/build.paths.ts
  apps/www/build.profiles.ts
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/extensions/extensions-page.tsx
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/playable/index.test.ts
  apps/www/src/lib/web-surface/index.test.tsx
  apps/www/src/lib/web-surface/index.ts
  apps/www/src/routes/__tests__/audience-gates.test.ts
  packages/some-vite-config/src/audience/schema.ts
Due: eslint --fix, prettier --check --write

feat(styles): mochi replaces peachy blossom as the default theme; rosé night, harvest sky retuned
  apps/www/index.html
  apps/www/resume/index.html
  apps/www/src/providers/__tests__/theme.contract.test.ts
  docs/theme-engagement.md
  packages/eslint/src/rules/theme-protocol.ts
  packages/some-styles/README.md
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/src/theme/__tests__/boundary.test.ts
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/controller.ts
  packages/some-styles/src/theme/registry.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/comb.css
  packages/some-styles/themes/feeling.css
  packages/some-styles/themes/harvest-sky.css
  packages/some-styles/themes/mochi.css
  packages/some-styles/themes/peachy-blossom.css
  packages/some-styles/themes/rose-night.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(brand): the mark is one honey mochi with a face, not a seven-cell comb
  apps/mobile/README.md
  apps/mobile/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  apps/mobile/android/app/src/main/res/drawable/ic_launcher_monochrome.xml
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/mobile/android/app/src/main/res/values/ic_launcher_background.xml
  apps/www/public/favicon.ico
  apps/www/public/favicon.svg
  apps/www/public/logo192.png
  apps/www/public/logo512.png
  apps/www/public/manifest.json
  apps/www/src/components/brand/hex-comb-mark.tsx
  apps/www/src/components/extensions/extensions-page.tsx
  apps/www/src/lib/brand/favicon.test.ts
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/index.tsx
  docs/launcher/02-hex-grid-spike.md
  extensions/common/brand/icon-128.png
  extensions/common/brand/icon-16.png
  extensions/common/brand/icon-48.png
  extensions/common/vite/extension-config.ts
  packages/some-styles/brand/favicon.svg
  packages/ui/auth/README.md
  packages/ui/auth/src/auth.css
  packages/ui/auth/src/components/auth-brand/index.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
  packages/ui/shared/src/components/brand/index.tsx
  packages/ui/shared/src/components/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(www,aph,soundbites): the phone's screens go soft and filled, with no holes
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/scene-editor/timeline.tsx
  apps/www/src/components/mobile-shell/index.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
  packages/ui/aph/src/components/aph-history/index.tsx
  packages/ui/aph/src/components/aph-log/index.tsx
  packages/ui/aph/src/components/aph-today/index.tsx
  packages/ui/shared/src/components/icons/index.ts
  packages/ui/shared/src/components/icons/tool-glyphs.tsx
  packages/ui/soundbites/src/components/soundbites/index.test.tsx
  packages/ui/soundbites/src/components/soundbites/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): an edited Advanced arrangement keeps only the scenes this build plays
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/lib/playable/index.test.ts
  apps/www/src/lib/playable/index.ts
Due: eslint --fix, prettier --check --write

fix(mobile): no "--" inside the launcher background's XML comment
  apps/mobile/android/app/src/main/res/values/ic_launcher_background.xml
Due: none
