Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: lints (#620)
  packages/ui/umag/package.json
  packages/ui/umag/src/components/megaphone-spectrum/index.tsx
  packages/ui/umag/src/components/mujik-discovery/celebration-mode/index.tsx
  packages/ui/umag/src/components/mujik-discovery/index.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/components/voice-selector/index.tsx
  packages/ui/umag/src/components/voice-ui/voice-card/index.tsx
  packages/ui/umag/src/components/wave-bar-chart/index.tsx
  packages/ui/umag/src/hooks/use-audio-context.ts
  packages/ui/umag/src/hooks/use-waveform-viz.ts
  packages/ui/umag/src/hooks/voice-ui/use-canvas-animation.ts
  packages/ui/umag/src/hooks/voice-ui/use-waveform.ts
  packages/ui/umag/src/types/react-css-vars.d.ts
  packages/ui/umag/src/utils/error.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(turbo): drop dead build:wasm task, fix .content outputs typo (#604)
  docs/turbo-registry/01-task-graph-audit.md
  docs/turbo-registry/02-registry-decision.md
  docs/turbo-registry/03-provisioning-runbook.md
  package.json
  turbo.json
Due: eslint --fix, prettier --check --write

chore: deprecate attributions
  apps/www/package.json
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/ui/attributions/CHANGELOG.md
  packages/ui/attributions/eslint.config.js
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/attributions/src/components/attribution-card/index.tsx
  packages/ui/attributions/src/components/index.ts
  packages/ui/attributions/src/components/scrolling-credits/index.css
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/attributions/src/components/scrolling-credits/index.tsx
  packages/ui/attributions/src/data/attribution-data.ts
  packages/ui/attributions/src/data/fetched-attribution-data.ts
  packages/ui/attributions/src/data/index.ts
  packages/ui/attributions/src/global.d.ts
  packages/ui/attributions/src/index.ts
  packages/ui/attributions/src/types/attribution.ts
  packages/ui/attributions/src/types/index.ts
  packages/ui/attributions/tsconfig.build.json
  packages/ui/attributions/tsconfig.json
  packages/ui/attributions/vite.config.ts
  packages/ui/overlays/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(www): adapt vite.config.ts to Rolldown's OutputOptions after vite 8 bump
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: two more CI regressions surfaced by the vite 8 / vitest 4 bump
  extensions/some-censor/vitest.setup.ts
  packages/utils/src/lib/hooks/use-measure-rect/index.ts
Due: eslint --fix, prettier --check --write

fix(shared): fix comma-operator typo dropping Deck's containerClassname
  packages/ui/shared/src/components/ui/deck-shuffle/index.tsx
Due: eslint --fix, prettier --check --write

fix(input): bridge vitest 4's stricter class-constructor Mock typing
  packages/ui/input/src/hooks/use-crossword-wasm/index.test.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm/index.test.ts
Due: eslint --fix, prettier --check --write

fix(slideshow): drop dead useSceneLibraryVite (broken require() paths)
  packages/ui/slideshow/src/hooks/use-scene-library.ts
Due: eslint --fix, prettier --check --write

chore(deps): bump the vite group across 1 directory with 8 updates (#622)
  apps/www/package.json
  apps/www/vite.config.ts
  extensions/some-censor/vitest.setup.ts
  extensions/some-drama/package.json
  package.json
  packages/eslint/package.json
  packages/some-vite-config/package.json
  packages/ui/input/src/hooks/use-crossword-wasm/index.test.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm/index.test.ts
  packages/ui/shared/src/components/ui/deck-shuffle/index.tsx
  packages/ui/slideshow/src/hooks/use-scene-library.ts
  packages/utils/src/lib/hooks/use-measure-rect/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: deprecate attributions (#621)
  apps/www/package.json
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/ui/attributions/CHANGELOG.md
  packages/ui/attributions/eslint.config.js
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/attributions/src/components/attribution-card/index.tsx
  packages/ui/attributions/src/components/index.ts
  packages/ui/attributions/src/components/scrolling-credits/index.css
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/attributions/src/components/scrolling-credits/index.tsx
  packages/ui/attributions/src/data/attribution-data.ts
  packages/ui/attributions/src/data/fetched-attribution-data.ts
  packages/ui/attributions/src/data/index.ts
  packages/ui/attributions/src/global.d.ts
  packages/ui/attributions/src/index.ts
  packages/ui/attributions/src/types/attribution.ts
  packages/ui/attributions/src/types/index.ts
  packages/ui/attributions/tsconfig.build.json
  packages/ui/attributions/tsconfig.json
  packages/ui/attributions/vite.config.ts
  packages/ui/overlays/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(transport): land S2 bootstrap document-lifetime static install
  extensions/transport/README.md
  extensions/transport/eslint.config.js
  extensions/transport/src/bootstrap/static.test.ts
  extensions/transport/src/bootstrap/static.ts
Due: eslint --fix, prettier --check --write

chore(crates): revert local wasm-opt workaround from Cargo.toml
  crates/hangul-game-core/Cargo.toml
  crates/leetype_wasm/Cargo.toml
  crates/polyhedron/Cargo.toml
  crates/some-crossword/Cargo.toml
  crates/some-hexagon/Cargo.toml
  crates/viewport-rotation/Cargo.toml
Due: none

feat(transport): land S2 bootstrap document-lifetime static install (#624)
  extensions/transport/README.md
  extensions/transport/eslint.config.js
  extensions/transport/src/bootstrap/static.test.ts
  extensions/transport/src/bootstrap/static.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/calendar/src/components/life-scheduler/node-popup/index.tsx
  packages/ui/calendar/src/components/livestream-schedule/index.stories.tsx
  packages/ui/calendar/src/hooks/use-cyclic-clock.ts
Due: eslint --fix, prettier --check --write

chore: deps
  packages/some-content/package.json
Due: prettier --check --write

chore: new lint
  packages/eslint/src/index.ts
  packages/ui/input/eslint.config.js
  packages/ui/umag/src/components/mujik-discovery/celebration-mode/index.tsx
  packages/ui/umag/src/components/mujik-discovery/index.tsx
  packages/ui/umag/src/components/voice-selector/index.tsx
  packages/ui/umag/src/types/spectrum.ts
  packages/ui/umag/src/utils/error.ts
Due: eslint --fix, prettier --check --write

fix: lints
  packages/ui/neon-sign/src/components/headline/index.stories.tsx
  packages/ui/neon-sign/src/components/headline/index.tsx
  packages/ui/neon-sign/src/components/neon-card/index.stories.tsx
  packages/ui/neon-sign/src/components/neon-text/index.stories.tsx
  packages/ui/neon-sign/src/components/scramble-card/index.stories.tsx
  packages/ui/neon-sign/src/components/sign-post/index.stories.tsx
  packages/ui/neon-sign/src/components/styled-characters/index.stories.tsx
  packages/ui/neon-sign/src/components/styled-characters/index.tsx
  packages/ui/neon-sign/src/hooks/use-characters.ts
  packages/ui/neon-sign/src/hooks/use-rubber-band-text.ts
  packages/ui/neon-sign/src/lib/character-reducer.ts
Due: eslint --fix, prettier --check --write

Fix/some content (#626)
  packages/eslint/src/index.ts
  packages/some-content/package.json
  packages/ui/calendar/src/components/life-scheduler/node-popup/index.tsx
  packages/ui/calendar/src/components/livestream-schedule/index.stories.tsx
  packages/ui/calendar/src/hooks/use-cyclic-clock.ts
  packages/ui/input/eslint.config.js
  packages/ui/neon-sign/src/components/headline/index.stories.tsx
  packages/ui/neon-sign/src/components/headline/index.tsx
  packages/ui/neon-sign/src/components/neon-card/index.stories.tsx
  packages/ui/neon-sign/src/components/neon-text/index.stories.tsx
  packages/ui/neon-sign/src/components/scramble-card/index.stories.tsx
  packages/ui/neon-sign/src/components/sign-post/index.stories.tsx
  packages/ui/neon-sign/src/components/styled-characters/index.stories.tsx
  packages/ui/neon-sign/src/components/styled-characters/index.tsx
  packages/ui/neon-sign/src/hooks/use-characters.ts
  packages/ui/neon-sign/src/hooks/use-rubber-band-text.ts
  packages/ui/neon-sign/src/lib/character-reducer.ts
  packages/ui/umag/src/components/mujik-discovery/celebration-mode/index.tsx
  packages/ui/umag/src/components/mujik-discovery/index.tsx
  packages/ui/umag/src/components/voice-selector/index.tsx
  packages/ui/umag/src/types/spectrum.ts
  packages/ui/umag/src/utils/error.ts
Due: eslint --fix, prettier --check --write

chore(docker): isolate compose concerns via infra/compose/*.yml includes
  .env.example
  docker-compose.yml
  infra/compose/base.yml
  infra/compose/tts.yml
  infra/compose/www.yml
Due: prettier --check --write

chore: lockfile update
  pnpm-lock.yaml
Due: none

Refactor docker-compose into modular includes with REPO_ROOT (#627)
  .env.example
  docker-compose.yml
  infra/compose/base.yml
  infra/compose/tts.yml
  infra/compose/www.yml
  pnpm-lock.yaml
Due: prettier --check --write

fix: port conflict
  infra/compose/www.yml
Due: prettier --check --write

fix: fix port conflict on all files that reference it
  .env.example
  infra/compose/www.yml
Due: prettier --check --write

fix: lint
  packages/ui/stepper/src/components/gemini-stepper/gemini-stepper-card/index.stories.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.stories.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/components/segments/segement.stories.tsx
  packages/ui/stepper/src/components/segments/segments.stories.tsx
  packages/ui/stepper/src/components/stepper-dialog/index.stories.tsx
Due: eslint --fix, prettier --check --write

fix(www): register @tailwindcss/vite plugin to fix missing styles in Docker build
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix(stepper): resolve extraneous-deps and type-assertion lint in segments/index.tsx
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/segments/index.tsx
Due: eslint --fix, prettier --check --write

refactor(stepper): use react-css-vars.d.ts augmentation for CSS custom properties
  packages/ui/stepper/src/components/segments/index.tsx
  packages/ui/stepper/src/types/react-css-vars.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(stepper): resolve react-compiler hooks lint errors
  packages/ui/stepper/src/components/debugging-tracker/angled-energy-bar/index.tsx
  packages/ui/stepper/src/components/gemini-stepper/gemini-stepper-card/index.tsx
  packages/ui/stepper/src/components/gemini-stepper/stepper-accordion/index.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/hooks/use-accordion-stepper.ts
Due: eslint --fix, prettier --check --write

refactor: rename some-ui-stepper package to @some-ui/stepper
  apps/www/package.json
  apps/www/src/index.css
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/some-content/src/data/gemini-stepper.ts
  packages/ui/overlays/package.json
  packages/ui/stepper/CHANGELOG.md
  packages/ui/stepper/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Add Tailwind CSS Vite plugin to build configuration (#628)
  apps/www/package.json
  apps/www/src/index.css
  apps/www/vite.config.ts
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/some-content/src/data/gemini-stepper.ts
  packages/ui/overlays/package.json
  packages/ui/stepper/CHANGELOG.md
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/debugging-tracker/angled-energy-bar/index.tsx
  packages/ui/stepper/src/components/gemini-stepper/gemini-stepper-card/index.tsx
  packages/ui/stepper/src/components/gemini-stepper/stepper-accordion/index.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/components/segments/index.tsx
  packages/ui/stepper/src/hooks/use-accordion-stepper.ts
  packages/ui/stepper/src/types/react-css-vars.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Ci/docker www (#629)
  .env.example
  apps/www/package.json
  apps/www/src/index.css
  apps/www/vite.config.ts
  infra/compose/www.yml
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/some-content/src/data/gemini-stepper.ts
  packages/ui/overlays/package.json
  packages/ui/stepper/CHANGELOG.md
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/debugging-tracker/angled-energy-bar/index.tsx
  packages/ui/stepper/src/components/gemini-stepper/gemini-stepper-card/index.stories.tsx
  packages/ui/stepper/src/components/gemini-stepper/gemini-stepper-card/index.tsx
  packages/ui/stepper/src/components/gemini-stepper/stepper-accordion/index.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.stories.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/components/segments/index.tsx
  packages/ui/stepper/src/components/segments/segement.stories.tsx
  packages/ui/stepper/src/components/segments/segments.stories.tsx
  packages/ui/stepper/src/components/stepper-dialog/index.stories.tsx
  packages/ui/stepper/src/hooks/use-accordion-stepper.ts
  packages/ui/stepper/src/types/react-css-vars.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-drama): close .dc-bubble-quote rule to un-nest unrelated selectors
  extensions/some-drama/src/styles/components/slideshow.css
Due: stylelint --allow-empty-input, prettier --write

ci: add scoped stylelint step to PR CI and lint:style sidecar
  .github/workflows/pr.yml
  package.json
  packages/UTILS_CENSUS.md
  packages/eslint/tsconfig.workspace-resolve.json
  packages/ui/vidya/eslint.config.js
  packages/ui/vidya/package.json
  packages/ui/vidya/src/components/video-player/index.stories.tsx
  packages/ui/vidya/src/components/video-player/index.tsx
  packages/ui/vidya/src/index.ts
  packages/ui/vidya/tsconfig.build.json
  packages/ui/vidya/tsconfig.json
  packages/ui/vidya/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Fix storybook CSS nesting bug; add scoped stylelint CI; remove vidya (#630)
  .github/workflows/pr.yml
  extensions/some-drama/src/styles/components/slideshow.css
  package.json
  packages/UTILS_CENSUS.md
  packages/eslint/tsconfig.workspace-resolve.json
  packages/ui/vidya/eslint.config.js
  packages/ui/vidya/package.json
  packages/ui/vidya/src/components/video-player/index.stories.tsx
  packages/ui/vidya/src/components/video-player/index.tsx
  packages/ui/vidya/src/index.ts
  packages/ui/vidya/tsconfig.build.json
  packages/ui/vidya/tsconfig.json
  packages/ui/vidya/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: lint
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/components/brick-wall/crown/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/medal/index.stories.tsx
  packages/ui/nfl/src/components/heartbeat/ekg/index.stories.tsx
  packages/ui/nfl/src/components/heartbeat/metallic-border/index.stories.tsx
  packages/ui/nfl/src/components/heartbeat/screw/index.stories.tsx
  packages/ui/nfl/src/components/hopium/bento-grid/index.stories.tsx
  packages/ui/nfl/src/components/hopium/header/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.tsx
  packages/ui/nfl/src/components/nfl-field-draggable/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field/index.tsx
  packages/ui/nfl/src/components/player-card-dialog/index.stories.tsx
  packages/ui/nfl/src/components/player-card-dialog/index.tsx
  packages/ui/nfl/src/components/player-card-shuffle/index.stories.tsx
  packages/ui/nfl/src/components/player-card/index.stories.tsx
  packages/ui/nfl/src/lib/hopium/adapters/mock-adapter.ts
  packages/ui/nfl/src/utils/hopium/filtering-sorting.ts
  packages/ui/nfl/src/utils/path.ts
Due: eslint --fix, prettier --check --write

fix: filter lint
  extensions/common/src/index.ts
  extensions/common/src/utils/error.ts
  extensions/common/src/utils/index.ts
  extensions/some-filter/src/content/content.ts
Due: eslint --fix, prettier --check --write

fix: lint for suspender
  extensions/suspender-ledger/src/worker/core/suspend-fsm.ts
Due: eslint --fix, prettier --check --write
