Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: lots of the things going on
  crates/some-slint-ui/src/main.rs
  crates/some-slint-ui/ui/.topic_breakdown_tab.slint.swp
  crates/some-slint-ui/ui/related_streams_tab.slint
  crates/some-slint-ui/ui/tab_bar.slint
  crates/some-sound/src/engine.rs
  crates/some-sound/src/lib.rs
Due: none

feat: some nfl stuff I guess
  packages/ui/nfl/src/components/index.ts
  packages/ui/nfl/src/components/player-card-dialog/index.tsx
  packages/ui/nfl/src/components/player-card/index.tsx
Due: eslint --fix, prettier --check --write

feat: setting up websocket stuff
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/overlays/src/components/youtube/yt-grid-thumbnail/index.tsx
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
  packages/ui/overlays/src/data/gemini-stepper.ts
  packages/ui/overlays/src/hooks/use-obs-socket.ts
  packages/ui/overlays/src/types/obs-websocket.ts
Due: eslint --fix, prettier --check --write

chore: some config updates
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check --write

feat: websocket utils
  packages/utils/src/lib/hooks/use-websocket.ts
Due: eslint --fix, prettier --check --write

chore: lots of the things
  .storybook/main-next.ts
  next.config.mjs
  packages/types/package.json
  packages/types/src/components/index.ts
  packages/ui/slideshow/src/components/index.ts
  packages/ui/slideshow/src/components/lens-shutter/index.tsx
  packages/ui/slideshow/src/components/sugar-cubes-stack/index.tsx
Due: eslint --fix, prettier --check --write

refactor: make camelcase
  packages/types/src/components/obs-websocket/index.ts
Due: eslint --fix, prettier --check --write

feat: init version of some kinda working websocket
  packages/types/package.json
  packages/types/src/components/index.ts
  packages/types/src/components/obs-websocket/index.ts
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/hooks/use-obs-socket.ts
  packages/ui/overlays/src/types/obs-websocket.ts
  packages/ui/overlays/src/utils/obs-websocket.ts
Due: eslint --fix, prettier --check --write

feat: subscribe to events showcase
  packages/ui/overlays/src/hooks/use-obs-socket.ts
Due: eslint --fix, prettier --check --write

refactor: modularize the components
  packages/ui/umag/src/components/now-playing/background-glow/index.stories.tsx
  packages/ui/umag/src/components/now-playing/background-glow/index.tsx
  packages/ui/umag/src/components/now-playing/index.stories.tsx
  packages/ui/umag/src/components/now-playing/index.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.stories.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/now-playing/song-info/index.stories.tsx
  packages/ui/umag/src/components/now-playing/song-info/index.tsx
  packages/ui/umag/src/components/now-playing/streaming-notes/index.stories.tsx
  packages/ui/umag/src/components/now-playing/streaming-notes/index.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.stories.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.tsx
Due: eslint --fix, prettier --check --write

feat: setup initial socket connection
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/now-playing/song-info/index.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/use-now-playing-socket.ts
  packages/ui/umag/src/hooks/use-now-playing.ts
  packages/ui/umag/src/types/index.ts
  packages/ui/umag/src/types/now-playing.ts
Due: eslint --fix, prettier --check --write

fix: some style and type issues and stuff
  packages/ui/umag/src/components/now-playing/index.css
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.tsx
  packages/ui/umag/src/types/now-playing.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: working version of first init websocket subscribers
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/umag/src/components/now-playing/index.ts
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/hooks/use-now-playing-socket.ts
  packages/ui/umag/src/types/index.ts
Due: eslint --fix, prettier --check --write

chore: add new shadcn ui
  packages/ui/shared/package.json
  packages/ui/shared/src/components/ui/command.tsx
  packages/ui/shared/src/components/ui/dialog.tsx
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/label.tsx
  packages/ui/shared/src/components/ui/popover.tsx
  packages/ui/shared/src/components/ui/scroll-area.tsx
  packages/ui/shared/src/components/ui/switch.tsx
  packages/ui/shared/src/components/ui/textarea.tsx
Due: eslint --fix, prettier --check --write

feat: new input ui
  packages/ui/input/package.json
  packages/ui/input/src/components/payload-editor/context-builder/index.tsx
  packages/ui/input/src/components/payload-editor/editor/index.tsx
  packages/ui/input/src/components/payload-editor/error-display/index.tsx
  packages/ui/input/src/components/payload-editor/event-builder-form/index.tsx
  packages/ui/input/src/components/payload-editor/event-preview/index.tsx
  packages/ui/input/src/components/payload-editor/event-type-selector/index.tsx
  packages/ui/input/src/components/payload-editor/payload-editor-card/index.stories.tsx
  packages/ui/input/src/components/payload-editor/payload-editor-card/index.tsx
  packages/ui/input/src/components/payload-editor/send-button/index.tsx
  packages/ui/input/src/components/payload-editor/timestamp-control/index.tsx
  packages/ui/input/src/components/payload-editor/uid-selector/index.tsx
  packages/ui/input/src/components/timeline-editor/index.stories.tsx
  packages/ui/input/src/components/timeline-editor/index.tsx
  packages/ui/input/src/index.ts
  packages/ui/input/src/types/index.ts
  packages/ui/input/src/types/timeline-events.ts
  packages/ui/input/src/utils/event-helpers.ts
  packages/ui/input/src/utils/index.ts
Due: eslint --fix, prettier --check --write

fix: ts issues
  packages/ui/input/package.json
  packages/ui/input/src/components/clues-carousel/index.tsx
  packages/ui/input/src/components/index.ts
  packages/ui/input/src/components/payload-editor/uid-selector/index.tsx
  packages/ui/input/src/components/timeline-editor/index.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
Due: eslint --fix, prettier --check --write

feat: did a thing
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/components/stepper-dialog/index.stories.tsx
  packages/ui/stepper/src/components/stepper-dialog/index.tsx
Due: eslint --fix, prettier --check --write

feat: some iced gui demo
  crates/some-gui/Cargo.toml
  crates/some-gui/examples/.tabs.rs.swp
  crates/some-gui/examples/tabs.rs
  crates/some-gui/src/lib.rs
  crates/some-gui/src/ui/mod.rs
  crates/some-gui/src/ui/tabs.rs
  flake.nix
Due: none

style: get stepper dialog to take up full viewport
  packages/ui/shared/src/components/ui/dialog.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/components/stepper-dialog/index.tsx
Due: eslint --fix, prettier --check --write

feat: add speech
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
Due: eslint --fix, prettier --check --write

feat: tts hook
  packages/utils/src/lib/hooks/use-text-to-speech.ts
Due: eslint --fix, prettier --check --write

chore: updates
  package.json
Due: prettier --check --write

chore: updates
  packages/browser-extensions/no-comments/manifest.json
  packages/browser-extensions/no-comments/package.json
  packages/browser-extensions/no-comments/tsconfig.build.json
  packages/browser-extensions/no-comments/tsconfig.json
  packages/browser-extensions/some-tab-meta/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
Due: prettier --check --write

feat: some tts
  packages/utils/src/lib/hooks/use-text-to-speech.ts
Due: eslint --fix, prettier --check --write

chore: foo
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
Due: eslint --fix, prettier --check --write

refactor: vibing
  packages/utils/src/lib/hooks/use-text-to-speech.ts
Due: eslint --fix, prettier --check --write

fix: audiodata lifetime
  packages/utils/src/lib/hooks/use-text-to-speech.ts
Due: eslint --fix, prettier --check --write

feat: livestream with working sound
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
Due: eslint --fix, prettier --check --write

feat: add tts to chatbot ui
  packages/ui/chat/package.json
  packages/ui/chat/src/components/chat-message/index.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/chat/src/types/chat.ts
Due: eslint --fix, prettier --check --write

fix: speak on intervals
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
Due: eslint --fix, prettier --check --write

feat: breaking everything
  packages/utils/package.json
  packages/utils/src/lib/context/event-queue.ts
  packages/utils/src/lib/context/index.ts
  packages/utils/src/lib/context/speech-context.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-text-to-speech.ts
  packages/utils/src/lib/hooks/use-websocket.ts
Due: eslint --fix, prettier --check --write

ci: update storbyook
  .storybook/preview.tsx
  .storybook/storybook-decorator.tsx
Due: eslint --fix, prettier --check --write

ci: utterance api
  docker-compose.yml
Due: prettier --check --write

feat: update to consume provider
  packages/ui/chat/src/components/chat-messages/index.tsx
Due: eslint --fix, prettier --check --write

feat: add working utterance api
  packages/ui/stepper/package.json
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/stepper/src/components/segments/index.tsx
Due: eslint --fix, prettier --check --write

feat: first version of scheduled speech utterance
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/utils/src/lib/context/event-queue.ts
  packages/utils/src/lib/hooks/use-text-to-speech.ts
Due: eslint --fix, prettier --check --write

chore: network files
  nginx.conf
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: hide backface
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
Due: eslint --fix, prettier --check --write

feat: working now playing socket
  packages/ui/umag/package.json
  packages/ui/umag/src/hooks/use-now-playing-socket.ts
  packages/ui/umag/src/types/now-playing.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
