Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

test(chat): cover interview support-layer files (question-repository, transcription-adapter, audio-recording-service, session-storage, format-time)
  packages/ui/chat/src/lib/interview/audio-recording-service.test.ts
  packages/ui/chat/src/lib/interview/core/interview-types.test.ts
  packages/ui/chat/src/lib/interview/core/question-repository.test.ts
  packages/ui/chat/src/lib/interview/core/transcription-adapter.test.ts
  packages/ui/chat/src/lib/interview/format-time.test.ts
  packages/ui/chat/src/lib/interview/session-storage.test.ts
Due: eslint --fix, prettier --check --write

test(chat): cover hooks (use-audio-level, use-audio-recorder, use-chat-messages, use-typing-effect)
  packages/ui/chat/src/hooks/use-audio-level.test.ts
  packages/ui/chat/src/hooks/use-audio-level.ts
  packages/ui/chat/src/hooks/use-audio-recorder.test.ts
  packages/ui/chat/src/hooks/use-audio-recorder.ts
  packages/ui/chat/src/hooks/use-chat-messages.test.ts
  packages/ui/chat/src/hooks/use-typing-effect.test.ts
Due: eslint --fix, prettier --check --write

test(chat): add stories + interaction tests for quiz-states/* (no coverage at all)
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.stories.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.test.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-feedback/index.stories.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-feedback/index.test.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-idle/index.stories.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-idle/index.test.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-ready/index.stories.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-ready/index.test.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-summary/index.stories.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-summary/index.test.tsx
  packages/ui/chat/test/polyhedron-stub.ts
  packages/ui/chat/tsconfig.json
  packages/ui/chat/vitest.config.ts
Due: eslint --fix, prettier --check --write

test(chat): add stories + tests for change-material/* (blocks pending set-state-in-effect lint fix)
  packages/ui/chat/src/components/topik/change-material/bookshelf-grid/index.stories.tsx
  packages/ui/chat/src/components/topik/change-material/bookshelf-grid/index.test.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.stories.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.test.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.stories.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.test.tsx
  packages/ui/chat/src/components/topik/change-material/topik-book-card/index.stories.tsx
  packages/ui/chat/src/components/topik/change-material/topik-book-card/index.test.tsx
Due: eslint --fix, prettier --check --write

test(chat): cover chat-messages/index.tsx dedup guard (blocks pending lint fixes) + audio-player story/test
  packages/ui/chat/src/components/chat-messages/index.test.tsx
  packages/ui/chat/src/components/mock-interview/audio-player/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/audio-player/index.test.tsx
Due: eslint --fix, prettier --check --write

test(some-ui-utils): stand up vitest infra + test formatRelativeTime and speechReducer
  packages/utils/src/lib/context/speech-queue/reducer.test.ts
  packages/utils/src/lib/date-utils.test.ts
  packages/utils/vitest.config.ts
Due: eslint --fix, prettier --check --write

fix(chat): resolve the lint findings the #485-#487 tests were guarding
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/chat/src/lib/interview/audio-recording-service.ts
Due: eslint --fix, prettier --check --write

chore: use dir tree pattern
  packages/ui/chat/src/hooks/use-audio-level/index.test.ts
  packages/ui/chat/src/hooks/use-audio-level/index.ts
  packages/ui/chat/src/hooks/use-audio-recorder/index.test.ts
  packages/ui/chat/src/hooks/use-audio-recorder/index.ts
  packages/ui/chat/src/hooks/use-chat-messages/index.test.ts
  packages/ui/chat/src/hooks/use-chat-messages/index.ts
  packages/ui/chat/src/hooks/use-typing-effect/index.test.ts
  packages/ui/chat/src/hooks/use-typing-effect/index.ts
  packages/ui/chat/src/lib/interview/audio-recording-service/index.test.ts
  packages/ui/chat/src/lib/interview/audio-recording-service/index.ts
  packages/ui/chat/src/lib/interview/core/interview-types/index.test.ts
  packages/ui/chat/src/lib/interview/core/interview-types/index.ts
  packages/ui/chat/src/lib/interview/core/question-repository/index.test.ts
  packages/ui/chat/src/lib/interview/core/question-repository/index.ts
  packages/ui/chat/src/lib/interview/core/transcription-adapter/index.test.ts
  packages/ui/chat/src/lib/interview/core/transcription-adapter/index.ts
  packages/ui/chat/src/lib/interview/format-time/index.test.ts
  packages/ui/chat/src/lib/interview/format-time/index.ts
  packages/ui/chat/src/lib/interview/session-storage/index.test.ts
  packages/ui/chat/src/lib/interview/session-storage/index.ts
Due: eslint --fix, prettier --check --write

fix(chat): resolve use-korean-study-page-vm.ts lint findings (refs, unnecessary-condition, exhaustive-deps)
  packages/ui/chat/src/lib/topik/adapter/hooks/use-korean-study-page-vm.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/chat/src/components/chat-messages/index.test.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
Due: eslint --fix, prettier --check --write

fix(chat,utils): resolve chat-interface.tsx's lint findings by fixing the ref type at their root (use-measure-rect/use-resize-observer)
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/utils/src/lib/hooks/use-measure-rect/use-measure-rect.ts
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
Due: eslint --fix, prettier --check --write

fix: prettier
  packages/eslint/src/rules/require-story-title-prefix.ts
  packages/ui/chat/package.json
  packages/ui/chat/src/components/mock-interview/interview-app/slideshow-presenter.tsx
  packages/ui/chat/src/components/mock-interview/progress-header/index.tsx
  packages/ui/chat/src/components/mock-interview/question-playback/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/session-complete/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/session-complete/index.tsx
  packages/ui/chat/src/lib/interview/core/interview-reducer/index.test.ts
  packages/ui/chat/src/lib/interview/core/interview-reducer/index.ts
  packages/ui/chat/src/lib/interview/core/interview-types/index.ts
  packages/ui/chat/src/lib/interview/core/transcription-adapter/index.ts
  packages/ui/chat/src/lib/interview/core/tts-adapter.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-metadata-queries/index.test.tsx
  packages/ui/chat/src/lib/topik/core/session-machine/index.test.ts
  packages/ui/chat/src/lib/topik/core/session-machine/index.ts
Due: eslint --fix, prettier --check --write

fix(chat): exclude test files from build typecheck
  packages/ui/chat/tsconfig.build.json
Due: prettier --check --write

test(drama): pin card interactions with Storybook play functions + typed fixtures
  extensions/some-drama/src/components/__fixtures__/card-state.ts
  extensions/some-drama/src/components/drama-card/interactions.stories.tsx
  extensions/some-drama/src/components/slideshow/interactions.stories.tsx
Due: eslint --fix, prettier --check --write

style(drama): reconcile tokens, card shell & title pill to the wireframe floor
  extensions/some-drama/src/styles/components/card-shell.css
  extensions/some-drama/src/styles/components/title-pill.css
  extensions/some-drama/src/styles/tokens/tokens.css
Due: stylelint --allow-empty-input, prettier --write

style(drama): reconcile slideshow ring, surfaces, dots & slides to the floor
  extensions/some-drama/src/styles/components/slideshow.css
Due: stylelint --allow-empty-input, prettier --write

style(drama): reconcile right panel & capture panel to the wireframe floor
  extensions/some-drama/src/styles/components/capture-panel.css
  extensions/some-drama/src/styles/components/right-panel.css
Due: stylelint --allow-empty-input, prettier --write

feat(www): land Epic A - mock orchestrator engine + tenant data layer
  apps/www/package.json
  apps/www/src/index.css
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/activity-catalog/index.ts
  apps/www/src/lib/activity-catalog/to-scene-config.test.ts
  apps/www/src/lib/activity-catalog/to-scene-config.ts
  apps/www/src/lib/activity-catalog/types.ts
  apps/www/src/lib/tenant/hooks.ts
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/profile-repository.test.ts
  apps/www/src/lib/tenant/profile-repository.ts
  apps/www/src/lib/tenant/sessions-repository.test.ts
  apps/www/src/lib/tenant/sessions-repository.ts
  apps/www/src/lib/tenant/settings-repository.test.ts
  apps/www/src/lib/tenant/settings-repository.ts
  apps/www/src/lib/tenant/storage.ts
  apps/www/src/lib/tenant/types.ts
  apps/www/src/providers/orchestrator.tsx
  packages/ui/chat/package.json
  packages/ui/slideshow/package.json
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/mock-orchestrator-engine.test.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/mock-orchestrator-engine.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-mock-orchestrator.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(www): land Epic B - dashboard shell, navigation & home
  apps/www/package.json
  apps/www/src/components/activity-icon.tsx
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/index.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  apps/www/src/routes/index.tsx
  lint-staged.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(vite-config): stop package.json codegen reverting the CSS path fix
  packages/some-vite-config/src/lib/package-json.ts
Due: eslint --fix, prettier --check --write

fix(shared): sidebar unusable under tailwind v4 - bare css var refs never resolved
  packages/ui/shared/src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --check --write

feat(www): profile and settings screens (Epic C)
  apps/www/src/components/toaster.tsx
  apps/www/src/providers/tts.tsx
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/settings.tsx
Due: eslint --fix, prettier --check --write

fix(slideshow,wireframes): export the real orchestrator + layout editor components
  lint-staged.config.js
  packages/ui/slideshow/src/components/index.ts
  packages/ui/slideshow/src/index.ts
  packages/ui/slideshow/src/utils/index.ts
  packages/ui/wireframes/src/components/youtube/index.ts
Due: eslint --fix, prettier --check --write

feat(www): session composer wizard (Epic D)
  apps/www/package.json
  apps/www/src/components/composer/activity-picker-step.tsx
  apps/www/src/components/composer/arrangement-step.tsx
  apps/www/src/components/composer/configure-step.tsx
  apps/www/src/components/composer/review-step.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/composer/utils.ts
  apps/www/src/routes/_dashboard/sessions/new.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(vite-config): derive css asset basename from real package.json name
  packages/some-vite-config/src/lib/package-json.ts
  packages/some-vite-config/src/lib/plugins.ts
  packages/some-vite-config/src/types/index.ts
  packages/ui/makjang/package.json
  packages/ui/portfolio-chart/package.json
  packages/ui/resume/package.json
Due: eslint --fix, prettier --check --write

fix(honeycomb): package never shipped its own Tailwind CSS
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/index.css
  packages/ui/honeycomb/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(wireframes,chat): contain per-activity render crashes; expose interview question bank
  packages/ui/chat/src/index.ts
  packages/ui/chat/tsconfig.build.json
  packages/ui/chat/vite.config.ts
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

fix(utils): export orchestrator mode/clock hooks from the package root
  packages/utils/src/lib/index.ts
Due: eslint --fix, prettier --check --write

feat(www): session lifecycle - list, live player, completion (Epic E)
  apps/www/src/components/composer/arrangement-step.tsx
  apps/www/src/components/composer/review-step.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/composer/utils.ts
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/components/player/layout.ts
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/now-next-strip.tsx
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/components/player/transport-controls.tsx
  apps/www/src/components/player/utils.ts
  apps/www/src/index.css
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/activity-catalog/index.ts
  apps/www/src/lib/format.ts
  apps/www/src/lib/tenant/types.ts
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore(calendar): regenerate style.css path with corrected css basename
  packages/ui/calendar/package.json
Due: prettier --check --write

fix(www): live player viewport was boxed in and clipping content
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-viewport.tsx
Due: eslint --fix, prettier --check --write

fix(lint-staged): escape backslashes when quoting paths for nested shell
  lint-staged.config.js
Due: eslint --fix, prettier --check --write

fix(www): refetch sessions query on mount to drop stale-after-navigation
  apps/www/src/lib/tenant/hooks.ts
Due: eslint --fix, prettier --check --write

docs(utils): author the shared-workspace doctrine
  packages/SHARED_WORKSPACE_DOCTRINE.md
Due: eslint --fix, prettier --check --write

feat(eslint): add story-lint/prefer-meta-satisfies autofix rule
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/prefer-meta-satisfies.ts
  packages/eslint/tests/helpers/eslint-resolver.ts
  packages/eslint/tests/stories.lint.test.ts
Due: eslint --fix, prettier --check --write

feat(eslint): add story-lint/prefer-meta-satisfies autofix rule (#563)
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/prefer-meta-satisfies.ts
  packages/eslint/tests/helpers/eslint-resolver.ts
  packages/eslint/tests/stories.lint.test.ts
Due: eslint --fix, prettier --check --write
