Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

chore: add file path alias to vite config
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: mistakes were made, but it's okay because this is my first life
  packages/ui/nfl/src/components/lineup-chart/index.tsx
  packages/ui/nfl/src/global.d.ts
  packages/ui/nfl/src/public/assets/index.ts
  packages/ui/nfl/src/public/assets/nfl-field.png
  packages/ui/nfl/src/public/index.ts
  packages/ui/nfl/tsconfig.json
Due: eslint --fix, prettier --check --write

feat(wip): add slideshow carousel
  packages/ui/slideshow/src/components/sidebar-carousel/index.stories.tsx
  packages/ui/slideshow/src/components/sidebar-carousel/index.tsx
Due: eslint --fix, prettier --check --write

feat: get a working content build config
  packages/mdx-generator/contentlayer.config.js
  packages/mdx-generator/tsconfig.json
Due: eslint --fix, prettier --check --write

test: lint issues
  packages/ui/stepper/src/components/step/index.tsx
Due: eslint --fix, prettier --check --write

chore: update tsconfig
  packages/tsconfig/base.json
Due: prettier --check --write

feat(wip): slideshow ui card struggling to do something!
  packages/ui/slideshow/src/components/sidebar-carousel/index.stories.tsx
  packages/ui/slideshow/src/components/sidebar-carousel/index.tsx
Due: eslint --fix, prettier --check --write

feat(wip): continue working on slideshow card dont remember what I did
  packages/ui/slideshow/src/components/slideshow-card/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
Due: eslint --fix, prettier --check --write

Feat(wip): start defining the ui for the sidebar preview part
  packages/ui/slideshow/src/components/sidebar-carousel/index.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
Due: eslint --fix, prettier --check --write

refactor: make nfl field svg element
  packages/ui/nfl/src/components/nfl-field/index.tsx
Due: eslint --fix, prettier --check --write

chore: update storybook
  .storybook/main.ts
  .storybook/preview.tsx
Due: eslint --fix, prettier --check --write

chore: lockfile updates
  pnpm-lock.yaml
Due: none

feat: building stepper ui
  packages/ui/stepper/src/components/step/index.stories.tsx
  packages/ui/stepper/src/components/step/index.tsx
Due: eslint --fix, prettier --check --write

chore: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: some stepper stuff
  packages/ui/stepper/src/components/navbar-stepper/index.stories.tsx
  packages/ui/stepper/src/components/navbar-stepper/index.tsx
Due: eslint --fix, prettier --check --write

chore: configs updates
  .gitignore
  turbo.json
Due: prettier --check --write

chore: bundler fixes, format fixes
  packages/charts/d3/src/components/bar/bar-background/index.tsx
  packages/mdx-generator/src/components/mdx-components/default-components.tsx
  packages/ui/searchbar/src/components/searchbar/searchbar.tsx
  packages/ui/shared/src/components/ui/accordion.tsx
  packages/ui/shared/src/components/ui/aspect-ratio.tsx
  packages/ui/shared/src/components/ui/chart.tsx
  packages/ui/shared/src/components/ui/dropdown-menu.tsx
  packages/ui/shared/src/components/ui/resizable.tsx
  packages/ui/shared/src/components/ui/select.tsx
  packages/ui/shared/src/components/ui/tabs.tsx
Due: eslint --fix, prettier --check --write

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: updates shared deps
  packages/ui/shared/package.json
Due: prettier --check --write

chore: update eslint
  eslint/base.config.js
  eslint/react.config.js
  eslint/typescript.config.js
Due: eslint --fix, prettier --check --write

feat(wip): setting up files
  packages/bark/src/components/create-enum-zod-schema.ts
  packages/bark/src/components/index.ts
  packages/bark/src/components/is-null/index.test.ts
  packages/bark/src/components/is-null/index.ts
  packages/bark/src/components/numerical/index.ts
  packages/bark/src/components/numerical/is-number/index.test.ts
  packages/bark/src/components/numerical/is-number/index.ts
  packages/bark/src/components/remote-data.ts
  packages/bark/src/components/zd-types/index.ts
  packages/bark/src/components/zd-types/zod-generic-object/index.test.ts
  packages/bark/src/components/zd-types/zod-generic-object/index.ts
Due: eslint --fix, prettier --check --write

feat: add local storage hook from usehooks
  .gitignore
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-local-storage/LICENSE
  packages/utils/src/lib/hooks/use-local-storage/index.ts
Due: eslint --fix, prettier --check --write

chore: add types declaration files
  packages/ui/stepper/package.json
Due: prettier --check --write

chore: expose new ui
  packages/ui/shared/src/components/ui/index.ts
  packages/utils/src/lib/hooks/index.ts
Due: eslint --fix, prettier --check --write

feat: add new tailwind classes
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

fix: don't rebundle own package
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

feat: init contentlayer config
  packages/mdx-generator/contentlayer.config.js
  packages/mdx-generator/package.json
Due: eslint --fix, prettier --check --write

feat: new ui neosign
  packages/ui/neon-sign/.gitignore
  packages/ui/neon-sign/.prettierignore
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/rollup.config.js
  packages/ui/neon-sign/src/components/index.tsx
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/neon-sign/src/components/neon-text/indext.stories.tsx
  packages/ui/neon-sign/src/index.ts
  packages/ui/neon-sign/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: ending peiji?
  package.json
  packages/ui/nfl/package.json
  packages/ui/nfl/rollup.config.js
  packages/ui/nfl/src/components/lineup-chart/index.stories.tsx
  packages/ui/nfl/src/components/lineup-chart/index.tsx
Due: eslint --fix, prettier --check --write

feat(wip): add inset-card init setup
  packages/ui/slideshow/src/components/inset-card/index.stories.tsx
  packages/ui/slideshow/src/components/inset-card/index.tsx
Due: eslint --fix, prettier --check --write

fix: make elements forwardref to assign displayame for compatability with tooling apps(storybook)
  packages/ui/shared/src/components/icons/svg-cards.tsx
Due: eslint --fix, prettier --check --write

chore: update deps
  packages/charts/d3/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat(wip): get initial version working
  packages/ui/emoji-animations/src/components/battery-indicator/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/components/bored-emoji/index.stories.tsx
Due: eslint --fix, prettier --check --write

chore: update storybook
  .storybook/main.ts
Due: eslint --fix, prettier --check --write

feat: just happy to code
  packages/google-service/.gitignore
  packages/google-service/.prettierignore
  packages/google-service/package.json
  packages/google-service/rollup.config.js
  packages/google-service/src/index.ts
  packages/google-service/src/types/index.ts
  packages/google-service/src/types/zod-types/index.ts
  packages/google-service/src/types/zod-types/schema-parser/index.test.ts
  packages/google-service/src/types/zod-types/schema-parser/index.ts
  packages/google-service/src/utils/index.ts
  packages/google-service/tsconfig.json
  packages/types/LICENSE
  packages/types/src/components/common/index.ts
  packages/types/src/components/match/index.ts
  packages/types/src/components/option/index.ts
  packages/types/src/components/zd-types/index.ts
  packages/types/src/components/zd-types/zod-generic-object/index.test.ts
  packages/types/src/components/zd-types/zod-generic-object/index.ts
  packages/ui/nfl/.gitignore
  packages/ui/nfl/.prettierignore
  packages/ui/nfl/package.json
  packages/ui/nfl/rollup.config.js
  packages/ui/nfl/src/components/lineup-chart/index.tsx
  packages/ui/nfl/src/index.ts
  packages/ui/nfl/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: update rollup config
  package.json
  packages/rollup-config/package.json
  packages/ui/chat/src/components/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: update rollup to auto set external
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/ui/chat/package.json
  packages/ui/chat/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: utils rollup fixes
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
  packages/utils/tsconfig.build.json
Due: eslint --fix, prettier --check --write

fix: eslint bug
  eslint/typescript.config.js
Due: eslint --fix, prettier --check --write

chore: working towards a refactored rollup config
  package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/ui/chat/package.json
  packages/ui/chat/tsconfig.json
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
  packages/ui/shared/src/components/ui/aspect-ratio.tsx
  packages/ui/shared/src/components/ui/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
