Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix(suspender-ledger): remove dead suspend page, add explicit CSP
  extensions/suspender-ledger/NOTICE
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/docs/design-notes.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/playwright.config.ts
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/lib/safe-url.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.stories.tsx
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.test.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/src/worker/core/suspend-url.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.ts
  extensions/suspender-ledger/suspend.html
  extensions/suspender-ledger/tests/e2e/specs/smoke.spec.ts
  extensions/suspender-ledger/tests/e2e/specs/suspend-page.spec.ts
  extensions/suspender-ledger/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

docs(suspender-ledger): document the stable gecko.id in README
  extensions/suspender-ledger/README.md
Due: eslint --fix, prettier --check --write

chore(deps): sync stale ws@8.21.0 snapshot entry to 8.21.1
  pnpm-lock.yaml
Due: none

fix: disaster has struck
  packages/ui/slideshow/src/components/animated-steps/index.stories.tsx
  packages/ui/slideshow/src/components/dial-components/dial-section/index.stories.tsx
  packages/ui/slideshow/src/components/dial-components/dial/index.stories.tsx
  packages/ui/slideshow/src/components/lens-shutter/index.stories.tsx
  packages/ui/slideshow/src/components/orchestrator/card/index.stories.tsx
  packages/ui/slideshow/src/components/recap/code-snippet/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-neon-sign/index.stories.tsx
  packages/ui/slideshow/src/components/sidebar-carousel/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.stories.tsx
  packages/ui/slideshow/src/components/sugar-cube/index.stories.tsx
  packages/ui/slideshow/src/components/sugar-cubes-stack/index.stories.tsx
  packages/ui/slideshow/src/components/tv-animation/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/framer-toast/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-burst-notification/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-burst-notification/index.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-chapters/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-drawer/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-footer/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-header/index.stories.tsx
  packages/ui/slideshow/src/components/video-gantt-chart/gantt-timeline/index.stories.tsx
  packages/ui/slideshow/src/hooks/use-dial-animation.ts
  packages/ui/slideshow/src/utils/error.ts
  packages/ui/slideshow/src/utils/scene-editor.ts
Due: eslint --fix, prettier --check --write

chore: lockfile
  pnpm-lock.yaml
Due: none

fix(suspender-ledger): remove dead suspend page, add explicit CSP (#682)
  extensions/suspender-ledger/NOTICE
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/docs/design-notes.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/playwright.config.ts
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/lib/safe-url.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.stories.tsx
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.test.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/src/worker/core/suspend-url.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.ts
  extensions/suspender-ledger/suspend.html
  extensions/suspender-ledger/tests/e2e/specs/smoke.spec.ts
  extensions/suspender-ledger/tests/e2e/specs/suspend-page.spec.ts
  extensions/suspender-ledger/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: bump version
  extensions/suspender-ledger/public/manifest.firefox.json
Due: prettier --check --write

chore: bump suspender-ledger version
  PULL_REQUEST_DATA.json
Due: prettier --check --write

fix: copilot is trash
  PULL_REQUEST_DATA.json
Due: prettier --check --write

Chore/bump suspender (#683)
  extensions/suspender-ledger/public/manifest.firefox.json
Due: prettier --check --write

fix(ci): attach AMO source archive via web-ext instead of broken curl PATCH
  .github/workflows/_extension-sign.yml
Due: prettier --check --write

chore(suspender-ledger): bump to 0.2.1 and sync package.json/manifest versions
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
Due: prettier --check --write

feat(some-filter): instantiate transport kernel types for the theme adapter
  extensions/some-filter/package.json
  extensions/some-filter/src/adapter/contracts.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(some-filter): typed swatch registry, Φ_comfort, and canon amendment
  extensions/docs/dom-state-estimation-canon.typ
  extensions/some-filter/src/adapter/__tests__/swatches.test.ts
  extensions/some-filter/src/adapter/swatches.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

fix(ci): fix AMO source archive upload for suspender-ledger, bump to 0.2.1 (#684)
  .github/workflows/_extension-sign.yml
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
Due: prettier --check --write

docs: add formal post-mortem canon for hangul game engine (#705)
  crates/hangul-game-core/docs/hangul-progression-canon.typ
Due: none

feat(some-filter): instantiate transport kernel + swatch registry (S1, S2) (#704)
  extensions/docs/dom-state-estimation-canon.typ
  extensions/some-filter/package.json
  extensions/some-filter/src/adapter/__tests__/swatches.test.ts
  extensions/some-filter/src/adapter/contracts.ts
  extensions/some-filter/src/adapter/swatches.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(some-filter): pure theme-adapter decide() over the transport kernel
  extensions/some-filter/src/adapter/__tests__/theme-adapter.test.ts
  extensions/some-filter/src/adapter/contracts.ts
  extensions/some-filter/src/adapter/theme-adapter.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): adopt transport Bootstrap/Session/Lifecycle for the veil
  extensions/some-filter/src/adapter/__tests__/bootstrap.test.ts
  extensions/some-filter/src/adapter/bootstrap.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): pure decide() + transport Bootstrap adoption (S3, S4) (#706)
  extensions/some-filter/src/adapter/__tests__/bootstrap.test.ts
  extensions/some-filter/src/adapter/__tests__/theme-adapter.test.ts
  extensions/some-filter/src/adapter/bootstrap.ts
  extensions/some-filter/src/adapter/contracts.ts
  extensions/some-filter/src/adapter/theme-adapter.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): stand up the transport pipeline; delete the hand-rolled patcher
  extensions/some-filter/src/adapter/__tests__/actuator.test.ts
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/__tests__/theme-adapter.test.ts
  extensions/some-filter/src/adapter/actuator.ts
  extensions/some-filter/src/adapter/contracts.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/theme-adapter.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

test(some-filter): swatch-oracle hostile-page e2e suite
  extensions/some-filter/tests/e2e/fixtures/dark-hostile-page.html
  extensions/some-filter/tests/e2e/fixtures/hostile-page.html
  extensions/some-filter/tests/e2e/fixtures/hostile-page.ts
  extensions/some-filter/tests/e2e/specs/swatch-oracle.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

docs: amend hangul game canon with content-domain genericity (v1.1)
  crates/hangul-game-core/docs/hangul-progression-canon.typ
Due: none

fix: chatpgt is just good
  packages/ui/slideshow/src/components/cube-geometry/index.tsx
  packages/ui/slideshow/src/components/tv-animation/index.tsx
  packages/ui/slideshow/src/hooks/use-aperture.ts
  packages/ui/slideshow/src/hooks/use-dial-animation.ts
  packages/ui/slideshow/src/hooks/use-dial-drag.ts
  packages/ui/slideshow/src/hooks/use-periodic-overlay.ts
  packages/ui/slideshow/src/hooks/use-viewport-preload-hints.ts
  packages/ui/slideshow/src/types/css-modules.d.ts
  packages/ui/slideshow/src/types/react-css-vars.d.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): run the two new e2e HTML fixtures through prettier
  extensions/some-filter/tests/e2e/fixtures/dark-hostile-page.html
  extensions/some-filter/tests/e2e/fixtures/hostile-page.html
Due: prettier --write

fix(some-filter): harden pipeline against a silent hang on any exception
  extensions/some-filter/src/adapter/pipeline.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): make rescan() settle immediately, not through the debounce
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
Due: eslint --fix, prettier --check --write

docs(some-filter): fix stale comment about rescan() being coalesced
  extensions/some-filter/src/content/content.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): resolve e2e Playwright hang — rAF starvation in occluded tabs
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/tests/e2e/fixture.ts
Due: eslint --fix, prettier --check --write

test(some-filter): decompose swatch-oracle churn into per-transition recovery specs
  extensions/some-filter/tests/e2e/specs/swatch-oracle.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): use a disposable Chromium profile per e2e run
  extensions/some-filter/tests/e2e/fixture.ts
Due: eslint --fix, prettier --check --write

refactor: default state is auto
  extensions/some-filter/src/lib/tab-state.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): tab-state test + parseColor hex support after default-state flip
  extensions/some-filter/src/lib/__tests__/tab-state.test.ts
  extensions/some-filter/src/lib/content/__tests__/color.test.ts
  extensions/some-filter/src/lib/content/color.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): stop Sensor self-feedback loop; observer survives body swap
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): distrust sparse-evidence dark verdicts; add exogenous-reload fixture
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/__tests__/theme-adapter.test.ts
  extensions/some-filter/src/adapter/theme-adapter.ts
  extensions/some-filter/tests/e2e/fixtures/dark-hostile-page.html
  extensions/some-filter/tests/e2e/fixtures/dark-page.html
  extensions/some-filter/tests/e2e/fixtures/exogenous-reload-page.html
  extensions/some-filter/tests/e2e/specs/exogenous-reload.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

Claude/hangul game spec doc qjog7f (#719)
  crates/hangul-game-core/docs/hangul-progression-canon.typ
Due: none

fix(hangul-game-core): close endless-mode sentinel, config drift, and mastery coupling defects
  .github/workflows/_rust-ci.yml
  crates/hangul-game-core/src/internal/game_modes.rs
  crates/hangul-game-core/src/internal/game_modes/completion.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/types.rs
  crates/hangul-game-core/src/lib.rs
  crates/leetype_wasm/src/lib.rs
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/default-config-parity.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/index.ts
  scripts/check-wasm-bindgen-boundary.sh
Due: eslint --fix, prettier --check --write

refactor(scripts): use git grep with pathspec exclusion for wasm_bindgen guardrail
  scripts/check-wasm-bindgen-boundary.sh
Due: none

fix: lint
  packages/ui/overlays/src/components/youtube/demo/index.stories.tsx
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/components/youtube/logo/index.stories.tsx
  packages/ui/overlays/src/components/youtube/yt-grid-thumbnail/index.stories.tsx
  packages/ui/overlays/src/components/youtube/yt-grid-thumbnail/index.tsx
  packages/ui/overlays/src/components/youtube/yt-marquee/index.stories.tsx
  packages/ui/overlays/src/global.d.ts
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/honeycomb/src/components/neuron/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-loop/index.ts
  packages/ui/honeycomb/src/utils/error.ts
Due: eslint --fix, prettier --check --write
