Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

chore: install deps
  pnpm-lock.yaml
Due: none

chore: add tsconfig deps to packages
  packages/ui/chat/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
Due: prettier --check --write

fix: add missing vite dev deps
  packages/ui/chat/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
Due: prettier --check --write

chore: update scripts
  package.json
Due: prettier --check --write

chore: add new workspace package
  pnpm-workspace.yaml
Due: none

feat: init input compoenent
  packages/ui/input/.gitignore
  packages/ui/input/package.json
  packages/ui/input/rollup.config.js
  packages/ui/input/tsconfig.json
  packages/ui/input/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add input base scaffold from shadcn
  packages/ui/input/src/index.tsx
Due: eslint --fix, prettier --check --write

feat: add shared utils
  packages/utils/index.ts
  packages/utils/lib/cn.ts
  packages/utils/lib/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: update tailwind config to reflect shadcn ui
  packages/tailwind-config/tailwind.config.js
  packages/tailwind-config/tailwind.config.ts
Due: eslint --fix, prettier --check --write

feat: tailwind config for component
  packages/ui/input/tailwind.config.cjs
Due: none

chore: deps updates
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check --write

fix: correct utils import
  packages/ui/input/package.json
  packages/ui/input/src/index.tsx
  packages/ui/input/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

test: test eslint
  packages/ui/input/src/index.tsx
Due: eslint --fix, prettier --check --write

test: test linter
  packages/ui/input/src/index.tsx
Due: eslint --fix, prettier --check --write

fix: somehow get it working no idea how!
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

fix: wrong file extension, ref of tailwind config
  packages/tailwind-config/package.json
  packages/ui/input/tailwind.config.cjs
Due: prettier --check --write

chore: update deps
  package.json
  packages/ui/input/package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: place vite as a root dev deps
  package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add storybook
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint --fix, prettier --check --write

revert: remove unecessary babel config
  .babelrc
Due: none

chore: deps update
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: don't open new tab on storybook cli run
  .storybook/main.ts
  package.json
Due: eslint --fix, prettier --check --write
