Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

refactor: don't open new tab on storybook cli run
  .storybook/main.ts
  package.json
Due: eslint --fix, prettier --check --write

refactor: place vite as a root dev deps
  package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

revert: remove unecessary babel config
  .babelrc
Due: none

feat: init new pivot-search package
  packages/pivot-search/.gitignore
  packages/pivot-search/package.json
  packages/pivot-search/rollup.config.js
  packages/pivot-search/tsconfig.json
  packages/pivot-search/vite.config.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: add path alias
  packages/pivot-search/tsconfig.json
Due: prettier --check --write

fix: remove depracated key
  turbo.json
Due: prettier --check --write

chore: add deps, update script
  packages/pivot-search/package.json
Due: prettier --check --write

fix: wrong package name
  packages/ui/resume/package.json
Due: prettier --check --write

fix: add alias resolve to root for storybook compatability
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: add vite alias resolve
  packages/pivot-search/vite.config.ts
Due: eslint --fix, prettier --check --write

refactor: rename alias
  packages/pivot-search/tsconfig.json
Due: prettier --check --write

refactor: pickup all stories for all package workspaces
  .storybook/main.ts
Due: eslint --fix, prettier --check --write

feat: add tailwind to pivot-search
  packages/pivot-search/package.json
  packages/pivot-search/tailwind.config.cjs
Due: prettier --check --write

refactor: have one global tailwind config in root dir
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

chore: remove tailwind config from individual packages
  packages/pivot-search/package.json
  packages/pivot-search/tailwind.config.cjs
  packages/ui/input/package.json
  packages/ui/input/tailwind.config.cjs
Due: prettier --check --write

feat: add tailwind config to root dir
  postcss.config.js
  tailwind.config.ts
  tailwind.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: add tailwind file to storybook
  .storybook/preview.ts
Due: eslint --fix, prettier --check --write

feat: add storybook eslint
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

refactor: remove unecessary vite-configs
  packages/pivot-search/vite.config.ts
  packages/ui/chat/vite.config.ts
  packages/ui/input/vite.config.ts
  packages/ui/resume/vite.config.ts
  packages/ui/shared/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add shadcn ui
  packages/ui/shared/components.json
  packages/ui/shared/package.json
  packages/ui/shared/src/components/ui/resizable.tsx
  packages/ui/shared/src/lib/utils.ts
  packages/ui/shared/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: add vite path alias for shared package
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add resizable shadcn card, and svg icons card
  packages/ui/shared/src/components/icons/index.ts
  packages/ui/shared/src/components/icons/svg-cards.tsx
  packages/ui/shared/src/components/ui/resizable.tsx
  packages/ui/shared/src/index.ts
  packages/ui/shared/src/lib/utils.ts
  packages/ui/shared/src/types/icons/index.ts
  packages/ui/shared/src/types/index.ts
Due: eslint --fix, prettier --check --write

chore: add new deps
  packages/pivot-search/package.json
Due: prettier --check --write

fix: update the tsconfig project path
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

fix: add missing tasks
  turbo.json
Due: prettier --check --write

refactor: remove tsconfig from root dir
  tsconfig.json
Due: prettier --check --write

fix: get working rollup build
  packages/ui/shared/rollup.config.js
  rollup.config.js
Due: eslint --fix, prettier --check --write

feat: reslove alias with tsc-alias
  packages/ui/shared/tsc-alias.json
Due: prettier --check --write

chore: add clean script
  packages/tsconfig/package.json
Due: prettier --check --write

chore: add dist to ignore
  .gitignore
Due: none

chore: new line
  packages/ui/shared/src/index.ts
Due: eslint --fix, prettier --check --write

feat: setup for rollup
  packages/ui/shared/package.json
Due: prettier --check --write

fix: setup clean script
  packages/tsconfig/package.json
Due: prettier --check --write

chore: remove unecessary workspace
  pnpm-workspace.yaml
Due: none

feat: setup rollup tsconfig as a workspace deps
  packages/tsconfig/tsconfig.rollup.json
  packages/ui/shared/tsconfig.json
Due: prettier --check --write

chore: prettier edits
  packages/tsconfig/base.json
Due: prettier --check --write

fix: remove invalid option
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: add deps, add clean script
  package.json
Due: prettier --check --write

feat: add piivot search dnd kit storybook demo
  packages/pivot-search/src/components/action/action.module.css
  packages/pivot-search/src/components/action/action.tsx
  packages/pivot-search/src/components/action/index.ts
  packages/pivot-search/src/components/banner/index.module.css
  packages/pivot-search/src/components/banner/index.stories.tsx
  packages/pivot-search/src/components/banner/index.tsx
  packages/pivot-search/src/components/draggable/draggable-overlay.tsx
  packages/pivot-search/src/components/draggable/draggable.module.css
  packages/pivot-search/src/components/draggable/draggable.tsx
  packages/pivot-search/src/components/draggable/index.ts
  packages/pivot-search/src/components/droppable/droppable-svg.tsx
  packages/pivot-search/src/components/droppable/droppable.module.css
  packages/pivot-search/src/components/droppable/droppable.tsx
  packages/pivot-search/src/components/droppable/index.ts
  packages/pivot-search/src/components/grid-container/grid-container.module.css
  packages/pivot-search/src/components/grid-container/index.tsx
  packages/pivot-search/src/components/grid/grid.module.css
  packages/pivot-search/src/components/grid/index.tsx
  packages/pivot-search/src/components/handle/index.tsx
  packages/pivot-search/src/components/index.tsx
  packages/pivot-search/src/components/overflow-wrapper/index.tsx
  packages/pivot-search/src/components/overflow-wrapper/overflow-wrapper.module.css
  packages/pivot-search/src/components/resizable-container/index.tsx
  packages/pivot-search/src/components/wrapper/index.tsx
  packages/pivot-search/src/components/wrapper/wrapper.module.css
  packages/pivot-search/src/stories/draggable.stories.tsx
  packages/pivot-search/src/stories/droppable.stories.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write
