Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: use const
  extensions/some-filter/public/prepaint-start.js
Due: eslint --fix, prettier --check --write

fix: lint
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
Due: eslint --fix, prettier --check --write

fix: prettier
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/tests/e2e/fixture.ts
Due: eslint --fix, prettier --check --write

fix: chasing the flashbang
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: lint
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/vitest.config.ts
Due: eslint --fix, prettier --check --write

fix: invert needs bg to be white
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/popup/popup.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-filter): rerender-resilient prepaint + icon assets for web-ext lint
  extensions/some-filter/public/assets/icon-128.png
  extensions/some-filter/public/assets/icon-16.png
  extensions/some-filter/public/assets/icon-48.png
  extensions/some-filter/public/manifest.json
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-filter): replace innerHTML with DOMParser to clear web-ext lint warnings
  extensions/some-filter/src/popup/components/action-bar/index.ts
  extensions/some-filter/src/popup/components/filter-badge/index.ts
  extensions/some-filter/src/popup/components/tablist/index.ts
  extensions/some-filter/src/popup/svg.ts
Due: eslint --fix, prettier --check --write

Harden prepaint veil against vendor DOM mutations (#261)
  extensions/some-filter/public/assets/icon-128.png
  extensions/some-filter/public/assets/icon-16.png
  extensions/some-filter/public/assets/icon-48.png
  extensions/some-filter/public/manifest.json
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/popup/components/action-bar/index.ts
  extensions/some-filter/src/popup/components/filter-badge/index.ts
  extensions/some-filter/src/popup/components/tablist/index.ts
  extensions/some-filter/src/popup/svg.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: web-ext lint
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/src/popup/components/window-group-header/index.ts
Due: eslint --fix, prettier --check --write

some-filter: dark-mode pipeline rework (overlay prepaint + always-apply + detector + heuristics) (#241)
  extensions/some-filter/docs/third-party/darkreader-LICENSE.md
  extensions/some-filter/package.json
  extensions/some-filter/public/assets/icon-128.png
  extensions/some-filter/public/assets/icon-16.png
  extensions/some-filter/public/assets/icon-48.png
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/public/prepaint-end.js
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/__tests__/tab-state.test.ts
  extensions/some-filter/src/lib/content/__tests__/color.test.ts
  extensions/some-filter/src/lib/content/__tests__/dark-theme.test.ts
  extensions/some-filter/src/lib/content/__tests__/images.test.ts
  extensions/some-filter/src/lib/content/__tests__/modify-colors.test.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/__tests__/theme-detector.test.ts
  extensions/some-filter/src/lib/content/color.ts
  extensions/some-filter/src/lib/content/images.ts
  extensions/some-filter/src/lib/content/modify-colors.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/lib/content/theme-detector.ts
  extensions/some-filter/src/lib/tab-state.ts
  extensions/some-filter/src/popup/components/action-bar/index.ts
  extensions/some-filter/src/popup/components/filter-badge/index.ts
  extensions/some-filter/src/popup/components/tablist/index.ts
  extensions/some-filter/src/popup/components/window-group-header/index.ts
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/popup/svg.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tests/e2e/specs/smoke.manual.spec.ts
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
  extensions/some-filter/vitest.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(suspender-ledger): scaffold Firefox MV3 extension workspace
  extensions/suspender-ledger/COPYING.MPL-2.0
  extensions/suspender-ledger/NOTICE
  extensions/suspender-ledger/eslint.config.js
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/popup.html
  extensions/suspender-ledger/public/assets/icon-128.png
  extensions/suspender-ledger/public/assets/icon-16.png
  extensions/suspender-ledger/public/assets/icon-48.png
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/watch.ts
  extensions/suspender-ledger/src/lib/platform/firefox.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/suspend.html
  extensions/suspender-ledger/tsconfig.build.json
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vite.config.firefox.ts
  extensions/suspender-ledger/vite.config.ts
  extensions/suspender-ledger/vitest.config.ts
  extensions/suspender-ledger/vitest.setup.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write, prettier --write

feat(suspender-ledger): enforce MPL-2.0 file headers via check:headers script
  extensions/suspender-ledger/eslint.config.js
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/scripts/check-mpl-headers.js
Due: eslint --fix, prettier --check --write

chore(conveyor): remove orphan ConveyorStrip & CubeRenderer stories
  extensions/some-conveyor/src/components/conveyor-strip/index.stories.tsx
  extensions/some-conveyor/src/components/cube-renderer/index.stories.tsx
Due: eslint --fix, prettier --check --write

feat(conveyor): fade the overlay out while the window holds focus
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/shadow-host.ts
  extensions/some-conveyor/src/styles/conveyor.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(conveyor): drive the stage & zone story belts (slide + rotation)
  extensions/some-conveyor/src/components/belt-motion.ts
  extensions/some-conveyor/src/components/stage/index.stories.tsx
  extensions/some-conveyor/src/lib/content/conveyor-zone.stories.tsx
Due: eslint --fix, prettier --check --write

fix(conveyor): make the focus yield a real teardown, gate render on focus
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/shadow-host.ts
  extensions/some-conveyor/src/styles/conveyor.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(conveyor): realign some-conveyor to the transport-system intent (M1–M6) (#266)
  extensions/some-conveyor/src/components/belt-motion.ts
  extensions/some-conveyor/src/components/control-rail/index.stories.tsx
  extensions/some-conveyor/src/components/control-rail/index.ts
  extensions/some-conveyor/src/components/conveyor-strip/index.stories.tsx
  extensions/some-conveyor/src/components/cube-renderer/index.stories.tsx
  extensions/some-conveyor/src/components/dom.ts
  extensions/some-conveyor/src/components/faces/action/index.ts
  extensions/some-conveyor/src/components/faces/category-overview/index.ts
  extensions/some-conveyor/src/components/faces/clock/index.ts
  extensions/some-conveyor/src/components/faces/last-activity/index.ts
  extensions/some-conveyor/src/components/faces/streak-count/index.ts
  extensions/some-conveyor/src/components/faces/today-progress/index.ts
  extensions/some-conveyor/src/components/manifest-ticker/index.stories.tsx
  extensions/some-conveyor/src/components/manifest-ticker/index.ts
  extensions/some-conveyor/src/components/projection-cell/index.stories.tsx
  extensions/some-conveyor/src/components/projection-cell/index.ts
  extensions/some-conveyor/src/components/stage/index.stories.tsx
  extensions/some-conveyor/src/components/story-bridge.tsx
  extensions/some-conveyor/src/components/terminal/index.ts
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/conveyor-zone.stories.tsx
  extensions/some-conveyor/src/lib/content/conveyor-zone.ts
  extensions/some-conveyor/src/lib/content/cube-renderer.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/shadow-host.ts
  extensions/some-conveyor/src/lib/content/theme-engine.ts
  extensions/some-conveyor/src/styles/conveyor.css
  packages/some-styles/README.md
  packages/some-styles/examples/showcase.html
  packages/some-styles/src/index.ts
  packages/some-styles/src/preset/index.ts
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/src/preset/themes.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/conveyor.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(suspender-ledger): scaffold Firefox MV3 workspace + MPL-2.0 provenance (PR 1) (#262)
  extensions/suspender-ledger/COPYING.MPL-2.0
  extensions/suspender-ledger/NOTICE
  extensions/suspender-ledger/eslint.config.js
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/popup.html
  extensions/suspender-ledger/public/assets/icon-128.png
  extensions/suspender-ledger/public/assets/icon-16.png
  extensions/suspender-ledger/public/assets/icon-48.png
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/scripts/check-mpl-headers.js
  extensions/suspender-ledger/src/content/watch.ts
  extensions/suspender-ledger/src/lib/platform/firefox.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/suspend.html
  extensions/suspender-ledger/tsconfig.build.json
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vite.config.firefox.ts
  extensions/suspender-ledger/vite.config.ts
  extensions/suspender-ledger/vitest.config.ts
  extensions/suspender-ledger/vitest.setup.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write, prettier --write

feat(suspender-ledger): port the worker bundle to TypeScript (PR 2)
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/lib/platform/firefox.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/navigate.ts
  extensions/suspender-ledger/src/worker/core/prefs.test.ts
  extensions/suspender-ledger/src/worker/core/prefs.ts
  extensions/suspender-ledger/src/worker/core/startup.ts
  extensions/suspender-ledger/src/worker/core/utils.test.ts
  extensions/suspender-ledger/src/worker/core/utils.ts
  extensions/suspender-ledger/src/worker/menu.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write

refactor: auto classifier is not fine tuned yet, so ensure we default to legacy for now
  extensions/some-filter/src/lib/__tests__/tab-state.test.ts
  extensions/some-filter/src/lib/tab-state.ts
Due: eslint --fix, prettier --check --write

refactor: auto classifier is not fine tuned yet, so ensure we default to legacy for now (#268)
  extensions/some-filter/src/lib/__tests__/tab-state.test.ts
  extensions/some-filter/src/lib/tab-state.ts
Due: eslint --fix, prettier --check --write

fix(conveyor): eliminate tab-switch flicker via split suspend/activate paths in PageMonitor
  extensions/some-conveyor/src/lib/content/page-monitor.ts
Due: eslint --fix, prettier --check --write

fix(conveyor): alias rename, click suppression, staggered rotation, zone move
  extensions/some-conveyor/src/background/background.ts
  extensions/some-conveyor/src/components/belt-motion.ts
  extensions/some-conveyor/src/components/conveyor-zone/index.stories.tsx
  extensions/some-conveyor/src/components/conveyor-zone/index.ts
  extensions/some-conveyor/src/components/stage/index.stories.tsx
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/effect-bus.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/shadow-host.ts
  extensions/some-conveyor/src/lib/content/streak-store.ts
  extensions/some-conveyor/src/lib/platform/api.ts
  extensions/some-conveyor/src/lib/platform/background/api.chrome.ts
  extensions/some-conveyor/src/lib/platform/background/api.firefox.ts
  extensions/some-conveyor/src/lib/platform/content/api.chrome.ts
  extensions/some-conveyor/src/lib/platform/content/api.firefox.ts
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

feat: attach wasm build
  extensions/some-conveyor/package.json
  extensions/some-conveyor/public/firefox-v3-manifest.json
  extensions/some-conveyor/public/manifest.json
  extensions/some-conveyor/src/lib/content/wasm-bridge.ts
  extensions/some-conveyor/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

fix(conveyor): desync live cube rotation and restore belt separation
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/cube-instance.ts
  extensions/some-conveyor/src/types/index.ts
Due: eslint --fix, prettier --check --write

Defer activation checks to prevent false-positive Active states (#269)
  extensions/some-conveyor/package.json
  extensions/some-conveyor/public/firefox-v3-manifest.json
  extensions/some-conveyor/public/manifest.json
  extensions/some-conveyor/src/background/background.ts
  extensions/some-conveyor/src/components/belt-motion.ts
  extensions/some-conveyor/src/components/conveyor-zone/index.stories.tsx
  extensions/some-conveyor/src/components/conveyor-zone/index.ts
  extensions/some-conveyor/src/components/stage/index.stories.tsx
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/coexistence.ts
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/cube-instance.ts
  extensions/some-conveyor/src/lib/content/effect-bus.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-conveyor/src/lib/content/shadow-host.ts
  extensions/some-conveyor/src/lib/content/streak-store.ts
  extensions/some-conveyor/src/lib/content/wasm-bridge.ts
  extensions/some-conveyor/src/lib/platform/api.ts
  extensions/some-conveyor/src/lib/platform/background/api.chrome.ts
  extensions/some-conveyor/src/lib/platform/background/api.firefox.ts
  extensions/some-conveyor/src/lib/platform/content/api.chrome.ts
  extensions/some-conveyor/src/lib/platform/content/api.firefox.ts
  extensions/some-conveyor/src/types/index.ts
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): port the worker bundle to TypeScript (PR 2) (#267)
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/lib/platform/firefox.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/navigate.ts
  extensions/suspender-ledger/src/worker/core/prefs.test.ts
  extensions/suspender-ledger/src/worker/core/prefs.ts
  extensions/suspender-ledger/src/worker/core/startup.ts
  extensions/suspender-ledger/src/worker/core/utils.test.ts
  extensions/suspender-ledger/src/worker/core/utils.ts
  extensions/suspender-ledger/src/worker/menu.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): port content script watch.ts (PR 3)
  extensions/suspender-ledger/src/content/watch.test.ts
  extensions/suspender-ledger/src/content/watch.ts
  extensions/suspender-ledger/src/types/messages.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): port content script watch.ts (PR 3) (#270)
  extensions/suspender-ledger/src/content/watch.test.ts
  extensions/suspender-ledger/src/content/watch.ts
  extensions/suspender-ledger/src/types/messages.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write

docs(common): add Good-Citizen Charter to extension commons
  extensions/common/GOOD_CITIZEN.md
Due: eslint --fix, prettier --check --write

docs(common): add README indexing the Good-Citizen Charter
  extensions/common/README.md
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): popup + suspend UI layer (PR 4)
  extensions/suspender-ledger/src/popup/components/action-menu/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/action-menu/index.test.ts
  extensions/suspender-ledger/src/popup/components/action-menu/index.ts
  extensions/suspender-ledger/src/popup/components/settings-form/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/settings-form/index.test.ts
  extensions/suspender-ledger/src/popup/components/settings-form/index.ts
  extensions/suspender-ledger/src/popup/components/tab-status/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/tab-status/index.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/popup/popup.css
  extensions/suspender-ledger/src/popup/svg.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.stories.tsx
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.test.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/src/types/messages.test.ts
  extensions/suspender-ledger/src/types/messages.ts
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vitest.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

build(suspender-ledger): register @suspender alias in root vite + tsconfig
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): address CodeQL XSS and URL-redirect findings
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): guard all favicon sinks against XSS schemes
  extensions/suspender-ledger/src/lib/safe-url.ts
  extensions/suspender-ledger/src/popup/components/tab-status/index.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): popup UI + suspend page (PR 4)
  extensions/suspender-ledger/src/lib/safe-url.ts
  extensions/suspender-ledger/src/popup/components/action-menu/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/action-menu/index.test.ts
  extensions/suspender-ledger/src/popup/components/action-menu/index.ts
  extensions/suspender-ledger/src/popup/components/settings-form/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/settings-form/index.test.ts
  extensions/suspender-ledger/src/popup/components/settings-form/index.ts
  extensions/suspender-ledger/src/popup/components/tab-status/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/tab-status/index.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/popup/popup.css
  extensions/suspender-ledger/src/popup/svg.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.stories.tsx
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.test.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/src/types/messages.test.ts
  extensions/suspender-ledger/src/types/messages.ts
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vitest.config.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(filter): encode typestate invariant and fix perceptual prepaint flash
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/__tests__/typestate.test.ts
  extensions/some-filter/src/lib/typestate.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor(filter): remove typestate model; keep prepaint color fix only
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/__tests__/typestate.test.ts
  extensions/some-filter/src/lib/typestate.ts
Due: eslint --fix, prettier --check --write

Add typestate machine for content script lifecycle tracking (#292)
  extensions/some-filter/public/prepaint.css
  pnpm-lock.yaml
Due: stylelint --allow-empty-input, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
