Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: conveyor lint
  extensions/some-conveyor/package.json
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/effect-bus.ts
  extensions/some-conveyor/src/lib/content/streak-store.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: drama lint
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/popup-renderer/index.stories.tsx
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/components/slideshow/index.ts
Due: eslint --fix, prettier --check --write

fix: censor lint issues
  extensions/some-censor/src/lib/background/message-handler.ts
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/dom-handle.ts
  extensions/some-censor/src/lib/content/fsm.ts
  extensions/some-censor/src/lib/content/render.ts
  extensions/some-censor/src/lib/content/video-entry.ts
Due: eslint --fix, prettier --check --write

ci(extensions): guard classic entry points against ESM chunk leaks
  .github/workflows/_extension-verify.yml
  extensions/scripts/assert-self-contained.mjs
  extensions/scripts/self-contained-baseline.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(drama): build content/background as independent self-contained bundles
  .github/workflows/_extension-verify.yml
  extensions/scripts/self-contained-baseline.json
  extensions/some-drama/package.json
  extensions/some-drama/scripts/build.mjs
  extensions/some-drama/vite.config.ts
Due: eslint --fix, prettier --check --write

refactor(extensions): hoist self-contained build into a shared helper
  extensions/common/build.mjs
  extensions/common/package.json
  extensions/some-censor/package.json
  extensions/some-censor/scripts/build.mjs
  extensions/some-censor/vite.config.chromium.ts
  extensions/some-censor/vite.config.firefox.ts
  extensions/some-conveyor/package.json
  extensions/some-conveyor/scripts/build.mjs
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
  extensions/some-drama/scripts/build.mjs
Due: eslint --fix, prettier --check --write

fix: lint
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick/index.tsx
  packages/ui/nfl/src/components/hopium/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/modal/index.tsx
  packages/ui/nfl/src/components/hopium/rollercoaster/index.tsx
  packages/ui/nfl/src/components/nfl-field/index.tsx
  packages/ui/nfl/src/components/player-card-dialog/index.tsx
  packages/ui/nfl/src/components/player-card/index.tsx
  packages/ui/nfl/src/global.d.ts
  packages/ui/nfl/src/hooks/hopium/use-hopium-data.ts
  packages/ui/nfl/src/hooks/use-ekg.ts
  packages/ui/nfl/src/types/brick-wall.ts
  packages/ui/nfl/src/utils/brick-layout.ts
  packages/ui/nfl/src/utils/error.ts
  packages/ui/nfl/src/utils/hopium/filtering-sorting.ts
Due: eslint --fix, prettier --check --write

refactor(extensions): replace vite.config build logic with build.context + shared runner
  extensions/common/build.mjs
  extensions/common/ext-build/dev-config.ts
  extensions/common/ext-build/run.mjs
  extensions/common/ext-build/types.ts
  extensions/common/package.json
  extensions/common/tsconfig.json
  extensions/some-censor/build.context.ts
  extensions/some-censor/package.json
  extensions/some-censor/scripts/build.mjs
  extensions/some-censor/tsconfig.json
  extensions/some-censor/vite.config.chromium.ts
  extensions/some-censor/vite.config.firefox.ts
  extensions/some-censor/vite.config.ts
  extensions/some-conveyor/build.context.ts
  extensions/some-conveyor/package.json
  extensions/some-conveyor/scripts/build.mjs
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
  extensions/some-conveyor/vite.config.ts
  extensions/some-drama/build.context.ts
  extensions/some-drama/package.json
  extensions/some-drama/scripts/build.mjs
  extensions/some-drama/tsconfig.json
  extensions/some-drama/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

ci(extensions): guard classic entry points against ESM chunk leaks (#632)
  .github/workflows/_extension-verify.yml
  extensions/common/ext-build/dev-config.ts
  extensions/common/ext-build/run.mjs
  extensions/common/ext-build/types.ts
  extensions/common/package.json
  extensions/common/tsconfig.json
  extensions/scripts/assert-self-contained.mjs
  extensions/scripts/self-contained-baseline.json
  extensions/some-censor/build.context.ts
  extensions/some-censor/package.json
  extensions/some-censor/tsconfig.json
  extensions/some-censor/vite.config.chromium.ts
  extensions/some-censor/vite.config.firefox.ts
  extensions/some-censor/vite.config.ts
  extensions/some-conveyor/build.context.ts
  extensions/some-conveyor/package.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
  extensions/some-conveyor/vite.config.ts
  extensions/some-drama/build.context.ts
  extensions/some-drama/package.json
  extensions/some-drama/tsconfig.json
  extensions/some-drama/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Fix/nfl lint (#635)
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick/index.tsx
  packages/ui/nfl/src/components/brick-wall/crown/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/medal/index.stories.tsx
  packages/ui/nfl/src/components/heartbeat/ekg/index.stories.tsx
  packages/ui/nfl/src/components/heartbeat/metallic-border/index.stories.tsx
  packages/ui/nfl/src/components/heartbeat/screw/index.stories.tsx
  packages/ui/nfl/src/components/hopium/bento-grid/index.stories.tsx
  packages/ui/nfl/src/components/hopium/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/header/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/modal/index.tsx
  packages/ui/nfl/src/components/hopium/rollercoaster/index.tsx
  packages/ui/nfl/src/components/nfl-field-draggable/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field/index.tsx
  packages/ui/nfl/src/components/player-card-dialog/index.stories.tsx
  packages/ui/nfl/src/components/player-card-dialog/index.tsx
  packages/ui/nfl/src/components/player-card-shuffle/index.stories.tsx
  packages/ui/nfl/src/components/player-card/index.stories.tsx
  packages/ui/nfl/src/components/player-card/index.tsx
  packages/ui/nfl/src/global.d.ts
  packages/ui/nfl/src/hooks/hopium/use-hopium-data.ts
  packages/ui/nfl/src/hooks/use-ekg.ts
  packages/ui/nfl/src/lib/hopium/adapters/mock-adapter.ts
  packages/ui/nfl/src/types/brick-wall.ts
  packages/ui/nfl/src/utils/brick-layout.ts
  packages/ui/nfl/src/utils/error.ts
  packages/ui/nfl/src/utils/hopium/filtering-sorting.ts
  packages/ui/nfl/src/utils/path.ts
Due: eslint --fix, prettier --check --write

refactor(vite-config): replace vite-tsconfig-paths with native resolve.tsconfigPaths
  apps/www/package.json
  apps/www/vite.config.ts
  extensions/common/ext-build/dev-config.ts
  extensions/common/ext-build/run.mjs
  extensions/some-censor/vitest.config.ts
  extensions/some-conveyor/vitest.config.ts
  extensions/some-cycle/packages/content/vite.config.ts
  extensions/some-cycle/vite.config.ts
  package.json
  packages/eslint/package.json
  packages/eslint/vitest.config.ts
  packages/some-vite-config/package.json
  packages/some-vite-config/src/lib/plugins.ts
  packages/some-vite-config/src/lib/resolve.ts
  packages/some-vite-config/src/types/index.ts
  pnpm-lock.yaml
  vitest.config.mts
Due: eslint --fix, prettier --check --write

refactor(utils): extract @some-ui/core-utils (cn, string, date, array)
  packages/core-utils/eslint.config.js
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/lib/array-utils.ts
  packages/core-utils/src/lib/cn.ts
  packages/core-utils/src/lib/date-utils.test.ts
  packages/core-utils/src/lib/date-utils.ts
  packages/core-utils/src/lib/index.ts
  packages/core-utils/src/lib/string-utils.ts
  packages/core-utils/tsconfig.build.json
  packages/core-utils/tsconfig.json
  packages/core-utils/vite.config.ts
  packages/core-utils/vitest.config.ts
  packages/utils/package.json
  packages/utils/src/lib/index.ts
Due: eslint --fix, prettier --check --write

refactor(shared): dedupe cn onto @some-ui/core-utils
  packages/ui/shared/package.json
  packages/ui/shared/src/lib/utils.ts
Due: eslint --fix, prettier --check --write

Extract @some-ui/core-utils, dedupe shared cn, migrate off vite-tsconfig-paths (#637)
  apps/www/package.json
  apps/www/vite.config.ts
  extensions/common/ext-build/dev-config.ts
  extensions/common/ext-build/run.mjs
  extensions/some-censor/vitest.config.ts
  extensions/some-conveyor/vitest.config.ts
  extensions/some-cycle/packages/content/vite.config.ts
  extensions/some-cycle/vite.config.ts
  package.json
  packages/core-utils/eslint.config.js
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/lib/array-utils.ts
  packages/core-utils/src/lib/cn.ts
  packages/core-utils/src/lib/date-utils.test.ts
  packages/core-utils/src/lib/date-utils.ts
  packages/core-utils/src/lib/index.ts
  packages/core-utils/src/lib/string-utils.ts
  packages/core-utils/tsconfig.build.json
  packages/core-utils/tsconfig.json
  packages/core-utils/vite.config.ts
  packages/core-utils/vitest.config.ts
  packages/eslint/package.json
  packages/eslint/vitest.config.ts
  packages/some-vite-config/package.json
  packages/some-vite-config/src/lib/plugins.ts
  packages/some-vite-config/src/lib/resolve.ts
  packages/some-vite-config/src/types/index.ts
  packages/ui/shared/package.json
  packages/ui/shared/src/lib/utils.ts
  packages/utils/package.json
  packages/utils/src/lib/index.ts
  pnpm-lock.yaml
  vitest.config.mts
Due: eslint --fix, prettier --check --write

fix(release): stop publishing internal ts workspaces; propagate wasm changesets
  .github/workflows/wasm-release.yml
  extensions/common/package.json
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-cycle/package.json
  extensions/some-cycle/packages/content/package.json
  extensions/some-cycle/packages/types/package.json
  extensions/some-filter/package.json
  extensions/some-mujik/package.json
  extensions/some-prompt/package.json
  extensions/some-schedule/package.json
  extensions/some-scrobbler/package.json
  extensions/some-streak/package.json
  extensions/some-tab-meta/package.json
  extensions/suspender-ledger/package.json
  extensions/tab-tracker/package.json
  extensions/transport/package.json
  packages/core-utils/package.json
  packages/eslint/package.json
  packages/fetch-kit/package.json
  packages/rollup-config/package.json
  packages/some-content/package.json
  packages/some-styles/package.json
  packages/some-vite-config/package.json
  packages/types/package.json
  packages/ui/dice-card/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/portfolio-chart/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  packages/ws/package.json
Due: prettier --check --write

chore(ci): make ts release manual-only; stop routeTree.gen.ts churn
  .claude/hooks/session-start.sh
  .github/workflows/release.yml
Due: prettier --check --write

feat(eslint): add tailwind-idiom/no-interpolated-classname rule
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/tailwind-idiom.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-interpolated-classname.ts
  packages/eslint/tests/tailwind-idiom.lint.test.ts
Due: eslint --fix, prettier --check --write

feat(styles): canonical single-pass Tailwind build engine
  packages/some-styles/README.md
  packages/some-styles/package.json
  packages/some-styles/styles-build/compile.d.mts
  packages/some-styles/styles-build/compile.mjs
  packages/some-styles/styles-build/dev-config.ts
  packages/some-styles/styles-build/examples/src/widget.ts
  packages/some-styles/styles-build/examples/style.context.ts
  packages/some-styles/styles-build/resolve-context.d.mts
  packages/some-styles/styles-build/resolve-context.mjs
  packages/some-styles/styles-build/run.mjs
  packages/some-styles/styles-build/tests/compile.test.ts
  packages/some-styles/styles-build/types.ts
  packages/some-styles/tsconfig.json
  packages/some-styles/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(neon-sign): make Headline theme class statically discoverable
  packages/ui/neon-sign/src/components/headline/index.tsx
Due: eslint --fix, prettier --check --write

feat(styles): canonical single-pass Tailwind build engine + static-classname lint rule (#642)
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/tailwind-idiom.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-interpolated-classname.ts
  packages/eslint/tests/tailwind-idiom.lint.test.ts
  packages/some-styles/README.md
  packages/some-styles/package.json
  packages/some-styles/styles-build/compile.d.mts
  packages/some-styles/styles-build/compile.mjs
  packages/some-styles/styles-build/dev-config.ts
  packages/some-styles/styles-build/examples/src/widget.ts
  packages/some-styles/styles-build/examples/style.context.ts
  packages/some-styles/styles-build/resolve-context.d.mts
  packages/some-styles/styles-build/resolve-context.mjs
  packages/some-styles/styles-build/run.mjs
  packages/some-styles/styles-build/tests/compile.test.ts
  packages/some-styles/styles-build/types.ts
  packages/some-styles/tsconfig.json
  packages/some-styles/vitest.config.ts
  packages/ui/neon-sign/src/components/headline/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(ci): derive wasm changeset package name from package.json
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): derive wasm changeset package name from package.json (#644)
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): stop wasm-release from re-triggering on its own release commits
  .github/workflows/wasm-release.yml
Due: prettier --check --write

refactor(ci): centralize release commit message, document the if: constraint
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): resolve WASM release workflow issues — package name mismatch and self-triggering loop (#646)
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): actually publish WASM crates when the release PR merges
  .github/workflows/wasm-release.yml
Due: prettier --check --write

build(wasm): decouple JS builds from wasm-pack, switch publish to OIDC trusted publishing
  .github/workflows/wasm-release.yml
  .gitignore
  extensions/some-conveyor/package.json
  package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/utils/package.json
  scripts/bump-wasm-consumers.sh
  scripts/wasm-link.sh
  scripts/wasm-unlink.sh
Due: prettier --check --write

revert(ci): back out OIDC trusted publishing, keep NPM_TOKEN
  .github/workflows/wasm-release.yml
Due: prettier --check --write

chore: update lockfile for wasm crate npm-version pins
  pnpm-lock.yaml
Due: none

ci: drop custom wasm consumer-bump PR, group via dependabot instead
  .github/dependabot.yml
  .github/workflows/wasm-release.yml
  scripts/bump-wasm-consumers.sh
Due: prettier --check --write

fix(ci): actually publish WASM crates when the release PR merges (#648)
  .github/dependabot.yml
  .github/workflows/wasm-release.yml
  .gitignore
  extensions/some-conveyor/package.json
  package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/wasm-link.sh
  scripts/wasm-unlink.sh
Due: prettier --check --write

feat(styles): add createStylePlugins for graph-aware vite builds
  packages/some-styles/styles-build/dev-config.ts
  packages/some-styles/styles-build/resolve-context.d.mts
  packages/some-styles/styles-build/resolve-context.mjs
  packages/some-styles/styles-build/tests/compile.test.ts
  packages/some-styles/styles-build/tests/dev-config.test.ts
Due: eslint --fix, prettier --check --write

feat(www): compile styles in one pass over the declared graph
  apps/www/src/index.css
  apps/www/src/main.tsx
  apps/www/style.context.ts
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(wasm): point package "types" at the shipped wasm-pack declarations
  crates/leetype_wasm/package.json
  crates/some-crossword/package.json
  crates/viewport-rotation/package.json
  packages/ui/input/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/input/src/hooks/use-crossword-wasm/index.test.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm/index.test.ts
  packages/ui/input/src/wasm-shims.d.ts
Due: eslint --fix, prettier --check --write

refactor(ui): stop compiling the shared Tailwind layer into each package
  packages/ui/chat/src/index.css
  packages/ui/chat/src/index.ts
  packages/ui/dice-card/src/index.css
  packages/ui/dice-card/src/index.ts
  packages/ui/honeycomb/src/index.css
  packages/ui/honeycomb/src/index.ts
  packages/ui/input/src/index.css
  packages/ui/input/src/index.ts
  packages/ui/neon-sign/src/index.css
  packages/ui/neon-sign/src/index.ts
  packages/ui/overlays/src/index.css
  packages/ui/overlays/src/index.ts
  packages/ui/shared/src/index.css
  packages/ui/shared/src/index.ts
  packages/ui/slideshow/src/index.css
  packages/ui/slideshow/src/index.ts
  packages/ui/stepper/src/index.css
  packages/ui/stepper/src/index.ts
  packages/ui/umag/src/index.css
  packages/ui/umag/src/index.ts
  packages/ui/wireframes/src/index.css
  packages/ui/wireframes/src/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write
