Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: add component demo to test build
  packages/ui/chat/src/components/index.tsx
  packages/ui/chat/src/index.ts
  packages/ui/input/src/components/index.tsx
  packages/ui/input/src/index.ts
  packages/ui/resume/src/components/index.tsx
  packages/ui/resume/src/index.ts
Due: eslint --fix, prettier --check --write

fix: use index.ts for root
  packages/pivot-search/src/index.ts
Due: eslint --fix, prettier --check --write

refactor: switch rollup from root to workspace
  packages/rollup-config/index.ts
  packages/rollup-config/package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/rollup-config/src/configs/index.ts
  packages/rollup-config/src/index.ts
  packages/rollup-config/src/types/files.ts
  packages/rollup-config/src/types/index.ts
  packages/rollup-config/tsconfig.json
Due: eslint --fix, prettier --check --write

refactor: update tsconfig for shared rollup config
  packages/pivot-search/tsconfig.json
  packages/ui/chat/tsconfig.json
  packages/ui/input/tsconfig.json
  packages/ui/resume/tsconfig.json
  packages/utils/tsconfig.json
Due: prettier --check --write

feat: add new package to workspace
  pnpm-workspace.yaml
Due: none

fix: update ci lint cmd
  .github/workflows/lint.yml
Due: prettier --check --write

fix: use canary branch to access flat config for storybook
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor: streamline lint scripts for all workspaces
  packages/ui/input/package.json
Due: prettier --check --write

refactor: streamline lint scripts for all workspaces
  packages/utils/package.json
Due: prettier --check --write

chore: prettier formatting
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/ui/shared/src/index.ts
Due: eslint --fix, prettier --check --write

refactor: remove markdown lint from utils
  packages/utils/package.json
Due: prettier --check --write

refactor: eslint array type default generic
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

refactor: remove simple sort eslint
  eslint.config.mjs
  package.json
  packages/utils/lib/cn.ts
Due: eslint --fix, prettier --check --write

refactor: remove md lint script
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
Due: prettier --check --write

refactor: add lint scripts to rollup workspace
  packages/rollup-config/package.json
Due: prettier --check --write

chore: eslint fix
  packages/rollup-config/src/types/files.ts
Due: eslint --fix, prettier --check --write

fix: elsint error
  packages/ui/shared/src/components/ui/resizable.tsx
  packages/ui/shared/src/lib/utils.ts
Due: eslint --fix, prettier --check --write

revert: warn on invalid tailwind name
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

refactor: update projects that that run eslint
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

feat: ci workflow to check for unused deps
  .github/workflows/depcheck.yml
Due: prettier --check --write

fix: outdated lockfile
  pnpm-lock.yaml
Due: none

fix: remove incorrect step
  .github/workflows/depcheck.yml
Due: prettier --check --write

fix: ignore node_modules
  .github/workflows/depcheck.yml
Due: prettier --check --write

fix: invalid main field
  packages/rollup-config/package.json
Due: prettier --check --write

chore: run build
  packages/rollup-config/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
