Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat(styles): single-pass Tailwind determinism — www migration, per-package cleanup, wasm types (#653)
  apps/www/src/index.css
  apps/www/src/main.tsx
  apps/www/style.context.ts
  apps/www/vite.config.ts
  crates/leetype_wasm/package.json
  crates/some-crossword/package.json
  crates/viewport-rotation/package.json
  packages/some-styles/styles-build/dev-config.ts
  packages/some-styles/styles-build/resolve-context.d.mts
  packages/some-styles/styles-build/resolve-context.mjs
  packages/some-styles/styles-build/tests/compile.test.ts
  packages/some-styles/styles-build/tests/dev-config.test.ts
  packages/ui/chat/src/index.css
  packages/ui/chat/src/index.ts
  packages/ui/dice-card/src/index.css
  packages/ui/dice-card/src/index.ts
  packages/ui/honeycomb/src/index.css
  packages/ui/honeycomb/src/index.ts
  packages/ui/input/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/input/src/hooks/use-crossword-wasm/index.test.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm/index.test.ts
  packages/ui/input/src/index.css
  packages/ui/input/src/index.ts
  packages/ui/input/src/wasm-shims.d.ts
  packages/ui/neon-sign/src/index.css
  packages/ui/neon-sign/src/index.ts
  packages/ui/overlays/src/index.css
  packages/ui/overlays/src/index.ts
  packages/ui/shared/src/index.css
  packages/ui/shared/src/index.ts
  packages/ui/slideshow/src/index.css
  packages/ui/slideshow/src/index.ts
  packages/ui/stepper/src/index.css
  packages/ui/stepper/src/index.ts
  packages/ui/umag/src/index.css
  packages/ui/umag/src/index.ts
  packages/ui/wireframes/src/index.css
  packages/ui/wireframes/src/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Revert "chore(release): update WASM packages (#654)"
  crates/leetype_wasm/CHANGELOG.md
  crates/leetype_wasm/package.json
  crates/some-crossword/CHANGELOG.md
  crates/some-crossword/package.json
  crates/viewport-rotation/CHANGELOG.md
  crates/viewport-rotation/package.json
  packages/some-content/CHANGELOG.md
  packages/some-content/package.json
  packages/ui/input/CHANGELOG.md
  packages/ui/input/package.json
  packages/ui/overlays/CHANGELOG.md
  packages/ui/overlays/package.json
  packages/ui/stepper/CHANGELOG.md
  packages/ui/stepper/package.json
Due: eslint --fix, prettier --check --write

Revert "chore(release): update WASM packages (#654)" (#655)
  crates/leetype_wasm/CHANGELOG.md
  crates/leetype_wasm/package.json
  crates/some-crossword/CHANGELOG.md
  crates/some-crossword/package.json
  crates/viewport-rotation/CHANGELOG.md
  crates/viewport-rotation/package.json
  packages/some-content/CHANGELOG.md
  packages/some-content/package.json
  packages/ui/input/CHANGELOG.md
  packages/ui/input/package.json
  packages/ui/overlays/CHANGELOG.md
  packages/ui/overlays/package.json
  packages/ui/stepper/CHANGELOG.md
  packages/ui/stepper/package.json
Due: eslint --fix, prettier --check --write

fix(ci): stop wasm-release's pnpm install from breaking on the release commit
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): stop wasm-release's pnpm install from breaking on the release commit (#657)
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): scope wasm-release's publish install to the root project only
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): scope wasm-release publish install to the root project only (#658)
  .github/workflows/wasm-release.yml
Due: prettier --check --write

fix(ci): stop changesets from cascading wasm crate bumps into consumers
  .github/workflows/wasm-release.yml
  scripts/wasm-changeset-version.sh
Due: prettier --check --write

chore: update lockfile for published wasm crate versions
  pnpm-lock.yaml
Due: none

fix(deny): allow Unicode-3.0 license
  deny.toml
Due: none

fix(deny): correct Node license audit's pnpm licenses parsing
  .github/workflows/_deny-checks.yml
Due: prettier --check --write

fix(ci): stop changesets from cascading wasm crate bumps into consumers (#659)
  .github/workflows/_deny-checks.yml
  .github/workflows/wasm-release.yml
  deny.toml
  pnpm-lock.yaml
  scripts/wasm-changeset-version.sh
Due: prettier --check --write

fix(www): add wasm-unsafe-eval to CSP, add Docker Hub release CI
  .github/workflows/pr.yml
  .github/workflows/www-docker-release.yml
  apps/www/Dockerfile
  apps/www/nginx.https.conf
  apps/www/nginx.security-headers.conf
  apps/www/package.json
  apps/www/playwright.config.ts
  apps/www/tests/csp/csp.spec.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(www): add wasm-unsafe-eval to CSP, add Docker Hub release CI (#661)
  .github/workflows/pr.yml
  .github/workflows/www-docker-release.yml
  apps/www/Dockerfile
  apps/www/nginx.https.conf
  apps/www/nginx.security-headers.conf
  apps/www/package.json
  apps/www/playwright.config.ts
  apps/www/tests/csp/csp.spec.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(workspaces): keep eager dist cleanup in clean script for source-only pkgs
  packages/types/package.json
  packages/ui/shared/package.json
  packages/utils/package.json
Due: prettier --check --write

fix(some-content): resolve @content alias leak + life-scheduler null safety
  packages/some-content/src/components/overlay/cube-content/index.tsx
  packages/some-content/src/data/life-scheduler/index.ts
  packages/some-content/src/hooks/use-scene-driven-layout.ts
  packages/some-content/src/registry/index.ts
  packages/some-content/src/types/layout-trees-map.ts
Due: eslint --fix, prettier --check --write

fix(react-libs): declare react/react-dom peerDeps + lint to enforce it
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/react-peer-dependency.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/require-react-peer-dependency.ts
  packages/some-content/package.json
  packages/ui/chat/package.json
  packages/ui/interview/package.json
  packages/ui/overlays/package.json
  packages/ui/topik/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(vite-config): externalize react JSX-runtime subpaths (fixes runtime require shim)
  packages/eslint/src/rules/require-react-peer-dependency.ts
  packages/some-vite-config/src/lib/rollup.ts
Due: eslint --fix, prettier --check --write

refactor(extensions): replace some-ext-build runner with a Vite flatten plugin
  extensions/common/ext-build/dev-config.ts
  extensions/common/ext-build/run.mjs
  extensions/common/ext-build/types.ts
  extensions/common/package.json
  extensions/common/tsconfig.json
  extensions/common/vite/copy-files.ts
  extensions/common/vite/emit-unocss.ts
  extensions/common/vite/extension-config.ts
  extensions/common/vite/flatten-entries.ts
  extensions/common/vite/index.ts
  extensions/some-censor/build.context.ts
  extensions/some-censor/package.json
  extensions/some-censor/tsconfig.json
  extensions/some-censor/vite.config.ts
  extensions/some-conveyor/build.context.ts
  extensions/some-conveyor/package.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.ts
  extensions/some-drama/build.context.ts
  extensions/some-drama/package.json
  extensions/some-drama/tsconfig.json
  extensions/some-drama/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(extensions): green up drama/censor/conveyor CI (pre-existing debt)
  extensions/some-censor/public/manifest.firefox.json
  extensions/some-censor/vitest.config.ts
  extensions/some-conveyor/public/firefox-v3-manifest.json
  extensions/some-drama/src/components/form-structural/index.ts
Due: eslint --fix, prettier --check --write

feat(styles,www): multi-theme system with eye-strain-aware gradient text
  apps/www/index.html
  apps/www/src/components/theme-switcher.tsx
  apps/www/src/index.css
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/settings-repository.test.ts
  apps/www/src/lib/tenant/settings-repository.ts
  apps/www/src/lib/tenant/types.ts
  apps/www/src/providers/index.tsx
  apps/www/src/providers/theme.tsx
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/index.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  packages/some-styles/package.json
  packages/some-styles/src/index.ts
  packages/some-styles/src/preset/themes.ts
  packages/some-styles/src/theme/controller.ts
  packages/some-styles/src/theme/index.ts
  packages/some-styles/src/theme/registry.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/peachy-blossom.css
  packages/some-styles/themes/strawberry-moon.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(extensions): align common's vite peer dep, drop rolldown/rollup type drift
  extensions/common/package.json
  extensions/common/vite/extension-config.ts
  extensions/common/vite/flatten-entries.ts
  extensions/some-censor/vite.config.ts
  extensions/some-conveyor/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(conveyor): resolve polyhedron from node_modules, not crates/ source
  extensions/some-conveyor/vite.config.ts
Due: eslint --fix, prettier --check --write

chore(extensions): drop the dev script from drama/censor/conveyor
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-drama/package.json
Due: prettier --check --write

refactor(extensions): replace some-ext-build runner with a Vite flatten plugin (#665)
  extensions/common/ext-build/dev-config.ts
  extensions/common/ext-build/run.mjs
  extensions/common/ext-build/types.ts
  extensions/common/package.json
  extensions/common/tsconfig.json
  extensions/common/vite/copy-files.ts
  extensions/common/vite/emit-unocss.ts
  extensions/common/vite/extension-config.ts
  extensions/common/vite/flatten-entries.ts
  extensions/common/vite/index.ts
  extensions/some-censor/build.context.ts
  extensions/some-censor/package.json
  extensions/some-censor/public/manifest.firefox.json
  extensions/some-censor/tsconfig.json
  extensions/some-censor/vite.config.ts
  extensions/some-censor/vitest.config.ts
  extensions/some-conveyor/build.context.ts
  extensions/some-conveyor/package.json
  extensions/some-conveyor/public/firefox-v3-manifest.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/vite.config.ts
  extensions/some-drama/build.context.ts
  extensions/some-drama/package.json
  extensions/some-drama/src/components/form-structural/index.ts
  extensions/some-drama/tsconfig.json
  extensions/some-drama/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: lint and ensure devdeps workspace is added
  packages/ui/chat/package.json
  packages/ui/chat/src/components/chat-messages/index.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(www): clean up knip findings in apps/www
  apps/www/package.json
  apps/www/src/lib/activity-catalog/index.ts
  apps/www/src/lib/activity-catalog/types.ts
  apps/www/src/lib/tenant/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(www): clean up knip findings in apps/www (#668)
  apps/www/package.json
  apps/www/src/lib/activity-catalog/index.ts
  apps/www/src/lib/activity-catalog/types.ts
  apps/www/src/lib/tenant/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: pure data plumbing js modules are some-content
  .gitignore
  package.json
  packages/some-content/eslint.config.js
  packages/some-content/package.json
  packages/some-content/src/data/index.ts
  packages/some-content/src/data/life-scheduler/index.ts
  packages/some-content/src/index.ts
  packages/some-content/tsconfig.json
  packages/ui/calendar/package.json
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(claude): block Claude from editing .gitignore
  .claude/hooks/protect-gitignore.sh
  .claude/settings.json
Due: prettier --check --write

fix: welp more lint debt
  packages/some-content-registry/src/data/index.ts
  packages/some-content-registry/src/data/nfl/brick-data.ts
  packages/some-content-registry/src/data/nfl/index.ts
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.tsx
  packages/ui/nfl/src/hooks/use-nfl-tennis.ts
  packages/ui/nfl/src/lib/hopium/adapters/mock-adapter.ts
  packages/ui/nfl/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(claude): block Claude from editing .gitignore (#670)
  .claude/hooks/protect-gitignore.sh
  .claude/settings.json
Due: prettier --check --write
