Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix(some-conveyor): add missing build infra so extension compiles
  extensions/some-conveyor/public/firefox-v2-manifest.json
  extensions/some-conveyor/src/background/background.ts
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/types/vite-env.d.ts
  extensions/some-conveyor/vite.config.chromium.ts
  extensions/some-conveyor/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

feat(some-conveyor): migrate to build-time UnoCSS static-CSS pipeline (M3)
  extensions/some-conveyor/package.json
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/styles/conveyor.css
  extensions/some-conveyor/tsconfig.json
  extensions/some-conveyor/uno.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor(some-conveyor): author UI with preset utilities, drop inline-style soup
  .storybook/main.ts
  extensions/some-conveyor/package.json
  extensions/some-conveyor/src/components/faces/action/index.ts
  extensions/some-conveyor/src/components/faces/category-overview/index.ts
  extensions/some-conveyor/src/components/faces/clock/index.ts
  extensions/some-conveyor/src/components/faces/last-activity/index.ts
  extensions/some-conveyor/src/components/faces/streak-count/index.ts
  extensions/some-conveyor/src/components/faces/today-progress/index.ts
  extensions/some-conveyor/src/components/terminal/index.ts
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/cube-renderer.ts
  extensions/some-conveyor/src/lib/content/theme-engine.ts
  extensions/some-conveyor/src/styles/conveyor.css
  extensions/some-conveyor/uno.config.ts
  vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(storybook): stub oxc-parser wasm binding so dev/build resolves
  .storybook/main.ts
  __mocks__/oxc-parser-binding-stub.ts
Due: eslint --fix, prettier --check --write

feat(storybook): scan migrated extensions for UnoCSS utilities
  .storybook/uno.config.ts
Due: eslint --fix, prettier --check --write

feat: new form design
  extensions/some-drama/src/components/form-opinionated/preview-card/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/preview-card/index.ts
  extensions/some-drama/src/components/form-opinionated/quote-capture/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/quote-capture/index.ts
  extensions/some-drama/src/components/form-opinionated/reflection-editor/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/reflection-editor/index.ts
  extensions/some-drama/src/components/form-opinionated/transition-editor/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/transition-editor/index.ts
Due: eslint --fix, prettier --check --write

feat: new design
  extensions/some-drama/src/components/form-opinionated/accordion/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/accordion/index.ts
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.ts
  extensions/some-drama/src/components/form-opinionated/episode-header/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/episode-header/index.ts
  extensions/some-drama/src/components/form-opinionated/moment-tags/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/moment-tags/index.ts
  extensions/some-drama/src/components/form-opinionated/preview-card/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/preview-card/index.ts
  extensions/some-drama/src/components/form-opinionated/quote-capture/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/quote-capture/index.ts
  extensions/some-drama/src/components/form-opinionated/reflection-editor/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/reflection-editor/index.ts
  extensions/some-drama/src/components/form-opinionated/transition-editor/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/transition-editor/index.ts
  extensions/some-drama/src/components/form-opinionated/use-drama-journal-state.ts
  extensions/some-drama/src/styles/components/episode-header.css
  extensions/some-drama/src/styles/components/popup-form-mood.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/accordion.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/advanced-metrics.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/moment-tags.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/preview-card.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/quote-capture.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/reflection-editor.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/transition-editor.css
  extensions/some-drama/src/styles/components/popup/form-structural/popup-form-structural.css
  extensions/some-drama/src/styles/components/popup/popup-base.css
  extensions/some-drama/src/styles/popup.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: new design for form
  extensions/some-drama/src/components/form-opinionated/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/styles/components/popup-form-mood.css
  extensions/some-drama/src/styles/tokens/tokens.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: claude is really bad at design
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.ts
  extensions/some-drama/src/components/form-opinionated/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/styles/components/popup/form-opinionated/episode-header.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(some-drama): wire UnoCSS static-CSS build pipeline (M3 foundation)
  extensions/some-drama/package.json
  extensions/some-drama/popup.html
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/popup/popup.ts
  extensions/some-drama/tsconfig.json
  extensions/some-drama/uno.config.popup.ts
  extensions/some-drama/uno.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write

fix(some-drama): clear accumulated TS/ESLint debt
  extensions/some-drama/src/components/drag-controller/index.ts
  extensions/some-drama/src/components/form-opinionated/accordion/index.ts
  extensions/some-drama/src/components/form-opinionated/index.stories.tsx
  extensions/some-drama/src/components/form-structural/index.ts
  extensions/some-drama/src/components/slideshow/index.ts
  extensions/some-drama/src/lib/content/keybindings.ts
  extensions/some-drama/src/types/index.ts
  extensions/some-drama/vite.config.ts
Due: eslint --fix, prettier --check --write

feat(some-drama): content surface CSS migration — M3 session 3
  extensions/some-drama/src/components/capture-panel/index.ts
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/right-panel/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/content/particles.ts
  extensions/some-drama/src/styles/components/capture-panel.css
  extensions/some-drama/src/styles/components/card-shell.css
  extensions/some-drama/src/styles/components/right-panel.css
  extensions/some-drama/src/styles/components/root-layout.css
  extensions/some-drama/src/styles/components/title-pill.css
  extensions/some-drama/src/styles/tokens/tokens.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(some-drama): popup surface CSS migration — M3 session 4
  extensions/some-drama/package.json
  extensions/some-drama/popup.html
  extensions/some-drama/src/components/form-opinionated/accordion/index.ts
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.ts
  extensions/some-drama/src/components/form-opinionated/episode-header/index.ts
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/components/form-opinionated/moment-tags/index.ts
  extensions/some-drama/src/components/form-opinionated/preview-card/index.ts
  extensions/some-drama/src/components/form-opinionated/transition-editor/index.ts
  extensions/some-drama/src/components/form-structural/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/styles/components/popup/form-opinionated/accordion.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/advanced-metrics.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/episode-header.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/moment-tags.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/preview-card.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/transition-editor.css
  extensions/some-drama/src/styles/components/popup/form-structural/popup-form-structural.css
  extensions/some-drama/src/styles/components/popup/popup-base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-drama): replace empty-state pill with ephemeral glow dot
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/styles/components/root-layout.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor(some-drama): move dc-empty-pill sizing/offset props to utility classes
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/styles/components/root-layout.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(styles): add steel conveyor theme + shared font tokens
  packages/some-styles/README.md
  packages/some-styles/examples/showcase.html
  packages/some-styles/src/index.ts
  packages/some-styles/src/preset/index.ts
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/src/preset/themes.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/conveyor.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-filter): remove vite-tsconfig-paths to fix vite@5/vite@6 type conflict
  extensions/some-filter/vitest.config.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): exclude e2e specs from vitest to fix CI test step
  extensions/some-filter/vitest.config.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): remove vite-tsconfig-paths to fix vite@5/vite@6 type conflict (#229)
  extensions/some-filter/vitest.config.ts
Due: eslint --fix, prettier --check --write

fix(eslint): migrate maishatu-eslint-kit to ESLint v10 flat config API
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/tests/base.config.test.ts
  packages/eslint/tests/react.config.test.ts
  packages/eslint/tests/typescript.config.test.ts
  packages/eslint/tsconfig.json
  packages/eslint/vitest.config.ts
Due: eslint --fix, prettier --check --write

chore: lockfile
  pnpm-lock.yaml
Due: none

Fix ESLint v10 compatibility with @eslint/compat fixup utilities (#230)
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/tests/base.config.test.ts
  packages/eslint/tests/react.config.test.ts
  packages/eslint/tests/typescript.config.test.ts
  packages/eslint/tsconfig.json
  packages/eslint/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

docs(some-filter): ADR for dark-mode pipeline rework
  extensions/some-filter/docs/adr/0001-dark-mode-pipeline-rework.md
Due: eslint --fix, prettier --check --write

docs(some-filter): ADR for dark-mode pipeline rework (#239)
  extensions/some-filter/docs/adr/0001-dark-mode-pipeline-rework.md
Due: eslint --fix, prettier --check --write

fix: override deps extran.. lint for configs
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/overrides-deps.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/src/index.ts
Due: eslint --fix, prettier --check --write

fix: prettier
  extensions/some-filter/docs/adr/0001-dark-mode-pipeline-rework.md
Due: eslint --fix, prettier --check --write

fix: override deps extran.. lint for configs (#240)
  extensions/some-filter/docs/adr/0001-dark-mode-pipeline-rework.md
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/overrides-deps.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/src/index.ts
Due: eslint --fix, prettier --check --write

feat(conveyor): adopt steel theme, retire terminal theme
  extensions/some-conveyor/src/components/conveyor-strip/index.stories.tsx
  extensions/some-conveyor/src/components/cube-renderer/index.stories.tsx
  extensions/some-conveyor/src/components/story-bridge.tsx
  extensions/some-conveyor/src/lib/content/theme-engine.ts
  extensions/some-conveyor/src/styles/conveyor.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(conveyor): introduce ProjectionCell primitive, refactor faces
  extensions/some-conveyor/src/components/faces/action/index.ts
  extensions/some-conveyor/src/components/faces/category-overview/index.ts
  extensions/some-conveyor/src/components/faces/clock/index.ts
  extensions/some-conveyor/src/components/faces/last-activity/index.ts
  extensions/some-conveyor/src/components/faces/streak-count/index.ts
  extensions/some-conveyor/src/components/faces/today-progress/index.ts
  extensions/some-conveyor/src/components/projection-cell/index.stories.tsx
  extensions/some-conveyor/src/components/projection-cell/index.ts
  extensions/some-conveyor/src/components/terminal/index.ts
Due: eslint --fix, prettier --check --write

feat(conveyor): belt & cube depth treatment
  extensions/some-conveyor/src/components/conveyor-strip/index.stories.tsx
  extensions/some-conveyor/src/lib/content/cube-renderer.ts
  extensions/some-conveyor/src/styles/conveyor.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(conveyor): control rail HUD, manifest ticker, zone assembly
  extensions/some-conveyor/src/components/control-rail/index.stories.tsx
  extensions/some-conveyor/src/components/control-rail/index.ts
  extensions/some-conveyor/src/components/dom.ts
  extensions/some-conveyor/src/components/manifest-ticker/index.stories.tsx
  extensions/some-conveyor/src/components/manifest-ticker/index.ts
  extensions/some-conveyor/src/content/content.ts
  extensions/some-conveyor/src/lib/content/conveyor-engine.ts
  extensions/some-conveyor/src/lib/content/conveyor-zone.stories.tsx
  extensions/some-conveyor/src/lib/content/conveyor-zone.ts
  extensions/some-conveyor/src/styles/conveyor.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(conveyor): standalone stage demo reproducing the intent doc
  extensions/some-conveyor/src/components/stage/index.stories.tsx
Due: eslint --fix, prettier --check --write

feat(some-filter): invert control flow to apply-then-detect
  extensions/some-filter/src/content/content.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): already-dark detector decision + clean-restore invariant
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/__tests__/theme-detector.test.ts
  extensions/some-filter/src/lib/content/theme-detector.ts
Due: eslint --fix, prettier --check --write

refactor(some-filter): split content theming into theme-apply / theme-detector
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/color.test.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/__tests__/theme-detector.test.ts
  extensions/some-filter/src/lib/content/color.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/lib/content/theme-detector.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): overlay-based prepaint that does not touch vendor DOM
  extensions/some-filter/public/prepaint-end.js
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tests/e2e/specs/smoke.manual.spec.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor(some-filter): single source of truth for tab-state cycle + default
  extensions/some-filter/package.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/__tests__/tab-state.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/tab-state.ts
  extensions/some-filter/vite.config.chromium.ts
  extensions/some-filter/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): DarkReader-informed HSL color modification + image heuristic
  extensions/some-filter/docs/third-party/darkreader-LICENSE.md
  extensions/some-filter/src/lib/content/__tests__/images.test.ts
  extensions/some-filter/src/lib/content/__tests__/modify-colors.test.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/images.ts
  extensions/some-filter/src/lib/content/modify-colors.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
