Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix(some-filter): keep tagged-surface evidence across a yt-navigate route swap (#1518)
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/actuator.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/tests/e2e/fixtures/yt-spa-shell-page.html
  extensions/some-filter/tests/e2e/specs/yt-navigate-evidence.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

docs(some-censor): label architecture-at-a-glance as target, not shipped
  extensions/some-censor/README.md
Due: eslint --fix, prettier --check --write

docs(some-censor): don't overclaim purity or stale-answer recording
  extensions/some-censor/README.md
Due: eslint --fix, prettier --check --write

docs(some-censor): fix layout README link path
  extensions/some-censor/README.md
Due: eslint --fix, prettier --check --write

docs(some-censor): add architecture-at-a-glance section to README (#1517)
  extensions/some-censor/README.md
Due: eslint --fix, prettier --check --write

fix(some-filter): close the enforcement sheet's remaining paint surfaces
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): tag-constrain the typographic pseudo rule; reset file-button outline
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
Due: eslint --fix, prettier --check --write

test(some-filter): read a guarded subtree's glyph fill back, not only its colour
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): close the enforcement sheet's remaining paint surfaces (SF-CUT2b) (#1520)
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): veil handshake for the enforcement sheet (SF-CUT3)
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/document-scope.test.ts
  extensions/some-filter/src/adapter/document-scope.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/frame/frame.ts
  extensions/some-filter/src/lib/background/__tests__/guard.test.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/__tests__/coverage-observability.test.ts
  extensions/some-filter/src/lib/content/__tests__/enforcement-handshake.test.ts
  extensions/some-filter/src/lib/content/__tests__/guard.test.ts
  extensions/some-filter/src/lib/content/coverage-observability.ts
  extensions/some-filter/src/lib/content/coverage-watchdog.ts
  extensions/some-filter/src/lib/content/enforcement-dom.ts
  extensions/some-filter/src/lib/content/enforcement-handshake.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/tests/e2e/fixtures/frame-child-page.html
  extensions/some-filter/tests/e2e/fixtures/transition-vendor-page.html
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
  extensions/some-filter/tests/e2e/specs/sf-cut3-veil-handshake.spec.ts
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(some-filter): serialize enforcement operations per document; cover fallback-origin frames
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/frame/frame.ts
  extensions/some-filter/src/lib/content/__tests__/enforcement-handshake.test.ts
  extensions/some-filter/src/lib/content/enforcement-handshake.ts
  extensions/some-filter/tests/e2e/specs/sf-cut3-veil-handshake.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): confirm enforcement by a sheet-owned sentinel; old-browser frame fallback
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/frame/frame.ts
  extensions/some-filter/src/lib/content/__tests__/enforcement-handshake.test.ts
  extensions/some-filter/src/lib/content/coverage-observability.ts
  extensions/some-filter/src/lib/content/coverage-watchdog.ts
  extensions/some-filter/src/lib/content/enforcement-dom.ts
  extensions/some-filter/src/lib/content/enforcement-handshake.ts
  extensions/some-filter/tests/e2e/fixtures/bg0-vendor-page.html
  extensions/some-filter/tests/e2e/specs/sf-cut3-veil-handshake.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(some-filter): upgrade a persisted compatible frame registration in place
  extensions/some-filter/src/background/background.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): veil handshake for the enforcement sheet (SF-CUT3) (#1521)
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/document-scope.test.ts
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/document-scope.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/frame/frame.ts
  extensions/some-filter/src/lib/background/__tests__/guard.test.ts
  extensions/some-filter/src/lib/background/guard.ts
  extensions/some-filter/src/lib/content/__tests__/coverage-observability.test.ts
  extensions/some-filter/src/lib/content/__tests__/enforcement-handshake.test.ts
  extensions/some-filter/src/lib/content/__tests__/guard.test.ts
  extensions/some-filter/src/lib/content/coverage-observability.ts
  extensions/some-filter/src/lib/content/coverage-watchdog.ts
  extensions/some-filter/src/lib/content/enforcement-dom.ts
  extensions/some-filter/src/lib/content/enforcement-handshake.ts
  extensions/some-filter/src/lib/content/guard.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/types/message.ts
  extensions/some-filter/tests/e2e/fixtures/bg0-vendor-page.html
  extensions/some-filter/tests/e2e/fixtures/frame-child-page.html
  extensions/some-filter/tests/e2e/fixtures/transition-vendor-page.html
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
  extensions/some-filter/tests/e2e/specs/sf-cut3-veil-handshake.spec.ts
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(www): drop the deleted nfl package from the style scan and guard the reverse direction
  apps/www/src/lib/style-context/style-context.test.ts
  apps/www/style.context.ts
Due: eslint --fix, prettier --check --write

fix(build): drop @some-ui/ws's build fields from the private root manifest
  package.json
Due: prettier --check --write

fix(www): drop dead vite build config; record what moduleSideEffects actually drops
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix(www): drop dead vite build config; record what moduleSideEffects actually drops (BLD-C4) (#1524)
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix(extensions): give each extension config its own tsbuildinfo
  extensions/some-censor/package.json
  extensions/some-censor/tsconfig.build.json
  extensions/some-censor/tsconfig.json
  extensions/some-conveyor/package.json
  extensions/some-conveyor/tsconfig.build.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-drama/tsconfig.build.json
  extensions/some-drama/tsconfig.json
  extensions/some-filter/package.json
  extensions/some-filter/tsconfig.build.json
  extensions/some-filter/tsconfig.json
  extensions/some-mujik/tsconfig.build.json
  extensions/some-mujik/tsconfig.json
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/tsconfig.build.json
  extensions/suspender-ledger/tsconfig.json
Due: prettier --check --write

fix(build): typecheck and lint:js build what they depend on first
  .github/workflows/pr.yml
  CLAUDE.md
  turbo.json
Due: eslint --fix, prettier --check --write

fix(drama): clean its own tsbuildinfo files now that they live locally
  extensions/some-drama/package.json
Due: prettier --check --write

fix(build): per-extension tsbuildinfo; typecheck and lint:js build their dependencies first (#1525)
  .github/workflows/pr.yml
  CLAUDE.md
  extensions/some-censor/package.json
  extensions/some-censor/tsconfig.build.json
  extensions/some-censor/tsconfig.json
  extensions/some-conveyor/package.json
  extensions/some-conveyor/tsconfig.build.json
  extensions/some-conveyor/tsconfig.json
  extensions/some-drama/package.json
  extensions/some-drama/tsconfig.build.json
  extensions/some-drama/tsconfig.json
  extensions/some-filter/package.json
  extensions/some-filter/tsconfig.build.json
  extensions/some-filter/tsconfig.json
  extensions/some-mujik/tsconfig.build.json
  extensions/some-mujik/tsconfig.json
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/tsconfig.build.json
  extensions/suspender-ledger/tsconfig.json
  turbo.json
Due: eslint --fix, prettier --check --write

fix(resume): skip Poppler checks locally, clear documents/ on failure (BLD-B2)
  CLAUDE.md
  packages/ui/resume/README.md
  packages/ui/resume/scripts/compile.mjs
Due: eslint --fix, prettier --check --write

fix(www): fail at once when @some-ui/resume's module build is missing
  apps/www/scripts/sync-resume.mjs
Due: eslint --fix, prettier --check --write

fix(resume): say what a failed download was, retry transients, cache in CI
  .github/actions/resume-assets-cache/action.yml
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/trunk.yml
  CLAUDE.md
  packages/ui/resume/scripts/download.mjs
  packages/ui/resume/scripts/fonts.mjs
  packages/ui/resume/scripts/typst.mjs
Due: eslint --fix, prettier --check --write

fix(resume): clear documents/ before resolving typst and the fonts
  packages/ui/resume/scripts/compile.mjs
Due: eslint --fix, prettier --check --write

fix(resume): a cold résumé build fails legibly or not at all (BLD-B1/B2/B3) (#1526)
  .github/actions/resume-assets-cache/action.yml
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/trunk.yml
  CLAUDE.md
  apps/www/scripts/sync-resume.mjs
  packages/ui/resume/README.md
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/scripts/download.mjs
  packages/ui/resume/scripts/fonts.mjs
  packages/ui/resume/scripts/typst.mjs
Due: eslint --fix, prettier --check --write

perf(www): oxc minifier, and sourcemaps/gzip report only for build:analyze
  apps/www/scripts/analyze-bundle.js
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix(www): keep build:analyze unminified — apply output.minify only outside it
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

perf(www): oxc minifier; sourcemaps and gzip report only for build:analyze (BLD-A3) (#1527)
  apps/www/scripts/analyze-bundle.js
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

test(leetype): hold round-cycle's exhaustiveness in a compile-only fixture
  packages/ui/leetype/src/lib/leetype/round-cycle/__type-fixtures__/round-cycle-state.fixtures.ts
  packages/ui/leetype/src/lib/leetype/round-cycle/index.test.ts
Due: eslint --fix, prettier --check --write

test(packages): move crowded colocated tests into __tests__/
  packages/activity-catalog/src/lib/__tests__/catalogue-size.test.ts
  packages/activity-catalog/src/lib/__tests__/rank.test.ts
  packages/activity-catalog/src/lib/__tests__/search.test.ts
  packages/activity-catalog/src/lib/__tests__/summary.test.ts
  packages/activity-catalog/src/lib/to-scene-config/__tests__/index.test.ts
  packages/activity-catalog/src/lib/to-scene-config/__tests__/session-activity-round-trip.test.ts
  packages/contract-harness/src/__tests__/conformance.test.ts
  packages/contract-harness/src/__tests__/contract.test.ts
  packages/contract-harness/src/__tests__/drift.test.ts
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/intent-kit/src/__tests__/intent-error.test.ts
  packages/intent-kit/src/__tests__/intent.test.ts
  packages/intent-kit/src/__tests__/package-shape.test.ts
  packages/intent-kit/vitest.config.ts
  packages/some-styles/src/theme/__tests__/boundary.test.ts
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/__tests__/tokens.test.ts
  packages/speech/README.md
  packages/speech/src/lib/adapters/__tests__/adapter-contract.test.ts
  packages/speech/src/lib/adapters/__tests__/registry.test.ts
  packages/speech/src/lib/queue/__tests__/manager.test.ts
  packages/speech/src/lib/queue/__tests__/reducer.test.ts
  packages/speech/src/lib/queue/__tests__/singleton.test.ts
Due: eslint --fix, prettier --check --write

fix(leetype): keep the compile-only fixture out of the package build
  packages/ui/leetype/tsconfig.build.json
Due: prettier --check --write

test: round-cycle exhaustiveness as a compile-only fixture; packages/* tests into __tests__/ (#1528)
  packages/activity-catalog/src/lib/__tests__/catalogue-size.test.ts
  packages/activity-catalog/src/lib/__tests__/rank.test.ts
  packages/activity-catalog/src/lib/__tests__/search.test.ts
  packages/activity-catalog/src/lib/__tests__/summary.test.ts
  packages/activity-catalog/src/lib/to-scene-config/__tests__/index.test.ts
  packages/activity-catalog/src/lib/to-scene-config/__tests__/session-activity-round-trip.test.ts
  packages/contract-harness/src/__tests__/conformance.test.ts
  packages/contract-harness/src/__tests__/contract.test.ts
  packages/contract-harness/src/__tests__/drift.test.ts
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/intent-kit/src/__tests__/intent-error.test.ts
  packages/intent-kit/src/__tests__/intent.test.ts
  packages/intent-kit/src/__tests__/package-shape.test.ts
  packages/intent-kit/vitest.config.ts
  packages/some-styles/src/theme/__tests__/boundary.test.ts
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/__tests__/tokens.test.ts
  packages/speech/README.md
  packages/speech/src/lib/adapters/__tests__/adapter-contract.test.ts
  packages/speech/src/lib/adapters/__tests__/registry.test.ts
  packages/speech/src/lib/queue/__tests__/manager.test.ts
  packages/speech/src/lib/queue/__tests__/reducer.test.ts
  packages/speech/src/lib/queue/__tests__/singleton.test.ts
  packages/ui/leetype/src/lib/leetype/round-cycle/__type-fixtures__/round-cycle-state.fixtures.ts
  packages/ui/leetype/src/lib/leetype/round-cycle/index.test.ts
  packages/ui/leetype/tsconfig.build.json
Due: eslint --fix, prettier --check --write

test(packages/ui): move crowded colocated tests into __tests__/
  packages/ui/honeycomb/src/hooks/__tests__/use-game-audio.test.ts
  packages/ui/honeycomb/src/hooks/__tests__/use-prompt-escalation.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/__tests__/default-config-parity.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/__tests__/index.methods.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/__tests__/index.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/__tests__/corpus-lint.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/__tests__/index.test.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/__tests__/rows.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/concepts.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/obligation-graph.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/routing.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/totality.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/ttfk.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/worked-route.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/citation-check.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/generated.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/parse-canon.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/registry-integrity.test.ts
  packages/ui/leetype/src/lib/leetype/rationale-match.test.ts
  packages/ui/leetype/src/types/__tests__/algorithm.test.ts
  packages/ui/leetype/src/types/__tests__/constraint.test.ts
  packages/ui/leetype/src/types/__tests__/exercise.test.ts
  packages/ui/leetype/src/types/__tests__/round.test.ts
  packages/ui/portfolio-chart/src/lib/__tests__/archetypeDetector.test.ts
  packages/ui/portfolio-chart/src/lib/__tests__/blackScholes.test.ts
  packages/ui/wireframes/src/lib/__tests__/layout-intent.property.test.ts
  packages/ui/wireframes/src/lib/__tests__/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/__tests__/tree-serialization.property.test.ts
Due: eslint --fix, prettier --check --write

test(packages/ui): move crowded colocated tests into __tests__/ (#1529)
  packages/ui/honeycomb/src/hooks/__tests__/use-game-audio.test.ts
  packages/ui/honeycomb/src/hooks/__tests__/use-prompt-escalation.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/__tests__/default-config-parity.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/__tests__/index.methods.test.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge/__tests__/index.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/__tests__/corpus-lint.test.ts
  packages/ui/leetype/src/components/typing-game/prompt-panel/__tests__/index.test.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/__tests__/rows.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/concepts.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/obligation-graph.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/routing.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/totality.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/ttfk.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/__tests__/worked-route.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/citation-check.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/generated.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/parse-canon.test.ts
  packages/ui/leetype/src/lib/leetype/proposition-register/__tests__/registry-integrity.test.ts
  packages/ui/leetype/src/lib/leetype/rationale-match.test.ts
  packages/ui/leetype/src/types/__tests__/algorithm.test.ts
  packages/ui/leetype/src/types/__tests__/constraint.test.ts
  packages/ui/leetype/src/types/__tests__/exercise.test.ts
  packages/ui/leetype/src/types/__tests__/round.test.ts
  packages/ui/portfolio-chart/src/lib/__tests__/archetypeDetector.test.ts
  packages/ui/portfolio-chart/src/lib/__tests__/blackScholes.test.ts
  packages/ui/wireframes/src/lib/__tests__/layout-intent.property.test.ts
  packages/ui/wireframes/src/lib/__tests__/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/__tests__/tree-serialization.property.test.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
