Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat(suspender-ledger): finalize Firefox build gate + AMO sign workflow
  .gitignore
  extensions/suspender-ledger/.env.example
  extensions/suspender-ledger/.gitignore
  extensions/suspender-ledger/NOTICE
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
Due: eslint --fix, prettier --check --write

fix(ci): stop force-all when only pnpm-lock.yaml changes
  .github/workflows/_extension-detect.yml
Due: prettier --check --write

fix(ci): stop lockfile-only changes from triggering unnecessary jobs
  .github/workflows/_detect-changes.yml
  .github/workflows/storybook-build.yml
Due: prettier --check --write

fix(ci): stop lockfile-only changes from triggering unnecessary jobs
  .github/workflows/_detect-changes.yml
  .github/workflows/_extension-detect.yml
  .github/workflows/storybook-build.yml
Due: prettier --check --write

test(suspender-ledger): add CI-portable suspend-page E2E smoke (Playwright)
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/playwright.config.ts
  extensions/suspender-ledger/tests/e2e/specs/suspend-page.spec.ts
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): surface lastError from tabs.discard and open startup gate on SW respawn
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/startup.test.ts
  extensions/suspender-ledger/src/worker/core/startup.ts
Due: eslint --fix, prettier --check --write

[suspender-ledger] Finalize Firefox build gate + AMO sign workflow (#298)
  .gitignore
  extensions/suspender-ledger/.env.example
  extensions/suspender-ledger/.gitignore
  extensions/suspender-ledger/NOTICE
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/playwright.config.ts
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/startup.test.ts
  extensions/suspender-ledger/src/worker/core/startup.ts
  extensions/suspender-ledger/tests/e2e/specs/suspend-page.spec.ts
  extensions/suspender-ledger/tsconfig.json
  extensions/suspender-ledger/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): port meta collector to repair auto-suspend (#301)
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/meta.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/vite.config.firefox.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): remove lint:ext from main lint script
  extensions/suspender-ledger/package.json
Due: prettier --check --write

Add number-based auto-discard mode with tab metadata collector (#303)
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/meta.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/vite.config.firefox.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write

docs(extensions): add AMO compliance guide
  extensions/docs/amo-compliance.md
Due: eslint --fix, prettier --check --write

ci(extensions): gate AMO sign behind manual workflow_dispatch
  .github/workflows/extension-sign-manual.yml
  .github/workflows/extension.yml
Due: prettier --check --write

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/extension-sign-manual.yml
Due: prettier --check --write

docs: add AMO compliance & extension publishing guide (#326)
  .github/workflows/extension-sign-manual.yml
  .github/workflows/extension.yml
  extensions/docs/amo-compliance.md
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): wire prepends title marker and suspend.html into discard flow
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): pin suspend page to filter dark theme, drop light-mode flash-bang
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/suspend.html
Due: stylelint --allow-empty-input, prettier --write

fix(suspender-ledger): revert to native discard + fix auto-discard multi-frame time bug
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): repair auto-discard meta collector and restore suspend-page navigation
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/meta.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
  extensions/suspender-ledger/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): lastAccessed fallback for pre-existing tabs; restrict restore to button
  extensions/suspender-ledger/src/content/meta.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
Due: eslint --fix, prettier --check --write

docs(suspender-ledger): add design-notes and mark manifest as Beta
  extensions/suspender-ledger/docs/design-notes.md
  extensions/suspender-ledger/public/manifest.firefox.json
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): wire suspend.html + prepends marker; fix auto-discard; add beta docs (#327)
  extensions/suspender-ledger/docs/design-notes.md
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/content/meta.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
  extensions/suspender-ledger/suspend.html
  extensions/suspender-ledger/vite.config.firefox.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(eslint): add AMO-compliance ESLint configs and Good-Citizen Charter rules
  packages/eslint/package.json
  packages/eslint/src/configs/extensions-charter.config.ts
  packages/eslint/src/configs/extensions-security.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-logic-layer-side-effects.ts
  packages/eslint/src/rules/no-raw-storage.ts
  packages/eslint/src/rules/no-unprefixed-namespace.ts
  packages/eslint/src/rules/no-zindex-escalation.ts
  packages/eslint/tests/extensions.lint.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(eslint): export extensionsRecommended and wire all extension workspaces
  extensions/common/eslint.config.js
  extensions/some-censor/eslint.config.js
  extensions/some-conveyor/eslint.config.js
  extensions/some-cycle/eslint.config.js
  extensions/some-cycle/packages/content/eslint.config.js
  extensions/some-cycle/packages/types/eslint.config.js
  extensions/some-drama/eslint.config.js
  extensions/some-filter/eslint.config.js
  extensions/some-mujik/eslint.config.js
  extensions/some-prompt/eslint.config.js
  extensions/some-schedule/eslint.config.js
  extensions/some-scrobbler/eslint.config.js
  extensions/some-streak/eslint.config.js
  extensions/some-tab-meta/eslint.config.js
  extensions/suspender-ledger/eslint.config.js
  extensions/tab-tracker/eslint.config.js
  packages/eslint/src/index.ts
Due: eslint --fix, prettier --check --write

fix(eslint): pin eslint@10 and maishatu-eslint-kit in web-ext workspaces
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-cycle/package.json
  extensions/some-scrobbler/package.json
Due: prettier --check --write

chore: lockfile
  pnpm-lock.yaml
Due: none

chore: lockfile
  extensions/some-conveyor/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: add AMO-compliance ESLint configs and Good-Citizen Charter rules (#336)
  extensions/common/GOOD_CITIZEN.md
  extensions/common/README.md
  extensions/common/eslint.config.js
  extensions/some-censor/eslint.config.js
  extensions/some-censor/package.json
  extensions/some-conveyor/eslint.config.js
  extensions/some-conveyor/package.json
  extensions/some-cycle/eslint.config.js
  extensions/some-cycle/package.json
  extensions/some-cycle/packages/content/eslint.config.js
  extensions/some-cycle/packages/types/eslint.config.js
  extensions/some-drama/eslint.config.js
  extensions/some-filter/eslint.config.js
  extensions/some-mujik/eslint.config.js
  extensions/some-prompt/eslint.config.js
  extensions/some-schedule/eslint.config.js
  extensions/some-scrobbler/eslint.config.js
  extensions/some-scrobbler/package.json
  extensions/some-streak/eslint.config.js
  extensions/some-tab-meta/eslint.config.js
  extensions/suspender-ledger/eslint.config.js
  extensions/tab-tracker/eslint.config.js
  packages/eslint/package.json
  packages/eslint/src/configs/extensions-charter.config.ts
  packages/eslint/src/configs/extensions-security.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-logic-layer-side-effects.ts
  packages/eslint/src/rules/no-raw-storage.ts
  packages/eslint/src/rules/no-unprefixed-namespace.ts
  packages/eslint/src/rules/no-zindex-escalation.ts
  packages/eslint/tests/extensions.lint.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(amo): add source archive packaging and AMO upload for A1 compliance
  .github/workflows/_extension-sign.yml
  extensions/scripts/package-source.sh
  extensions/some-censor/README.build.md
  extensions/some-censor/package.json
  extensions/some-conveyor/README.build.md
  extensions/some-conveyor/package.json
  extensions/some-cycle/README.build.md
  extensions/some-cycle/package.json
  extensions/some-drama/README.build.md
  extensions/some-drama/package.json
  extensions/some-filter/README.build.md
  extensions/some-filter/package.json
  extensions/some-mujik/README.build.md
  extensions/some-mujik/package.json
  extensions/some-prompt/README.build.md
  extensions/some-prompt/package.json
  extensions/some-schedule/README.build.md
  extensions/some-schedule/package.json
  extensions/some-scrobbler/README.build.md
  extensions/some-scrobbler/package.json
  extensions/some-streak/README.build.md
  extensions/some-streak/package.json
  extensions/some-tab-meta/README.build.md
  extensions/some-tab-meta/package.json
  extensions/suspender-ledger/README.build.md
  extensions/suspender-ledger/package.json
  extensions/tab-tracker/README.build.md
  extensions/tab-tracker/package.json
  turbo.json
Due: eslint --fix, prettier --check --write

fix(amo): include full workspace devDeps in source archive
  extensions/scripts/package-source.sh
  extensions/some-censor/README.build.md
  extensions/some-conveyor/README.build.md
  extensions/some-cycle/README.build.md
  extensions/some-drama/README.build.md
  extensions/some-filter/README.build.md
  extensions/some-mujik/README.build.md
  extensions/some-prompt/README.build.md
  extensions/some-schedule/README.build.md
  extensions/some-scrobbler/README.build.md
  extensions/some-streak/README.build.md
  extensions/some-tab-meta/README.build.md
  extensions/suspender-ledger/README.build.md
  extensions/tab-tracker/README.build.md
Due: eslint --fix, prettier --check --write

fix(amo): narrow source archive to only eslint and tsconfig workspace packages
  extensions/scripts/package-source.sh
  extensions/some-censor/README.build.md
  extensions/some-conveyor/README.build.md
  extensions/some-cycle/README.build.md
  extensions/some-drama/README.build.md
  extensions/some-filter/README.build.md
  extensions/some-mujik/README.build.md
  extensions/some-prompt/README.build.md
  extensions/some-schedule/README.build.md
  extensions/some-scrobbler/README.build.md
  extensions/some-streak/README.build.md
  extensions/some-tab-meta/README.build.md
  extensions/suspender-ledger/README.build.md
  extensions/tab-tracker/README.build.md
Due: eslint --fix, prettier --check --write

fix(amo): add source archive packaging and AMO upload for A1 compliance (#337)
  .github/workflows/_extension-sign.yml
  extensions/scripts/package-source.sh
  extensions/some-censor/README.build.md
  extensions/some-censor/package.json
  extensions/some-conveyor/README.build.md
  extensions/some-conveyor/package.json
  extensions/some-cycle/README.build.md
  extensions/some-cycle/package.json
  extensions/some-drama/README.build.md
  extensions/some-drama/package.json
  extensions/some-filter/README.build.md
  extensions/some-filter/package.json
  extensions/some-mujik/README.build.md
  extensions/some-mujik/package.json
  extensions/some-prompt/README.build.md
  extensions/some-prompt/package.json
  extensions/some-schedule/README.build.md
  extensions/some-schedule/package.json
  extensions/some-scrobbler/README.build.md
  extensions/some-scrobbler/package.json
  extensions/some-streak/README.build.md
  extensions/some-streak/package.json
  extensions/some-tab-meta/README.build.md
  extensions/some-tab-meta/package.json
  extensions/suspender-ledger/README.build.md
  extensions/suspender-ledger/package.json
  extensions/tab-tracker/README.build.md
  extensions/tab-tracker/package.json
  turbo.json
Due: eslint --fix, prettier --check --write

fix: lint
  extensions/some-censor/src/lib/content/events.ts
  extensions/some-censor/src/lib/content/extract/channel-id.ts
  extensions/some-censor/src/lib/content/extract/meta.ts
  extensions/some-censor/src/lib/content/extract/title.ts
  extensions/some-filter/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --check --write

fix(review): tighten permissions, gate fetch to dev, add dom-invariant tests
  extensions/some-censor/public/manifest.firefox.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/lib/background/api-client.ts
  extensions/some-censor/tests/e2e/specs/dom-invariants.spec.ts
  extensions/some-censor/tsconfig.json
  extensions/some-mujik/amo-notes.md
  extensions/some-mujik/public/manifest.json
Due: eslint --fix, prettier --check --write

feat(common): hoist browser invariants to common workspace + per-extension smoke specs
  extensions/common/package.json
  extensions/common/playwright.config.ts
  extensions/common/tests/browser-invariants/browser-invariants.spec.ts
  extensions/common/tsconfig.json
  extensions/docs/REVIEWER.md
  extensions/some-censor/amo-notes.md
  extensions/some-censor/tests/e2e/specs/dom-invariants.spec.ts
  extensions/some-censor/tests/e2e/specs/smoke.spec.ts
  extensions/some-conveyor/tests/e2e/specs/smoke.spec.ts
  extensions/some-filter/tests/e2e/specs/smoke.spec.ts
  extensions/some-mujik/package.json
  extensions/some-mujik/playwright.config.ts
  extensions/some-mujik/tests/e2e/fixture.ts
  extensions/some-mujik/tests/e2e/fixtures/nonyt-page.html
  extensions/some-mujik/tests/e2e/global-setup.ts
  extensions/some-mujik/tests/e2e/global-teardown.ts
  extensions/some-mujik/tests/e2e/specs/smoke.spec.ts
  extensions/some-mujik/tsconfig.json
  extensions/suspender-ledger/tests/e2e/specs/smoke.spec.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write, prettier --write

docs(amo): include extensions/docs/ in source archive and link REVIEWER.md from each README.build.md
  extensions/scripts/package-source.sh
  extensions/some-censor/README.build.md
  extensions/some-conveyor/README.build.md
  extensions/some-filter/README.build.md
  extensions/some-mujik/README.build.md
  extensions/suspender-ledger/README.build.md
Due: eslint --fix, prettier --check --write

fix: remove host flag
  package.json
Due: prettier --check --write

fix: chromium path
  extensions/common/package.json
  extensions/common/playwright.config.ts
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/playwright.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(extensions): add missing icons, fix e2e headless+injection issues
  extensions/some-censor/package.json
  extensions/some-censor/playwright.config.ts
  extensions/some-censor/scripts/patch-test-manifest.mjs
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-conveyor/public/assets/icon-128.png
  extensions/some-conveyor/public/assets/icon-16.png
  extensions/some-conveyor/public/assets/icon-48.png
  extensions/some-drama/public/assets/icon-128.png
  extensions/some-drama/public/assets/icon-16.png
  extensions/some-drama/public/assets/icon-48.png
  extensions/some-filter/playwright.config.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-mujik/playwright.config.ts
  extensions/some-mujik/public/assets/icon-128.png
  extensions/some-mujik/public/assets/icon-16.png
  extensions/some-mujik/public/assets/icon-48.png
  extensions/some-mujik/tests/e2e/fixture.ts
  extensions/some-schedule/public/icons/128.png
  extensions/some-schedule/public/icons/16.png
  extensions/some-schedule/public/icons/48.png
  extensions/some-streak/public/assets/icon-128.png
  extensions/some-streak/public/assets/icon-16.png
  extensions/some-streak/public/assets/icon-48.png
  extensions/tab-tracker/public/assets/icon-128.png
  extensions/tab-tracker/public/assets/icon-16.png
  extensions/tab-tracker/public/assets/icon-48.png
Due: eslint --fix, prettier --check --write
