Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

docs(leetype): describe the LTY-SEED prompt as forthcoming, not landed (#1106)
  docs/leetype/retired-curriculum-decomposer.md
Due: eslint --fix, prettier --check --write

docs(leetype): record the LTY-SEED corpus-generation decision (#1124)
  docs/leetype/README.md
  docs/leetype/retired-curriculum-decomposer.md
Due: eslint --fix, prettier --check --write

refactor(leetype): split the exercise seed into per-concept modules (#1107)
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/concept-index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/concept-index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/division-guard.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/entry-api.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/fixtures.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/inclusive-boundary.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/lazy-default.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/loop-progress.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/shrinking-interval.ts
Due: eslint --fix, prettier --check --write

fix(leetype): use the @leetype path alias for concepts, not ../concepts
  packages/ui/leetype/src/lib/leetype/exercises/seed/concept-index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/division-guard.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/entry-api.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/fixtures.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/inclusive-boundary.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/lazy-default.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/loop-progress.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/shrinking-interval.ts
Due: eslint --fix, prettier --check --write

refactor(leetype): split the exercise seed into per-concept modules (#1125)
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/concept-index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/concept-index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/division-guard.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/entry-api.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/fixtures.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/inclusive-boundary.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/lazy-default.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/loop-progress.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/shrinking-interval.ts
Due: eslint --fix, prettier --check --write

docs(leetype): add the exercise generator prompt (#1108)
  packages/some-content/prompts/leetype-exercise-generator/index.md
Due: eslint --fix, prettier --check --write

docs(leetype): fix two review findings in the generator prompt (#1108)
  packages/some-content/prompts/leetype-exercise-generator/index.md
Due: eslint --fix, prettier --check --write

docs(leetype): add the exercise generator prompt (#1126)
  packages/some-content/prompts/leetype-exercise-generator/index.md
Due: eslint --fix, prettier --check --write

feat(leetype): a worked generation run — two exercises, one finding (#1109)
  docs/leetype/leetype-exercise-generator-log.md
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/src/lib/leetype/exercises/concepts.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/binary-search-place.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/memoization.ts
Due: eslint --fix, prettier --check --write

fix(leetype): report distinct subproblems, not "calls," in the memoization trace
  docs/leetype/leetype-exercise-generator-log.md
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/src/lib/leetype/exercises/seed/memoization.ts
Due: eslint --fix, prettier --check --write

feat(leetype): a worked generation run — two exercises, one finding (#1127)
  docs/leetype/leetype-exercise-generator-log.md
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/src/lib/leetype/exercises/concepts.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/binary-search-place.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/memoization.ts
Due: eslint --fix, prettier --check --write

docs(leetype): record G5's lint decisions — no new check, two judgment calls (#1110)
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
Due: eslint --fix, prettier --check --write

fix(leetype): document trace-verification as review-only in corpus-lint.ts too
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
Due: eslint --fix, prettier --check --write

docs(leetype): record G5's lint decisions — no new check, two judgment calls (#1128)
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
Due: eslint --fix, prettier --check --write

feat(leetype): loop exercises until session expiry
  docs/leetype/postmortem-session-routing-spec-review.md
  packages/activity-catalog/src/lib/catalog.ts
  packages/activity-catalog/src/lib/to-scene-config/index.test.ts
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-exercise-runner/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-exercise-runner/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/scheduling.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/scheduling.ts
Due: eslint --fix, prettier --check --write

feat(leetype): loop exercises until session expiry, minus the postmortem doc
  docs/leetype/README.md
  packages/activity-catalog/src/lib/catalog.ts
  packages/activity-catalog/src/lib/to-scene-config/index.test.ts
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/scripts/check-corpus-lint.ts
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.test.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/rows.test.ts
  packages/ui/leetype/src/components/typing-game/typing-viewport/index.stories.tsx
  packages/ui/leetype/src/hooks/leetype/use-exercise-runner/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-exercise-runner/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/scheduling.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/scheduling.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/binary-search-place.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/division-guard.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/entry-api.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/lazy-default.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/loop-progress.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/memoization.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

fix(leetype): anchor session clock at mount, not at the Begin click
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
Due: eslint --fix, prettier --check --write

LeetType: session duration + seeded scheduler, canonical diff overlay, no default-first fallback (#1130)
  docs/leetype/README.md
  packages/activity-catalog/src/lib/catalog.ts
  packages/activity-catalog/src/lib/to-scene-config/index.test.ts
  packages/some-content/prompts/leetype-exercise-generator/index.md
  packages/ui/leetype/scripts/check-corpus-lint.ts
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.test.tsx
  packages/ui/leetype/src/components/typing-game/exercise-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/prompt-panel/rows.test.ts
  packages/ui/leetype/src/components/typing-game/typing-viewport/index.stories.tsx
  packages/ui/leetype/src/hooks/leetype/use-exercise-runner/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-exercise-runner/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/scheduling.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/scheduling.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/binary-search-place.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/division-guard.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/entry-api.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/lazy-default.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/loop-progress.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed/memoization.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

fix(resume): replace binary photo with placeholder
  packages/ui/resume/README.md
  packages/ui/resume/resume.data.typ
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: eslint --fix, prettier --check --write

fix(resume): improve typography and remove assumed location
  packages/ui/resume/resume.data.typ
  packages/ui/resume/resume.typ
Due: none

feat(resume): organize sources and add ATS smoke test
  packages/ui/resume/README.md
  packages/ui/resume/package.json
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/template/resume.typ
Due: eslint --fix, prettier --check --write

feat(resume): template/theme/font matrix, hermetic fonts, page-fill fitting
  flake.nix
  nix/pdf/default.nix
  packages/ui/resume/README.md
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/scripts/fonts.mjs
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/personal.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/lib/fit.typ
  packages/ui/resume/src/lib/parts.typ
  packages/ui/resume/src/lib/two-column.typ
  packages/ui/resume/src/main.typ
  packages/ui/resume/src/template/resume.typ
  packages/ui/resume/src/templates/classic.typ
  packages/ui/resume/src/templates/compact.typ
  packages/ui/resume/src/templates/rail.typ
  packages/ui/resume/src/theme/index.typ
Due: eslint --fix, prettier --check --write

fix(www): install poppler-utils in the Docker builder stage
  apps/www/Dockerfile
Due: none

fix(resume): stop exporting FONT_FAMILIES
  packages/ui/resume/scripts/fonts.mjs
Due: eslint --fix, prettier --check --write

fix(resume): assert line spacing against the rendered PDF
  packages/ui/resume/README.md
  packages/ui/resume/package.json
  packages/ui/resume/scripts/check-layout.mjs
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/src/lib/parts.typ
  packages/ui/resume/src/lib/two-column.typ
  packages/ui/resume/src/templates/classic.typ
Due: eslint --fix, prettier --check --write

fix(ci): scope the CSP regression step to the CSP spec
  .github/workflows/pr.yml
Due: prettier --check --write

Résumé: template/theme/font matrix, hermetic fonts, and a one-page fit that fills the page (#1133)
  .github/workflows/pr.yml
  apps/www/Dockerfile
  flake.nix
  nix/pdf/default.nix
  packages/ui/resume/README.md
  packages/ui/resume/package.json
  packages/ui/resume/resume.typ
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/check-layout.mjs
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/scripts/fonts.mjs
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/personal.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/lib/fit.typ
  packages/ui/resume/src/lib/parts.typ
  packages/ui/resume/src/lib/two-column.typ
  packages/ui/resume/src/main.typ
  packages/ui/resume/src/templates/classic.typ
  packages/ui/resume/src/templates/compact.typ
  packages/ui/resume/src/templates/rail.typ
  packages/ui/resume/src/theme/index.typ
Due: eslint --fix, prettier --check --write

fix(www): stop handing phone landscape a PDF it can only mislabel
  apps/www/src/routes/_dashboard/resume.tsx
Due: eslint --fix, prettier --check --write

feat(resume): render the résumé as HTML on mobile, from exported data
  .prettierignore
  apps/www/package.json
  apps/www/scripts/sync-resume.mjs
  apps/www/src/routes/_dashboard/resume.tsx
  packages/ui/resume/.gitignore
  packages/ui/resume/README.md
  packages/ui/resume/package.json
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/check-layout.mjs
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/scripts/export-data.mjs
  packages/ui/resume/scripts/typst.mjs
  packages/ui/resume/src/index.ts
  packages/ui/resume/src/main.typ
  packages/ui/resume/src/react/generated/data.ts
  packages/ui/resume/src/react/index.ts
  packages/ui/resume/src/react/resume-document.tsx
  packages/ui/resume/src/react/types.ts
  packages/ui/resume/tsconfig.build.json
  packages/ui/resume/tsconfig.json
  packages/ui/resume/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(resume): cache the generated documents, and derive labels from source
  apps/www/scripts/sync-resume.mjs
  apps/www/src/routes/_dashboard/resume.tsx
  turbo.json
Due: eslint --fix, prettier --check --write

Render the résumé as HTML on mobile, from data exported out of the Typst source (#1134)
  .prettierignore
  apps/www/package.json
  apps/www/scripts/sync-resume.mjs
  apps/www/src/routes/_dashboard/resume.tsx
  packages/ui/resume/.gitignore
  packages/ui/resume/README.md
  packages/ui/resume/package.json
  packages/ui/resume/scripts/check-ats.mjs
  packages/ui/resume/scripts/check-layout.mjs
  packages/ui/resume/scripts/compile.mjs
  packages/ui/resume/scripts/export-data.mjs
  packages/ui/resume/scripts/typst.mjs
  packages/ui/resume/src/index.ts
  packages/ui/resume/src/main.typ
  packages/ui/resume/src/react/generated/data.ts
  packages/ui/resume/src/react/index.ts
  packages/ui/resume/src/react/resume-document.tsx
  packages/ui/resume/src/react/types.ts
  packages/ui/resume/tsconfig.build.json
  packages/ui/resume/tsconfig.json
  packages/ui/resume/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

fix(contract-harness): regenerate stale route snapshot
  packages/contract-harness/routes.server.json
Due: prettier --check --write

fix(contract-harness): regenerate stale route snapshot (#1141)
  packages/contract-harness/routes.server.json
Due: prettier --check --write

fix(ci): bound trunk test concurrency, document test:e2e scoping convention
  .github/workflows/pr.yml
  .github/workflows/trunk.yml
Due: prettier --check --write

fix(ci): correct root-cause claim in trunk.yml comment
  .github/workflows/trunk.yml
Due: prettier --check --write

fix(ci): bound trunk test concurrency, document test:e2e scoping convention (#1143)
  .github/workflows/pr.yml
  .github/workflows/trunk.yml
Due: prettier --check --write

fix(ci): wire Playwright through ci-playwright shell and turbo passThroughEnv
  .github/workflows/trunk.yml
  turbo.json
Due: prettier --check --write
