Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

refactor: use eventbus utils for cube
  packages/ui/slideshow/src/components/dice-card/index.stories.tsx
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/some-sphere/scalar-globe/index.stories.tsx
  packages/ui/slideshow/src/components/some-sphere/scalar-globe/index.tsx
  packages/ui/slideshow/src/hooks/index.ts
  packages/ui/slideshow/src/hooks/use-cube-events.ts
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

chore: need to clip it
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
Due: eslint --fix, prettier --check --write

chore: wasm not working
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
Due: eslint --fix, prettier --check --write

fix: get rotating cube updating cubestate
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

refactor: handle different viewports as hashmap
  crates/viewport-rotation/src/lib.rs
Due: none

test: add some tests
  crates/viewport-rotation/src/lib.rs
Due: none

refactor: default to y-axis
  crates/viewport-rotation/src/lib.rs
Due: none

feat: we are making progress?
  packages/ui/input/src/components/clue-carousel/index.tsx
  packages/ui/input/src/components/clues-carousel/index.stories.tsx
  packages/ui/input/src/components/clues-carousel/index.tsx
  packages/ui/input/src/components/clues-list/index.tsx
  packages/ui/input/src/components/crossword-clues/index.tsx
  packages/ui/input/src/components/crossword-svg/index.stories.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/components/demo-dice/index.stories.tsx
  packages/ui/input/src/components/demo-dice/index.tsx
  packages/ui/input/src/hooks/use-clue-queue-events.ts
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-crossword-wasm.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
Due: eslint --fix, prettier --check --write

feat(wip): we are making some kinda progress
  packages/ui/input/src/components/clues-carousel/index.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/hooks/use-clue-queue-events.ts
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-crossword-wasm.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
Due: eslint --fix, prettier --check --write

refactor: rename fields for js landia camelcase
  crates/some-crossword/src/lib.rs
  crates/some-crossword/src/main.rs
  packages/ui/input/src/components/crossword-clue/index.tsx
  packages/ui/input/src/components/crossword-clues/index.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-crossword-wasm.ts
  packages/ui/input/src/types/crossword.ts
Due: eslint --fix, prettier --check --write

chore: some readme'
  packages/ui/input/SUDOKU_README.md
Due: eslint --fix, prettier --check --write

feat: add q_index
  crates/viewport-rotation/src/lib.rs
Due: none

feat: some milestone, suppose its good enough
  crates/viewport-rotation/src/lib.rs
  packages/ui/input/src/hooks/use-create-crossword-puzzle.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
Due: eslint --fix, prettier --check --write

feat: add new progress tracker overlay
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/components/youtube/yt-marquee/index.tsx
  packages/ui/overlays/src/data/gemini-stepper.ts
  packages/ui/stepper/src/components/index.ts
  packages/ui/stepper/src/components/livestream-stepper/index.stories.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
Due: eslint --fix, prettier --check --write

feat: init calendar ui
  packages/ui/calendar/package.json
  packages/ui/calendar/src/components/foo/index.stories.tsx
  packages/ui/calendar/src/components/foo/index.tsx
  packages/ui/calendar/src/components/index.ts
  packages/ui/calendar/src/components/livestream-schedule/index.css
  packages/ui/calendar/src/components/livestream-schedule/index.stories.tsx
  packages/ui/calendar/src/components/livestream-schedule/index.tsx
  packages/ui/calendar/src/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: websocket hook
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-websocket.ts
Due: eslint --fix, prettier --check --write

style: junky update to make svg fit
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
Due: eslint --fix, prettier --check --write

feat: we keep the vibes going
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/utils/brick-layout.ts
  packages/ui/nfl/src/utils/index.ts
Due: eslint --fix, prettier --check --write

feat: the vibes remain
  packages/ui/nfl/src/components/brick-wall/brick-ladder-chart/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick/index.tsx
  packages/ui/nfl/src/components/nfl-team-icon/index.tsx
  packages/ui/nfl/src/components/player-card-dialog/index.tsx
  packages/ui/nfl/src/data/brick-data.ts
  packages/ui/nfl/src/types/brick-wall.ts
  packages/ui/nfl/src/utils/brick-positions.ts
Due: eslint --fix, prettier --check --write

feat: lots of the things
  Cargo.lock
  Cargo.toml
  crates/leaderboard/Cargo.toml
  crates/leaderboard/src/float_utils.rs
  crates/leaderboard/src/lib.rs
  crates/some-hexagon/src/lib.rs
  crates/some-hexagon/src/shader.rs
  crates/some-hexagon/src/wasm_hex.rs
  crates/some-hexagon/src/wasm_shader.rs
  crates/some-racer/Cargo.toml
  crates/some-racer/src/lib.rs
  packages/ui/calendar/src/components/livestream-schedule/index.tsx
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/honeycomb/src/components/hexagon-grid-demo/index.tsx
  packages/ui/input/src/components/clue-info/index.tsx
  packages/ui/input/src/components/clues-carousel/index.tsx
  packages/ui/input/src/components/clues-list/index.tsx
  packages/ui/input/src/components/crossword-clues/index.tsx
  packages/ui/input/src/components/viewport-crossword-svg/index.tsx
  packages/ui/input/src/data/clues.ts
  packages/ui/input/src/hooks/use-clue-queue-events.ts
  packages/ui/input/src/hooks/use-crossword-wasm.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm.ts
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/demo/index.stories.tsx
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/overlays/src/components/youtube/overlay/.index.stories.tsx.swp
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/data/chatbot-messages/index.ts
  packages/ui/overlays/src/data/chatbot-messages/youtube.ts
  packages/ui/overlays/src/data/gemini-stepper.ts
  packages/ui/overlays/src/hooks/use-obs-socket.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add sugar cube
  packages/ui/slideshow/src/components/sugar-cube/index.stories.tsx
  packages/ui/slideshow/src/components/sugar-cube/index.tsx
Due: eslint --fix, prettier --check --write

feat: some pattern is working?
  crates/some-hexagon/src/hex_cell.rs
  crates/some-hexagon/src/hex_grid.rs
  crates/some-hexagon/src/hex_pattern.rs
  crates/some-hexagon/src/lib.rs
  crates/some-hexagon/src/shader.rs
  crates/some-hexagon/src/wasm_hex.rs
  crates/some-hexagon/src/wasm_shader.rs
Due: none

feat: more vibes
  crates/some-hexagon/src/hex_layout.rs
  crates/some-hexagon/src/hex_pattern.rs
  crates/some-hexagon/src/lib.rs
  crates/some-hexagon/src/wasm_hex.rs
Due: none

feat: some resume lol
  packages/ui/resume/package.json
  packages/ui/resume/src/components/graveyard/activity-indicator/index.stories.tsx
  packages/ui/resume/src/components/graveyard/activity-indicator/index.tsx
  packages/ui/resume/src/components/graveyard/header/index.stories.tsx
  packages/ui/resume/src/components/graveyard/header/index.tsx
  packages/ui/resume/src/components/graveyard/legend/index.stories.tsx
  packages/ui/resume/src/components/graveyard/legend/index.tsx
  packages/ui/resume/src/components/graveyard/package-card/index.stories.tsx
  packages/ui/resume/src/components/graveyard/package-card/index.tsx
  packages/ui/resume/src/components/graveyard/package-garden/index.stories.tsx
  packages/ui/resume/src/components/graveyard/package-garden/index.tsx
  packages/ui/resume/src/components/graveyard/repository-column/index.stories.tsx
  packages/ui/resume/src/components/graveyard/repository-column/index.tsx
  packages/ui/resume/src/components/graveyard/search-bar/index.stories.tsx
  packages/ui/resume/src/components/graveyard/search-bar/index.tsx
  packages/ui/resume/src/components/graveyard/sort-button/index.stories.tsx
  packages/ui/resume/src/components/graveyard/sort-button/index.tsx
  packages/ui/resume/src/components/graveyard/status-legend/index.stories.tsx
  packages/ui/resume/src/components/graveyard/status-legend/index.tsx
  packages/ui/resume/src/components/index.ts
  packages/ui/resume/src/components/index.tsx
  packages/ui/resume/src/data/graveyard.ts
  packages/ui/resume/src/data/index.ts
  packages/ui/resume/src/index.ts
  packages/ui/resume/src/types/graveyard.ts
  packages/ui/resume/src/types/index.ts
  packages/ui/resume/src/utils/graveyard.ts
  packages/ui/resume/src/utils/index.ts
Due: eslint --fix, prettier --check --write

feat: suppose i did a thing
  packages/ui/slideshow/src/components/sugar-cube/index.tsx
  packages/ui/slideshow/src/components/sugar-cubes-stack/index.stories.tsx
  packages/ui/slideshow/src/components/sugar-cubes-stack/index.tsx
  packages/ui/slideshow/src/components/tatu/index.css
  packages/ui/slideshow/src/components/tatu/index.stories.tsx
  packages/ui/slideshow/src/components/tatu/index.tsx
  packages/ui/slideshow/src/components/tv-animation/index.stories.tsx
  packages/ui/slideshow/src/components/tv-animation/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: some honeycomb wip
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/hex-grid/index.stories.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/components/hexagon-grid-demo/index.tsx
  packages/ui/honeycomb/src/data/index.ts
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/honeycomb/src/hooks/use-hexgrid-wasm.ts
Due: eslint --fix, prettier --check --write

feat: some slideshow stuff
  packages/ui/slideshow/src/components/tatu/index.css
  packages/ui/slideshow/src/components/tatu/index.stories.tsx
  packages/ui/slideshow/src/components/tatu/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: lots of the things
  Cargo.lock
  Cargo.toml
  crates/leptos/some-fsm-input/Cargo.toml
  crates/leptos/some-fsm-input/src/lib.rs
  crates/some-racer/src/lib.rs
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/overlays/src/components/youtube/overlay/.index.stories.tsx.swp
  packages/ui/overlays/src/data/gemini-stepper.ts
  packages/ui/shared/src/components/icons/index.ts
  packages/ui/shared/src/components/icons/jersey-svg/index.stories.tsx
  packages/ui/shared/src/components/icons/jersey-svg/index.tsx
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/tatu/index.css
  packages/ui/shared/src/components/ui/tatu/index.stories.tsx
  packages/ui/shared/src/components/ui/tatu/index.tsx
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: some edit
  packages/ui/shared/src/components/ui/deck-shuffle/index.stories.tsx
  packages/ui/shared/src/components/ui/deck-shuffle/index.tsx
Due: eslint --fix, prettier --check --write

feat: some sound
  Cargo.lock
  Cargo.toml
  crates/some-sound/Cargo.toml
  crates/some-sound/src/.fsm.rs.swp
  crates/some-sound/src/fsm.rs
  crates/some-sound/src/lexer.rs
  crates/some-sound/src/lib.rs
  crates/some-sound/src/types.rs
Due: none

feat: literal graveyard
  packages/ui/resume/package.json
  packages/ui/resume/src/components/graveyard/activity-indicator/index.stories.tsx
  packages/ui/resume/src/components/graveyard/header/index.stories.tsx
  packages/ui/resume/src/components/graveyard/legend/index.stories.tsx
  packages/ui/resume/src/components/graveyard/package-card/index.stories.tsx
  packages/ui/resume/src/components/graveyard/package-garden/index.stories.tsx
  packages/ui/resume/src/components/graveyard/repository-column/index.stories.tsx
  packages/ui/resume/src/components/graveyard/search-bar/index.stories.tsx
  packages/ui/resume/src/components/graveyard/sort-button/index.stories.tsx
  packages/ui/resume/src/components/graveyard/status-legend/index.stories.tsx
  packages/ui/resume/src/components/video-resume/index.stories.tsx
  packages/ui/resume/src/components/video-resume/index.tsx
  packages/ui/resume/src/data/video-resume.ts
  packages/ui/resume/src/types/video-resume.ts
Due: eslint --fix, prettier --check --write

chore: some updates
  crates/some-sound/src/.fsm.rs.swp
  crates/some-sound/src/fsm.rs
  crates/some-sound/src/lexer.rs
Due: none

fix: yay! it is passing tests!
  crates/some-sound/src/fsm.rs
  crates/some-sound/src/lexer.rs
Due: none

feat: working init slint ui thingy
  Cargo.lock
  Cargo.toml
  crates/some-slint-ui/Cargo.toml
  crates/some-slint-ui/build.rs
  crates/some-slint-ui/src/main.rs
  crates/some-slint-ui/ui/.topic_breakdown_tab.slint.swp
  crates/some-slint-ui/ui/general_info_tab.slint
  crates/some-slint-ui/ui/main.slint
  crates/some-slint-ui/ui/related_streams_tab.slint
  crates/some-slint-ui/ui/satellite_context_tab.slint
  crates/some-slint-ui/ui/tab_bar.slint
  crates/some-slint-ui/ui/topic_breakdown_tab.slint
  flake.nix
Due: none

feat: new browser extension packages
  packages/browser-extensions/some-tab-meta/eslint.config.js
  packages/browser-extensions/some-tab-meta/manifest.json
  packages/browser-extensions/some-tab-meta/package.json
  packages/browser-extensions/some-tab-meta/rollup.config.js
  packages/browser-extensions/some-tab-meta/src/background/background.js
  packages/browser-extensions/some-tab-meta/src/content/content.js
  packages/browser-extensions/some-tab-meta/tsconfig.build.json
  packages/browser-extensions/some-tab-meta/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: new now-playing card
  packages/ui/umag/package.json
  packages/ui/umag/src/components/index.ts
  packages/ui/umag/src/components/now-playing/index.css
  packages/ui/umag/src/components/now-playing/index.stories.tsx
  packages/ui/umag/src/components/now-playing/index.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/use-now-playing.ts
  packages/ui/umag/src/utils/index.ts
  packages/ui/umag/src/utils/now-playing.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: add websocket types
  packages/ui/overlays/src/types/obs-websocket.ts
Due: eslint --fix, prettier --check --write

refactor: rename generics
  packages/utils/src/lib/hooks/use-websocket.ts
Due: eslint --fix, prettier --check --write

feat: obs types
  packages/types/src/components/obs-websocket/index.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
