Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat(eslint-kit): enforce the test-layout convention (build-hygiene/test-layout)
  CLAUDE.md
  packages/eslint/src/configs/build-hygiene.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/test-layout.ts
  packages/eslint/tests/lint-fixtures/test-layout/app/src/routes/__tests__/index.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/app/src/routes/dashboard/index.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/app/src/routes/tests/index.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/crowded/alpha.test.ts
  packages/eslint/tests/lint-fixtures/test-layout/crowded/beta.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/crowded/index.ts
  packages/eslint/tests/lint-fixtures/test-layout/moved/__tests__/alpha.test.ts
  packages/eslint/tests/lint-fixtures/test-layout/moved/__tests__/beta.test.ts
  packages/eslint/tests/lint-fixtures/test-layout/single/only.test.ts
  packages/eslint/tests/test-layout.lint.test.ts
Due: eslint --fix, prettier --check --write

fix(test-layout): enforce with an uncached whole-tree check, not an ESLint rule
  .github/workflows/pr.yml
  CLAUDE.md
  package.json
  packages/eslint/src/configs/build-hygiene.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/test-layout.ts
  packages/eslint/src/test-layout.ts
  packages/eslint/tests/lint-fixtures/test-layout/app/src/routes/__tests__/index.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/app/src/routes/dashboard/index.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/app/src/routes/tests/index.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/crowded/alpha.test.ts
  packages/eslint/tests/lint-fixtures/test-layout/crowded/beta.test.tsx
  packages/eslint/tests/lint-fixtures/test-layout/crowded/index.ts
  packages/eslint/tests/lint-fixtures/test-layout/moved/__tests__/alpha.test.ts
  packages/eslint/tests/lint-fixtures/test-layout/moved/__tests__/beta.test.ts
  packages/eslint/tests/lint-fixtures/test-layout/single/only.test.ts
  packages/eslint/tests/test-layout.lint.test.ts
  packages/eslint/tests/test-layout.test.ts
  scripts/check-test-layout.ts
Due: eslint --fix, prettier --check --write

fix(test-layout): check the working tree, not paths the index still lists
  scripts/check-test-layout.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): use the shared honeycomb brand mark as the extension icon
  extensions/some-filter/public/assets/icon-128.png
  extensions/some-filter/public/assets/icon-16.png
  extensions/some-filter/public/assets/icon-48.png
Due: none

fix(ci): run the test-layout guardrail on every PR, extensions-only included
  .github/workflows/pr.yml
  package.json
  scripts/check-test-layout.ts
Due: eslint --fix, prettier --check --write

refactor(extensions): hoist the brand icons into @some-extension/common
  extensions/common/brand/icon-128.png
  extensions/common/brand/icon-16.png
  extensions/common/brand/icon-48.png
  extensions/common/package.json
  extensions/common/vite/copy-files.ts
  extensions/common/vite/extension-config.ts
  extensions/some-censor/vite.config.ts
  extensions/some-filter/public/assets/icon-128.png
  extensions/some-filter/public/assets/icon-16.png
  extensions/some-filter/public/assets/icon-48.png
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: enforce the test-layout convention (pnpm check:test-layout, PR guardrail) (#1531)
  .github/workflows/pr.yml
  CLAUDE.md
  package.json
  packages/eslint/src/test-layout.ts
  packages/eslint/tests/test-layout.test.ts
  scripts/check-test-layout.ts
Due: eslint --fix, prettier --check --write

feat(extensions): some-filter uses the brand icon; hoist the brand icons into common (#1532)
  extensions/common/brand/icon-128.png
  extensions/common/brand/icon-16.png
  extensions/common/brand/icon-48.png
  extensions/common/package.json
  extensions/common/vite/copy-files.ts
  extensions/common/vite/extension-config.ts
  extensions/some-censor/vite.config.ts
  extensions/some-filter/public/assets/icon-128.png
  extensions/some-filter/public/assets/icon-16.png
  extensions/some-filter/public/assets/icon-48.png
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write

feat(www): give the comb the whole viewport, drop the page copy
  apps/www/src/routes/extensions.tsx
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.stories.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
Due: eslint --fix, prettier --check --write

feat(www): add /extensions, the comb that tells six extensions visually
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/__tests__/__root.test.ts
  apps/www/src/routes/extensions.tsx
  apps/www/src/routes/index.tsx
  apps/www/src/routes/mission.tsx
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.stories.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
  packages/ui/honeycomb/src/components/index.ts
  packages/ui/honeycomb/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(honeycomb): paint the extensions comb with HexGrid and the design system
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/registry.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/comb.css
  packages/ui/honeycomb/eslint.config.js
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.stories.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.test.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.test.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/hooks/use-hexgrid-wasm/index.ts
  packages/ui/honeycomb/src/types/hex-grid.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(styles): recast the comb's honey for every session theme
  packages/some-styles/src/theme/__tests__/tokens.test.ts
  packages/some-styles/themes/comb.css
  packages/ui/honeycomb/src/components/extensions-comb/index.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(honeycomb): keep focus in the comb across levels; count four destinations
  apps/www/src/routes/index.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.test.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): show comb names to touch on hybrid-pointer devices
  packages/ui/honeycomb/src/components/extensions-comb/index.css
Due: stylelint --allow-empty-input, prettier --write

fix(honeycomb): give each extension its own, true answer to "what it sends"
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.test.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): drop the landing card's "talk to no server" claim
  apps/www/src/routes/index.tsx
Due: eslint --fix, prettier --check --write

feat(honeycomb): /extensions comb on HexGrid, themed through @some-ui/styles, phone-first (#1536)
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/__tests__/__root.test.ts
  apps/www/src/routes/extensions.tsx
  apps/www/src/routes/index.tsx
  apps/www/src/routes/mission.tsx
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/__tests__/tokens.test.ts
  packages/some-styles/src/theme/registry.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/comb.css
  packages/ui/honeycomb/eslint.config.js
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/extensions-comb/extensions.data.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.stories.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.test.tsx
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.test.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/components/index.ts
  packages/ui/honeycomb/src/hooks/use-hexgrid-wasm/index.ts
  packages/ui/honeycomb/src/index.ts
  packages/ui/honeycomb/src/types/hex-grid.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(honeycomb): set the comb in a honeycomb field that fills the viewport
  packages/ui/honeycomb/src/components/extensions-comb/comb-field.tsx
  packages/ui/honeycomb/src/components/extensions-comb/geometry.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(www): make the extensions comb the signed-out front door at "/"
  apps/www/src/components/extensions/extensions-page.tsx
  apps/www/src/routes/__tests__/index.test.tsx
  apps/www/src/routes/extensions.tsx
  apps/www/src/routes/index.tsx
Due: eslint --fix, prettier --check --write

fix(honeycomb): re-measure the comb field when the caption moves the stage
  packages/ui/honeycomb/src/components/extensions-comb/comb-field.tsx
Due: eslint --fix, prettier --check --write

fix(www): let the front door's chrome wrap instead of overflowing
  apps/www/src/components/extensions/extensions-page.tsx
Due: eslint --fix, prettier --check --write

feat: the comb as the signed-out front door, set in a viewport-wide honeycomb (#1537)
  apps/www/src/components/extensions/extensions-page.tsx
  apps/www/src/routes/__tests__/index.test.tsx
  apps/www/src/routes/extensions.tsx
  apps/www/src/routes/index.tsx
  packages/ui/honeycomb/src/components/extensions-comb/comb-field.tsx
  packages/ui/honeycomb/src/components/extensions-comb/geometry.ts
  packages/ui/honeycomb/src/components/extensions-comb/index.css
  packages/ui/honeycomb/src/components/extensions-comb/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

docs(leetype): stop naming C1 as the round producer, point at #1440
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/round-corpus/index.ts
  packages/ui/leetype/src/lib/leetype/round-cycle/index.ts
Due: eslint --fix, prettier --check --write

docs(leetype): round-cycle has no live importer, not WideRoundSurface
  packages/ui/leetype/src/lib/leetype/round-cycle/index.ts
Due: eslint --fix, prettier --check --write

docs(leetype): stop naming C1 as the round producer, point at #1440 (#1539)
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/round-corpus/index.ts
  packages/ui/leetype/src/lib/leetype/round-cycle/index.ts
Due: eslint --fix, prettier --check --write

feat(leetype): authored rounds - Round schema, assembly, and the first two real rounds (#1540)
  knip.json
  packages/ui/leetype/package.json
  packages/ui/leetype/scripts/check-corpus-lint.ts
  packages/ui/leetype/scripts/check-round-programs-compile.ts
  packages/ui/leetype/src/lib/leetype/admissibility/index.ts
  packages/ui/leetype/src/lib/leetype/authored-rounds/index.test.ts
  packages/ui/leetype/src/lib/leetype/authored-rounds/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/round-assembly/index.test.ts
  packages/ui/leetype/src/lib/leetype/round-assembly/index.ts
  packages/ui/leetype/src/lib/leetype/round-corpus/index.ts
  packages/ui/leetype/src/lib/leetype/round-cycle/index.ts
  packages/ui/leetype/src/types/__tests__/authored-round.test.ts
  packages/ui/leetype/src/types/authored-round.ts
  packages/ui/leetype/src/types/round.ts
Due: eslint --fix, prettier --check --write

fix(leetype): check every patched cost graph's dimensions against C′
  packages/ui/leetype/src/lib/leetype/round-assembly/index.test.ts
  packages/ui/leetype/src/lib/leetype/round-assembly/index.ts
Due: eslint --fix, prettier --check --write

fix(leetype): require normalized repetition monomials in CostGraphSchema
  packages/ui/leetype/src/types/__tests__/authored-round.test.ts
  packages/ui/leetype/src/types/authored-round.ts
Due: eslint --fix, prettier --check --write

fix(leetype): check C' bounds against T(G)'s terms, not the graph's shape
  packages/ui/leetype/src/lib/leetype/round-assembly/index.test.ts
  packages/ui/leetype/src/lib/leetype/round-assembly/index.ts
Due: eslint --fix, prettier --check --write

feat(topik): a handheld lesson, not the desktop session squeezed
  docs/canon/adaptive-learning-canon.typ
  packages/ui/topik/README.md
  packages/ui/topik/src/components/topik/handheld/check-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/check-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/fixture.ts
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/line-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/line-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/components/topik/handheld/step-layout/index.tsx
  packages/ui/topik/src/components/topik/handheld/tile-board/index.tsx
  packages/ui/topik/src/components/topik/handheld/wrap-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/wrap-card/index.tsx
  packages/ui/topik/src/components/topik/study-session/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/adapter/hooks/use-surface/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/hooks/use-surface/index.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.test.ts
  packages/ui/topik/src/lib/topik/core/tile-assembly/index.ts
  packages/ui/topik/src/lib/topik/entity/topik-types.ts
Due: eslint --fix, prettier --check --write

fix(topik,wireframes): drop the white pane frame, soften handheld corners
  packages/ui/topik/src/components/topik/handheld/check-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/components/topik/handheld/line-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/material-list/index.tsx
  packages/ui/topik/src/components/topik/handheld/tile-board/index.tsx
  packages/ui/topik/src/components/topik/handheld/wrap-card/index.tsx
  packages/ui/wireframes/src/components/render-solved/index.test.tsx
  packages/ui/wireframes/src/components/render-solved/index.tsx
Due: eslint --fix, prettier --check --write

fix(topik): don't re-ask answered checks; hold the gloss for sibling checks
  packages/ui/topik/src/components/topik/handheld/check-card/index.stories.tsx
  packages/ui/topik/src/components/topik/handheld/check-card/index.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): a resumed lesson keeps its checks' results
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.test.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): key check results by identity; make repeats once-only across reloads
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): resume by conversation id; fingerprint every grading field
  packages/ui/topik/src/components/topik/handheld/handheld-lesson/index.test.tsx
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
  packages/ui/topik/src/lib/topik/adapter/resume-point/index.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.test.ts
  packages/ui/topik/src/lib/topik/core/lesson-track/index.ts
Due: eslint --fix, prettier --check --write

fix(topik): list batchId among the persistence effect's dependencies
  packages/ui/topik/src/lib/topik/adapter/hooks/use-handheld-lesson/index.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
