Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

chore(deps): land safe npm bumps, hold two majors
  apps/www/package.json
  extensions/filter-classifier/package.json
  package.json
  packages/some-vite-config/package.json
  packages/ui/shared/package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(deps): land safe npm bumps, hold two majors (#819)
  apps/www/package.json
  extensions/filter-classifier/package.json
  package.json
  packages/some-vite-config/package.json
  packages/ui/shared/package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(deps): bump tooling devDependencies
  extensions/some-cycle/packages/content/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(deps): bump tooling devDependencies (#827)
  extensions/some-cycle/packages/content/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(deps): bump katex from 0.16.47 to 0.18.1
  packages/ui/input/package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(deps): bump katex from 0.16.47 to 0.18.1 (#828)
  packages/ui/input/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(leetype): required challenge picker, cursor tracking, prettier formatting
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/activity-catalog/to-scene-config.test.ts
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-chunked-code/index.ts
  packages/ui/leetype/src/hooks/leetype/use-formatted-code/index.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/format-code.ts
  packages/ui/leetype/src/lib/leetype/load-code-file.ts
  packages/ui/leetype/src/utils/leetype/index.test.ts
  packages/ui/leetype/src/utils/leetype/index.ts
Due: eslint --fix, prettier --check --write

fix(leetype): required challenge picker, cursor tracking, prettier formatting (#830)
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/activity-catalog/to-scene-config.test.ts
  packages/ui/leetype/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-chunked-code/index.ts
  packages/ui/leetype/src/hooks/leetype/use-formatted-code/index.ts
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.ts
  packages/ui/leetype/src/lib/leetype/format-code.ts
  packages/ui/leetype/src/lib/leetype/load-code-file.ts
  packages/ui/leetype/src/utils/leetype/index.test.ts
  packages/ui/leetype/src/utils/leetype/index.ts
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

fix(some-filter): stop the auto-theme pipeline from feeding itself (#831)
  extensions/some-filter/src/adapter/__tests__/actuator.test.ts
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/actuator.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/tests/e2e/fixtures/self-feedback-page.html
  extensions/some-filter/tests/e2e/specs/issue-831-quiescence.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(filter): resolve #741's classifier/auto-theme defects proven by #768's e2e tests
  extensions/some-filter/src/adapter/actuator.ts
  extensions/some-filter/src/adapter/contracts.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/theme-adapter.ts
  extensions/some-filter/src/lib/content/color.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/lib/content/theme-detector.ts
  extensions/some-filter/src/lib/content/vendor-filter.ts
Due: eslint --fix, prettier --check --write

Fix #831: prevent self-feedback loops in theme application (#832)
  extensions/some-filter/src/adapter/__tests__/actuator.test.ts
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/actuator.ts
  extensions/some-filter/src/adapter/contracts.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/theme-adapter.ts
  extensions/some-filter/src/lib/content/__tests__/prepaint.test.ts
  extensions/some-filter/src/lib/content/color.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/src/lib/content/theme-detector.ts
  extensions/some-filter/src/lib/content/vendor-filter.ts
  extensions/some-filter/tests/e2e/fixtures/self-feedback-page.html
  extensions/some-filter/tests/e2e/specs/issue-831-quiescence.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat(suspender): local observability subsystem + fix sporadic no-suspend bug
  extensions/common/package.json
  extensions/common/src/observability/index.ts
  extensions/common/src/observability/invariants.ts
  extensions/common/src/observability/metrics.ts
  extensions/common/src/observability/persistence.ts
  extensions/common/src/observability/recorder.ts
  extensions/common/src/observability/ring-buffer.ts
  extensions/common/src/observability/types.ts
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/amo-notes.md
  extensions/suspender-ledger/debug.html
  extensions/suspender-ledger/docs/observability.md
  extensions/suspender-ledger/src/debug/debug.css
  extensions/suspender-ledger/src/debug/index.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/popup/popup.css
  extensions/suspender-ledger/src/types/messages.ts
  extensions/suspender-ledger/src/worker/core/discard.concurrency.test.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/observability.test.ts
  extensions/suspender-ledger/src/worker/core/observability.ts
  extensions/suspender-ledger/src/worker/core/trace.ts
  extensions/suspender-ledger/src/worker/modes/number.scheduler.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(suspender): local observability subsystem + fix sporadic no-suspend bug (#833)
  extensions/common/package.json
  extensions/common/src/observability/index.ts
  extensions/common/src/observability/invariants.ts
  extensions/common/src/observability/metrics.ts
  extensions/common/src/observability/persistence.ts
  extensions/common/src/observability/recorder.ts
  extensions/common/src/observability/ring-buffer.ts
  extensions/common/src/observability/types.ts
  extensions/suspender-ledger/README.md
  extensions/suspender-ledger/amo-notes.md
  extensions/suspender-ledger/debug.html
  extensions/suspender-ledger/docs/observability.md
  extensions/suspender-ledger/src/debug/debug.css
  extensions/suspender-ledger/src/debug/index.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/popup/popup.css
  extensions/suspender-ledger/src/types/messages.ts
  extensions/suspender-ledger/src/worker/core/discard.concurrency.test.ts
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/core/observability.test.ts
  extensions/suspender-ledger/src/worker/core/observability.ts
  extensions/suspender-ledger/src/worker/core/trace.ts
  extensions/suspender-ledger/src/worker/modes/number.scheduler.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(suspender): unwedge the sweep, stop the recorder eating its own evidence
  extensions/common/src/observability/metrics.ts
  extensions/common/src/observability/recorder.ts
  extensions/suspender-ledger/debug.html
  extensions/suspender-ledger/src/debug/debug.css
  extensions/suspender-ledger/src/worker/core/observability.test.ts
  extensions/suspender-ledger/src/worker/core/observability.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(suspender): unwedge the sweep, stop the recorder eating its own evidence (#834)
  extensions/common/src/observability/metrics.ts
  extensions/common/src/observability/recorder.ts
  extensions/suspender-ledger/debug.html
  extensions/suspender-ledger/src/debug/debug.css
  extensions/suspender-ledger/src/worker/core/observability.test.ts
  extensions/suspender-ledger/src/worker/core/observability.ts
  extensions/suspender-ledger/src/worker/modes/number.test.ts
  extensions/suspender-ledger/src/worker/modes/number.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(leetype): repair Web Storage in the test environment
  packages/ui/leetype/tsconfig.json
  packages/ui/leetype/vitest.setup.test.ts
  packages/ui/leetype/vitest.setup.ts
Due: eslint --fix, prettier --check --write

fix(ci): restore wasm dist artifacts when a single crate is released
  .github/workflows/wasm-release.yml
Due: prettier --check --write

chore(leetype_wasm): declare package metadata
  crates/leetype_wasm/Cargo.toml
Due: none

fix(ci): restore wasm dist artifacts when a single crate is released (#838)
  .github/workflows/wasm-release.yml
  crates/leetype_wasm/Cargo.toml
Due: prettier --check --write

chore(leetype): pin @some-ui/leetype-wasm back to the published 0.0.8
  packages/ui/leetype/package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(leetype): pin @some-ui/leetype-wasm back to the published 0.0.8 (#840)
  packages/ui/leetype/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(leetype,honeycomb): unbury dialog content, teach missed vocab, decompose challenges
  apps/www/src/lib/hangul-vocab/schema.ts
  apps/www/src/lib/leetype-challenges/schema.test.ts
  apps/www/src/lib/leetype-challenges/schema.ts
  apps/www/tests/dialog-overlay/click-through.spec.ts
  packages/some-content/prompts/hangul-vocab-generator/index.md
  packages/some-content/prompts/leetype-challenge-generator/index.md
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.css
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.css
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.test.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/vocab-debrief-modal/index.tsx
  packages/ui/honeycomb/src/data/hangul-words.ts
  packages/ui/honeycomb/src/hooks/use-auto-dismiss/index.test.ts
  packages/ui/honeycomb/src/hooks/use-auto-dismiss/index.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.test.ts
  packages/ui/honeycomb/src/hooks/use-game-loop/index.ts
  packages/ui/honeycomb/src/hooks/use-prompt-escalation.test.ts
  packages/ui/honeycomb/src/hooks/use-prompt-escalation.ts
  packages/ui/honeycomb/src/index.ts
  packages/ui/honeycomb/src/lib/hangul/speech/index.ts
  packages/ui/honeycomb/src/lib/hangul/story-fixtures/index.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
  packages/ui/honeycomb/tsconfig.build.json
  packages/ui/leetype/src/components/typing-game/challenge-brief/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/challenge-brief/index.tsx
  packages/ui/leetype/src/components/typing-game/challenge-selector/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/challenge-selector/index.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/index.ts
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/lib/leetype/curriculum/index.test.ts
  packages/ui/leetype/src/lib/leetype/curriculum/index.ts
  packages/ui/leetype/src/lib/leetype/story-fixtures/index.ts
  packages/ui/leetype/src/types/leetype.ts
  packages/ui/shared/src/components/ui/dialog.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(leetype): don't offer the demo pool while the host's corpus is in flight
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/leetype-challenges/index.ts
  apps/www/src/lib/leetype-challenges/pending.test.ts
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/loading-challenges-state/index.tsx
Due: eslint --fix, prettier --check --write

refactor(www): per-panel scene props and a build-time data mode, dropping extraProps
  .env.example
  .github/workflows/pages.yml
  apps/www/src/components/player/scene-props/index.test.ts
  apps/www/src/components/player/scene-props/index.ts
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/data-mode/index.test.ts
  apps/www/src/lib/data-mode/index.ts
  apps/www/src/lib/hangul-vocab/index.ts
  apps/www/src/lib/leetype-challenges/index.ts
  apps/www/src/vite-env.d.ts
  packages/some-content-registry/src/registry/index.ts
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

fix(leetype_wasm): measure the error streak from the divergence, not the caret
  crates/leetype_wasm/src/leetype/session.rs
  crates/leetype_wasm/tests/invariants.rs
  packages/ui/leetype/src/components/typing-game/typing-error-alert/index.tsx
  packages/ui/leetype/src/types/leetype.ts
Due: eslint --fix, prettier --check --write

fix(leetype): fit the nav-menu modals to their box, and gate the idiom repo-wide
  apps/www/package.json
  apps/www/src/routes/_dashboard.tsx
  apps/www/tests/ui-fit/no-overflow.spec.ts
  docs/ui-fit/README.md
  package.json
  packages/eslint/src/configs/fits-the-box.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-greedy-overflow.ts
  packages/ui/leetype/src/components/typing-game/challenge-brief/index.tsx
  packages/ui/leetype/src/components/typing-game/challenge-selector/index.tsx
  packages/ui/leetype/src/components/typing-game/error-code-state/index.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype-app/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/components/typing-game/section-navigator/index.tsx
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/page-controls/index.tsx
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-fitted-page/index.ts
  packages/utils/src/lib/hooks/use-fitted-page/use-fitted-page.ts
Due: eslint --fix, prettier --check --write

fix(storybook): drop vite-plugin-top-level-await, unbreaking the wasm-backed stories
  .storybook/main.ts
  apps/www/tests/ui-fit/no-overflow.spec.ts
  docs/ui-fit/README.md
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
Due: eslint --fix, prettier --check --write

fix(leetype, honeycomb, www): restartable sessions, reachable settings, brand mark
  .storybook/main.ts
  apps/www/index.html
  apps/www/public/favicon.ico
  apps/www/public/favicon.svg
  apps/www/public/logo192.png
  apps/www/public/logo512.png
  apps/www/public/manifest.json
  apps/www/public/vite.svg
  apps/www/src/components/brand/hex-comb-mark.tsx
  apps/www/src/lib/brand/favicon.test.ts
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/index.tsx
  extensions/suspender-ledger/debug.html
  packages/some-styles/brand/favicon.svg
  packages/some-styles/examples/showcase.html
  packages/ui/honeycomb/src/hooks/use-hangul-wasm/index.ts
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-game-timer/index.test.ts
  packages/ui/leetype/src/hooks/leetype/use-game-timer/index.ts
Due: eslint --fix, prettier --check --write, prettier --write

style: minor touch
  packages/ui/leetype/src/components/typing-game/challenge-selector/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): scan leetype, interview, resume and topik for class candidates
  apps/www/src/lib/style-context/style-context.test.ts
  apps/www/style.context.ts
Due: eslint --fix, prettier --check --write

fix: tired
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
Due: eslint --fix, prettier --check --write
