Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat(some-filter): project the rendered-contrast closure into shadow scopes (#1412)
  extensions/some-filter/src/adapter/__tests__/actuator.test.ts
  extensions/some-filter/src/adapter/__tests__/foreground-repair.test.ts
  extensions/some-filter/src/adapter/__tests__/shadow-actuator.test.ts
  extensions/some-filter/src/adapter/__tests__/shadow-scope-theming.test.ts
  extensions/some-filter/src/adapter/actuator.ts
  extensions/some-filter/src/adapter/foreground-repair.ts
  extensions/some-filter/src/adapter/legibility-audit.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/shadow-actuator.ts
  extensions/some-filter/src/adapter/shadow-scope-discovery.ts
  extensions/some-filter/src/adapter/shadow-scope-theming.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/tests/e2e/fixtures/shadow-legibility.ts
  extensions/some-filter/tests/e2e/specs/issue-1342-sfrc3-shadow-foreground.spec.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): repair interaction-state colour swaps once interaction settles
  extensions/some-filter/src/adapter/__tests__/legibility-audit-pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/tests/e2e/fixtures/interaction-state-page.html
  extensions/some-filter/tests/e2e/specs/issue-1343-sfrc4-interaction-states.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(some-filter): reach shadow scopes from the interaction-settled pass
  extensions/some-filter/src/adapter/__tests__/legibility-audit-pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/tests/e2e/specs/issue-1343-sfrc4-interaction-states.spec.ts
Due: eslint --fix, prettier --check --write

test(some-filter): pin what covers an interaction skipped by navigation
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/tests/e2e/specs/issue-1343-sfrc4-interaction-states.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): replay the interaction-settled shadow pass after navigation
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/tests/e2e/specs/issue-1343-sfrc4-interaction-states.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): observe interaction events on the capture phase
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/tests/e2e/fixtures/interaction-state-page.html
  extensions/some-filter/tests/e2e/specs/issue-1343-sfrc4-interaction-states.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

docs(some-filter): qualify the :focus-visible coverage claim
  extensions/some-filter/src/adapter/pipeline.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): repair interaction-state colour swaps once interaction settles (#1415)
  extensions/some-filter/src/adapter/__tests__/legibility-audit-pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/tests/e2e/fixtures/interaction-state-page.html
  extensions/some-filter/tests/e2e/specs/issue-1343-sfrc4-interaction-states.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat(resume): state the rendered-contrast closure in the full-stack composition
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/react/generated/data.ts
Due: eslint --fix, prettier --check --write

fix(resume): print the contrast-closure bullet, not just export it
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/react/generated/data.ts
Due: eslint --fix, prettier --check --write

feat(resume): state the rendered-contrast closure in the full-stack composition (#1417)
  packages/ui/resume/src/canon/resume.meta.typ
  packages/ui/resume/src/data/resume.typ
  packages/ui/resume/src/react/generated/data.ts
Due: eslint --fix, prettier --check --write

feat(some-censor): wire diagnostics into the tab menu and popup
  extensions/common/src/lib/diagnostics.ts
  extensions/common/tests/diagnostics/diagnostics.spec.ts
  extensions/some-censor/popup.html
  extensions/some-censor/public/manifest.firefox.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/popup/popup.css
  extensions/some-censor/src/popup/popup.ts
  extensions/some-censor/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(some-censor): give the extension real icons; polish the popup
  extensions/some-censor/popup.html
  extensions/some-censor/public/assets/icon-128.png
  extensions/some-censor/public/assets/icon-16.png
  extensions/some-censor/public/assets/icon-48.png
  extensions/some-censor/public/manifest.firefox.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/popup/popup.css
  extensions/some-censor/src/popup/popup.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(some-censor): wire diagnostics into the tab menu and popup (#1418)
  extensions/common/src/lib/diagnostics.ts
  extensions/common/tests/diagnostics/diagnostics.spec.ts
  extensions/some-censor/popup.html
  extensions/some-censor/public/assets/icon-128.png
  extensions/some-censor/public/assets/icon-16.png
  extensions/some-censor/public/assets/icon-48.png
  extensions/some-censor/public/manifest.firefox.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/popup/popup.css
  extensions/some-censor/src/popup/popup.ts
  extensions/some-censor/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore(release): publish extension suspender-ledger
  extensions/suspender-ledger/CHANGELOG.md
  extensions/suspender-ledger/package.json
  extensions/suspender-ledger/public/manifest.firefox.json
Due: eslint --fix, prettier --check --write

fix(censor): requeue a card orphaned by a chip navigation racing its whitelist check
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

test(censor): cover the dblclick reveal path in e2e (T9)
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(censor): tell vendor churn apart from a renderer recycle
  extensions/some-censor/src/lib/content/dom-handle.ts
  extensions/some-censor/src/lib/content/extract/index.ts
  extensions/some-censor/src/lib/content/extract/video-id.ts
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(censor): let a renderer's own data-video-id outrank a stale descendant link
  extensions/some-censor/src/lib/content/extract/video-id.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(censor): require a live entry before taking the churn shortcut
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): narrow the churn shortcut to one element-keyed decision
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

test(censor): cover preview-anchor churn in e2e (T11)
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(censor): stop orphaning cards under the static occluder (#1427)
  extensions/some-censor/src/lib/content/dom-handle.ts
  extensions/some-censor/src/lib/content/extract/index.ts
  extensions/some-censor/src/lib/content/extract/video-id.ts
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/runtime-invariant.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat(censor): add a custody invariant that reads the DOM, not the bookkeeping
  extensions/some-censor/src/debug/index.ts
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): keep sampling while a card ages under the occluder
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): give the occluder check a cadence of its own
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): report the tick where the page stops being occluded
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): take the session's occlusion reading, don't promise one
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

feat(censor): add a custody invariant that reads the DOM, not the bookkeeping (#1428)
  extensions/some-censor/src/debug/index.ts
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

feat(censor): report what advance-all-to-title did not cover
  CLAUDE.md
  extensions/some-censor/src/debug/index.ts
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): attribute a missed card by why it is hidden
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

feat(censor): report what advance-all-to-title did not cover (#1429)
  CLAUDE.md
  extensions/some-censor/src/debug/index.ts
  extensions/some-censor/src/lib/content/observability.test.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

feat(leetype): add ArtifactSwitcher — one of the round's six artifacts in view (C1)
  packages/ui/leetype/src/components/round/artifact-switcher/index.stories.tsx
  packages/ui/leetype/src/components/round/artifact-switcher/index.test.tsx
  packages/ui/leetype/src/components/round/artifact-switcher/index.tsx
Due: eslint --fix, prettier --check --write

fix(leetype): address codex review on #1430 — scroll-intent gap, state loss on switch
  packages/ui/leetype/src/components/round/artifact-switcher/index.test.tsx
  packages/ui/leetype/src/components/round/artifact-switcher/index.tsx
  packages/ui/leetype/src/components/round/source-panel/index.test.tsx
  packages/ui/leetype/src/components/round/source-panel/index.tsx
Due: eslint --fix, prettier --check --write

fix(leetype): key ArtifactSwitcher's mounted children on round, not just artifact id
  packages/ui/leetype/src/components/round/artifact-switcher/index.test.tsx
  packages/ui/leetype/src/components/round/artifact-switcher/index.tsx
Due: eslint --fix, prettier --check --write

feat(leetype): add ArtifactSwitcher — one of the round's six artifacts in view (C1) (#1430)
  packages/ui/leetype/src/components/round/artifact-switcher/index.stories.tsx
  packages/ui/leetype/src/components/round/artifact-switcher/index.test.tsx
  packages/ui/leetype/src/components/round/artifact-switcher/index.tsx
  packages/ui/leetype/src/components/round/source-panel/index.test.tsx
  packages/ui/leetype/src/components/round/source-panel/index.tsx
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

refactor(leetype): the small surface stops being the fallback branch (C2)
  packages/ui/leetype/src/components/leetype/index.test.tsx
  packages/ui/leetype/src/components/leetype/index.tsx
  packages/ui/leetype/src/components/reading-game/reading-session/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-session/index.tsx
  packages/ui/leetype/src/lib/leetype/reading-probe/index.test.ts
  packages/ui/leetype/src/lib/leetype/reading-probe/index.ts
Due: eslint --fix, prettier --check --write

fix(leetype): stop describing the wide branch as composed with the session
  packages/ui/leetype/src/components/leetype/index.tsx
  packages/ui/leetype/src/components/reading-game/reading-session/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-session/index.tsx
Due: eslint --fix, prettier --check --write
