Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: test
  packages/ui/input/src/hooks/leetype/use-game-timer/index.test.ts
Due: eslint --fix, prettier --check --write

fix: prettier
  packages/ui/input/src/lib/crossword-grid/index.test.ts
  packages/ui/input/src/utils/leetype/index.test.ts
Due: eslint --fix, prettier --check --write

[UTL-WASM] Land canonical wasm-loader workspace, converge drifted loaders (#572)
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/overrides-tests.config.ts
  packages/eslint/src/configs/wasm-loader-guard.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-bare-wasm-singleton.ts
  packages/eslint/tests/wasm-loader-guard.lint.test.ts
  packages/eslint/tsconfig.workspace-resolve.json
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/lib/hangul/hangul-wasm-runtime.ts
  packages/ui/honeycomb/src/utils/wasm-init.ts
  packages/ui/input/package.json
  packages/ui/input/src/hooks/leetype/use-game-timer/index.test.ts
  packages/ui/input/src/hooks/use-crossword-wasm/index.ts
  packages/ui/input/src/hooks/use-viewport-rotation-wasm/index.ts
  packages/ui/input/src/lib/crossword-grid/index.test.ts
  packages/ui/input/src/lib/leetype/leetype-wasm-loader.ts
  packages/ui/input/src/utils/leetype/index.test.ts
  packages/utils/package.json
  packages/utils/src/lib/polyhedron/wasm-runtime.ts
  packages/wasm-loader/eslint.config.js
  packages/wasm-loader/package.json
  packages/wasm-loader/src/index.ts
  packages/wasm-loader/src/lib/create-wasm-loader.test.ts
  packages/wasm-loader/src/lib/create-wasm-loader.ts
  packages/wasm-loader/src/lib/index.ts
  packages/wasm-loader/tsconfig.json
  packages/wasm-loader/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --check --write

refactor(fetch-kit): rename to @some-ui/fetch-kit, relocate, and fix tech debt
  apps/www/package.json
  extensions/some-drama/package.json
  packages/eslint/tsconfig.workspace-resolve.json
  packages/fetch-kit/eslint.config.js
  packages/fetch-kit/package.json
  packages/fetch-kit/src/index.ts
  packages/fetch-kit/src/lib/fetch-client.test.ts
  packages/fetch-kit/src/lib/fetch-client.ts
  packages/fetch-kit/src/lib/index.ts
  packages/fetch-kit/src/lib/query-hooks.ts
  packages/fetch-kit/tsconfig.build.json
  packages/fetch-kit/tsconfig.json
  packages/fetch-kit/vite.config.ts
  packages/fetch-kit/vitest.config.ts
  packages/some-content/package.json
  packages/some-content/src/data/attributions.ts
  packages/some-content/src/data/gantt-data.ts
  packages/some-content/src/data/nfl/brick-data.ts
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/attributions/src/data/fetched-attribution-data.ts
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/maishatu-fetch-kit/tsconfig.build.json
  packages/ui/nfl/package.json
  packages/ui/nfl/src/hooks/hopium/use-hopium-queries.ts
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/data/dial-data.ts
  packages/utils/package.json
  packages/utils/src/lib/hooks/use-audio-storage.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(fetch-kit): rename to @some-ui/fetch-kit, relocate, and fix tech debt (#574)
  apps/www/package.json
  extensions/some-drama/package.json
  packages/eslint/tsconfig.workspace-resolve.json
  packages/fetch-kit/eslint.config.js
  packages/fetch-kit/package.json
  packages/fetch-kit/src/index.ts
  packages/fetch-kit/src/lib/fetch-client.test.ts
  packages/fetch-kit/src/lib/fetch-client.ts
  packages/fetch-kit/src/lib/index.ts
  packages/fetch-kit/src/lib/query-hooks.ts
  packages/fetch-kit/tsconfig.build.json
  packages/fetch-kit/tsconfig.json
  packages/fetch-kit/vite.config.ts
  packages/fetch-kit/vitest.config.ts
  packages/some-content/package.json
  packages/some-content/src/data/attributions.ts
  packages/some-content/src/data/gantt-data.ts
  packages/some-content/src/data/nfl/brick-data.ts
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/attributions/src/data/fetched-attribution-data.ts
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/maishatu-fetch-kit/tsconfig.build.json
  packages/ui/nfl/package.json
  packages/ui/nfl/src/hooks/hopium/use-hopium-queries.ts
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/data/dial-data.ts
  packages/utils/package.json
  packages/utils/src/lib/hooks/use-audio-storage.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Rename umag to @some-ui/umag, extract @some-ui/ws, dehoist now-playing
  apps/www/package.json
  apps/www/src/index.css
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/some-content/src/registry/index.ts
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/rotating-neon-sign/index.tsx
  packages/ui/umag/package.json
  packages/ui/umag/src/components/audio-waveform/index.stories.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.stories.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/now-playing/index.ts
  packages/ui/umag/src/hooks/now-playing/store.ts
  packages/ui/umag/src/hooks/now-playing/use-now-playing-socket.ts
  packages/utils/package.json
  packages/utils/src/lib/context/zustand-store/index.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
  packages/utils/src/lib/hooks/socket-tenants/use-obs-socket.ts
  packages/utils/src/lib/hooks/socket-tenants/use-prompt-utterance.ts
  packages/utils/src/lib/index.ts
  packages/ws/eslint.config.js
  packages/ws/package.json
  packages/ws/src/index.ts
  packages/ws/src/lib/index.ts
  packages/ws/src/lib/lifecycle.ts
  packages/ws/src/lib/listener-registry.ts
  packages/ws/src/lib/manager.ts
  packages/ws/src/lib/mutation-queue.ts
  packages/ws/src/lib/ref-counter.ts
  packages/ws/src/lib/use-websocket.ts
  packages/ws/tsconfig.build.json
  packages/ws/tsconfig.json
  packages/ws/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Rename umag to @some-ui/umag, extract @some-ui/ws, dehoist now-playing (#576)
  apps/www/package.json
  apps/www/src/index.css
  packages/eslint/tsconfig.workspace-resolve.json
  packages/some-content/package.json
  packages/some-content/src/registry/index.ts
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/rotating-neon-sign/index.tsx
  packages/ui/umag/package.json
  packages/ui/umag/src/components/audio-waveform/index.stories.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.stories.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/now-playing/index.ts
  packages/ui/umag/src/hooks/now-playing/store.ts
  packages/ui/umag/src/hooks/now-playing/use-now-playing-socket.ts
  packages/utils/package.json
  packages/utils/src/lib/context/zustand-store/index.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
  packages/utils/src/lib/hooks/socket-tenants/use-obs-socket.ts
  packages/utils/src/lib/hooks/socket-tenants/use-prompt-utterance.ts
  packages/utils/src/lib/index.ts
  packages/ws/eslint.config.js
  packages/ws/package.json
  packages/ws/src/index.ts
  packages/ws/src/lib/index.ts
  packages/ws/src/lib/lifecycle.ts
  packages/ws/src/lib/listener-registry.ts
  packages/ws/src/lib/manager.ts
  packages/ws/src/lib/mutation-queue.ts
  packages/ws/src/lib/ref-counter.ts
  packages/ws/src/lib/use-websocket.ts
  packages/ws/tsconfig.build.json
  packages/ws/tsconfig.json
  packages/ws/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(fetch-kit): adopt file_host's /api/v1 base path convention
  .changeset/api-v1-base-path.md
  packages/fetch-kit/src/lib/api-config.ts
  packages/fetch-kit/src/lib/index.ts
  packages/some-content/package.json
  packages/some-content/src/data/attributions.ts
  packages/some-content/src/data/gantt-data.ts
  packages/some-content/src/data/nfl/brick-data.ts
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/attributions/src/data/fetched-attribution-data.ts
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/nfl/package.json
  packages/ui/nfl/src/hooks/hopium/use-hopium-queries.ts
  packages/ui/slideshow/src/data/dial-data.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

test(fetch-kit): cover apiUrl base-path joining
  packages/fetch-kit/src/lib/api-config.test.ts
Due: eslint --fix, prettier --check --write

fetch-kit: adopt file_host's /api/v1 base path convention (#578)
  .changeset/api-v1-base-path.md
  packages/fetch-kit/src/lib/api-config.test.ts
  packages/fetch-kit/src/lib/api-config.ts
  packages/fetch-kit/src/lib/index.ts
  packages/some-content/package.json
  packages/some-content/src/data/attributions.ts
  packages/some-content/src/data/gantt-data.ts
  packages/some-content/src/data/nfl/brick-data.ts
  packages/ui/attributions/src/components/attribution-card/index.stories.tsx
  packages/ui/attributions/src/data/fetched-attribution-data.ts
  packages/ui/honeycomb/src/data/nfl-roster.ts
  packages/ui/nfl/package.json
  packages/ui/nfl/src/hooks/hopium/use-hopium-queries.ts
  packages/ui/slideshow/src/data/dial-data.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(fetch-kit): add static/server runtime-mode data source plumbing
  packages/fetch-kit/package.json
  packages/fetch-kit/src/lib/data-source.test.ts
  packages/fetch-kit/src/lib/data-source.ts
  packages/fetch-kit/src/lib/index.ts
  packages/fetch-kit/src/lib/runtime-mode.test.ts
  packages/fetch-kit/src/lib/runtime-mode.ts
  packages/ui/chat/src/lib/topik/core/topik-metadata-repository/index.ts
  packages/ui/chat/src/lib/topik/core/topik-repository/index.ts
Due: eslint --fix, prettier --check --write

feat(fetch-kit): add static/server runtime-mode data source plumbing (#575)
  packages/fetch-kit/package.json
  packages/fetch-kit/src/lib/data-source.test.ts
  packages/fetch-kit/src/lib/data-source.ts
  packages/fetch-kit/src/lib/index.ts
  packages/fetch-kit/src/lib/runtime-mode.test.ts
  packages/fetch-kit/src/lib/runtime-mode.ts
  packages/ui/chat/src/lib/topik/core/topik-metadata-repository/index.ts
  packages/ui/chat/src/lib/topik/core/topik-repository/index.ts
Due: eslint --fix, prettier --check --write

docs(canon): add metamathematical Prolegomenon and sharpen environment axioms
  extensions/docs/dom-state-estimation-canon.typ
Due: none

docs(canon): fix Prolegomenon table column widths
  extensions/docs/dom-state-estimation-canon.typ
Due: none

ci: begin work on www dockerfile
  apps/www/Dockerfile
  apps/www/Makefile
Due: none

fix(www): resolve Dockerfile build failures
  apps/www/Dockerfile
Due: none

docs(canon): add the Custody Discipline and correct case-study framing
  extensions/docs/dom-state-estimation-canon.typ
Due: none

Claude/dom state estimation canon 9q3q2l (#600)
  extensions/docs/dom-state-estimation-canon.typ
Due: none

refactor(umag): dehoist use-prompt-utterance from some-ui-utils
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/prompt-utterance/index.ts
  packages/ui/umag/src/hooks/prompt-utterance/use-prompt-utterance.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
Due: eslint --fix, prettier --check --write

test(umag): stand up vitest harness, characterize + fix a few lint findings
  packages/ui/umag/package.json
  packages/ui/umag/src/hooks/use-audio-element.ts
  packages/ui/umag/src/hooks/use-audio-playback.test.ts
  packages/ui/umag/src/hooks/use-audio-playback.ts
  packages/ui/umag/src/hooks/voice-ui/use-blinking.test.ts
  packages/ui/umag/src/hooks/voice-ui/use-blinking.ts
  packages/ui/umag/tsconfig.build.json
  packages/ui/umag/tsconfig.json
  packages/ui/umag/vitest.config.ts
  packages/ui/umag/vitest.setup.ts
Due: eslint --fix, prettier --check --write

fix: ensure all deps are in context
  apps/www/Dockerfile
  apps/www/package.json
Due: prettier --check --write

fix(www): only load local dev TLS certs for the vite dev server
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: tsc noemit build issue, lints
  packages/tsconfig/rollupconfig.json
  packages/ui/umag/src/components/animated-wave-bar-chart/index.stories.tsx
  packages/ui/umag/src/components/megaphone-spectrum/index.stories.tsx
  packages/ui/umag/src/components/mujik-discovery/celebration-mode/index.stories.tsx
  packages/ui/umag/src/components/mujik-discovery/discover-menu/index.stories.tsx
  packages/ui/umag/src/components/mujik-discovery/index.stories.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.stories.tsx
  packages/ui/umag/src/components/now-playing/background-glow/index.stories.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.stories.tsx
  packages/ui/umag/src/components/now-playing/song-info/index.stories.tsx
  packages/ui/umag/src/components/now-playing/streaming-notes/index.stories.tsx
  packages/ui/umag/src/components/prompt-dox/index.stories.tsx
  packages/ui/umag/src/components/voice-ui/avatar/index.stories.tsx
  packages/ui/umag/src/components/wave-bar-chart/index.stories.tsx
  packages/ui/umag/src/hooks/use-audio-playback/index.test.ts
  packages/ui/umag/src/hooks/use-audio-playback/index.ts
  packages/ui/umag/src/hooks/voice-ui/use-blinking/index.test.ts
  packages/ui/umag/src/hooks/voice-ui/use-blinking/index.ts
Due: eslint --fix, prettier --check --write

umag: dehoist use-prompt-utterance, stand up vitest, characterize + fix a few lints (#601)
  packages/tsconfig/rollupconfig.json
  packages/ui/umag/package.json
  packages/ui/umag/src/components/animated-wave-bar-chart/index.stories.tsx
  packages/ui/umag/src/components/megaphone-spectrum/index.stories.tsx
  packages/ui/umag/src/components/mujik-discovery/celebration-mode/index.stories.tsx
  packages/ui/umag/src/components/mujik-discovery/discover-menu/index.stories.tsx
  packages/ui/umag/src/components/mujik-discovery/index.stories.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.stories.tsx
  packages/ui/umag/src/components/now-playing/background-glow/index.stories.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.stories.tsx
  packages/ui/umag/src/components/now-playing/song-info/index.stories.tsx
  packages/ui/umag/src/components/now-playing/streaming-notes/index.stories.tsx
  packages/ui/umag/src/components/prompt-dox/index.stories.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/components/voice-ui/avatar/index.stories.tsx
  packages/ui/umag/src/components/wave-bar-chart/index.stories.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/prompt-utterance/index.ts
  packages/ui/umag/src/hooks/prompt-utterance/use-prompt-utterance.ts
  packages/ui/umag/src/hooks/use-audio-element.ts
  packages/ui/umag/src/hooks/use-audio-playback/index.test.ts
  packages/ui/umag/src/hooks/use-audio-playback/index.ts
  packages/ui/umag/src/hooks/voice-ui/use-blinking/index.test.ts
  packages/ui/umag/src/hooks/voice-ui/use-blinking/index.ts
  packages/ui/umag/tsconfig.build.json
  packages/ui/umag/tsconfig.json
  packages/ui/umag/vitest.config.ts
  packages/ui/umag/vitest.setup.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
Due: eslint --fix, prettier --check --write

Fix Vite config and Docker build for HTTPS and Rust toolchain (#602)
  apps/www/Dockerfile
  apps/www/package.json
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

Ci/www dockerfile (#603)
  apps/www/Dockerfile
  apps/www/Makefile
  apps/www/package.json
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix(turbo): drop dead build:wasm task, fix .content outputs typo
  docs/turbo-registry/01-task-graph-audit.md
  docs/turbo-registry/02-registry-decision.md
  docs/turbo-registry/03-provisioning-runbook.md
  package.json
  turbo.json
Due: eslint --fix, prettier --check --write

fix: lint fix, no as
  packages/ui/dice-card/src/components/dice-card/index.tsx
  packages/ui/dice-card/src/types/react-css-vars.d.ts
Due: eslint --fix, prettier --check --write

test(portfolio-chart): pin blackScholes P/L and Greeks invariants
  packages/ui/portfolio-chart/src/lib/blackScholes.test.ts
Due: eslint --fix, prettier --check --write

fix(portfolio-chart): correct swapped put-vertical spread labels
  packages/ui/portfolio-chart/src/lib/archetypeDetector.test.ts
  packages/ui/portfolio-chart/src/lib/archetypeDetector.ts
Due: eslint --fix, prettier --check --write

docs(extensions): canon v1.3 — lifecycle stratification and adapter boundary
  extensions/docs/dom-state-estimation-canon.typ
Due: none

feat(transport): scaffold extensions/transport workspace + contracts layer
  extensions/transport/README.md
  extensions/transport/eslint.config.js
  extensions/transport/package.json
  extensions/transport/playwright.config.ts
  extensions/transport/src/contracts/action.ts
  extensions/transport/src/contracts/adapter.ts
  extensions/transport/src/contracts/hypothesis.ts
  extensions/transport/src/contracts/invariant.ts
  extensions/transport/src/contracts/token.ts
  extensions/transport/tsconfig.build.json
  extensions/transport/tsconfig.json
  extensions/transport/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(transport): ship raw TS source instead of a bare-tsc dist
  extensions/transport/package.json
  extensions/transport/tsconfig.build.json
Due: prettier --check --write

extensions/transport: canon v1.3 + S1 scaffold (contracts layer) (#619)
  extensions/docs/dom-state-estimation-canon.typ
  extensions/transport/README.md
  extensions/transport/eslint.config.js
  extensions/transport/package.json
  extensions/transport/playwright.config.ts
  extensions/transport/src/contracts/action.ts
  extensions/transport/src/contracts/adapter.ts
  extensions/transport/src/contracts/hypothesis.ts
  extensions/transport/src/contracts/invariant.ts
  extensions/transport/src/contracts/token.ts
  extensions/transport/tsconfig.json
  extensions/transport/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

test(portfolio-chart): regression tests for Black-Scholes P/L + fix mislabeled put spreads (#606)
  packages/ui/portfolio-chart/src/lib/archetypeDetector.test.ts
  packages/ui/portfolio-chart/src/lib/archetypeDetector.ts
  packages/ui/portfolio-chart/src/lib/blackScholes.test.ts
Due: eslint --fix, prettier --check --write

fix: lints
  packages/ui/umag/package.json
  packages/ui/umag/src/components/megaphone-spectrum/index.tsx
  packages/ui/umag/src/components/mujik-discovery/celebration-mode/index.tsx
  packages/ui/umag/src/components/mujik-discovery/index.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.tsx
  packages/ui/umag/src/components/now-playing/vinyl-record/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/components/voice-selector/index.tsx
  packages/ui/umag/src/components/voice-ui/voice-card/index.tsx
  packages/ui/umag/src/components/wave-bar-chart/index.tsx
  packages/ui/umag/src/hooks/use-audio-context.ts
  packages/ui/umag/src/hooks/use-waveform-viz.ts
  packages/ui/umag/src/hooks/voice-ui/use-canvas-animation.ts
  packages/ui/umag/src/hooks/voice-ui/use-waveform.ts
  packages/ui/umag/src/types/react-css-vars.d.ts
  packages/ui/umag/src/utils/error.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write
