Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: release issues
  .github/workflows/release.yml
  packages/charts/d3/package.json
Due: prettier --check --write

fix: release yml
  .github/workflows/release.yml
Due: prettier --check --write

chore: lockfile update
  pnpm-lock.yaml
Due: none

fix: remove env production from release yml
  .github/workflows/release.yml
Due: prettier --check --write

chore: rename eslint custom plugin scaffold
  eslint.config.js
  package.json
  packages/bark/eslint.config.js
  packages/bark/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/rollup-config/eslint.config.mjs
  packages/rollup-config/package.json
  packages/types/eslint.config.js
  packages/types/package.json
  packages/ui/calendar/eslint.config.js
  packages/ui/calendar/package.json
  packages/ui/chat/eslint.config.js
  packages/ui/chat/package.json
  packages/ui/emoji-animations/eslint.config.js
  packages/ui/honeycomb/eslint.config.js
  packages/ui/honeycomb/package.json
  packages/ui/input/eslint.config.js
  packages/ui/input/package.json
  packages/ui/neon-sign/eslint.config.js
  packages/ui/neon-sign/package.json
  packages/ui/nfl/eslint.config.js
  packages/ui/nfl/package.json
  packages/ui/resume/eslint.config.js
  packages/ui/resume/package.json
  packages/ui/searchbar/eslint.config.js
  packages/ui/searchbar/package.json
  packages/ui/shared/eslint.config.js
  packages/ui/shared/package.json
  packages/ui/slideshow/eslint.config.js
  packages/ui/slideshow/package.json
  packages/ui/stepper/eslint.config.js
  packages/ui/stepper/package.json
  packages/utils/CHANGELOG.md
  packages/utils/eslint.config.js
  packages/utils/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: init rotating cube
  packages/ui/slideshow/src/components/rotating-cube/index.module.css
  packages/ui/slideshow/src/components/rotating-cube/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/css-modules.d.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(wip): building cube ui
  packages/ui/slideshow/src/components/rotating-cube/index.module.css
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  tailwind.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: init wireframes ui
  .gitignore
  packages/ui/wireframes/eslint.config.js
  packages/ui/wireframes/package.json
  packages/ui/wireframes/rollup.config.js
  packages/ui/wireframes/tsconfig.build.json
  packages/ui/wireframes/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: add youtube overlay
  packages/ui/wireframes/src/components/youtube-overlay/index.stories.tsx
  packages/ui/wireframes/src/components/youtube-overlay/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: init overlays ui
  packages/ui/overlays/eslint.config.js
  packages/ui/overlays/package.json
  packages/ui/overlays/rollup.config.js
  packages/ui/overlays/tsconfig.build.json
  packages/ui/overlays/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: add logo card
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/logo/index.stories.tsx
  packages/ui/overlays/src/components/youtube/logo/index.tsx
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

Add files via upload
  logo.png
Due: none

feat: add logo for youtube overlay
  packages/ui/overlays/src/components/youtube/assets/index.ts
  packages/ui/overlays/src/components/youtube/assets/logo.png
  packages/ui/overlays/src/global.d.ts
Due: eslint --fix, prettier --check --write

refactor: rename
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/index.ts
  packages/ui/wireframes/src/components/youtube-overlay/index.stories.tsx
  packages/ui/wireframes/src/components/youtube/index.stories.tsx
  packages/ui/wireframes/src/components/youtube/index.tsx
  packages/ui/wireframes/src/index.ts
Due: eslint --fix, prettier --check --write

feat: first version of youtube overlay
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/index.stories.tsx
  packages/ui/overlays/src/components/youtube/index.tsx
  packages/ui/overlays/src/components/youtube/logo/index.tsx
Due: eslint --fix, prettier --check --write

refactor: update rotating cube
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/index.ts
Due: eslint --fix, prettier --check --write

fix: build issues
  packages/ui/shared/package.json
  packages/ui/shared/src/components/demos/some-demo.tsx
  packages/ui/shared/src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --check --write

refactor: get wireframes building and providing valid exports
  packages/ui/wireframes/src/components/index.ts
  packages/ui/wireframes/src/components/youtube/index.ts
  packages/ui/wireframes/src/components/youtube/types/index.ts
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.stories.tsx
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
  packages/ui/wireframes/src/index.ts
Due: eslint --fix, prettier --check --write

refactor: add postcss plugin
  packages/rollup-config/package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
Due: eslint --fix, prettier --check --write

fix: peer resolution issues
  package.json
Due: prettier --check --write

chore: update gitignore
  .gitignore
Due: none

feat: use resizable
  packages/ui/wireframes/package.json
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.stories.tsx
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

refactor: use the new wireframe
  packages/ui/emoji-animations/package.json
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
  packages/ui/emoji-animations/src/components/index.ts
  packages/ui/emoji-animations/src/components/index.tsx
  packages/ui/emoji-animations/src/index.ts
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/src/components/index.ts
  packages/ui/neon-sign/src/components/index.tsx
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/neon-sign/src/index.ts
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/index.stories.tsx
  packages/ui/overlays/src/components/youtube/index.tsx
  packages/ui/overlays/src/components/youtube/logo/index.tsx
  packages/ui/shared/src/components/ui/resizable.tsx
Due: eslint --fix, prettier --check --write

feat: use input for updates
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/src/components/neon-text/index.tsx
Due: eslint --fix, prettier --check --write

refactor: update input shadcn
  packages/ui/shared/src/components/ui/input.tsx
Due: eslint --fix, prettier --check --write

style: color edits
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

feat: utilize local storage
  packages/ui/neon-sign/src/components/neon-text/index.tsx
Due: eslint --fix, prettier --check --write

style: update styles
  packages/ui/emoji-animations/src/components/bored-animation/index.stories.tsx
  packages/ui/emoji-animations/src/components/bored-animation/index.tsx
Due: eslint --fix, prettier --check --write

style: update styles
  packages/ui/overlays/src/components/youtube/index.tsx
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

feat: add splay animation
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/index.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/utils/splay-tree.ts
Due: eslint --fix, prettier --check --write

feat: add splay tree animation
  packages/ui/overlays/src/components/index.ts
  packages/ui/overlays/src/components/youtube/index.ts
  packages/ui/overlays/src/components/youtube/overlay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/index.ts
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/index.ts
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/manual-splay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/manual-splay/index.tsx
  packages/ui/overlays/src/index.ts
  packages/ui/overlays/src/utils/index.ts
  packages/ui/overlays/src/utils/splay-tree.ts
Due: eslint --fix, prettier --check --write

chore: config updates
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add marquee card
  packages/ui/shared/src/components/ui/marquee.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

test: testing eslint
  packages/ui/shared/src/components/ui/marquee.tsx
Due: eslint --fix, prettier --check --write

test: test eslint
  packages/ui/shared/src/components/ui/marquee.tsx
Due: eslint --fix, prettier --check --write

fix: add react to esling globals
  packages/eslint/src/configs/typescript.config.ts
  packages/ui/shared/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --check --write

feat: add marquee to youtube overlay
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/index.ts
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/components/youtube/yt-marquee/index.stories.tsx
  packages/ui/overlays/src/components/youtube/yt-marquee/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --check --write

chore: lockfile updates, expose components
  packages/ui/shared/src/components/ui/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write
