Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

refactor: export button props
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

feat: specify peer deps, and mark external deps
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

refactor: allow for external deps prop
  packages/rollup-config/src/configs/core.rollup.config.ts
Due: eslint --fix, prettier --check --write

fix: update imports
  packages/mdx-generator/package.json
  packages/mdx-generator/src/components/copy-button.tsx
Due: eslint --fix, prettier --check --write

test: some hallucinations
  packages/ui/shared/src/components/demos/index.ts
  packages/ui/shared/src/components/demos/rect-utils.ts
  packages/ui/shared/src/components/demos/some-demo.stories.tsx
  packages/ui/shared/src/components/demos/some-demo.tsx
Due: eslint --fix, prettier --check --write

feat: setting up components for mdx
  packages/mdx-generator/src/components/callout.tsx
  packages/mdx-generator/src/components/code-block-wrapper.tsx
  packages/mdx-generator/src/components/copy-button.tsx
  packages/mdx-generator/src/components/index.ts
  packages/mdx-generator/src/components/mdx-components/default-components.tsx
  packages/mdx-generator/src/components/mdx-components/index.ts
  packages/mdx-generator/src/components/mdx-components/mdx-components.tsx
  packages/mdx-generator/src/types/index.ts
  packages/mdx-generator/src/types/mdx-components.ts
  packages/mdx-generator/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: run build, update config
  packages/ui/shared/package.json
  packages/ui/shared/src/components/demos/some-demo.tsx
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

refactor: remove deps
  packages/utils/package.json
Due: prettier --check --write

chore: update extenal rollup option
  packages/utils/rollup.config.js
Due: eslint --fix, prettier --check --write

feat: port usehooks-ts to codebase
  packages/utils/src/index.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-is-mounted/LICENSE
  packages/utils/src/lib/hooks/use-is-mounted/index.ts
  packages/utils/src/lib/hooks/use-is-mounted/use-is-mounted.ts
  packages/utils/src/lib/hooks/use-measure-rect/index.ts
  packages/utils/src/lib/hooks/use-measure-rect/use-measure-rect.ts
  packages/utils/src/lib/hooks/use-resize-observer/LICENSE
  packages/utils/src/lib/hooks/use-resize-observer/index.ts
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
  packages/utils/src/lib/index.ts
Due: eslint --fix, prettier --check --write

chore: add test deps, scripts
  package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: typo
  package.json
Due: prettier --check --write

chore: add vitest deps
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: add missing vitest deps
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: setup vitest
  vitest.config.mts
Due: none

refactor: remove build step for test
  turbo.json
Due: prettier --check --write

chore: add missing deps for vitest
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

test: add test
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.test.ts
Due: eslint --fix, prettier --check --write

refactor: update lint script
  packages/mdx-generator/package.json
  packages/pivot-search/package.json
  packages/rollup-config/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/utils/package.json
  turbo.json
Due: prettier --check --write

chore: build config
  packages/ui/shared/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Due: none

chore: ignore tsbuild
  .gitignore
Due: none

refactor: update vitest config
  vitest.config.mts
Due: none

chore: update packages
  package.json
Due: prettier --check --write

test: fix test eslint
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.test.ts
Due: eslint --fix, prettier --check --write

fix: ignore tsbuild
  packages/ui/shared/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Due: none

refactor: update tsconfig for vitest
  packages/utils/tsconfig.json
Due: prettier --check --write

refactor: update scripts for lint
  package.json
  packages/mdx-generator/package.json
  packages/pivot-search/package.json
  packages/rollup-config/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/ui/shared/tsconfig.tsbuildinfo
  packages/utils/package.json
  packages/utils/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  turbo.json
Due: prettier --check --write

fix: build circular dependency
  packages/ui/shared/tsconfig.tsbuildinfo
  packages/utils/src/lib/hooks/use-measure-rect/use-measure-rect.ts
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
  packages/utils/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --check --write

fix: have empty build chunk for now
  packages/pivot-search/src/index.ts
Due: eslint --fix, prettier --check --write

refactor: make deps external peer
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

refactor: build prelint
  turbo.json
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
