Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

feat: kinda working
  extensions/some-cycle/background/index.ts
  extensions/some-cycle/content/index.stories.tsx
  extensions/some-cycle/content/index.ts
  extensions/some-cycle/packages/content/eslint.config.js
  extensions/some-cycle/packages/content/package.json
  extensions/some-cycle/packages/content/src/components/index.stories.tsx
  extensions/some-cycle/packages/content/src/components/index.tsx
  extensions/some-cycle/packages/content/src/index.ts
  extensions/some-cycle/packages/content/tsconfig.build.json
  extensions/some-cycle/packages/content/tsconfig.json
  extensions/some-cycle/packages/content/tsconfig.node.json
  extensions/some-cycle/packages/content/vite.config.ts
  extensions/some-cycle/packages/types/eslint.config.js
  extensions/some-cycle/packages/types/package.json
  extensions/some-cycle/packages/types/src/index.ts
  extensions/some-cycle/packages/types/src/lib/index.ts
  extensions/some-cycle/packages/types/src/lib/task.ts
  extensions/some-cycle/packages/types/tsconfig.json
  extensions/some-cycle/popup/popup.tsx
  extensions/some-cycle/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: 4 hour slice issue
  packages/ui/chat/package.json
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/chat/src/index.css
  packages/ui/chat/src/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: steps to hopium
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/stats-card/index.tsx
  packages/ui/nfl/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: building styles
  apps/www/src/index.css
  packages/ui/neon-sign/src/index.css
  packages/ui/overlays/src/index.css
  packages/ui/shared/src/index.css
  packages/ui/slideshow/src/index.css
  packages/ui/stepper/src/index.css
  packages/ui/wireframes/src/index.css
Due: stylelint --allow-empty-input, prettier --write

feat: building extensions
  extensions/no-comments/tsconfig.json
  extensions/some-scrobbler/eslint.config.js
  extensions/some-scrobbler/package.json
  extensions/some-scrobbler/rollup.config.js
  extensions/some-scrobbler/src/background/index.ts
  extensions/some-scrobbler/src/content/index.test.ts
  extensions/some-scrobbler/src/content/index.ts
  extensions/some-scrobbler/src/popup/popup.html
  extensions/some-scrobbler/src/popup/popup.tsx
  extensions/some-scrobbler/src/types/index.ts
  extensions/some-scrobbler/tsconfig.build.json
  extensions/some-scrobbler/tsconfig.json
  extensions/some-scrobbler/vite.config.ts
  extensions/some-tab-meta/src/background/background.js
  extensions/some-tab-meta/src/content/content.js
  extensions/some-tab-meta/tsconfig.json
Due: eslint --fix, prettier --check --write, prettier --write

chore: add strict mode to stories
  .storybook/main.ts
  .storybook/storybook-decorator.tsx
Due: eslint --fix, prettier --check --write

fix: create audio context on play
  packages/utils/src/lib/hooks/use-audio-speech.ts
Due: eslint --fix, prettier --check --write

fix(style): invalid tw css
  packages/ui/overlays/src/components/youtube/yt-marquee/index.css
Due: stylelint --allow-empty-input, prettier --write

chore: updates
  apps/www/package.json
  extensions/some-scrobbler/package.json
  extensions/some-scrobbler/tsconfig.node.json
  packages/bark/package.json
  packages/bark/tsconfig.build.json
  packages/bark/tsconfig.json
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/maishatu-fetch-kit/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/overlays/tsconfig.json
  packages/ui/portfolio-chart/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/tsconfig.build.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check --write

fix(ci): lockfile
  pnpm-lock.yaml
Due: none

fix(ci): lockfile
  package.json
Due: prettier --check --write

ci: prettier
  extensions/some-cycle/packages/content/tsconfig.build.json
  extensions/some-cycle/tsconfig.build.json
Due: prettier --check --write

feat: deprecate package
  packages/maishatu-tw-eslint/eslint.config.mjs
  packages/maishatu-tw-eslint/package.json
  packages/maishatu-tw-eslint/scripts/generate-configs.mts
  packages/maishatu-tw-eslint/scripts/paths.mts
  packages/maishatu-tw-eslint/src/configs/recommended.ts
  packages/maishatu-tw-eslint/src/index.ts
  packages/maishatu-tw-eslint/src/rules/enforce-order.ts
  packages/maishatu-tw-eslint/src/rules/index.ts
  packages/maishatu-tw-eslint/src/util/create-rule.ts
  packages/maishatu-tw-eslint/src/util/get-constrained-type-allocation.ts
  packages/maishatu-tw-eslint/src/util/get-option.ts
  packages/maishatu-tw-eslint/src/util/index.ts
  packages/maishatu-tw-eslint/src/util/parsers.test.ts
  packages/maishatu-tw-eslint/src/util/parsers.ts
  packages/maishatu-tw-eslint/tsconfig.build.json
  packages/maishatu-tw-eslint/tsconfig.json
Due: eslint --fix, prettier --check --write

ci: some script
  package.json
  scripts/with-limits.sh
Due: prettier --check --write

ci: prettier format
  README.md
  assets/index.ts
  crates/some-hexagon/MEMBAME.md
  crates/ujinga/README.md
  extensions/no-comments/src/popup/popup.html
  flake.lock
  pnpm-lock.yaml
  prettier.config.cjs
Due: eslint --fix, prettier --check --write, prettier --write

feat: isolate tenant hooks
  packages/ui/input/src/components/obs-monitor/header/index.stories.tsx
  packages/ui/input/src/components/obs-monitor/header/index.tsx
  packages/ui/input/src/components/obs-monitor/manager/index.stories.tsx
  packages/ui/input/src/components/obs-monitor/manager/index.tsx
  packages/ui/input/src/components/obs-monitor/preview-pane/index.stories.tsx
  packages/ui/input/src/components/obs-monitor/preview-pane/index.tsx
  packages/ui/input/src/components/obs-monitor/script-editor/index.stories.tsx
  packages/ui/input/src/components/obs-monitor/script-editor/index.tsx
  packages/ui/input/src/components/obs-monitor/script-sidebar/index.stories.tsx
  packages/ui/input/src/components/obs-monitor/script-sidebar/index.tsx
  packages/ui/input/src/components/obs-monitor/timeline/index.stories.tsx
  packages/ui/input/src/components/obs-monitor/timeline/index.tsx
  packages/ui/input/tsconfig.build.json
  packages/ui/input/vite.config.ts
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/types/obs-websocket.ts
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/use-prompt-utterance.ts
  packages/ui/umag/src/types/index.ts
  packages/ui/umag/src/types/now-playing.ts
  packages/ui/umag/src/types/spectrum.ts
  packages/utils/package.json
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/README.md
  packages/utils/src/lib/hooks/socket-tenants/index.ts
  packages/utils/src/lib/hooks/socket-tenants/use-now-playing-socket.ts
  packages/utils/src/lib/hooks/socket-tenants/use-obs-socket.ts
  packages/utils/src/lib/hooks/socket-tenants/use-prompt-utterance.ts
  packages/utils/src/lib/hooks/use-websocket.ts
  packages/utils/src/lib/obs.ts
Due: eslint --fix, prettier --check --write

feat: reducer pattern for ochestration
  packages/utils/src/lib/context/event-queue.ts
  packages/utils/src/lib/context/index.ts
  packages/utils/src/lib/context/ochestra/index.ts
  packages/utils/src/lib/context/ochestra/ochestrated-store.ts
  packages/utils/src/lib/context/ochestra/use-ochestration-store.tsx
  packages/utils/src/lib/context/speech-context.ts
  packages/utils/src/lib/context/speech-queue/actions.ts
  packages/utils/src/lib/context/speech-queue/index.ts
  packages/utils/src/lib/context/speech-queue/manager.ts
  packages/utils/src/lib/context/speech-queue/reducer.ts
  packages/utils/src/lib/context/speech-queue/singleton.ts
  packages/utils/src/lib/context/speech-queue/types.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-audio-tts.ts
  packages/utils/src/lib/hooks/use-speech-queue.ts
  packages/utils/src/lib/hooks/use-tts-fetch.ts
  packages/utils/src/lib/hooks/use-websocket.ts
Due: eslint --fix, prettier --check --write

refactor: remove depracted ui, update to use new api
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/nfl/src/components/hopium/rollercoaster/index.stories.tsx
  packages/ui/nfl/src/hooks/hopium/use-hopium-queries.ts
  packages/ui/overlays/src/components/youtube/index.ts
  packages/ui/overlays/src/components/youtube/splay-tree/index.ts
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/index.ts
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/manual-splay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/manual-splay/index.tsx
  packages/ui/overlays/src/utils/index.ts
  packages/ui/overlays/src/utils/splay-tree.ts
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
Due: eslint --fix, prettier --check --write

chore: tooling, deps update
  .storybook/storybook-decorator.tsx
  flake.lock
  flake.nix
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: some bad code
  packages/some-content/package.json
  packages/some-content/src/components/overlay/index.tsx
  packages/some-content/src/scripts/mood-events/seed.json
  packages/some-content/src/scripts/mood-events/seed.ts
  packages/ui/slideshow/src/components/dice-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/hooks/use-rotating-cube.ts
Due: eslint --fix, prettier --check --write

feat: lazy loading
  packages/some-content/src/components/overlay/brick-chart-carousel.tsx
  packages/some-content/src/components/overlay/clues-across.tsx
  packages/some-content/src/components/overlay/clues-down.tsx
  packages/some-content/src/components/overlay/crossword-puzzle.tsx
  packages/some-content/src/components/overlay/ending-credits.tsx
  packages/some-content/src/components/overlay/gemini-stepper-with-prompt.tsx
  packages/some-content/src/components/overlay/index.tsx
  packages/some-content/src/components/overlay/top-right-content.tsx
Due: eslint --fix, prettier --check --write

chore: update storybook
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: livestream orchestrator
  packages/utils/src/lib/context/ochestra/index.ts
  packages/utils/src/lib/context/ochestra/livestream.ts
  packages/utils/src/lib/context/ochestra/use-livestream-ochestrator.tsx
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
  packages/utils/src/lib/hooks/socket-tenants/use-obs-orchestrator.ts
  packages/utils/src/lib/hooks/use-audio-storage.ts
  packages/utils/src/types/audio-storage-types.ts
Due: eslint --fix, prettier --check --write

feat: main content orchestration
  packages/some-content/src/components/overlay/main-content/index.stories.tsx
  packages/some-content/src/components/overlay/main-content/index.tsx
Due: eslint --fix, prettier --check --write

refactor: place demo in stories
  packages/some-content/src/components/overlay/main-content/index.stories.tsx
  packages/some-content/src/components/overlay/main-content/index.tsx
Due: eslint --fix, prettier --check --write

style: make bg transparent
  packages/ui/wireframes/src/components/youtube/youtube-wireframe/index.tsx
Due: eslint --fix, prettier --check --write

chore: retouch overlay content
  packages/some-content/src/components/overlay/brick-chart-carousel.tsx
  packages/some-content/src/components/overlay/gemini-stepper-with-prompt.tsx
  packages/some-content/src/components/overlay/main-content/index.stories.tsx
  packages/some-content/src/components/overlay/main-content/index.tsx
  packages/some-content/src/components/overlay/top-right-content.tsx
  packages/some-content/src/data/chatbot-messages/index.ts
  packages/some-content/src/data/chatbot-messages/sacred-scrolls.ts
  packages/some-content/src/data/gemini-stepper.ts
  packages/some-content/src/data/index.ts
  packages/some-content/src/data/nfl/brick-data.ts
  packages/some-content/src/data/nfl/index.ts
Due: eslint --fix, prettier --check --write

style: give now playing a bg
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/tsconfig.build.json
  packages/ui/umag/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: init cdrama ui
  packages/ui/makjang/src/components/cdrama/couple-rating/index.tsx
  packages/ui/makjang/src/components/cdrama/drama-header/index.tsx
  packages/ui/makjang/src/components/cdrama/emoji-timeline/index.tsx
  packages/ui/makjang/src/components/cdrama/emotional-graph/index.tsx
  packages/ui/makjang/src/components/cdrama/metrics-panel/index.tsx
  packages/ui/makjang/src/components/cdrama/ost-panel/index.tsx
  packages/ui/makjang/src/components/cdrama/overlay/index.tsx
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
Due: eslint --fix, prettier --check --write

feat: add theming to honeycomb, add song grid
  packages/ui/honeycomb/src/components/hex-grid/index.stories.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/index.stories.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/index.tsx
Due: eslint --fix, prettier --check --write

feat: some ui init
  packages/ui/slideshow/src/components/orchestrator/card/index.stories.tsx
  packages/ui/slideshow/src/components/orchestrator/card/index.tsx
  packages/ui/slideshow/src/components/orchestrator/card/use-orchestrator.ts
  packages/ui/slideshow/src/components/orchestrator/controls/index.tsx
  packages/ui/slideshow/src/components/orchestrator/edit-scene-dialog/index.tsx
  packages/ui/slideshow/src/components/orchestrator/index.ts
  packages/ui/slideshow/src/components/orchestrator/scheduled/index.tsx
  packages/ui/slideshow/src/components/orchestrator/timeline/index.tsx
  packages/ui/slideshow/src/components/recap/code-snippet/index.stories.tsx
  packages/ui/slideshow/src/components/recap/code-snippet/index.tsx
  packages/ui/slideshow/src/components/recap/index.css
  packages/ui/slideshow/src/components/recap/slide-navigation/index.tsx
  packages/ui/slideshow/src/components/recap/slideshow-slide/index.tsx
  packages/ui/slideshow/src/components/recap/slideshow/index.stories.tsx
  packages/ui/slideshow/src/components/recap/slideshow/index.tsx
  packages/ui/slideshow/src/components/recap/status-card/index.tsx
  packages/ui/slideshow/src/components/recap/terminal-header/index.tsx
  packages/ui/slideshow/src/hooks/recap/use-current-time.ts
  packages/ui/slideshow/src/hooks/recap/use-floating-elements.ts
  packages/ui/slideshow/src/hooks/recap/use-slideshow.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-stream-orchestrator.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

style: add image to song grid
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/song-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/song-overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/song-overlay/index.tsx
Due: eslint --fix, prettier --check --write

fix: reset milestone
  packages/ui/nfl/src/components/hopium/streak-card/index.tsx
Due: eslint --fix, prettier --check --write

refactor: remove proc macro
  crates/pkg_cloner/src/cloner/config.rs
Due: none

feat: new extension (broken - slows browser)
  extensions/leetcode-tracker/eslint.config.js
  extensions/leetcode-tracker/package.json
  extensions/leetcode-tracker/public/manifest.json
  extensions/leetcode-tracker/src/background/background.ts
  extensions/leetcode-tracker/src/content/content.css
  extensions/leetcode-tracker/src/content/content.ts
  extensions/leetcode-tracker/src/popup/popup.css
  extensions/leetcode-tracker/src/popup/popup.html
  extensions/leetcode-tracker/src/popup/popup.js
  extensions/leetcode-tracker/src/types/browser.d.ts
  extensions/leetcode-tracker/tsconfig.build.json
  extensions/leetcode-tracker/tsconfig.json
  extensions/leetcode-tracker/tsconfig.node.json
  extensions/leetcode-tracker/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: browser resource usage, draggable
  extensions/leetcode-tracker/public/manifest.json
  extensions/leetcode-tracker/src/background/background.ts
  extensions/leetcode-tracker/src/content/content.css
  extensions/leetcode-tracker/src/content/content.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: auto hide on full screen, improve draggable
  extensions/leetcode-tracker/src/content/content.ts
Due: eslint --fix, prettier --check --write

docs: readme
  extensions/leetcode-tracker/README.md
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
