Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat: add pause/resume animation logic for yt-grid
  packages/eslint/src/configs/base.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
  packages/ui/overlays/src/hooks/use-random-panel-expansion.ts
Due: eslint --fix, prettier --check --write

feat: add new package makjang
  packages/ui/makjang/src/components/index.ts
  packages/ui/makjang/src/components/shapes/buildings/index.ts
  packages/ui/makjang/src/components/shapes/buildings/striped-building/index.stories.tsx
  packages/ui/makjang/src/components/shapes/buildings/striped-building/index.tsx
  packages/ui/makjang/src/components/shapes/buildings/tall-building/index.stories.tsx
  packages/ui/makjang/src/components/shapes/buildings/tall-building/index.tsx
  packages/ui/makjang/src/components/shapes/index.ts
  packages/ui/makjang/src/components/shapes/skyline/index.stories.tsx
  packages/ui/makjang/src/components/shapes/skyline/index.tsx
  packages/ui/makjang/src/components/shapes/sun/index.stories.tsx
  packages/ui/makjang/src/components/shapes/sun/index.tsx
  packages/ui/makjang/src/index.ts
Due: eslint --fix, prettier --check --write

fix: correctly export and declare files for tsconfig
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/index.ts
  packages/ui/slideshow/src/components/index.tsx
  packages/ui/slideshow/src/components/inset-card/index.stories.tsx
  packages/ui/slideshow/src/components/inset-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.module.css
  packages/ui/slideshow/src/components/rotating-cube/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/components/sidebar-carousel/index.stories.tsx
  packages/ui/slideshow/src/components/sidebar-carousel/index.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.tsx
  packages/ui/slideshow/tailwind.config.ts
  packages/ui/slideshow/tsconfig.build.json
  packages/ui/slideshow/tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: prepare for changeset publish
  packages/ui/emoji-animations/package.json
  packages/ui/overlays/package.json
  packages/ui/slideshow/package.json
Due: prettier --check --write

feat: initial animated resizable panels
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
  packages/ui/overlays/src/hooks/index.ts
  packages/ui/overlays/src/hooks/use-random-panel-expansion.ts
  packages/ui/overlays/src/index.ts
Due: eslint --fix, prettier --check --write

refactor: update logic to redce redundancy
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
  packages/ui/overlays/src/hooks/use-random-panel-expansion.ts
Due: eslint --fix, prettier --check --write

chore: config changes
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --check --write

chore: msc updates
  .storybook/main.ts
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/overlays/src/utils/index.ts
  packages/ui/shared/src/components/ui/index.ts
  packages/utils/src/lib/hooks/index.ts
Due: eslint --fix, prettier --check --write

feat: add building shape
  packages/ui/makjang/src/components/shapes/buildings/modern-buildings/index.stories.tsx
  packages/ui/makjang/src/components/shapes/buildings/modern-buildings/index.tsx
Due: eslint --fix, prettier --check --write

chore: add more makjang shapes
  packages/ui/makjang/src/components/shapes/buildings/office-building/index.stories.tsx
  packages/ui/makjang/src/components/shapes/buildings/office-building/index.tsx
Due: eslint --fix, prettier --check --write

fix: i hate everything
  package.json
Due: prettier --check --write

chore: changeset
  packages/eslint/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: new mods
  packages/ui/overlays/src/utils/rand-funcs.ts
  packages/ui/shared/src/components/ui/slider.tsx
  packages/utils/src/lib/hooks/use-fetch.ts
Due: eslint --fix, prettier --check --write

chore: yt-grid wip
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
Due: eslint --fix, prettier --check --write

chore: misc
  .dockerignore
  pnpm-lock.yaml
Due: none

feat: add attribution ui package
  packages/ui/attributions/eslint.config.js
  packages/ui/attributions/package.json
  packages/ui/attributions/rollup.config.js
  packages/ui/attributions/src/components/index.ts
  packages/ui/attributions/src/components/scrolling-credits/index.module.css
  packages/ui/attributions/src/components/scrolling-credits/index.stories.tsx
  packages/ui/attributions/src/components/scrolling-credits/index.tsx
  packages/ui/attributions/src/components/taggert-credits/index.module.css
  packages/ui/attributions/src/components/taggert-credits/index.stories.tsx
  packages/ui/attributions/src/components/taggert-credits/index.tsx
  packages/ui/attributions/src/global.d.ts
  packages/ui/attributions/src/index.ts
  packages/ui/attributions/tsconfig.build.json
  packages/ui/attributions/tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: prepare for changeset publish
  packages/rollup-config/package.json
  packages/ui/attributions/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/shared/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: prettier --check --write

feat: modularize the tailwind config
  packages/tailwind-config/package.json
  packages/tailwind-config/src/index.ts
  packages/tailwind-config/tsconfig.json
  packages/ui/chat/tailwind.config.ts
  packages/ui/chat/tsconfig.json
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/yt-grid/index.stories.tsx
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
  packages/ui/overlays/tailwind.config.ts
  packages/ui/overlays/tsconfig.build.json
  packages/ui/overlays/tsconfig.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

refactor: add resizable type
  packages/ui/shared/src/components/ui/resizable.tsx
Due: eslint --fix, prettier --check --write

chore: add new pkg to tsconfig
  tsconfig.json
Due: prettier --check --write

chore: place pkgs in dev
  package.json
  packages/rollup-config/package.json
  pnpm-lock.yaml
Due: prettier --check --write

test: test lint with tsc
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.stories.tsx
Due: eslint --fix, prettier --check --write

chore: build updates
  packages/ui/chat/package.json
Due: prettier --check --write

chore: new pkg config updates
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: get cube rotating working with old tailwind version and module.css
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/neon-sign/package.json
  packages/ui/resume/package.json
  packages/ui/slideshow/src/components/rotating-cube/index.module.css
  packages/ui/slideshow/src/components/rotating-cube/index.stories.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: init sound wave ui
  packages/ui/umag/eslint.config.js
  packages/ui/umag/package.json
  packages/ui/umag/rollup.config.js
  packages/ui/umag/src/components/animated-wave-bar-chart/index.stories.tsx
  packages/ui/umag/src/components/animated-wave-bar-chart/index.tsx
  packages/ui/umag/src/components/audio-waveform/index.stories.tsx
  packages/ui/umag/src/components/audio-waveform/index.tsx
  packages/ui/umag/src/components/index.ts
  packages/ui/umag/src/components/wave-bar-chart/index.stories.tsx
  packages/ui/umag/src/components/wave-bar-chart/index.tsx
  packages/ui/umag/src/hooks/index.ts
  packages/ui/umag/src/hooks/use-audio-context.ts
  packages/ui/umag/src/hooks/use-audio-element.ts
  packages/ui/umag/src/hooks/use-audio-playback.ts
  packages/ui/umag/src/hooks/use-volume-control.ts
  packages/ui/umag/src/hooks/use-waveform-viz.ts
  packages/ui/umag/src/index.ts
  packages/ui/umag/tsconfig.build.json
  packages/ui/umag/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: add new makjang shape
  packages/ui/makjang/src/components/shapes/buildings/stepped-building/index.stories.tsx
  packages/ui/makjang/src/components/shapes/buildings/stepped-building/index.tsx
Due: eslint --fix, prettier --check --write

chore: deps updates
  package.json
  packages/ui/overlays/src/components/youtube/yt-marquee/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: i hate everything
  packages/ui/shared/package.json
Due: prettier --check --write

feat: add new package
  packages/ui/makjang/eslint.config.js
  packages/ui/makjang/package.json
  packages/ui/makjang/rollup.config.js
  packages/ui/makjang/tsconfig.build.json
  packages/ui/makjang/tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: get a working resizable overlay animation
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
Due: eslint --fix, prettier --check --write

fix: circular dep
  packages/ui/shared/src/components/ui/animated-badge/index.tsx
  packages/ui/shared/src/components/ui/avatar-group/index.tsx
  packages/ui/shared/src/components/ui/overlay-input/index.tsx
  packages/ui/shared/src/components/ui/with-avatar/index.tsx
Due: eslint --fix, prettier --check --write

fix: get attributions pkg to build
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/index.ts
Due: eslint --fix, prettier --check --write

fix: get umag building
  packages/ui/umag/package.json
  packages/ui/umag/src/hooks/use-waveform-viz.ts
Due: eslint --fix, prettier --check --write

fix: get failing pkgs building
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/standings/index.tsx
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.tsx
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/umag/src/components/animated-wave-bar-chart/index.tsx
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --check --write
