Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

Add LLM-generated Hangul vocabulary override for local dev (#788)
  apps/www/.gitignore
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/hangul-vocab/index.ts
  apps/www/src/lib/hangul-vocab/schema.test.ts
  apps/www/src/lib/hangul-vocab/schema.ts
  crates/hangul-game-core/src/internal/engine.rs
  infra/compose/www.yml
  packages/eslint/src/configs/base.config.ts
  packages/some-content/prompts/hangul-vocab-generator/index.md
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/prompt-station/index.tsx
  packages/ui/honeycomb/src/data/hangul-words.ts
  packages/ui/honeycomb/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(resume): split résumé into conventional grammar + a provenance/meta doc
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: eslint --fix, prettier --check --write

feat(resume): add requirements map against E-Logic/Sacramento County posting
  packages/ui/resume/resume.typ
Due: none

chore: update some meta
  packages/ui/resume/resume.typ
Due: none

fix: knip
  apps/www/src/lib/hangul-vocab/index.ts
  apps/www/src/lib/hangul-vocab/schema.ts
Due: eslint --fix, prettier --check --write

Refactor résumé: separate commentary into resume.meta.typ (#789)
  apps/www/src/lib/hangul-vocab/index.ts
  apps/www/src/lib/hangul-vocab/schema.ts
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: eslint --fix, prettier --check --write

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

fix(www): stop devtools in prod, fix resume.pdf 404, add landing page
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/resume.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/index.tsx
Due: eslint --fix, prettier --check --write

fix(www): stop devtools in prod, fix resume.pdf 404, add landing page (#791)
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/_dashboard.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/resume.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/index.tsx
Due: eslint --fix, prettier --check --write

feat(leetype,www): fetch real challenge corpus locally/Docker, demo pool stays on Pages
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/leetype-challenges/index.ts
  apps/www/src/lib/leetype-challenges/schema.test.ts
  apps/www/src/lib/leetype-challenges/schema.ts
  infra/compose/www.yml
  packages/some-content/prompts/leetype-challenge-generator/index.md
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/utils/leetype/index.test.ts
  packages/ui/leetype/src/utils/leetype/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(hangul-game-core,honeycomb): stop the game loop on timeout, stop endless modes from timing out
  crates/hangul-game-core/src/internal/engine.rs
  crates/hangul-game-core/src/internal/game_modes.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/game_modes/vocabulary.rs
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
Due: eslint --fix, prettier --check --write

feat(resume, www): rewrite résumé in STAR grammar; add /mission page
  .changeset/mission-page-and-resume-star-rewrite.md
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/index.tsx
  apps/www/src/routes/mission.tsx
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: eslint --fix, prettier --check --write

chore: update ignore
  apps/www/.gitignore
Due: none

ci(pages): batch closely-spaced merges into one release PR before deploy
  .github/actions/pages-detect/action.yml
  .github/actions/pages-detect/detect.sh
  .github/workflows/pages.yml
Due: prettier --check --write

ci(pages): batch closely-spaced merges into one release PR before deploy (#795)
  .github/actions/pages-detect/action.yml
  .github/actions/pages-detect/detect.sh
  .github/workflows/pages.yml
Due: prettier --check --write

Add LeetType challenge corpus override support (#793)
  apps/www/.gitignore
  apps/www/package.json
  apps/www/scripts/link-content-assets.js
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/lib/activity-catalog/catalog.ts
  apps/www/src/lib/leetype-challenges/index.ts
  apps/www/src/lib/leetype-challenges/schema.test.ts
  apps/www/src/lib/leetype-challenges/schema.ts
  crates/hangul-game-core/src/internal/engine.rs
  crates/hangul-game-core/src/internal/game_modes.rs
  crates/hangul-game-core/src/internal/game_modes/endless.rs
  crates/hangul-game-core/src/internal/game_modes/vocabulary.rs
  infra/compose/www.yml
  packages/some-content/prompts/leetype-challenge-generator/index.md
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/utils/leetype/index.test.ts
  packages/ui/leetype/src/utils/leetype/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(resume, www): rewrite résumé in STAR grammar; add /mission page (#796)
  .changeset/mission-page-and-resume-star-rewrite.md
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/index.tsx
  apps/www/src/routes/mission.tsx
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: eslint --fix, prettier --check --write

refactor(filter): move swatches registry into its own directory + add stories
  docs/canon/dom-state-estimation-canon.typ
  extensions/filter-classifier/README.md
  extensions/filter-classifier/playwright.config.ts
  extensions/filter-classifier/tests/e2e/harness/entry.ts
  extensions/some-filter/package.json
  extensions/some-filter/src/adapter/swatches/index.stories.tsx
  extensions/some-filter/src/adapter/swatches/index.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

feat(leetype): add swatch-driven text gradient for the source display
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/types/leetype.ts
  packages/ui/shared/src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --check --write

fix(styles): stop dark-theme text tokens drifting to pure white
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/preview-card.css
  extensions/some-mujik/src/styles/content.css
  packages/some-styles/tokens/base.css
Due: stylelint --allow-empty-input, prettier --write

fix(styles): pin default theme's foreground to the swatches default swatch, dim every branded theme's own foreground
  extensions/some-conveyor/src/lib/content/theme-engine.ts
  extensions/some-conveyor/src/styles/conveyor.css
  packages/some-styles/themes/cdrama.css
  packages/some-styles/themes/code.css
  packages/some-styles/themes/conveyor.css
  packages/some-styles/themes/peachy-blossom.css
  packages/some-styles/themes/scheduler.css
  packages/some-styles/themes/strawberry-moon.css
  packages/some-styles/themes/topik.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Swatches restructure + stop text-color drift to pure white + leetype gradient menu (#794)
  docs/canon/dom-state-estimation-canon.typ
  extensions/filter-classifier/README.md
  extensions/filter-classifier/playwright.config.ts
  extensions/filter-classifier/tests/e2e/harness/entry.ts
  extensions/some-conveyor/src/lib/content/theme-engine.ts
  extensions/some-conveyor/src/styles/conveyor.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/preview-card.css
  extensions/some-filter/package.json
  extensions/some-filter/src/adapter/swatches/index.stories.tsx
  extensions/some-filter/src/adapter/swatches/index.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-mujik/src/styles/content.css
  packages/some-styles/themes/cdrama.css
  packages/some-styles/themes/code.css
  packages/some-styles/themes/conveyor.css
  packages/some-styles/themes/peachy-blossom.css
  packages/some-styles/themes/scheduler.css
  packages/some-styles/themes/strawberry-moon.css
  packages/some-styles/themes/topik.css
  packages/some-styles/tokens/base.css
  packages/ui/leetype/src/components/typing-game/code-display/index.tsx
  packages/ui/leetype/src/components/typing-game/code-input-card/index.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.stories.tsx
  packages/ui/leetype/src/components/typing-game/game-bottom-nav/index.tsx
  packages/ui/leetype/src/components/typing-game/leetype/index.tsx
  packages/ui/leetype/src/types/leetype.ts
  packages/ui/shared/src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

fix(ci): clear masked knip failures and rand security advisory
  Cargo.lock
  apps/www/package.json
  apps/www/src/lib/leetype-challenges/schema.ts
  crates/hangul-game-core/Cargo.toml
  crates/some-crossword/Cargo.toml
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(deps): land cargo bumps and clear remaining Rust advisories
  Cargo.lock
  crates/pkg_cloner/Cargo.toml
  crates/pkg_cloner/benches/benchmark.rs
Due: none

chore(deps): land safe npm bumps, hold back the majors
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-cycle/package.json
  extensions/suspender-ledger/package.json
  extensions/transport/package.json
  package.json
  packages/eslint/package.json
  packages/some-styles/package.json
  packages/ui/shared/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(ci): clear masked knip failures, rand + criterion advisories, and land safe dep bumps (#800)
  Cargo.lock
  apps/www/package.json
  apps/www/src/lib/leetype-challenges/schema.ts
  crates/hangul-game-core/Cargo.toml
  crates/pkg_cloner/Cargo.toml
  crates/pkg_cloner/benches/benchmark.rs
  crates/some-crossword/Cargo.toml
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-cycle/package.json
  extensions/suspender-ledger/package.json
  extensions/transport/package.json
  package.json
  packages/eslint/package.json
  packages/some-styles/package.json
  packages/ui/shared/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

style(lint): apply eslint autofixes across the workspace
  extensions/some-cycle/background/index.ts
  extensions/some-cycle/popup/popup.tsx
  extensions/some-prompt/src/background/background.ts
  extensions/some-schedule/src/background/background.ts
  extensions/some-schedule/src/popup/fsm.ts
  extensions/some-schedule/src/popup/popup.ts
  extensions/some-schedule/src/popup/view.ts
  packages/ui/shared/src/components/demos/some-demo.stories.tsx
  packages/ui/shared/src/components/demos/some-demo.tsx
  packages/ui/shared/src/components/flip-book/index.stories.tsx
  packages/ui/shared/src/components/icons/ant-svg/index.stories.tsx
  packages/ui/shared/src/components/icons/jersey-svg/index.stories.tsx
  packages/ui/shared/src/components/some-sphere/scalar-globe/index.stories.tsx
  packages/ui/shared/src/components/ui/animated-badge/index.stories.tsx
  packages/ui/shared/src/components/ui/avatar-group/index.stories.tsx
  packages/ui/shared/src/components/ui/border-beam/index.stories.tsx
  packages/ui/shared/src/components/ui/deck-shuffle/index.stories.tsx
  packages/ui/shared/src/components/ui/peachy-card/peachy-thumbnail/index.stories.tsx
  packages/ui/shared/src/components/ui/tatu/index.stories.tsx
  packages/ui/shared/src/components/ui/with-avatar/index.stories.tsx
  packages/utils/src/lib/context/event-bus.ts
  packages/utils/src/lib/context/ochestra/livestream.ts
  packages/utils/src/lib/context/speech-queue/reducer.ts
  packages/utils/src/lib/context/zustand-store/obs-store.ts
Due: eslint --fix, prettier --check --write

fix(lint): clear @some-cycle/types, drop dead rollup configs
  extensions/some-cycle/packages/types/src/lib/task.ts
  extensions/some-prompt/rollup.config.js
  extensions/some-tab-meta/rollup.config.js
Due: eslint --fix, prettier --check --write

fix(lint): register missing path aliases, repair @some-cycle/content stories
  extensions/some-cycle/packages/content/src/components/index.stories.tsx
  packages/eslint/tsconfig.workspace-resolve.json
  tsconfig.json
Due: eslint --fix, prettier --check --write

fix(lint): move @some-cycle/content runtime deps out of devDependencies
  extensions/some-cycle/packages/content/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(lint): retire deprecated APIs, document empty catches, fix dep placement
  extensions/some-cycle/package.json
  extensions/tab-tracker/src/background/background.ts
  extensions/tab-tracker/src/content/content.ts
  extensions/tab-tracker/src/ui/banner-marquee/index.ts
  extensions/tab-tracker/src/ui/floating-hud/index.ts
  packages/ui/shared/src/components/ui/accordion.tsx
  packages/ui/shared/src/components/ui/avatar.tsx
  packages/ui/shared/src/components/ui/select.tsx
  packages/ui/shared/src/components/ui/separator.tsx
  packages/ui/shared/src/components/ui/slider.tsx
  packages/ui/shared/src/components/ui/tabs.tsx
  packages/ui/shared/src/components/ui/tooltip.tsx
  packages/utils/src/lib/context/speech-queue/actions.ts
  packages/utils/src/lib/discovery/hooks/use-recursive-library.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore(deps): ungroup majors in the typescript-tooling and eslint groups
  .github/dependabot.yml
Due: prettier --check --write

chore(deps): ungroup majors in the typescript-tooling and eslint groups (#807)
  .github/dependabot.yml
Due: prettier --check --write

chore(deps): bump once_cell to 1.21.4 and serde_json to 1.0.151
  Cargo.lock
Due: none

chore(deps): bump once_cell to 1.21.4 and serde_json to 1.0.151 (#817)
  Cargo.lock
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
