Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat: rewrite of ext
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/captured-moments.ts
  extensions/some-drama/src/components/drama-tracker/index.css
  extensions/some-drama/src/components/drama-tracker/index.stories.tsx
  extensions/some-drama/src/components/drama-tracker/index.ts
  extensions/some-drama/src/components/floating-bar/index.stories.tsx
  extensions/some-drama/src/components/floating-bar/index.ts
  extensions/some-drama/src/components/polling-prompt.ts
  extensions/some-drama/src/components/quick-capture-panel.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/content/context-detector.ts
  extensions/some-drama/src/types/schema.ts
  extensions/some-drama/src/utils/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: write to sqlite
  extensions/some-schedule/bundle.mjs
  extensions/some-schedule/package.json
  extensions/some-schedule/popup.html
  extensions/some-schedule/src/background/background.ts
  extensions/some-schedule/src/popup/fsm.ts
  extensions/some-schedule/src/popup/messages.ts
  extensions/some-schedule/src/popup/popup.css
  extensions/some-schedule/src/popup/popup.stories.tsx
  extensions/some-schedule/src/popup/popup.ts
  extensions/some-schedule/src/popup/view.ts
  extensions/some-schedule/src/shared/types.ts
  extensions/some-schedule/tsconfig.build.json
  extensions/some-schedule/tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

ci(chore): workflow updates
  .storybook/preview.tsx
  docker-compose.yml
Due: eslint --fix, prettier --check --write

feat: tab workflow
  extensions/some-schedule/popup.html
  extensions/some-schedule/src/background/background.ts
  extensions/some-schedule/src/background/capture.ts
  extensions/some-schedule/src/popup/fsm.ts
  extensions/some-schedule/src/popup/messages.ts
  extensions/some-schedule/src/popup/popup.css
  extensions/some-schedule/src/popup/popup.stories.tsx
  extensions/some-schedule/src/popup/popup.ts
  extensions/some-schedule/src/popup/view.ts
  extensions/some-schedule/src/shared/types.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: disaster has struck
  extensions/some-censor/package.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/content/click-gating.ts
  extensions/some-censor/src/content/content.css
  extensions/some-censor/src/content/content.ts
  extensions/some-censor/src/content/fsm-core.ts
  extensions/some-censor/src/content/initialization-manager.ts
  extensions/some-censor/src/content/tests/content.test.ts
  extensions/some-censor/src/content/tests/video-manager.test.ts
  extensions/some-censor/src/content/tests/visual.test.ts
  extensions/some-censor/src/content/video-manager.ts
  extensions/some-censor/src/lib/background/api-client.ts
  extensions/some-censor/src/lib/background/index.ts
  extensions/some-censor/src/lib/background/message-handler.ts
  extensions/some-censor/src/lib/content/click-gate.ts
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/events.ts
  extensions/some-censor/src/lib/content/extract/channel-id.ts
  extensions/some-censor/src/lib/content/extract/meta.ts
  extensions/some-censor/src/lib/content/extract/title.ts
  extensions/some-censor/src/lib/content/extract/video-id.ts
  extensions/some-censor/src/lib/content/fsm.ts
  extensions/some-censor/src/lib/content/index.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/render.ts
  extensions/some-censor/src/lib/content/resolver.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/lib/content/video-record.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/src/types/api.ts
  extensions/some-censor/src/types/ids.ts
  extensions/some-censor/src/types/index.ts
  extensions/some-censor/src/types/messages.ts
  extensions/some-censor/src/types/states.ts
  extensions/some-censor/src/utils/dom.ts
  extensions/some-censor/src/utils/storage-api.ts
  extensions/some-censor/src/utils/storage.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: stricter typestate
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/dom-handle.ts
  extensions/some-censor/src/lib/content/extract/extracted.ts
  extensions/some-censor/src/lib/content/extract/index.ts
  extensions/some-censor/src/lib/content/fsm.ts
  extensions/some-censor/src/lib/content/record.ts
  extensions/some-censor/src/lib/content/session.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/lib/content/video-record.ts
Due: eslint --fix, prettier --check --write

fix: stale sessions
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

feat: redesign for new user story
  extensions/tab-tracker/package.json
  extensions/tab-tracker/src/background/background.ts
  extensions/tab-tracker/src/content/content.ts
  extensions/tab-tracker/src/content/logic.ts
  extensions/tab-tracker/src/lib/content/key-binding.ts
  extensions/tab-tracker/src/popup/popup.html
  extensions/tab-tracker/src/popup/popup.ts
  extensions/tab-tracker/src/styles/banner.css
  extensions/tab-tracker/src/styles/content.css
  extensions/tab-tracker/src/styles/hud.css
  extensions/tab-tracker/src/types/index.ts
  extensions/tab-tracker/src/ui/banner-marquee/index.ts
  extensions/tab-tracker/src/ui/context-panel/index.ts
  extensions/tab-tracker/src/ui/dot/index.stories.tsx
  extensions/tab-tracker/src/ui/dot/index.ts
  extensions/tab-tracker/src/ui/floating-hud/index.stories.tsx
  extensions/tab-tracker/src/ui/floating-hud/index.ts
  extensions/tab-tracker/src/ui/neglect-label/index.ts
  extensions/tab-tracker/src/ui/node-panel/index.ts
  extensions/tab-tracker/src/ui/segment-picker/index.ts
  extensions/tab-tracker/src/ui/session-label/index.ts
  extensions/tab-tracker/src/ui/timer/index.stories.tsx
  extensions/tab-tracker/src/ui/timer/index.ts
  extensions/tab-tracker/src/ui/toast/index.stories.tsx
  extensions/tab-tracker/src/ui/toast/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: dynamic canvas
  extensions/some-mujik/src/content/content.ts
  extensions/some-mujik/src/content/lib/song-params.ts
Due: eslint --fix, prettier --check --write

refactor: reciprical filter
  extensions/some-filter/package.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/src/content/content.ts
Due: eslint --fix, prettier --check --write

feat: overlay root
  extensions/some-mujik/src/content/content.ts
  extensions/some-mujik/src/content/lib/overlay-root.ts
  extensions/some-mujik/src/styles/content.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: migrate from using filter
  extensions/some-filter/package.json
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/classify.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
  extensions/some-filter/src/popup/components/action-bar/index.stories.tsx
  extensions/some-filter/src/popup/components/filter-badge/index.stories.tsx
  extensions/some-filter/src/popup/components/tablist/index.stories.tsx
  extensions/some-filter/src/popup/components/tablist/index.ts
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/tsconfig.json
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: auto theme
  extensions/some-filter/README.md
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/classify.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
Due: eslint --fix, prettier --check --write

feat: incorportate auto theme filter
  extensions/common/eslint.config.js
  extensions/common/package.json
  extensions/common/src/lib/layers.ts
  extensions/common/tsconfig.json
  extensions/some-mujik/package.json
  extensions/some-mujik/src/content/content.ts
  extensions/some-mujik/src/content/lib/overlay-root.ts
  extensions/some-mujik/src/styles/content.css
  extensions/some-mujik/src/types/env.d.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: don't do surgery!
  extensions/common/src/lib/layers.ts
  extensions/some-filter/public/manifest.json
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/public/prepaint.js
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/content/pre-filter.ts
  extensions/some-filter/src/lib/content/classify.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
  extensions/some-filter/vite.config.ts
  extensions/some-mujik/src/styles/content.css
  extensions/tab-tracker/package.json
  extensions/tab-tracker/src/content/content.ts
  extensions/tab-tracker/src/styles/banner.css
  extensions/tab-tracker/src/styles/hud.css
  extensions/tab-tracker/src/ui/banner-marquee/index.stories.tsx
  extensions/tab-tracker/src/ui/banner-marquee/index.ts
  extensions/tab-tracker/src/ui/floating-hud/index.stories.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: redesign to much new user story
  extensions/some-drama/package.json
  extensions/some-drama/src/components/capture-panel/index.stories.tsx
  extensions/some-drama/src/components/capture-panel/index.ts
  extensions/some-drama/src/components/drag-controller/index.ts
  extensions/some-drama/src/components/drama-card/index.stories.tsx
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/drama-tracker/index.css
  extensions/some-drama/src/components/drama-tracker/index.stories.tsx
  extensions/some-drama/src/components/drama-tracker/index.ts
  extensions/some-drama/src/components/right-panel/index.stories.tsx
  extensions/some-drama/src/components/right-panel/index.ts
  extensions/some-drama/src/components/slideshow/index.stories.tsx
  extensions/some-drama/src/components/slideshow/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/content/constants.ts
  extensions/some-drama/src/lib/content/particles.ts
  extensions/some-drama/src/lib/content/utils.ts
  extensions/some-drama/src/styles/components/capture-panel.css
  extensions/some-drama/src/styles/components/card-shell.css
  extensions/some-drama/src/styles/components/particles.css
  extensions/some-drama/src/styles/components/right-panel.css
  extensions/some-drama/src/styles/components/root-layout.css
  extensions/some-drama/src/styles/components/slideshow.css
  extensions/some-drama/src/styles/components/title-pill.css
  extensions/some-drama/src/styles/content.css
  extensions/some-drama/src/styles/tokens/tokens.css
  extensions/some-drama/src/types/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: wip
  extensions/some-censor/src/content/content.css
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-drama/src/components/slideshow/index.stories.tsx
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(wip): upgrading eslint config
  packages/eslint/package.json
  packages/eslint/src/configs/base.config.ts
  packages/eslint/src/configs/overrides-tests.config.ts
  packages/eslint/src/configs/overrides-tools.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/tailwind.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/types/global.d.ts
Due: eslint --fix, prettier --check --write

wip: upgrading config
  packages/eslint/package.json
  packages/eslint/src/configs/overrides-tests.config.ts
  packages/eslint/src/configs/overrides-tools.config.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/stories.config.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/src/index.ts
  packages/eslint/tests/config.coverage.test.ts
  packages/eslint/tsconfig.json
  packages/eslint/vitest.config.ts
Due: eslint --fix, prettier --check --write

wip: eslint test coverage
  apps/www/package.json
  package.json
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/tests/assembly.test.ts
  packages/eslint/tests/base.config.test.ts
  packages/eslint/tests/config.coverage.test.ts
  packages/eslint/tests/helpers/eslint-resolver.ts
  packages/eslint/tests/lint-fixtures/src/Component.tsx
  packages/eslint/tests/lint-fixtures/src/codegen.ts
  packages/eslint/tests/lint-fixtures/src/foo.test.ts
  packages/eslint/tests/lint-fixtures/src/rollup.config.ts
  packages/eslint/tests/lint-fixtures/src/service.ts
  packages/eslint/tests/lint-fixtures/src/util.js
  packages/eslint/tests/overrides.test.ts
  packages/eslint/tests/typescript.config.test.ts
  packages/eslint/tests/typescript.lint.test.ts
  packages/eslint/tsconfig.json
  packages/eslint/vitest.config.ts
  packages/some-content/package.json
  packages/ui/makjang/package.json
  packages/ui/overlays/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --check --write

wip: enforcing test coverage
  packages/eslint/package.json
  packages/eslint/src/configs/react.config.ts
  packages/eslint/tests/helpers/eslint-resolver.ts
  packages/eslint/tests/react.config.test.ts
  packages/eslint/tests/react.lint.test.ts
  packages/eslint/tests/typescript.config.test.ts
  packages/eslint/tests/typescript.lint.test.ts
Due: eslint --fix, prettier --check --write

fix: lints/build/filter censor dom
  extensions/some-drama/package.json
  extensions/some-drama/src/components/drag-controller/index.ts
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/right-panel/index.ts
  extensions/some-drama/src/components/slideshow/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/content/constants.ts
  extensions/some-drama/src/styles/components/capture-panel.css
  extensions/some-drama/tsconfig.build.json
  extensions/some-drama/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

styles: retouch theme
  extensions/some-drama/src/styles/components/capture-panel.css
  extensions/some-drama/src/styles/components/card-shell.css
  extensions/some-drama/src/styles/components/particles.css
  extensions/some-drama/src/styles/components/right-panel.css
  extensions/some-drama/src/styles/components/root-layout.css
  extensions/some-drama/src/styles/components/slideshow.css
  extensions/some-drama/src/styles/components/title-pill.css
  extensions/some-drama/src/styles/tokens/tokens.css
Due: stylelint --allow-empty-input, prettier --write

fix: min is not draggable
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/lib/content/particles.ts
  extensions/some-drama/src/styles/components/particles.css
  extensions/some-drama/src/styles/components/root-layout.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: init pkg
  packages/ui/portfolio-chart/AI.README.md
  packages/ui/portfolio-chart/package.json
  packages/ui/portfolio-chart/src/components/add-leg-form/index.stories.tsx
  packages/ui/portfolio-chart/src/components/add-leg-form/index.tsx
  packages/ui/portfolio-chart/src/components/grind-charts/grind-pie-chart/index.stories.tsx
  packages/ui/portfolio-chart/src/components/grind-charts/grind-pie-chart/index.tsx
  packages/ui/portfolio-chart/src/components/grind-charts/index.ts
  packages/ui/portfolio-chart/src/components/index.ts
  packages/ui/portfolio-chart/src/components/leg-list/index.stories.tsx
  packages/ui/portfolio-chart/src/components/leg-list/index.tsx
  packages/ui/portfolio-chart/src/components/leg-list/leg-row.tsx
  packages/ui/portfolio-chart/src/components/metrics-bar/index.stories.tsx
  packages/ui/portfolio-chart/src/components/metrics-bar/index.tsx
  packages/ui/portfolio-chart/src/components/motif-panel/index.stories.tsx
  packages/ui/portfolio-chart/src/components/motif-panel/index.tsx
  packages/ui/portfolio-chart/src/components/pl-chart/index.stories.tsx
  packages/ui/portfolio-chart/src/components/pl-chart/index.tsx
  packages/ui/portfolio-chart/src/components/sandlot-app/index.stories.tsx
  packages/ui/portfolio-chart/src/components/sim-controls/index.stories.tsx
  packages/ui/portfolio-chart/src/components/sim-controls/index.tsx
  packages/ui/portfolio-chart/src/components/top-bar/index.stories.tsx
  packages/ui/portfolio-chart/src/components/top-bar/index.tsx
  packages/ui/portfolio-chart/src/data/index.ts
  packages/ui/portfolio-chart/src/index.ts
  packages/ui/portfolio-chart/src/lib/archetypeDetector.ts
  packages/ui/portfolio-chart/src/lib/blackScholes.ts
  packages/ui/portfolio-chart/src/lib/index.ts
  packages/ui/portfolio-chart/src/sandlot.css
  packages/ui/portfolio-chart/src/types/grind-charts.ts
  packages/ui/portfolio-chart/src/types/index.ts
  packages/ui/portfolio-chart/tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: white flash
  extensions/some-filter/public/manifest.json
  extensions/some-filter/public/prepaint-end.js
  extensions/some-filter/public/prepaint-start.js
  extensions/some-filter/public/prepaint.css
  extensions/some-filter/public/prepaint.js
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/content/pre-filter.ts
  extensions/some-filter/src/lib/content/dark-theme.ts
  extensions/some-filter/src/lib/content/prepaint.ts
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: build ref
  crates/leetype_wasm/package.json
  crates/some-crossword/package.json
  crates/viewport-rotation/package.json
Due: prettier --check --write

feat: user story redesign
  extensions/some-drama/package.json
  extensions/some-drama/popup.html
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/content/keybindings.ts
  extensions/some-drama/src/lib/content/particles.ts
  extensions/some-drama/src/popup/popup.ts
  extensions/some-drama/src/styles/components/particles.css
  extensions/some-drama/src/styles/components/root-layout.css
  extensions/some-drama/src/styles/popup.css
  extensions/some-drama/tsconfig.json
  extensions/some-drama/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: rmv god file pattern
  extensions/some-drama/src/lib/background/constants.ts
  extensions/some-drama/src/lib/background/content-scraper.ts
  extensions/some-drama/src/lib/background/fsm.ts
  extensions/some-drama/src/lib/background/messaging.ts
  extensions/some-drama/src/lib/background/renderer.ts
  extensions/some-drama/src/popup/popup.ts
  extensions/some-drama/src/styles/popup.css
  extensions/some-drama/src/types/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: dir name
  extensions/some-drama/src/lib/popup/constants.ts
  extensions/some-drama/src/lib/popup/content-scraper.ts
  extensions/some-drama/src/lib/popup/fsm.ts
  extensions/some-drama/src/lib/popup/messaging.ts
  extensions/some-drama/src/lib/popup/renderer.ts
  extensions/some-drama/src/popup/popup.ts
Due: eslint --fix, prettier --check --write

feat: add opinionated inputs
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/components/form-structural/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/lib/popup/renderer.ts
  extensions/some-drama/src/popup/popup.ts
  extensions/some-drama/src/styles/popup.css
  extensions/some-drama/src/types/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: kinda working drama
  extensions/some-drama/src/background/background.ts
  extensions/some-drama/src/components/form-opinionated/index.ts
  extensions/some-drama/src/components/form-structural/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/src/styles/components/popup-base.css
  extensions/some-drama/src/styles/components/popup-form-mood.css
  extensions/some-drama/src/styles/components/popup-form-structural.css
  extensions/some-drama/src/styles/popup.css
  extensions/some-drama/src/types/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: deps
  apps/www/package.json
  package.json
  packages/some-content/package.json
  packages/ui/input/package.json
  packages/ui/overlays/package.json
Due: prettier --check --write

tests: add test suite for eslint config
  packages/eslint/tests/react.lint.test.ts
  packages/eslint/tests/typescript.lint.test.ts
Due: eslint --fix, prettier --check --write

chore: config
  .npmrc
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

ci(tests): get eslint teepscript test invariant passing
  packages/eslint/package.json
  packages/eslint/scripts/gen-ts-lint-fixtures.ts
  packages/eslint/src/configs/typescript.config.ts
  packages/eslint/tests/lint-fixtures/generated/array-type/generic.ts
  packages/eslint/tests/lint-fixtures/generated/array-type/shorthand.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-assertions/angle-bracket.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-assertions/non-object-as.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-assertions/object-literal-as.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-assertions/valid-as.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-assertions/valid-type-guard.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-definitions/interface.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-definitions/type-alias.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-imports/type-style.ts
  packages/eslint/tests/lint-fixtures/generated/consistent-type-imports/value-style.ts
  packages/eslint/tests/lint-fixtures/generated/explicit-return-type/js-file.js
  packages/eslint/tests/lint-fixtures/generated/explicit-return-type/missing.ts
  packages/eslint/tests/lint-fixtures/generated/explicit-return-type/present.ts
  packages/eslint/tests/lint-fixtures/generated/explicit-return-type/rollup.config.ts
  packages/eslint/tests/lint-fixtures/generated/no-explicit-any/using-any.ts
  packages/eslint/tests/lint-fixtures/generated/no-explicit-any/using-unknown.ts
  packages/eslint/tests/lint-fixtures/generated/no-restricted-syntax/dot-access.ts
  packages/eslint/tests/lint-fixtures/generated/no-restricted-syntax/indexed-access.ts
  packages/eslint/tests/lint-fixtures/generated/no-unused-vars/js-file.js
  packages/eslint/tests/lint-fixtures/generated/no-unused-vars/underscore-var.ts
  packages/eslint/tests/lint-fixtures/generated/no-unused-vars/unused-var.ts
  packages/eslint/tests/lint-fixtures/generated/no-unused-vars/used-var.ts
  packages/eslint/tests/lint-fixtures/generated/no-useless-constructor/empty-ctor.ts
  packages/eslint/tests/lint-fixtures/generated/no-useless-constructor/meaningful-ctor.ts
  packages/eslint/tests/lint-fixtures/generated/tsconfig.json
  packages/eslint/tests/typescript.lint.test.ts
Due: eslint --fix, prettier --check --write

chore: remove deprecated
  extensions/no-comments/eslint.config.js
  extensions/no-comments/package.json
  extensions/no-comments/src/background/.background.js.swp
  extensions/no-comments/src/background/background.js
  extensions/no-comments/src/content/content.js
  extensions/no-comments/src/popup/popup.html
  extensions/no-comments/src/popup/popup.js
  extensions/no-comments/src/styles/styles.css
  extensions/no-comments/tsconfig.build.json
  extensions/no-comments/tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: deprecate unused crate
  Cargo.toml
  crates/some-racer/Cargo.toml
  crates/some-racer/src/lib.rs
Due: none

chore: deprecate graveyard
  Cargo.lock
  Cargo.toml
  crates/leptos/some-fsm-input/Cargo.toml
  crates/leptos/some-fsm-input/src/lib.rs
  crates/some-sound/Cargo.toml
  crates/some-sound/src/engine.rs
  crates/some-sound/src/fsm.rs
  crates/some-sound/src/lexer.rs
  crates/some-sound/src/lib.rs
  crates/some-sound/src/types.rs
Due: none
