Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix(deprecate): eslinttwcss broken for v4
  packages/eslint/package.json
  packages/eslint/src/configs/tailwind.config.ts
Due: eslint --fix, prettier --check --write

feat: vibes for the win!
  extensions/some-streak/eslint.config.js
  extensions/some-streak/package.json
  extensions/some-streak/public/manifest.json
  extensions/some-streak/src/components/collapsed-state.ts
  extensions/some-streak/src/components/expanded-state.ts
  extensions/some-streak/src/components/streak-overlay.ts
  extensions/some-streak/src/content/content.ts
  extensions/some-streak/src/styles/content.css
  extensions/some-streak/src/utils/create-element.ts
  extensions/some-streak/tsconfig.build.json
  extensions/some-streak/tsconfig.json
  extensions/some-streak/tsconfig.node.json
  extensions/some-streak/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: vibes are good today!
  extensions/some-streak/src/components/collapsed-state.ts
  extensions/some-streak/src/components/expanded-state.ts
  extensions/some-streak/src/components/streak-overlay.ts
  extensions/some-streak/src/styles/content.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: couple rating card v1
  packages/ui/makjang/src/components/cdrama/couple-rating/index.stories.tsx
  packages/ui/makjang/src/components/cdrama/couple-rating/index.tsx
Due: eslint --fix, prettier --check --write

feat: redesign the UI
  packages/ui/makjang/src/components/cdrama/couple-rating/index.stories.tsx
  packages/ui/makjang/src/components/cdrama/couple-rating/index.tsx
Due: eslint --fix, prettier --check --write

styles: themes for cdrama components
  packages/some-styles/tailwind.css
  packages/some-styles/themes/cdrama.css
Due: stylelint --allow-empty-input, prettier --write

feat: v1 of hangul keyboard game
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.stories.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/song-hex-grid/song-overlay/index.tsx
  packages/ui/honeycomb/src/lib/hangul/game-manager.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
  packages/ui/honeycomb/src/utils/hangul-keyboard-mapping.ts
Due: eslint --fix, prettier --check --write

style: update theme
  packages/ui/makjang/src/components/cdrama/emoji-timeline/index.stories.tsx
  packages/ui/makjang/src/components/cdrama/emoji-timeline/index.tsx
  packages/ui/makjang/src/components/cdrama/emotional-graph/index.stories.tsx
  packages/ui/makjang/src/components/cdrama/emotional-graph/index.tsx
  packages/ui/makjang/src/components/cdrama/metrics-panel/index.stories.tsx
  packages/ui/makjang/src/components/cdrama/metrics-panel/index.tsx
  packages/ui/makjang/src/components/cdrama/ost-panel/index.stories.tsx
  packages/ui/makjang/src/components/cdrama/ost-panel/index.tsx
Due: eslint --fix, prettier --check --write

feat: add local storage mvp version
  extensions/some-streak/package.json
  extensions/some-streak/src/background/background.ts
  extensions/some-streak/src/components/expanded-state.ts
  extensions/some-streak/src/components/streak-overlay.ts
  extensions/some-streak/tsconfig.json
  extensions/some-streak/vite.config.ts
Due: eslint --fix, prettier --check --write

chore: add browser global
  packages/eslint/src/configs/base.config.ts
Due: eslint --fix, prettier --check --write

feat: wasm stuff
  crates/hangul-game-core/Cargo.toml
  crates/hangul-game-core/package.json
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-hangul-wasm.ts
  packages/ui/honeycomb/src/lib/hangul/game-manager.ts
  packages/ui/honeycomb/src/lib/hangul/keyboard-input-manager.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
Due: eslint --fix, prettier --check --write

feat: make the render random, update style
  crates/hangul-game-core/Cargo.toml
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hex-grid/index.tsx
Due: eslint --fix, prettier --check --write

fix: hide romanization text
  packages/ui/honeycomb/src/components/hangul-hex-grid/hangul-hex-cell/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.ts
Due: eslint --fix, prettier --check --write

feat: modularize the grid component
  packages/ui/honeycomb/src/components/hangul-hex-grid/control-buttons/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/decorative-particles/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/error-state/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/instructions-panel/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/key-buffer-display/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/loading-state/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/pause-overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/success-feedback/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-loop.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input.ts
  packages/ui/honeycomb/src/types/hangul-types.ts
Due: eslint --fix, prettier --check --write

fix: compound buffer
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-keyboard-input.ts
  packages/ui/honeycomb/src/lib/hangul/keyboard-input-manager.ts
Due: eslint --fix, prettier --check --write

feat: uplift buffer logic to wasm
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-keyboard-input.ts
  packages/ui/honeycomb/src/lib/hangul/keyboard-input-manager.ts
Due: eslint --fix, prettier --check --write

fix: update config and retouch lib to fix difficulty
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.tsx
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.ts
Due: eslint --fix, prettier --check --write

feat: add audio logic
  .gitignore
  .storybook/main.ts
  crates/hangul-game-core/src/lib.rs
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-audio.ts
  packages/ui/honeycomb/src/hooks/use-game-loop.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.ts
Due: eslint --fix, prettier --check --write

styles: cdrama theme
  packages/some-styles/themes/cdrama.css
Due: stylelint --allow-empty-input, prettier --write

feat: type racer tracker!
  extensions/some-streak/src/background/background.ts
  extensions/some-streak/src/components/streak-overlay.ts
  extensions/some-streak/src/content/content.ts
  extensions/some-streak/src/utils/activity-configs.ts
  extensions/some-streak/src/utils/activity-tracker.ts
Due: eslint --fix, prettier --check --write

feat: modularize mods, and add completion logic (broken)
  crates/hangul-game-core/src/game_core.rs
  crates/hangul-game-core/src/game_core/difficulty.rs
  crates/hangul-game-core/src/game_core/matching.rs
  crates/hangul-game-core/src/game_core/spawning.rs
  crates/hangul-game-core/src/game_modes.rs
  crates/hangul-game-core/src/game_modes/completion.rs
  crates/hangul-game-core/src/game_modes/endless.rs
  crates/hangul-game-core/src/lib.rs
  crates/hangul-game-core/src/types.rs
  crates/hangul-game-core/src/types/internal.rs
  crates/hangul-game-core/src/types/public.rs
Due: none

feat: add game completion logic
  packages/ui/honeycomb/src/components/hangul-hex-grid/game-over-modal/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/instructions-panel/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/overlay/index.tsx
  packages/ui/honeycomb/src/components/hangul-hex-grid/stats-panel/index.tsx
  packages/ui/honeycomb/src/hooks/use-game-timer.ts
  packages/ui/honeycomb/src/hooks/use-hangul-wasm.ts
  packages/ui/honeycomb/src/lib/hangul/wasm-game-bridge.ts
Due: eslint --fix, prettier --check --write

feat: orchestrator
  packages/types/src/components/orchestrator-types/index.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
Due: eslint --fix, prettier --check --write

feat: censor extension
  extensions/some-censor/eslint.config.js
  extensions/some-censor/package.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/content/content.ts
  extensions/some-censor/src/content/video-manager.ts
  extensions/some-censor/src/popup/popup.html
  extensions/some-censor/src/popup/popup.tsx
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/src/types/index.ts
  extensions/some-censor/src/utils/dom.ts
  extensions/some-censor/src/utils/storage.ts
  extensions/some-censor/tsconfig.build.json
  extensions/some-censor/tsconfig.json
  extensions/some-censor/tsconfig.node.json
  extensions/some-censor/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: is working no shared imports
  extensions/some-censor/package.json
  extensions/some-censor/src/background/background.ts
  extensions/some-censor/src/content/content.ts
  extensions/some-censor/src/content/video-manager.ts
  extensions/some-censor/src/popup/popup.html
  extensions/some-censor/src/popup/popup.tsx
  extensions/some-censor/src/types/index.ts
  extensions/some-censor/src/utils/dom.ts
  extensions/some-censor/src/utils/storage-api.ts
  extensions/some-censor/src/utils/storage.ts
  extensions/some-censor/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: content.css
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/content/content.ts
Due: eslint --fix, prettier --check --write

feat: orchestrat* types
  packages/types/src/components/index.ts
  packages/types/src/components/orchestrator-types/index.ts
  packages/types/src/components/zd-types/index.ts
Due: eslint --fix, prettier --check --write

feat: use orch
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
Due: eslint --fix, prettier --check --write

test: add tests
  extensions/some-censor/src/content/tests/content.test.ts
  extensions/some-censor/src/content/tests/video-manager.test.ts
  extensions/some-censor/vitest.config.ts
  extensions/some-censor/vitest.setup.ts
  vitest.config.mts
  vitest.setup.ts
Due: eslint --fix, prettier --check --write

fix: progressive not working
  extensions/some-censor/package.json
  extensions/some-censor/public/manifest.json
  extensions/some-censor/src/content/content.ts
  extensions/some-censor/src/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/tsconfig.build.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: progressive not working
  extensions/some-censor/src/content/tests/visual.test.ts
  extensions/some-censor/src/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/src/utils/dom.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: first v of ws orchestrator
  packages/types/src/components/orchestrator-types/index.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/socket-tenants/index.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/index.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-stream-orchestrator
Due: eslint --fix, prettier --check --write

fix: deps hook issues
  packages/utils/src/lib/hooks/socket-tenants/orchestrator/use-orchestrator.ts
Due: eslint --fix, prettier --check --write

feat: working orchestrator with server
  packages/ui/slideshow/src/components/orchestrator/card/index.tsx
  packages/ui/slideshow/src/components/orchestrator/card/use-orchestrator.ts
Due: eslint --fix, prettier --check --write

feat: leetype
  packages/ui/input/package.json
  packages/ui/input/src/components/typing-game/code-display/index.stories.tsx
  packages/ui/input/src/components/typing-game/code-display/index.tsx
  packages/ui/input/src/components/typing-game/leetype/index.stories.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
Due: eslint --fix, prettier --check --write

feat: typing
  packages/ui/input/src/components/typing-game/code-display/index.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/components/typing-game/settings-card/index.tsx
  packages/ui/input/src/components/typing-game/stats-bar/index.tsx
  packages/ui/input/src/components/typing-game/typing-input-card/index.tsx
  packages/ui/input/src/hooks/index.ts
  packages/ui/input/src/hooks/leetype/index.ts
  packages/ui/input/src/hooks/leetype/use-game-timer.ts
  packages/ui/input/src/hooks/leetype/use-typing-game.ts
  packages/ui/input/src/types/leetype.ts
Due: eslint --fix, prettier --check --write

feat: working beta v1
  packages/ui/input/src/components/typing-game/code-display/index.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/hooks/leetype/use-typing-game.ts
  packages/ui/input/src/types/leetype.ts
  packages/ui/input/src/utils/leetype.ts
Due: eslint --fix, prettier --check --write

feat: add typo error alert
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/components/typing-game/typing-error-alert/index.tsx
  packages/ui/input/src/hooks/leetype/use-typing-game.ts
Due: eslint --fix, prettier --check --write

fix: track errors
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/hooks/leetype/use-typing-game.ts
  packages/ui/input/src/utils/leetype.ts
Due: eslint --fix, prettier --check --write

feat: new wasm
  Cargo.lock
  Cargo.toml
  crates/leetype_wasm/Cargo.toml
  crates/leetype_wasm/package.json
  crates/leetype_wasm/src/game_core.rs
  crates/leetype_wasm/src/leetype.rs
  crates/leetype_wasm/src/leetype/canonical.rs
  crates/leetype_wasm/src/leetype/state.rs
  crates/leetype_wasm/src/leetype/stats.rs
  crates/leetype_wasm/src/leetype/validation.rs
  crates/leetype_wasm/src/lib.rs
  crates/leetype_wasm/tests/canonical.rs
  crates/leetype_wasm/tests/completion.rs
  crates/leetype_wasm/tests/consecutive_errors.rs
  crates/leetype_wasm/tests/edge_cases.rs
  crates/leetype_wasm/tests/state_management.rs
  crates/leetype_wasm/tests/statistics.rs
  crates/leetype_wasm/tests/whitespace_handling.rs
  crates/leetype_wasm/wasm-pack.toml
  flake.lock
Due: prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
