Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix(extensions): add missing icons, fix e2e headless+injection issues (#340)
  extensions/some-censor/package.json
  extensions/some-censor/playwright.config.ts
  extensions/some-censor/scripts/patch-test-manifest.mjs
  extensions/some-censor/tests/e2e/fixture.ts
  extensions/some-conveyor/public/assets/icon-128.png
  extensions/some-conveyor/public/assets/icon-16.png
  extensions/some-conveyor/public/assets/icon-48.png
  extensions/some-drama/public/assets/icon-128.png
  extensions/some-drama/public/assets/icon-16.png
  extensions/some-drama/public/assets/icon-48.png
  extensions/some-filter/playwright.config.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-mujik/playwright.config.ts
  extensions/some-mujik/public/assets/icon-128.png
  extensions/some-mujik/public/assets/icon-16.png
  extensions/some-mujik/public/assets/icon-48.png
  extensions/some-mujik/tests/e2e/fixture.ts
  extensions/some-schedule/public/icons/128.png
  extensions/some-schedule/public/icons/16.png
  extensions/some-schedule/public/icons/48.png
  extensions/some-streak/public/assets/icon-128.png
  extensions/some-streak/public/assets/icon-16.png
  extensions/some-streak/public/assets/icon-48.png
  extensions/tab-tracker/public/assets/icon-128.png
  extensions/tab-tracker/public/assets/icon-16.png
  extensions/tab-tracker/public/assets/icon-48.png
Due: eslint --fix, prettier --check --write

expand .prettierignore to be exhaustive and future-proof
  .prettierignore
Due: none

fix(ci): patch extension workflows for wasm deps, smart filtering, and dep hygiene
  .github/workflows/_detect-changes.yml
  .github/workflows/_extension-detect.yml
  .github/workflows/_extension-verify.yml
  .github/workflows/extension.yml
  extensions/some-cycle/package.json
  extensions/some-cycle/packages/content/package.json
  extensions/some-scrobbler/package.json
Due: prettier --check --write

chore: update lockfile after moving framework deps to devDependencies
  pnpm-lock.yaml
Due: none

fix(ci): replace unsupported pnpm dep-graph filter with explicit exclusions
  .github/workflows/extension.yml
Due: prettier --check --write

fix(ci): use turbo dep-graph filter for smart workspace build
  .github/workflows/extension.yml
Due: prettier --check --write

fix(ci): drop redundant exclusion filter — turbo's ... selector is sufficient
  .github/workflows/extension.yml
Due: prettier --check --write

Enforce runtime dependency rules for extensions & add wasm crate support (#348)
  .github/workflows/_detect-changes.yml
  .github/workflows/_extension-detect.yml
  .github/workflows/_extension-verify.yml
  .github/workflows/extension.yml
  extensions/some-cycle/package.json
  extensions/some-cycle/packages/content/package.json
  extensions/some-scrobbler/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: prettier
  extensions/common/GOOD_CITIZEN.md
  extensions/common/README.md
  extensions/some-censor/package.json
  extensions/some-censor/src/lib/platform/background/api.chrome.ts
  extensions/some-censor/src/lib/platform/background/api.firefox.ts
  extensions/some-censor/src/lib/platform/content/api.chrome.ts
  extensions/some-censor/src/lib/platform/content/api.firefox.ts
  extensions/some-conveyor/package.json
  extensions/some-cycle/README.build.md
  extensions/some-cycle/package.json
  extensions/some-drama/README.build.md
  extensions/some-drama/package.json
  extensions/some-drama/src/components/drama-card/index.ts
  extensions/some-drama/src/components/form-opinionated/accordion/index.ts
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/advanced-metrics/index.ts
  extensions/some-drama/src/components/form-opinionated/episode-header/index.stories.tsx
  extensions/some-drama/src/components/form-opinionated/moment-tags/index.ts
  extensions/some-drama/src/components/form-opinionated/preview-card/index.ts
  extensions/some-drama/src/components/popup-renderer/index.ts
  extensions/some-drama/src/content/content.ts
  extensions/some-drama/tsconfig.build.json
  extensions/some-drama/tsconfig.json
  extensions/some-filter/package.json
  extensions/some-prompt/README.build.md
  extensions/some-prompt/package.json
  extensions/some-schedule/README.build.md
  extensions/some-schedule/package.json
  extensions/some-scrobbler/README.build.md
  extensions/some-scrobbler/package.json
  extensions/some-streak/README.build.md
  extensions/some-streak/package.json
  extensions/some-tab-meta/README.build.md
  extensions/some-tab-meta/package.json
  extensions/tab-tracker/README.build.md
  extensions/tab-tracker/package.json
  packages/ui/chat/src/lib/topik/README.md
  packages/utils/CHANGELOG.md
Due: eslint --fix, prettier --check --write

fix: prettier
  extensions/some-drama/src/styles/components/popup/form-opinionated/advanced-metrics.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  extensions/some-drama/src/styles/components/popup/form-opinionated/preview-card.css
  extensions/some-drama/src/styles/components/popup/popup-base.css
  extensions/some-drama/src/styles/components/root-layout.css
  extensions/tab-tracker/src/styles/hud.css
Due: stylelint --allow-empty-input, prettier --write

feat(common): add MigrationLedger primitive and keybinding/command typestate (#275, #276)
  extensions/common/playwright.config.ts
  extensions/common/src/index.ts
  extensions/common/src/lib/keybindings/index.ts
  extensions/common/src/lib/migration-ledger.ts
  extensions/common/tests/keybindings/keybindings.spec.ts
  extensions/common/tests/migration-ledger/migration-ledger.spec.ts
Due: eslint --fix, prettier --check --write

fix: test uses playwright
  .github/workflows/_extension-verify.yml
Due: prettier --check --write

fix: shell still needs node deps
  .github/workflows/_extension-verify.yml
  flake.nix
Due: prettier --check --write

feat(common): prepare for Milestone 9 with MigrationLedger and keybindings (#369)
  .github/workflows/_extension-verify.yml
  extensions/common/playwright.config.ts
  extensions/common/src/index.ts
  extensions/common/src/lib/keybindings/index.ts
  extensions/common/src/lib/migration-ledger.ts
  extensions/common/tests/keybindings/keybindings.spec.ts
  extensions/common/tests/migration-ledger/migration-ledger.spec.ts
  flake.nix
Due: eslint --fix, prettier --check --write

refactor(some-censor): adopt commons keybinding/command typestate
  extensions/some-censor/package.json
  extensions/some-censor/src/lib/content/commands.ts
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/key-binding.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(some-censor): adopt commons keybinding/command typestate (#370)
  extensions/some-censor/package.json
  extensions/some-censor/src/lib/content/commands.ts
  extensions/some-censor/src/lib/content/controller.ts
  extensions/some-censor/src/lib/content/key-binding.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix(some-filter): add dark background fallback to legacy filter rule
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): add dark background fallback to legacy filter rule (#378)
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

fix: lint
  extensions/some-censor/scripts/patch-test-manifest.mjs
Due: eslint --fix, prettier --check --write

fix(suspender-ledger): readable suspend URL + suspend-page deceptive-pattern mitigation
  extensions/suspender-ledger/amo-notes.md
  extensions/suspender-ledger/docs/design-notes.md
  extensions/suspender-ledger/public/manifest.firefox.json
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.test.ts
  extensions/suspender-ledger/src/suspend/components/suspend-card/index.ts
  extensions/suspender-ledger/src/suspend/index.ts
  extensions/suspender-ledger/src/suspend/params.ts
  extensions/suspender-ledger/src/suspend/suspend.css
  extensions/suspender-ledger/src/worker/core/discard.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.test.ts
  extensions/suspender-ledger/src/worker/core/suspend-url.ts
  extensions/suspender-ledger/tests/e2e/specs/suspend-page.spec.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: lint (#379)
  extensions/some-censor/scripts/patch-test-manifest.mjs
Due: eslint --fix, prettier --check --write

docs(m8): land D0 Storybook landing page, D1 architecture snapshots, D2 ADR scaffolding
  .storybook/preview.tsx
  content/docs/Introduction.mdx
  extensions/common/ARCHITECTURE.md
  extensions/common/docs/adr/0001-two-mandate-split.md
  extensions/some-censor/ARCHITECTURE.md
  extensions/some-censor/docs/adr/0001-pure-fsm-session-brand.md
  extensions/some-conveyor/ARCHITECTURE.md
  extensions/some-conveyor/docs/adr/0001-wasm-rotation-state-machine.md
  extensions/some-drama/ARCHITECTURE.md
  extensions/some-drama/docs/adr/0001-video-timestamp-anchoring.md
  extensions/some-filter/ARCHITECTURE.md
  extensions/some-mujik/ARCHITECTURE.md
  extensions/some-mujik/docs/adr/0001-shadow-dom-overlay.md
  extensions/some-schedule/ARCHITECTURE.md
  extensions/some-schedule/docs/adr/0001-12-state-music-fsm.md
  extensions/suspender-ledger/ARCHITECTURE.md
  extensions/suspender-ledger/docs/adr/0001-mv3-single-bundle-constraint.md
  extensions/tab-tracker/ARCHITECTURE.md
  extensions/tab-tracker/docs/adr/0001-active-only-time-model.md
  packages/some-styles/ARCHITECTURE.md
  packages/some-styles/docs/adr/0001-unocss-shadcn-tokens.md
Due: eslint --fix, prettier --check --write

fix: prettier
  packages/ui/makjang/eslint.config.js
  packages/ui/makjang/src/components/cdrama/ost-panel/index.tsx
  packages/ui/makjang/src/components/shapes/bookshelf/index.tsx
  packages/ui/makjang/src/components/shapes/buildings/tall-building/index.tsx
  packages/ui/makjang/src/components/shapes/table/semi-table/index.tsx
  packages/ui/makjang/src/components/shapes/tv/screen/index.tsx
Due: eslint --fix, prettier --check --write

fix: AMO build script footguns and extension CI trigger
  .github/workflows/_extension-detect.yml
  .github/workflows/extension.yml
  extensions/scripts/package-source.sh
  package.json
Due: prettier --check --write

fix(ci): enforce extension dep invariant via workspace graph walk
  .github/workflows/_extension-detect.yml
  .github/workflows/extension.yml
Due: prettier --check --write

fix: update lockfile and add packages/rollup-config to AMO archive
  extensions/scripts/package-source.sh
  pnpm-lock.yaml
Due: none

chore: remove deprecated some-ui-rollup-config references from extensions
  extensions/scripts/package-source.sh
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-cycle/package.json
  extensions/some-drama/package.json
  extensions/some-filter/package.json
  extensions/some-prompt/package.json
  extensions/some-scrobbler/package.json
  extensions/some-streak/package.json
  extensions/some-tab-meta/package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: AMO source archive footguns and extension CI trigger (#383)
  .github/workflows/_extension-detect.yml
  extensions/scripts/package-source.sh
  extensions/some-censor/package.json
  extensions/some-conveyor/package.json
  extensions/some-cycle/package.json
  extensions/some-drama/package.json
  extensions/some-filter/package.json
  extensions/some-prompt/package.json
  extensions/some-scrobbler/package.json
  extensions/some-streak/package.json
  extensions/some-tab-meta/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix(some-ui-chat): resolve tsc lint issues across workspace
  packages/ui/chat/src/components/chat-header/index.tsx
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/chat/src/components/chat-messages/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/components/mock-interview/interview-app/index.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.tsx
  packages/ui/chat/src/components/topik/chat-panel/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/chat/src/components/topik/study-session/index.stories.tsx
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-session.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-metadata-queries.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-queries.ts
  packages/ui/chat/src/lib/topik/core/tts-effect-handler.ts
  packages/ui/chat/src/vite-env.d.ts
  packages/ui/chat/tsconfig.json
Due: eslint --fix, prettier --check --write

Revert "fix(some-ui-chat): resolve tsc lint issues across workspace"
  packages/ui/chat/src/components/chat-header/index.tsx
  packages/ui/chat/src/components/chat-interface/index.tsx
  packages/ui/chat/src/components/chat-messages/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/components/mock-interview/interview-app/index.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
  packages/ui/chat/src/components/topik/change-material/omni-search-input/index.tsx
  packages/ui/chat/src/components/topik/chat-panel/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/chat/src/components/topik/study-session/index.stories.tsx
  packages/ui/chat/src/hooks/use-chat-messages.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-session.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-metadata-queries.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-queries.ts
  packages/ui/chat/src/lib/topik/core/tts-effect-handler.ts
  packages/ui/chat/src/vite-env.d.ts
  packages/ui/chat/tsconfig.json
Due: eslint --fix, prettier --check --write

fix(chat): resolve 27+ ESLint and TSC lint issues in some-ui-chat
  packages/ui/chat/src/components/chat-header/index.stories.tsx
  packages/ui/chat/src/components/chat-interface/index.stories.tsx
  packages/ui/chat/src/components/chat-message/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.stories.tsx
  packages/ui/chat/src/components/chat-messages/index.tsx
  packages/ui/chat/src/components/mock-interview/audio-player/index.tsx
  packages/ui/chat/src/components/mock-interview/interview-app/index.stories.tsx
  packages/ui/chat/src/components/mock-interview/preparation-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/question-playback/index.tsx
  packages/ui/chat/src/components/mock-interview/recording-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/review-phase/index.tsx
  packages/ui/chat/src/components/mock-interview/welcome-screen/index.tsx
  packages/ui/chat/src/components/topik/change-material/change-material-dialog/index.tsx
  packages/ui/chat/src/components/topik/chat-panel/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-active/index.tsx
  packages/ui/chat/src/components/topik/quiz-states/quiz-summary/index.tsx
  packages/ui/chat/src/components/topik/study-session/index.stories.tsx
  packages/ui/chat/src/components/typing-indicator/index.stories.tsx
  packages/ui/chat/src/components/typing-indicator/index.tsx
  packages/ui/chat/src/hooks/use-audio-recorder.ts
  packages/ui/chat/src/lib/interview/audio-recording-service.ts
  packages/ui/chat/src/lib/interview/upload-service.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-korean-study-page-vm.ts
  packages/ui/chat/src/lib/topik/adapter/hooks/use-session.ts
  packages/ui/chat/src/lib/topik/adapter/server/topik-queries.ts
  packages/ui/chat/src/lib/topik/core/effect-executor.ts
  packages/ui/chat/src/lib/topik/core/topik-metadata-repository.ts
  packages/ui/chat/src/lib/topik/core/topik-repository.ts
  packages/ui/chat/src/lib/topik/core/tts-effect-handler.ts
Due: eslint --fix, prettier --check --write

feat(input): implement leetyping DSA typing game
  packages/ui/input/src/components/typing-game/challenge-selector/index.stories.tsx
  packages/ui/input/src/components/typing-game/challenge-selector/index.tsx
  packages/ui/input/src/components/typing-game/code-display/index.tsx
  packages/ui/input/src/components/typing-game/index.ts
  packages/ui/input/src/components/typing-game/leetype-app/index.stories.tsx
  packages/ui/input/src/components/typing-game/leetype-app/index.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/components/typing-game/level-progress/index.stories.tsx
  packages/ui/input/src/components/typing-game/level-progress/index.tsx
  packages/ui/input/src/components/typing-game/results-card/index.stories.tsx
  packages/ui/input/src/components/typing-game/results-card/index.tsx
  packages/ui/input/src/components/typing-game/session-config/index.stories.tsx
  packages/ui/input/src/components/typing-game/session-config/index.tsx
  packages/ui/input/src/data/leetype.ts
  packages/ui/input/src/hooks/leetype/index.ts
  packages/ui/input/src/hooks/leetype/use-player-progress.ts
  packages/ui/input/src/lib/leetype/player-store.ts
  packages/ui/input/src/types/leetype.ts
Due: eslint --fix, prettier --check --write

debt(infra): fix lint-staged SIGKILL on large staged sets (#401)
  .husky/pre-commit
  lint-staged.config.js
Due: eslint --fix, prettier --check --write

fix(styles): wire in leetype theme CSS and restore some-ui-utils dep
  .stylelintrc.mjs
  extensions/scripts/package-source.sh
  package.json
  packages/some-styles/tailwind.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

Add challenge mode with progression system to typing game (#402)
  .husky/pre-commit
  .stylelintrc.mjs
  extensions/scripts/package-source.sh
  lint-staged.config.js
  package.json
  packages/some-styles/tailwind.css
  packages/ui/input/src/components/typing-game/challenge-selector/index.stories.tsx
  packages/ui/input/src/components/typing-game/challenge-selector/index.tsx
  packages/ui/input/src/components/typing-game/code-display/index.tsx
  packages/ui/input/src/components/typing-game/index.ts
  packages/ui/input/src/components/typing-game/leetype-app/index.stories.tsx
  packages/ui/input/src/components/typing-game/leetype-app/index.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
  packages/ui/input/src/components/typing-game/level-progress/index.stories.tsx
  packages/ui/input/src/components/typing-game/level-progress/index.tsx
  packages/ui/input/src/components/typing-game/results-card/index.stories.tsx
  packages/ui/input/src/components/typing-game/results-card/index.tsx
  packages/ui/input/src/components/typing-game/session-config/index.stories.tsx
  packages/ui/input/src/components/typing-game/session-config/index.tsx
  packages/ui/input/src/data/leetype.ts
  packages/ui/input/src/hooks/leetype/index.ts
  packages/ui/input/src/hooks/leetype/use-player-progress.ts
  packages/ui/input/src/lib/leetype/player-store.ts
  packages/ui/input/src/types/leetype.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write
