Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

chore: add missing deps for vitest
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: setup vitest
  vitest.config.mts
Due: none

refactor: update vitest config
  vitest.config.mts
Due: none

fix: have empty build chunk for now
  packages/pivot-search/src/index.ts
Due: eslint --fix, prettier --check --write

refactor: update lint script
  packages/mdx-generator/package.json
  packages/pivot-search/package.json
  packages/rollup-config/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/utils/package.json
  turbo.json
Due: prettier --check --write

chore: add test deps, scripts
  package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

test: fix test eslint
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.test.ts
Due: eslint --fix, prettier --check --write

test: add test
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.test.ts
Due: eslint --fix, prettier --check --write

chore: update packages
  package.json
Due: prettier --check --write

fix: typo
  package.json
Due: prettier --check --write

refactor: update scripts for lint
  package.json
  packages/mdx-generator/package.json
  packages/pivot-search/package.json
  packages/rollup-config/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/input/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
  packages/ui/shared/tsconfig.tsbuildinfo
  packages/utils/package.json
  packages/utils/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  turbo.json
Due: prettier --check --write

refactor: make deps external peer
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

chore: add missing vitest deps
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: remove deps
  packages/utils/package.json
Due: prettier --check --write

fix: build circular dependency
  packages/ui/shared/tsconfig.tsbuildinfo
  packages/utils/src/lib/hooks/use-measure-rect/use-measure-rect.ts
  packages/utils/src/lib/hooks/use-resize-observer/use-resize-observer.ts
  packages/utils/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --check --write

fix: corrent repo url
  package.json
Due: prettier --check --write

feat: init searchbar
  packages/ui/searchbar/.gitignore
  packages/ui/searchbar/.prettierignore
  packages/ui/searchbar/package.json
  packages/ui/searchbar/rollup.config.js
  packages/ui/searchbar/src/components/foo/index.stories.tsx
  packages/ui/searchbar/src/components/foo/index.tsx
  packages/ui/searchbar/src/components/index.ts
  packages/ui/searchbar/src/index.ts
  packages/ui/searchbar/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: run build to update package.json
  packages/ui/searchbar/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: staging initial ui from website project
  packages/ui/searchbar/package.json
  packages/ui/searchbar/src/components/foo/index.stories.tsx
  packages/ui/searchbar/src/components/foo/index.tsx
  packages/ui/searchbar/src/components/searchbar-form/index.ts
  packages/ui/searchbar/src/components/searchbar-form/searchbar-form.tsx
  packages/ui/searchbar/src/components/searchbar-menu/index.ts
  packages/ui/searchbar/src/components/searchbar-menu/searchbar-menu.tsx
  packages/ui/searchbar/src/components/searchbar-toggle/searchbar-toggle.tsx
  packages/ui/searchbar/src/components/searchbar/searchbar.tsx
  packages/ui/searchbar/src/components/with-searchbar/with-searchbar.tsx
  packages/ui/searchbar/src/types/key-bindings/key-utils.ts
  packages/ui/searchbar/src/types/key-bindings/keys.ts
  packages/ui/searchbar/src/types/searchbar.ts
  packages/utils/src/lib/hooks/use-event-listener/index.ts
  packages/utils/src/lib/hooks/use-event-listener/use-event-listener.ts
  packages/utils/src/lib/hooks/use-isomorphic/LICENSE
  packages/utils/src/lib/hooks/use-isomorphic/index.ts
  packages/utils/src/lib/hooks/use-isomorphic/use-isomorphic-layout-effect.ts
Due: eslint --fix, prettier --check --write

feat: new shadcn ui
  packages/ui/shared/src/components/ui/select.tsx
Due: eslint --fix, prettier --check --write

refactor: update rollup external, deps
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
Due: eslint --fix, prettier --check --write

refactor: export select ui
  packages/ui/shared/src/components/ui/index.ts
Due: eslint --fix, prettier --check --write

feat: add nuqs hook
  packages/utils/src/lib/hooks/use-string-query-state/index.ts
  packages/utils/src/lib/hooks/use-string-query-state/use-string-query-state.ts
Due: eslint --fix, prettier --check --write

refactor: update deps, bundler external deps, expose new hook
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/src/lib/hooks/index.ts
Due: eslint --fix, prettier --check --write

chore: format
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-string-query-state/index.ts
Due: eslint --fix, prettier --check --write

refactor: rename hook
  packages/utils/src/lib/hooks/use-string-query-state/use-string-query-state.ts
Due: eslint --fix, prettier --check --write

refactor: expose the type
  packages/utils/src/lib/hooks/use-string-query-state/use-string-query-state.ts
Due: eslint --fix, prettier --check --write

feat: wip setting up searchbar
  packages/ui/searchbar/package.json
  packages/ui/searchbar/rollup.config.js
  packages/ui/searchbar/src/components/searchbar-menu/searchbar-menu.stories.tsx
  packages/ui/searchbar/src/components/searchbar-menu/searchbar-menu.tsx
  packages/ui/searchbar/src/components/searchbar-toggle/index.ts
  packages/ui/searchbar/src/components/searchbar-toggle/searchbar-toggle.stories.tsx
  packages/ui/searchbar/src/components/searchbar-toggle/searchbar-toggle.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: new svg icons
  packages/ui/shared/src/components/icons/svg-cards.tsx
Due: eslint --fix, prettier --check --write

feat: add config for next js vs vite
  .storybook/main-next.ts
  .storybook/main-vite.ts
  .storybook/preview.tsx
  .storybook/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: wip setting up searchbar menu
  packages/ui/searchbar/package.json
  packages/ui/searchbar/src/components/data/index.ts
  packages/ui/searchbar/src/components/data/searcbar.ts
  packages/ui/searchbar/src/components/searchbar-menu/searchbar-menu.tsx
  packages/ui/searchbar/src/hooks/index.ts
  packages/ui/searchbar/src/hooks/use-searchbar-state.tsx
Due: eslint --fix, prettier --check --write

feat: init first type
  packages/types/index.ts
  packages/types/package.json
  packages/types/rollup.config.js
  packages/types/src/components/create-enum-zod-schema.ts
  packages/types/src/components/index.ts
  packages/types/src/index.ts
  packages/types/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: update pakage json(run build)
  package.json
  packages/ui/searchbar/package.json
Due: prettier --check --write

fix: typecheck
  packages/ui/searchbar/src/hooks/use-searchbar-state.tsx
  packages/ui/searchbar/src/types/searchbar.ts
Due: eslint --fix, prettier --check --write

refactor: update props
  packages/utils/src/lib/hooks/use-string-query-state/use-string-query-state.ts
Due: eslint --fix, prettier --check --write

refactor: add param prop
  packages/ui/searchbar/src/hooks/use-searchbar-state.tsx
Due: eslint --fix, prettier --check --write

fix: update props to fix ts
  packages/ui/searchbar/src/components/data/searcbar.ts
  packages/ui/searchbar/src/types/searchbar.ts
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
