Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

refactor(www): narrow routeFileIgnorePattern to the __tests__ directory
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write

fix(www): make failed initial route reads a terminal outcome, not a stuck skeleton (#1470)
  apps/www/eslint.config.js
  apps/www/src/components/composer/session-composer.intent.test.tsx
  apps/www/src/components/composer/session-composer.test.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/lib/file-host-config/__tests__/client.test.ts
  apps/www/src/lib/file-host-config/__tests__/index.test.ts
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/lib/file-host-config/index.ts
  apps/www/src/lib/intent/errors.ts
  apps/www/src/lib/intent/render/intent-button/index.test.tsx
  apps/www/src/lib/intent/render/intent-button/index.tsx
  apps/www/src/lib/query-outcome/index.ts
  apps/www/src/providers/__tests__/tanstack-query.test.ts
  apps/www/src/providers/tanstack-query.tsx
  apps/www/src/routes/_dashboard/__tests__/app.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/__tests__/profile.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/__tests__/profile.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/__tests__/settings.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/__tests__/settings.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/app.tsx
  apps/www/src/routes/_dashboard/profile.tsx
  apps/www/src/routes/_dashboard/sessions/$sessionId.tsx
  apps/www/src/routes/_dashboard/sessions/__tests__/$sessionId.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/__tests__/$sessionId.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/sessions/__tests__/index.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/__tests__/index.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/sessions/__tests__/new.refresh-error.test.tsx
  apps/www/src/routes/_dashboard/sessions/__tests__/new.route-arrival.test.tsx
  apps/www/src/routes/_dashboard/sessions/index.tsx
  apps/www/src/routes/_dashboard/sessions/new.tsx
  apps/www/src/routes/_dashboard/settings.tsx
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/query-guard.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/no-loading-elided-default.ts
  packages/eslint/tests/query-guard.lint.test.ts
  packages/intent-kit/src/intent-error.ts
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

test(some-filter): block the browser-unresponsive class of defect in CI
  .github/workflows/_extension-verify.yml
  .stylelintrc.mjs
  extensions/some-filter/package.json
  extensions/some-filter/tests/budgets/README.md
  extensions/some-filter/tests/budgets/classifier-traversal-budget.test.ts
  extensions/some-filter/tests/budgets/dense-document.ts
  extensions/some-filter/tests/budgets/enforcement-css-budget.test.ts
  extensions/some-filter/tests/budgets/selector-cost.ts
  extensions/some-filter/tests/budgets/traversal-source-budget.test.ts
  extensions/some-filter/tests/budgets/traversal-source-scan.ts
  extensions/some-filter/tests/e2e/fixtures/dense-diff-page.html
  extensions/some-filter/tests/e2e/specs/perf-unresponsive-canary.spec.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write, prettier --write

test(some-filter): key the admission gate on shipped effects, not on today's code
  .github/workflows/_extension-verify.yml
  .github/workflows/extension.yml
  extensions/some-filter/package.json
  extensions/some-filter/tests/budgets/README.md
  extensions/some-filter/tests/budgets/bundle-closure-budget.test.ts
  extensions/some-filter/tests/budgets/bundle-effect-scan.ts
  extensions/some-filter/tests/budgets/effect-alphabet.ts
  extensions/some-filter/tests/budgets/effect-ledger.ts
  extensions/some-filter/tests/budgets/enforcement-css-budget.test.ts
  extensions/some-filter/tests/budgets/selector-cost.ts
Due: eslint --fix, prettier --check --write

fix(ci): don't assume every extension defines build:chromium
  .github/workflows/_extension-verify.yml
Due: prettier --check --write

refactor(common): move the admission rule to common, consumed by filter
  extensions/common/eslint.config.js
  extensions/common/package.json
  extensions/common/src/budgets/admission.ts
  extensions/common/src/budgets/bundle-effect-scan.ts
  extensions/common/src/budgets/dense-document.ts
  extensions/common/src/budgets/effect-alphabet.ts
  extensions/common/src/budgets/index.ts
  extensions/common/src/budgets/ledger.ts
  extensions/common/src/budgets/selector-cost.ts
  extensions/common/src/budgets/traversal-source-scan.ts
  extensions/common/src/budgets/vitest.ts
  extensions/some-filter/package.json
  extensions/some-filter/tests/budgets/README.md
  extensions/some-filter/tests/budgets/bundle-closure-budget.test.ts
  extensions/some-filter/tests/budgets/classifier-traversal-budget.test.ts
  extensions/some-filter/tests/budgets/effect-ledger.ts
  extensions/some-filter/tests/budgets/enforcement-css-budget.test.ts
  extensions/some-filter/tests/budgets/traversal-source-budget.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(some-filter): add the budgeted-dispatch kernel and its conformance suite
  extensions/some-filter/src/kernel/__tests__/conformance.test.ts
  extensions/some-filter/src/kernel/credit.ts
  extensions/some-filter/src/kernel/dispatch.ts
  extensions/some-filter/src/kernel/dom.ts
  extensions/some-filter/tests/bench/suppress-chunking.mjs
Due: eslint --fix, prettier --check --write

feat(some-filter): route both sense channels through the kernel (SF-BUD1)
  extensions/some-filter/src/adapter/legibility-audit.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/kernel/dispatch.ts
  extensions/some-filter/src/kernel/dom.ts
  extensions/some-filter/tests/budgets/effect-ledger.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): correct the traversals-per-round assertion (SF-BUD2)
  extensions/some-filter/tests/budgets/classifier-traversal-budget.test.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): exclude extension DOM by selector, erase generated content
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

docs(some-filter): record ADR 0002's post-review amendments (§8)
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
Due: eslint --fix, prettier --check --write

style(some-filter): prettier-format ADR 0002 §8
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
Due: eslint --fix, prettier --check --write

fix(some-filter): throttle a failing interaction audit too, and state the polls' real lifetime
  extensions/some-filter/src/adapter/__tests__/legibility-audit-pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/shadow-scope-discovery.ts
  extensions/some-filter/src/adapter/shadow-scope-theming.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): stop the legacy-mode white flash on YouTube video navigation (#1258)
  extensions/some-filter/src/lib/content/__tests__/coverage-watchdog.test.ts
  extensions/some-filter/src/lib/content/coverage-observability.ts
  extensions/some-filter/src/lib/content/coverage-watchdog.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
  extensions/some-filter/tests/e2e/specs/legacy-invert-regimes.spec.ts
  extensions/some-filter/tests/e2e/specs/yt-navigate-repaint.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): neutralize root filters on the canvas, inject into all frames
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): keep braces out of the canvas rule's CSS comment
  extensions/some-filter/src/adapter/enforcement-sheet.ts
Due: eslint --fix, prettier --check --write

docs(some-filter): record ADR 0002 §8.4 — the sheet's remaining paint surfaces
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
Due: eslint --fix, prettier --check --write

perf(some-filter): bound the extension's main-thread cost, and its resource lifetimes (#1459)
  .github/workflows/extension.yml
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-conveyor/src/lib/content/face-contents.ts
  extensions/some-conveyor/src/lib/content/page-monitor.ts
  extensions/some-drama/src/components/slideshow/index.ts
  extensions/some-filter/eslint.config.js
  extensions/some-filter/src/adapter/__tests__/legibility-audit-pipeline.test.ts
  extensions/some-filter/src/adapter/__tests__/pipeline.test.ts
  extensions/some-filter/src/adapter/pipeline.ts
  extensions/some-filter/src/adapter/shadow-actuator.ts
  extensions/some-filter/src/adapter/shadow-scope-discovery.ts
  extensions/some-filter/src/adapter/shadow-scope-theming.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/__tests__/visibility-gate.test.ts
  extensions/some-filter/src/lib/content/coverage-watchdog.ts
  extensions/some-filter/src/lib/content/visibility-gate.ts
  extensions/some-filter/tests/e2e/fixture.ts
  extensions/some-filter/tests/e2e/specs/main-thread-budget.spec.ts
  extensions/some-mujik/src/background/background.ts
  extensions/some-mujik/src/components/ui/overlay-card/index.ts
  packages/eslint/src/configs/extensions-charter.config.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/require-named-lifetime.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): erase inset shadows and descendant filters, impose a dark backdrop
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

docs(some-filter): note that filters are erased below the canvas too
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
Due: eslint --fix, prettier --check --write

fix(some-filter): reset box-shadow and backdrop-filter on backdrops and erased elements
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): put ::placeholder outside :where() so the rule can match
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): guard the ::placeholder rule so it outranks the erase rule
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
Due: eslint --fix, prettier --check --write

fix(some-filter): erase text-shadow and impose outline-color on the erase rules
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): ADR 0002/0003 user-origin enforcement sheet behind a flag (#1500)
  extensions/some-filter/docs/adr/0002-user-origin-palette-enforcement.md
  extensions/some-filter/docs/adr/0003-embrace-shadow-crossing-and-highlight-table.md
  extensions/some-filter/public/manifest.firefox.json
  extensions/some-filter/public/manifest.json
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/__tests__/swatches.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/adapter/swatches/index.ts
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write

test(some-filter): declare the three call sites main brought into the ledger
  extensions/some-filter/tests/budgets/effect-ledger.ts
Due: eslint --fix, prettier --check --write

feat(some-filter): ADR 0003 lift gradient on structural containers, behind the enforcement flag (#1502)
  extensions/some-filter/src/adapter/__tests__/enforcement-sheet.test.ts
  extensions/some-filter/src/adapter/enforcement-sheet.ts
  extensions/some-filter/src/adapter/swatches/index.ts
  extensions/some-filter/tests/e2e/fixtures/lift-gradient-page.html
  extensions/some-filter/tests/e2e/specs/adr0002-enforcement-sheet.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(www): coalesce the live layout editor's writes, and stop losing them silently
  apps/www/src/components/player/__tests__/session-viewport.mobile.test.tsx
  apps/www/src/components/player/__tests__/use-live-layout-editor.coalescing.test.tsx
  apps/www/src/components/player/__tests__/use-live-layout-editor.test.tsx
  apps/www/src/components/player/session-viewport.tsx
  apps/www/src/components/player/use-live-layout-editor.ts
  apps/www/src/lib/intent/__tests__/use-intent.test.tsx
  apps/www/src/lib/intent/dropped-write.ts
  apps/www/src/lib/intent/index.ts
  apps/www/src/lib/intent/use-async-intent.ts
  apps/www/src/lib/intent/use-intent.ts
  apps/www/src/lib/tenant/index.ts
Due: eslint --fix, prettier --check --write

fix(censor): release a non-video ytd-rich-item-renderer from the queue and the occluder (ORP1)
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/selectors.test.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/rich-item-cells.spec.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(censor): exclude container cells from the guard, and keep a :has()-free floor on Firefox 112–120
  extensions/some-censor/src/lib/content/selectors.test.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/rich-item-cells.spec.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(censor): retire a recycled card's ownership, and count the fallback rule in the occlusion census
  extensions/some-censor/src/lib/content/selectors.test.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
Due: eslint --fix, prettier --check --write

fix(censor): observe a card nested in an added node, and re-upsert a card whose subtree changed
  extensions/some-censor/src/lib/content/observer.test.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/rich-item-cells.spec.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix(censor): adopt a lockup that replaces its cell for the same video
  extensions/some-censor/src/lib/content/observer.test.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/tests/e2e/specs/rich-item-cells.spec.ts
Due: eslint --fix, prettier --check --write

fix(censor): release a non-video ytd-rich-item-renderer from the queue and the occluder (ORP1) (#1504)
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/src/lib/content/observer.test.ts
  extensions/some-censor/src/lib/content/observer.ts
  extensions/some-censor/src/lib/content/selectors.test.ts
  extensions/some-censor/src/lib/content/selectors.ts
  extensions/some-censor/src/lib/content/video-entry.ts
  extensions/some-censor/src/lib/content/video-manager.test.ts
  extensions/some-censor/src/lib/content/video-manager.ts
  extensions/some-censor/src/styles/content.css
  extensions/some-censor/tests/e2e/fixtures/yt-home.html
  extensions/some-censor/tests/e2e/specs/rich-item-cells.spec.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(censor): crawl YouTube layouts into a versioned, checked-in table (BC1)
  extensions/some-censor/eslint.config.js
  extensions/some-censor/package.json
  extensions/some-censor/scripts/crawl-layout.ts
  extensions/some-censor/src/lib/content/extract/meta.ts
  extensions/some-censor/src/lib/content/extract/title.ts
  extensions/some-censor/src/lib/content/layout/README.md
  extensions/some-censor/src/lib/content/layout/crawl-input.ts
  extensions/some-censor/src/lib/content/layout/fields.ts
  extensions/some-censor/src/lib/content/layout/fingerprint.ts
  extensions/some-censor/src/lib/content/layout/generated/youtube-layout.ts
  extensions/some-censor/src/lib/content/layout/layout.test.ts
  extensions/some-censor/src/lib/content/layout/lookup.ts
  extensions/some-censor/src/lib/content/layout/schema.ts
  extensions/some-censor/src/lib/content/layout/surface.ts
  extensions/some-censor/src/lib/content/observability.ts
  extensions/some-censor/tsconfig.json
Due: eslint --fix, prettier --check --write
