Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

feat: eslint flat config
  eslint.config.mjs
Due: eslint --fix, prettier --check --write

feat: tsconfig
  tsconfig.json
Due: prettier --check --write

feat: build config
  .babelrc
  webpack.config.js
Due: eslint --fix, prettier --check --write

feat: test config
  vitest.config.mts
Due: none

feat: lint configs
  .commitlintrc.json
  .lintstagedrc.json
  .stylelintrc.mjs
  prettier.config.cjs
Due: eslint --fix, prettier --check --write

feat: npm package config
  package.json
  pnpm-workspace.yaml
  turbo.json
Due: prettier --check --write

feat: node version files
  .npmrc
  .nvmrc
Due: none

feat: ignore file
  .gitignore
Due: none

feat: build and dependabot
  .github/dependabot.yml
  .github/workflows/build.yml
Due: prettier --check --write

feat: add lint ci
  .github/workflows/lint.yml
Due: prettier --check --write

feat: add pull template
  .github/pull_request_template.md
Due: eslint --fix, prettier --check --write

feat: add test ci
  .github/workflows/test.yml
Due: prettier --check --write

chore: update scripts
  package.json
Due: prettier --check --write

refactor: use rollup template from embla
  rollup.config.js
  webpack.config.js
Due: eslint --fix, prettier --check --write

chore: add license disclosure
  rollup.config.js
Due: eslint --fix, prettier --check --write

feat: add ui packages template
  packages/ui/chat/.gitignore
  packages/ui/chat/package.json
  packages/ui/chat/rollup.config.js
  packages/ui/chat/vite.config.ts
  packages/ui/resume/.gitignore
  packages/ui/resume/package.json
  packages/ui/resume/rollup.config.js
  packages/ui/resume/vite.config.ts
  packages/ui/shared/.gitignore
  packages/ui/shared/package.json
  packages/ui/shared/rollup.config.js
  packages/ui/shared/tsconfig.app.json
  packages/ui/shared/tsconfig.json
  packages/ui/shared/tsconfig.node.json
  packages/ui/shared/vite.config.ts
Due: eslint --fix, prettier --check --write

chore: add packages workspace
  pnpm-workspace.yaml
Due: none

feat: setup tsconfig
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.ui.json
  packages/ui/chat/tsconfig.json
  packages/ui/resume/tsconfig.json
  packages/ui/shared/tsconfig.node.json
Due: prettier --check --write

feat: tw config
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.js
Due: eslint --fix, prettier --check --write

chore: add tsconfig deps to packages
  packages/ui/chat/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
Due: prettier --check --write

chore: remove depracted lines
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: install deps
  pnpm-lock.yaml
Due: none

chore: add new workspace package
  pnpm-workspace.yaml
Due: none

fix: add missing vite dev deps
  packages/ui/chat/package.json
  packages/ui/resume/package.json
  packages/ui/shared/package.json
Due: prettier --check --write

chore: dep update
  pnpm-lock.yaml
Due: none
