Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

chore(sandbox): loc retrospective round 00 (do not merge)
  sandbox/loc-retro/LEDGER.md
  sandbox/loc-retro/README.md
  sandbox/loc-retro/SPEC-BASE.md
  sandbox/loc-retro/SPEC-DRAFT.md
  sandbox/loc-retro/rounds/00-baseline.md
  sandbox/loc-retro/rounds/00/deaths.json
  sandbox/loc-retro/rounds/00/flags.json
  sandbox/loc-retro/rounds/00/prs.json
  sandbox/loc-retro/rounds/00/prs_t2.json
  sandbox/loc-retro/rounds/00/recon.json
  sandbox/loc-retro/rounds/00/recon_t2.json
  sandbox/loc-retro/rounds/00/score_f83a4119.json
  sandbox/loc-retro/rounds/00/summary.txt
  sandbox/loc-retro/scripts/retro.py
  sandbox/loc-retro/scripts/summarize.py
Due: eslint --fix, prettier --check --write

test(www): fail on unswept panel fixtures; trim restated comments
  apps/www/tests/ui-fit/harness.ts
  apps/www/tests/ui-fit/panel-fit.spec.ts
  apps/www/tests/ui-fit/panel-page/fixtures.tsx
  apps/www/tests/ui-fit/panel-page/index.html
  apps/www/tests/ui-fit/panel-page/main.tsx
  apps/www/vite.config.ts
  docs/ui-fit/README.md
  packages/ui/topik/src/index.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat(www,mobile): a session winds down instead of stopping, and Home says you studied today
  apps/mobile/README.md
  apps/www/src/components/player/__tests__/completion-summary.test.tsx
  apps/www/src/components/player/__tests__/wind-down-nudge.test.tsx
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-chrome.tsx
  apps/www/src/components/player/session-reflection.tsx
  apps/www/src/components/player/wind-down-nudge.tsx
  apps/www/src/lib/orchestrator/mock-orchestrator-engine.test.ts
  apps/www/src/lib/orchestrator/mock-orchestrator-engine.ts
  apps/www/src/lib/orchestrator/orchestrator-store.ts
  apps/www/src/lib/session-reflection/index.test.ts
  apps/www/src/lib/session-reflection/index.ts
  apps/www/src/lib/study-nudge/index.ts
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/resumable.ts
  apps/www/src/lib/wind-down/index.test.ts
  apps/www/src/lib/wind-down/index.ts
  apps/www/src/routes/__tests__/today.test.tsx
  apps/www/src/routes/_dashboard/_apk/soundbites.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
  packages/types/src/components/orchestrator-types/index.ts
  packages/ui/soundbites/src/components/soundbites/index.tsx
  packages/ui/soundbites/src/lib/format.ts
  packages/ui/soundbites/src/lib/types.ts
Due: eslint --fix, prettier --check --write

feat(www,mobile): a session cut short still closes, and keeps why
  apps/mobile/README.md
  apps/www/src/components/player/__tests__/completion-summary.test.tsx
  apps/www/src/components/player/__tests__/live-player.test.tsx
  apps/www/src/components/player/__tests__/session-chrome.test.tsx
  apps/www/src/components/player/__tests__/use-session-stop.test.ts
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-chrome.tsx
  apps/www/src/components/player/session-stop.tsx
  apps/www/src/components/player/use-session-stop.ts
  apps/www/src/lib/orchestrator/index.ts
  apps/www/src/lib/orchestrator/orchestrator-store.ts
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/routes/__tests__/today.test.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
Due: eslint --fix, prettier --check --write

refactor(www): a stop's policy is one pure step, run outside React
  apps/mobile/README.md
  apps/www/src/components/player/__tests__/completion-summary.test.tsx
  apps/www/src/components/player/__tests__/session-chrome.test.tsx
  apps/www/src/components/player/__tests__/use-session-stop.test.ts
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-chrome.tsx
  apps/www/src/components/player/session-reflection.tsx
  apps/www/src/components/player/session-stop.tsx
  apps/www/src/components/player/toggle-chips.tsx
  apps/www/src/components/player/use-session-stop.ts
  apps/www/src/components/player/wind-down-nudge.tsx
  apps/www/src/lib/bounded-list/index.test.ts
  apps/www/src/lib/bounded-list/index.ts
  apps/www/src/lib/session-reflection/index.test.ts
  apps/www/src/lib/session-reflection/index.ts
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/lib/session-stop/runtime.ts
  apps/www/src/lib/study-nudge/index.ts
  apps/www/src/lib/tenant/index.ts
  apps/www/src/lib/tenant/resumable.ts
  apps/www/src/lib/wind-down/index.test.ts
  apps/www/src/lib/wind-down/index.ts
  apps/www/src/routes/__tests__/today.test.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
  apps/www/src/test-support/session-stop.ts
Due: eslint --fix, prettier --check --write

fix(www): a glance leaves a paused session paused, and restarts a remounted one
  apps/www/src/components/player/use-session-stop.ts
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/lib/session-stop/runtime.ts
Due: eslint --fix, prettier --check --write

fix(www): the stop dialog closes the controls sheet, and review follow-ups
  apps/www/src/components/player/__tests__/session-chrome.test.tsx
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-chrome.tsx
  apps/www/src/components/player/toggle-chips.tsx
  apps/www/src/components/player/wind-down-nudge.tsx
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/lib/wind-down/index.test.ts
  apps/www/src/routes/__tests__/today.test.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
Due: eslint --fix, prettier --check --write

fix(www): cut short is measured against the plan at the stop
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/routes/__tests__/today.test.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
Due: eslint --fix, prettier --check --write

fix(www): picking up a reopened session restores its +5 min
  apps/www/src/components/player/__tests__/use-session-stop.test.ts
  apps/www/src/components/player/use-session-stop.ts
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/lib/session-stop/runtime.ts
Due: eslint --fix, prettier --check --write

feat(intent-kit,eslint): a shared boundary for waits on foreign APIs (F1)
  .github/workflows/pr.yml
  CLAUDE.md
  REVIEW.md
  docs/monorepo-boundaries.md
  package.json
  packages/eslint/src/foreign-boundary.ts
  packages/eslint/src/react-coordination.ts
  packages/eslint/src/site-count.ts
  packages/eslint/tests/foreign-boundary.test.ts
  packages/eslint/tsconfig.json
  packages/intent-kit/package.json
  packages/intent-kit/src/__tests__/foreign.test.ts
  packages/intent-kit/src/foreign.ts
  packages/intent-kit/src/index.ts
  pnpm-lock.yaml
  scripts/check-foreign-boundary.ts
  scripts/foreign-boundary.allowlist
Due: eslint --fix, prettier --check --write

fix(www): a stop shuts the controls sheet instead of hiding it
  apps/www/src/components/player/__tests__/session-chrome.test.tsx
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-chrome.tsx
Due: eslint --fix, prettier --check --write

feat(www,mobile): sessions wind down, and a session cut short still closes (#1697)
  apps/mobile/README.md
  apps/www/src/components/player/__tests__/completion-summary.test.tsx
  apps/www/src/components/player/__tests__/live-player.test.tsx
  apps/www/src/components/player/__tests__/session-chrome.test.tsx
  apps/www/src/components/player/__tests__/use-session-stop.test.ts
  apps/www/src/components/player/__tests__/wind-down-nudge.test.tsx
  apps/www/src/components/player/completion-summary.tsx
  apps/www/src/components/player/live-player.tsx
  apps/www/src/components/player/session-chrome.tsx
  apps/www/src/components/player/session-reflection.tsx
  apps/www/src/components/player/session-stop.tsx
  apps/www/src/components/player/toggle-chips.tsx
  apps/www/src/components/player/use-session-stop.ts
  apps/www/src/components/player/wind-down-nudge.tsx
  apps/www/src/lib/bounded-list/index.test.ts
  apps/www/src/lib/bounded-list/index.ts
  apps/www/src/lib/orchestrator/index.ts
  apps/www/src/lib/orchestrator/mock-orchestrator-engine.test.ts
  apps/www/src/lib/orchestrator/mock-orchestrator-engine.ts
  apps/www/src/lib/orchestrator/orchestrator-store.ts
  apps/www/src/lib/session-reflection/index.test.ts
  apps/www/src/lib/session-reflection/index.ts
  apps/www/src/lib/session-stop/index.test.ts
  apps/www/src/lib/session-stop/index.ts
  apps/www/src/lib/session-stop/runtime.ts
  apps/www/src/lib/wind-down/index.test.ts
  apps/www/src/lib/wind-down/index.ts
  apps/www/src/routes/__tests__/today.test.tsx
  apps/www/src/routes/_dashboard/_apk/soundbites.tsx
  apps/www/src/routes/_dashboard/_apk/today.tsx
  apps/www/src/test-support/session-stop.ts
  packages/types/src/components/orchestrator-types/index.ts
  packages/ui/soundbites/src/components/soundbites/index.tsx
  packages/ui/soundbites/src/lib/format.ts
  packages/ui/soundbites/src/lib/types.ts
Due: eslint --fix, prettier --check --write

fix(leetype,www): phone dictation through callForeign, so a recognizer that can't start says so
  CLAUDE.md
  apps/www/src/lib/dictation/index.test.ts
  apps/www/src/lib/dictation/index.ts
  docs/monorepo-boundaries.md
  packages/ui/leetype/package.json
  packages/ui/leetype/src/components/round/note-composer/index.tsx
  packages/ui/leetype/src/components/round/round-session/index.test.tsx
  packages/ui/leetype/src/index.ts
  packages/ui/leetype/src/lib/leetype/notes/composer/index.test.ts
  packages/ui/leetype/src/lib/leetype/notes/composer/index.ts
  packages/ui/leetype/src/lib/leetype/notes/dictation/index.test.ts
  packages/ui/leetype/src/lib/leetype/notes/dictation/index.ts
  packages/ui/leetype/src/lib/leetype/notes/runtime/index.test.ts
  packages/ui/leetype/src/lib/leetype/notes/runtime/index.ts
  pnpm-lock.yaml
  scripts/foreign-boundary.allowlist
Due: eslint --fix, prettier --check --write

fix(mobile): turn off the SQLite plugin's unused encryption, so a restored app can open its database
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/capacitor.config.ts
  apps/mobile/review/checks.mjs
  apps/mobile/review/checks.test.mjs
  apps/mobile/review/policy.json
  apps/mobile/review/review.mjs
Due: eslint --fix, prettier --check --write

fix(www,mobile,intent-kit): the phone's storage fails honestly, and its failures reach a log
  CLAUDE.md
  apps/mobile/README.md
  apps/mobile/android/app/src/main/java/dev/paulgsc/someui/MainActivity.java
  apps/mobile/android/app/src/main/java/dev/paulgsc/someui/NativeLogPlugin.java
  apps/mobile/launch/launch-test.sh
  apps/www/build.minify.ts
  apps/www/build.paths.ts
  apps/www/src/components/settings/device-section.tsx
  apps/www/src/lib/device-backend/__tests__/round-trip.test.ts
  apps/www/src/lib/device-backend/boot/index.test.ts
  apps/www/src/lib/device-backend/boot/index.ts
  apps/www/src/lib/device-backend/capacitor-sqlite/index.test.ts
  apps/www/src/lib/device-backend/capacitor-sqlite/index.ts
  apps/www/src/lib/device-backend/interceptor/index.ts
  apps/www/src/lib/device-backend/sql/index.ts
  apps/www/src/lib/dictation/index.test.ts
  apps/www/src/lib/dictation/index.ts
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/lib/intent/__tests__/errors.test.ts
  apps/www/src/lib/intent/__tests__/release-console.test.ts
  apps/www/src/lib/intent/errors.ts
  apps/www/src/lib/native-log/index.test.ts
  apps/www/src/lib/native-log/index.ts
  apps/www/src/lib/serving-privacy/__tests__/egress-choke-points.test.ts
  apps/www/tsconfig.json
  apps/www/vite.config.ts
  apps/www/vitest.config.ts
  docs/monorepo-boundaries.md
  packages/intent-kit/src/__tests__/foreign.test.ts
  packages/intent-kit/src/foreign.ts
  packages/intent-kit/src/index.ts
  packages/ui/leetype/src/lib/leetype/notes/dictation/index.ts
  scripts/foreign-boundary.allowlist
Due: eslint --fix, prettier --check --write

fix: apply the correctness and line-justification reviews
  .github/workflows/pr.yml
  CLAUDE.md
  apps/mobile/README.md
  apps/mobile/launch/launch-test.sh
  apps/mobile/review/checks.mjs
  apps/mobile/review/checks.test.mjs
  apps/mobile/review/policy.json
  apps/mobile/review/review.mjs
  apps/www/src/lib/device-backend/__tests__/home-sync.test.ts
  apps/www/src/lib/device-backend/__tests__/round-trip.test.ts
  apps/www/src/lib/device-backend/capacitor-sqlite/index.test.ts
  apps/www/src/lib/device-backend/capacitor-sqlite/index.ts
  apps/www/src/lib/device-backend/home-sync/index.ts
  apps/www/src/lib/dictation/index.test.ts
  apps/www/src/lib/dictation/index.ts
  apps/www/src/lib/file-host-config/client.ts
  apps/www/src/lib/native-log/index.ts
  docs/monorepo-boundaries.md
  packages/eslint/src/foreign-boundary.ts
  packages/eslint/src/react-coordination.ts
  packages/eslint/src/site-count.ts
  packages/intent-kit/src/foreign.ts
  packages/ui/leetype/src/lib/leetype/notes/composer/index.test.ts
  packages/ui/leetype/src/lib/leetype/notes/composer/index.ts
  packages/ui/leetype/src/lib/leetype/notes/dictation/index.ts
  packages/ui/leetype/src/lib/leetype/notes/runtime/index.ts
  scripts/check-foreign-boundary.ts
  scripts/check-react-coordination.ts
  scripts/foreign-boundary.allowlist
Due: eslint --fix, prettier --check --write

fix(www): install the native log at boot; a failed rollback no longer hides what failed
  apps/www/src/lib/device-backend/boot/index.test.ts
  apps/www/src/lib/device-backend/boot/index.ts
  apps/www/src/lib/device-backend/capacitor-sqlite/index.test.ts
  apps/www/src/lib/device-backend/capacitor-sqlite/index.ts
Due: eslint --fix, prettier --check --write

fix(eslint-kit): drop exports the shared runner left unused
  packages/eslint/src/foreign-boundary.ts
  packages/eslint/src/react-coordination.ts
Due: eslint --fix, prettier --check --write

fix(eslint-kit): exempt only callForeign's inline start from F1's count
  docs/monorepo-boundaries.md
  packages/eslint/src/foreign-boundary.ts
  packages/eslint/tests/foreign-boundary.test.ts
Due: eslint --fix, prettier --check --write

feat(styles,www): replace Strawberry Moon with Rosé Night and Harvest Sky
  apps/www/index.html
  apps/www/resume/index.html
  apps/www/src/providers/__tests__/theme.contract.test.ts
  docs/theme-engagement.md
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/some-styles/src/theme/__tests__/boundary.test.ts
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/controller.ts
  packages/some-styles/src/theme/index.ts
  packages/some-styles/src/theme/registry.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/cdrama.css
  packages/some-styles/themes/code.css
  packages/some-styles/themes/comb.css
  packages/some-styles/themes/harvest-sky.css
  packages/some-styles/themes/peachy-blossom.css
  packages/some-styles/themes/rose-night.css
  packages/some-styles/themes/scheduler.css
  packages/some-styles/themes/strawberry-moon.css
  packages/some-styles/themes/topik.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(styles,www): address re-review of the theme swap
  apps/www/index.html
  apps/www/resume/index.html
  apps/www/src/providers/__tests__/theme.contract.test.ts
  docs/theme-engagement.md
  packages/some-styles/README.md
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/controller.ts
  packages/some-styles/themes/cdrama.css
  packages/some-styles/themes/harvest-sky.css
  packages/some-styles/themes/rose-night.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(styles,www): replace Strawberry Moon with Rosé Night and Harvest Sky (#1699)
  apps/www/index.html
  apps/www/resume/index.html
  apps/www/src/providers/__tests__/theme.contract.test.ts
  docs/theme-engagement.md
  extensions/some-drama/src/styles/components/popup/form-opinionated/opinionated-form.css
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/some-styles/README.md
  packages/some-styles/src/theme/__tests__/boundary.test.ts
  packages/some-styles/src/theme/__tests__/registry.test.ts
  packages/some-styles/src/theme/controller.ts
  packages/some-styles/src/theme/index.ts
  packages/some-styles/src/theme/registry.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/cdrama.css
  packages/some-styles/themes/code.css
  packages/some-styles/themes/comb.css
  packages/some-styles/themes/harvest-sky.css
  packages/some-styles/themes/peachy-blossom.css
  packages/some-styles/themes/rose-night.css
  packages/some-styles/themes/scheduler.css
  packages/some-styles/themes/strawberry-moon.css
  packages/some-styles/themes/topik.css
  packages/some-styles/tokens/base.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(styles,eslint-kit,ui,www): state colours follow the theme
  CLAUDE.md
  apps/www/src/components/composer/scene-editor/timeline.tsx
  apps/www/src/components/loc/loc-indicator.tsx
  docs/theme-engagement.md
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/theme-protocol.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/src/theme/__tests__/tokens.test.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/harvest-sky.css
  packages/some-styles/themes/rose-night.css
  packages/some-styles/tokens/base.css
  packages/ui/honeycomb/eslint.config.js
  packages/ui/leetype/eslint.config.js
  packages/ui/leetype/src/components/reading-game/diff-card/index.tsx
  packages/ui/leetype/src/components/round/constraint-diff/index.tsx
  packages/ui/leetype/src/components/round/generate-round/index.tsx
  packages/ui/leetype/src/components/round/round-choices/index.tsx
  packages/ui/leetype/src/components/round/round-outcome/index.tsx
  packages/ui/lesson-crm/eslint.config.js
  packages/ui/soundbites/src/components/soundbites/index.tsx
  packages/ui/topik/eslint.config.js
  packages/ui/wireframes/src/lib/registry/renderer.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(eslint-kit,styles,www): address re-review of the state-colour sweep
  CLAUDE.md
  apps/www/src/components/composer/scene-editor/timeline.tsx
  docs/theme-engagement.md
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/theme-protocol.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/some-styles/themes/rose-night.css
  packages/ui/honeycomb/eslint.config.js
  packages/ui/leetype/eslint.config.js
  packages/ui/lesson-crm/eslint.config.js
  packages/ui/topik/eslint.config.js
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(eslint-kit,www): template edges and the timeline playhead (Codex review)
  apps/www/src/components/composer/scene-editor/timeline.tsx
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
Due: eslint --fix, prettier --check --write

feat(styles,eslint-kit,ui,www): state colours follow the theme (#1700)
  CLAUDE.md
  apps/www/src/components/composer/scene-editor/timeline.tsx
  apps/www/src/components/loc/loc-indicator.tsx
  docs/theme-engagement.md
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/theme-protocol.config.ts
  packages/eslint/src/index.ts
  packages/eslint/src/rules/index.ts
  packages/eslint/src/rules/theme-protocol.ts
  packages/eslint/tests/theme-protocol.lint.test.ts
  packages/some-styles/src/preset/theme.ts
  packages/some-styles/src/theme/__tests__/tokens.test.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/harvest-sky.css
  packages/some-styles/themes/rose-night.css
  packages/some-styles/tokens/base.css
  packages/ui/honeycomb/eslint.config.js
  packages/ui/leetype/eslint.config.js
  packages/ui/leetype/src/components/reading-game/diff-card/index.tsx
  packages/ui/leetype/src/components/round/constraint-diff/index.tsx
  packages/ui/leetype/src/components/round/generate-round/index.tsx
  packages/ui/leetype/src/components/round/round-choices/index.tsx
  packages/ui/leetype/src/components/round/round-outcome/index.tsx
  packages/ui/lesson-crm/eslint.config.js
  packages/ui/soundbites/src/components/soundbites/index.tsx
  packages/ui/topik/eslint.config.js
  packages/ui/wireframes/src/lib/registry/renderer.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore(ui,www): delete three unreached components
  apps/www/src/components/player/session-viewport.tsx
  docs/session-viewport/04-zero-collapse-and-always-on-resize.md
  packages/ui/leetype/src/components/round/artifact-switcher/index.tsx
  packages/ui/leetype/src/components/round/wide-round-surface/index.test.tsx
  packages/ui/leetype/src/components/round/wide-round-surface/index.tsx
  packages/ui/leetype/src/lib/leetype/round-assembly/index.ts
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/overlay-input/index.tsx
  packages/ui/wireframes/src/components/focus-popup/index.tsx
  packages/ui/wireframes/src/components/render-solved/index.tsx
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
  packages/ui/wireframes/src/hooks/use-focus-controls.ts
Due: eslint --fix, prettier --check --write

chore(wireframes): remove the layout solver's focus path (Codex review)
  packages/ui/wireframes/src/lib/__tests__/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/layout-types.ts
  packages/ui/wireframes/src/lib/layout-weighted.ts
Due: eslint --fix, prettier --check --write

chore(ui,www): delete three unreached components (#1701)
  apps/www/src/components/player/session-viewport.tsx
  docs/session-viewport/04-zero-collapse-and-always-on-resize.md
  packages/ui/leetype/src/components/round/artifact-switcher/index.tsx
  packages/ui/leetype/src/components/round/wide-round-surface/index.test.tsx
  packages/ui/leetype/src/components/round/wide-round-surface/index.tsx
  packages/ui/leetype/src/lib/leetype/round-assembly/index.ts
  packages/ui/shared/src/components/ui/index.ts
  packages/ui/shared/src/components/ui/overlay-input/index.tsx
  packages/ui/wireframes/src/components/focus-popup/index.tsx
  packages/ui/wireframes/src/components/render-solved/index.tsx
  packages/ui/wireframes/src/components/youtube/resizable-wireframe/index.tsx
  packages/ui/wireframes/src/hooks/use-focus-controls.ts
  packages/ui/wireframes/src/lib/__tests__/layout-weighted.property.test.ts
  packages/ui/wireframes/src/lib/layout-types.ts
  packages/ui/wireframes/src/lib/layout-weighted.ts
Due: eslint --fix, prettier --check --write

chore(leetype,www): remove the reading mode; phones always play rounds
  apps/www/src/components/player/session-viewport.tsx
  docs/leetype/README.md
  packages/ui/leetype/README.md
  packages/ui/leetype/eslint.config.js
  packages/ui/leetype/src/components/exercise-picker/index.test.tsx
  packages/ui/leetype/src/components/exercise-picker/index.tsx
  packages/ui/leetype/src/components/exercise-picker/mobile.tsx
  packages/ui/leetype/src/components/leetype/index.test.tsx
  packages/ui/leetype/src/components/leetype/index.tsx
  packages/ui/leetype/src/components/reading-game/claim-choices/index.test.tsx
  packages/ui/leetype/src/components/reading-game/claim-choices/index.tsx
  packages/ui/leetype/src/components/reading-game/diff-card/index.test.tsx
  packages/ui/leetype/src/components/reading-game/diff-card/index.tsx
  packages/ui/leetype/src/components/reading-game/index.ts
  packages/ui/leetype/src/components/reading-game/reading-feedback/index.test.tsx
  packages/ui/leetype/src/components/reading-game/reading-feedback/index.tsx
  packages/ui/leetype/src/components/reading-game/reading-header/index.tsx
  packages/ui/leetype/src/components/reading-game/reading-session/index.test.tsx
  packages/ui/leetype/src/components/reading-game/reading-session/index.tsx
  packages/ui/leetype/src/components/round/diff-set-choices/index.tsx
  packages/ui/leetype/src/components/round/round-choices/index.tsx
  packages/ui/leetype/src/components/round/round-feedback/index.tsx
  packages/ui/leetype/src/components/round/round-session/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-session/index.tsx
  packages/ui/leetype/src/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/reading-probe/index.test.ts
  packages/ui/leetype/src/lib/leetype/reading-probe/index.ts
  packages/ui/leetype/src/lib/leetype/round-probe/index.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

docs(leetype,canon): amend the canon for the retired reading surface (Codex review)
  docs/canon/complexity-witness-canon.typ
  packages/ui/leetype/README.md
Due: eslint --fix, prettier --check --write

chore(leetype,www): remove the reading mode; phones always play rounds (#1702)
  apps/www/src/components/player/session-viewport.tsx
  docs/canon/complexity-witness-canon.typ
  docs/leetype/README.md
  packages/ui/leetype/README.md
  packages/ui/leetype/eslint.config.js
  packages/ui/leetype/src/components/exercise-picker/index.test.tsx
  packages/ui/leetype/src/components/exercise-picker/index.tsx
  packages/ui/leetype/src/components/exercise-picker/mobile.tsx
  packages/ui/leetype/src/components/leetype/index.test.tsx
  packages/ui/leetype/src/components/leetype/index.tsx
  packages/ui/leetype/src/components/reading-game/claim-choices/index.test.tsx
  packages/ui/leetype/src/components/reading-game/claim-choices/index.tsx
  packages/ui/leetype/src/components/reading-game/diff-card/index.test.tsx
  packages/ui/leetype/src/components/reading-game/diff-card/index.tsx
  packages/ui/leetype/src/components/reading-game/index.ts
  packages/ui/leetype/src/components/reading-game/reading-feedback/index.test.tsx
  packages/ui/leetype/src/components/reading-game/reading-feedback/index.tsx
  packages/ui/leetype/src/components/reading-game/reading-header/index.tsx
  packages/ui/leetype/src/components/reading-game/reading-session/index.test.tsx
  packages/ui/leetype/src/components/reading-game/reading-session/index.tsx
  packages/ui/leetype/src/components/round/diff-set-choices/index.tsx
  packages/ui/leetype/src/components/round/round-choices/index.tsx
  packages/ui/leetype/src/components/round/round-feedback/index.tsx
  packages/ui/leetype/src/components/round/round-session/index.tsx
  packages/ui/leetype/src/components/typing-game/typing-session/index.tsx
  packages/ui/leetype/src/index.ts
  packages/ui/leetype/src/lib/leetype/exercises/index.ts
  packages/ui/leetype/src/lib/leetype/reading-probe/index.test.ts
  packages/ui/leetype/src/lib/leetype/reading-probe/index.ts
  packages/ui/leetype/src/lib/leetype/round-probe/index.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

fix(compose): publish tts and www on an explicit 0.0.0.0
  infra/compose/tts.yml
  infra/compose/www.yml
Due: prettier --check --write

fix(mobile,www): let back and a Home link leave the composer on the APK
  apps/mobile/README.md
  apps/mobile/android/app/src/main/java/dev/paulgsc/someui/MainActivity.java
  apps/www/src/components/composer/__tests__/session-composer.test.tsx
  apps/www/src/components/composer/session-composer.tsx
  apps/www/src/components/mobile-shell/__tests__/index.test.tsx
  apps/www/src/components/mobile-shell/index.tsx
  apps/www/src/routes/_dashboard.tsx
Due: eslint --fix, prettier --check --write

fix(mobile,www): leave the app from Home, close the + sheet on back
  CLAUDE.md
  apps/mobile/README.md
  apps/mobile/android/app/src/main/java/dev/paulgsc/someui/MainActivity.java
  apps/www/src/components/mobile-shell/__tests__/index.test.tsx
  apps/www/src/components/mobile-shell/index.tsx
  apps/www/src/lib/app-surface/index.ts
  apps/www/src/routes/__tests__/mobile-surface.test.ts
Due: eslint --fix, prettier --check --write

docs(claude): main's APK pipeline also launches the app; Lint errors gate
  CLAUDE.md
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
