Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix(canon): renumber the new valuation remark to 4.5, avoiding a citation collision
  docs/canon/adaptive-learning-canon.typ
Due: none

feat(canon): declare LeetType M20's valuation — p_credited = false, Cor. 4.3 (#1070)
  docs/canon/adaptive-learning-canon.typ
Due: none

feat(leetype): audit localStorage, pin the assistance seam open (LTY-SEAM S2)
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/results-card/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/lib/leetype/baseline-store/index.ts
Due: eslint --fix, prettier --check --write

feat(leetype): audit localStorage, pin the assistance seam open (LTY-SEAM S2) (#1071)
  packages/ui/leetype/src/components/typing-game/leetype/index.test.tsx
  packages/ui/leetype/src/components/typing-game/results-card/index.tsx
  packages/ui/leetype/src/hooks/leetype/use-typing-game-wasm/index.test.ts
  packages/ui/leetype/src/lib/leetype/baseline-store/index.ts
Due: eslint --fix, prettier --check --write

feat(leetype): give the corpus stable concept identity (LTY-SEAM S5)
  packages/ui/leetype/src/lib/leetype/exercises/concepts.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/concepts.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
Due: eslint --fix, prettier --check --write

feat(leetype): give the corpus stable concept identity (LTY-SEAM S5) (#1072)
  packages/ui/leetype/src/lib/leetype/exercises/concepts.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/concepts.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
Due: eslint --fix, prettier --check --write

feat(leetype): declare transfer pairs in the corpus (LTY-SEAM S3)
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

fix(leetype): reject duplicate step ids across the corpus before indexing transfers
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
Due: eslint --fix, prettier --check --write

feat(leetype): declare transfer pairs in the corpus (#1073)
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/corpus-lint.ts
  packages/ui/leetype/src/lib/leetype/exercises/seed.ts
  packages/ui/leetype/src/types/exercise.test.ts
  packages/ui/leetype/src/types/exercise.ts
Due: eslint --fix, prettier --check --write

feat(leetype): add time-to-first-keystroke as an authoring audit (LTY-SEAM S4)
  packages/ui/leetype/src/lib/leetype/exercises/ttfk.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/ttfk.ts
Due: eslint --fix, prettier --check --write

fix(leetype): censor a manual reveal at first keystroke, not just revealK
  packages/ui/leetype/src/lib/leetype/exercises/ttfk.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/ttfk.ts
Due: eslint --fix, prettier --check --write

feat(leetype): add time-to-first-keystroke as an authoring audit (#1074)
  packages/ui/leetype/src/lib/leetype/exercises/ttfk.test.ts
  packages/ui/leetype/src/lib/leetype/exercises/ttfk.ts
Due: eslint --fix, prettier --check --write

feat(suspender-ledger): surface Chrome's silent discard veto to the user (#1069)
  extensions/suspender-ledger/docs/design-notes.md
  extensions/suspender-ledger/src/popup/components/discard-banner/index.stories.tsx
  extensions/suspender-ledger/src/popup/components/discard-banner/index.test.ts
  extensions/suspender-ledger/src/popup/components/discard-banner/index.ts
  extensions/suspender-ledger/src/popup/index.ts
  extensions/suspender-ledger/src/popup/popup.css
  extensions/suspender-ledger/src/worker/core/discard-state.test.ts
  extensions/suspender-ledger/src/worker/core/discard-state.ts
  extensions/suspender-ledger/src/worker/core/discard.ts
  extensions/suspender-ledger/src/worker/worker.ts
  extensions/suspender-ledger/vitest.setup.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(filter): prevent legacy mode white flash
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

fix(filter): atomically compensate legacy prepaint
  extensions/some-filter/src/lib/content/__tests__/theme-apply.test.ts
  extensions/some-filter/src/lib/content/theme-apply.ts
Due: eslint --fix, prettier --check --write

docs(resume): surface backend engineering evidence
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: none

feat(www): darken resume preview with app theme
  apps/www/src/routes/_dashboard/resume.tsx
Due: eslint --fix, prettier --check --write

fix(www): tint dark resume text with theme token
  apps/www/src/routes/_dashboard/resume.tsx
Due: eslint --fix, prettier --check --write

feat(resume): enforce coherent one-page compositions
  apps/www/scripts/sync-resume.mjs
  apps/www/src/routes/_dashboard/resume.tsx
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
  packages/ui/resume/scripts/compile.mjs
Due: eslint --fix, prettier --check --write

docs(resume): fill one-page variants with ATS evidence
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: eslint --fix, prettier --check --write

docs(resume): align variants with authored backend work
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: none

fix(resume): validate ATS evidence and fill page frame
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
Due: none

chore: update ignore to match all patterns
  apps/www/.gitignore
Due: none

chore: retire the copied contract with its source schema
  packages/contract-harness/contracts/mood-events.contract.ts
  packages/contract-harness/src/registry.ts
Due: eslint --fix, prettier --check --write

fix(resume): correct registry and lint composition guard
  apps/www/src/routes/_dashboard/resume.tsx
  packages/ui/resume/resume.meta.typ
Due: eslint --fix, prettier --check --write

docs(resume): surface backend engineering evidence and add capabilities line (#1083)
  apps/www/scripts/sync-resume.mjs
  apps/www/src/routes/_dashboard/resume.tsx
  packages/ui/resume/README.md
  packages/ui/resume/resume.meta.typ
  packages/ui/resume/resume.typ
  packages/ui/resume/scripts/compile.mjs
Due: eslint --fix, prettier --check --write

chore(release): deploy pages site
  .github/pages-release-marker.txt
Due: none

chore(release): publish www docker image
  apps/www/CHANGELOG.md
  apps/www/package.json
Due: eslint --fix, prettier --check --write

chore: add knip coverage
  knip.json
  packages/fetch-kit/package.json
  packages/speech/package.json
  packages/types/package.json
  packages/types/src/components/numerical/index.ts
  packages/types/src/components/numerical/is-number/index.test.ts
  packages/types/src/components/numerical/is-number/index.ts
  packages/ui/makjang/package.json
  packages/ui/resume/package.json
  packages/wasm-loader/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: ignore testing modules
  knip.json
Due: prettier --check --write

fix(www): render resume inline on mobile
  apps/www/scripts/sync-resume.mjs
  apps/www/src/routes/_dashboard/resume.tsx
  packages/ui/resume/README.md
  packages/ui/resume/scripts/compile.mjs
Due: eslint --fix, prettier --check --write

feat(www): link dashboard brand home
  apps/www/src/routes/_dashboard.tsx
Due: eslint --fix, prettier --check --write

chore(ci): skip lint-staged in Claude Code Remote, require manual verification
  .husky/pre-commit
  CLAUDE.md
Due: eslint --fix, prettier --check --write

docs(claude): include stylelint in the manual verification checklist
  CLAUDE.md
Due: eslint --fix, prettier --check --write

fix(eslint-kit): address review findings on parent-relative-import rule
  packages/eslint/src/configs/extensions-security.config.ts
  packages/eslint/src/configs/index.ts
  packages/eslint/src/configs/react.config.ts
  packages/eslint/src/configs/theme-protocol.config.ts
  packages/eslint/src/index.ts
  packages/eslint/tests/extensions.lint.test.ts
  packages/eslint/tests/react.lint.test.ts
  packages/ui/shared/eslint.config.js
Due: eslint --fix, prettier --check --write

chore(ci): skip lint-staged in Claude Code Remote, require manual verification (#1096)
  .husky/pre-commit
  CLAUDE.md
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
