Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

chore: update deps
  package.json
  packages/bark/package.json
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: add utterance UI
  packages/ui/umag/src/components/megaphone-spectrum/index.stories.tsx
  packages/ui/umag/src/components/megaphone-spectrum/index.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.stories.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/hooks/use-prompt-utterance.ts
  packages/ui/umag/src/types/spectrum.ts
Due: eslint --fix, prettier --check --write

feat: kinda working utterance
  packages/ui/umag/src/components/index.ts
  packages/ui/umag/src/components/megaphone-spectrum/index.css
  packages/ui/umag/src/components/megaphone-spectrum/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/types/spectrum.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: modularize the tts hook
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/context/event-queue.ts
  packages/utils/src/lib/context/speech-context.ts
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-audio-speech.ts
  packages/utils/src/lib/hooks/use-audio-tts.ts
  packages/utils/src/lib/hooks/use-text-to-speech.ts
  packages/utils/src/lib/hooks/use-tts-fetch.ts
  packages/utils/src/types/index.ts
  packages/utils/src/types/tts-types.ts
Due: eslint --fix, prettier --check --write

chore: update tts proviider params
  .storybook/storybook-decorator.tsx
Due: eslint --fix, prettier --check --write

feat: some extension init
  packages/browser-extensions/no-comments/build.sh
  packages/browser-extensions/no-comments/eslint.config.js
  packages/browser-extensions/no-comments/rollup.config.js
  packages/browser-extensions/no-comments/src/background/.background.js.swp
  packages/browser-extensions/no-comments/src/background/background.js
  packages/browser-extensions/no-comments/src/content/content.js
  packages/browser-extensions/no-comments/src/popup/popup.html
  packages/browser-extensions/no-comments/src/popup/popup.js
  packages/browser-extensions/no-comments/src/styles/styles.css
  packages/browser-extensions/some-prompt/eslint.config.js
  packages/browser-extensions/some-prompt/manifest.json
  packages/browser-extensions/some-prompt/package.json
  packages/browser-extensions/some-prompt/rollup.config.js
  packages/browser-extensions/some-prompt/src/background.js
  packages/browser-extensions/some-prompt/src/content.css
  packages/browser-extensions/some-prompt/src/content.js
  packages/browser-extensions/some-prompt/tsconfig.build.json
  packages/browser-extensions/some-prompt/tsconfig.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: get the update options callback working
  packages/ui/stepper/src/components/livestream-stepper/index.stories.tsx
  packages/ui/stepper/src/components/livestream-stepper/index.tsx
  packages/utils/src/lib/context/event-queue.ts
  packages/utils/src/lib/context/speech-context.ts
  packages/utils/src/lib/hooks/use-audio-speech.ts
  packages/utils/src/lib/hooks/use-audio-tts.ts
Due: eslint --fix, prettier --check --write

feat: disaster has struck!
  packages/browser-extensions/some-prompt/manifest.json
  packages/browser-extensions/some-prompt/package.json
  packages/browser-extensions/some-prompt/src/background.js
  packages/browser-extensions/some-prompt/src/background/background.ts
  packages/browser-extensions/some-prompt/src/components/overlay.ts
  packages/browser-extensions/some-prompt/src/content.css
  packages/browser-extensions/some-prompt/src/content.js
  packages/browser-extensions/some-prompt/src/content/content.ts
  packages/browser-extensions/some-prompt/src/popup/popup-card.tsx
  packages/browser-extensions/some-prompt/src/popup/popup.css
  packages/browser-extensions/some-prompt/src/popup/popup.html
  packages/browser-extensions/some-prompt/src/popup/popup.tsx
  packages/browser-extensions/some-prompt/src/services/storage.ts
  packages/browser-extensions/some-prompt/src/services/text-processor.ts
  packages/browser-extensions/some-prompt/src/types/storage.ts
  packages/browser-extensions/some-prompt/src/utils/dom-utils.ts
  packages/browser-extensions/some-prompt/tsconfig.build.json
  packages/browser-extensions/some-prompt/tsconfig.json
  packages/browser-extensions/some-prompt/tsconfig.node.json
  packages/browser-extensions/some-prompt/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: vibe gods have spoken!
  packages/browser-extensions/some-prompt/src/content/content.ts
Due: eslint --fix, prettier --check --write

feat: lazy boi
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/hopium/bento-grid/index.stories.tsx
  packages/ui/nfl/src/components/hopium/bento-grid/index.tsx
  packages/ui/nfl/src/components/hopium/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/header/index.stories.tsx
  packages/ui/nfl/src/components/hopium/header/index.tsx
  packages/ui/nfl/src/components/hopium/index.stories.tsx
  packages/ui/nfl/src/components/hopium/index.tsx
  packages/ui/nfl/src/components/hopium/replay-controls/index.tsx
  packages/ui/nfl/src/components/hopium/rollercoaster/index.tsx
  packages/ui/nfl/src/components/hopium/streak-card/index.tsx
  packages/ui/nfl/src/components/hopium/summary-sidebar/index.tsx
  packages/ui/nfl/src/data/events.ts
  packages/ui/nfl/src/hooks/index.ts
  packages/ui/nfl/src/hooks/use-element-size.ts
  packages/ui/nfl/src/hooks/use-replay-timeline.ts
  packages/ui/nfl/src/types/hopium-tracker.ts
  packages/ui/nfl/src/utils/index.ts
  packages/ui/nfl/src/utils/mood.ts
  packages/ui/nfl/src/utils/path.ts
Due: eslint --fix, prettier --check --write

feat: get working with import
  packages/browser-extensions/some-prompt/manifest.json
  packages/browser-extensions/some-prompt/src/background/background.ts
  packages/browser-extensions/some-prompt/src/content/content.ts
  packages/browser-extensions/some-prompt/src/services/text-processor.ts
  packages/browser-extensions/some-prompt/vite.config.ts
  packages/ui/nfl/src/components/hopium/streak-card/index.tsx
  packages/ui/shared/src/components/ui/sparkle-burst/index.stories.tsx
  packages/ui/shared/src/components/ui/sparkle-burst/index.tsx
  packages/ui/shared/src/components/ui/sparkle-burst/sparkle-showcase.tsx
Due: eslint --fix, prettier --check --write

fix: get working with import (background must be inline for v2, shift key to send)
  packages/browser-extensions/some-prompt/manifest.json
  packages/browser-extensions/some-prompt/src/content/content.ts
  packages/browser-extensions/some-prompt/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: new utils/build
  packages/utils/package.json
  packages/utils/src/lib/hooks/index.ts
  packages/utils/src/lib/hooks/use-audio-storage.ts
  packages/utils/src/types/audio-storage-types.ts
  packages/utils/src/types/index.ts
  packages/utils/tsconfig.json
  packages/utils/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add voice to options - not happy
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.stories.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.tsx
  packages/ui/umag/src/components/now-playing/now-playing-card/index.tsx
  packages/ui/umag/src/components/prompt-dox/index.tsx
  packages/ui/umag/src/components/voice-selector/index.tsx
  packages/utils/src/lib/hooks/use-audio-tts.ts
  packages/utils/src/types/tts-types.ts
Due: eslint --fix, prettier --check --write

feat: broken: react version
  packages/browser-extensions/some-mujik/eslint.config.js
  packages/browser-extensions/some-mujik/manifest.json
  packages/browser-extensions/some-mujik/package.json
  packages/browser-extensions/some-mujik/rollup.config.js
  packages/browser-extensions/some-mujik/src/background/background.ts
  packages/browser-extensions/some-mujik/src/components/ui/button.tsx
  packages/browser-extensions/some-mujik/src/components/ui/dropdown-menu.tsx
  packages/browser-extensions/some-mujik/src/components/ui/switch.tsx
  packages/browser-extensions/some-mujik/src/content/content.css
  packages/browser-extensions/some-mujik/src/content/content.ts
  packages/browser-extensions/some-mujik/src/content/youtube-dropdown.tsx
  packages/browser-extensions/some-mujik/src/lib/utils.ts
  packages/browser-extensions/some-mujik/src/popup/popup-card.tsx
  packages/browser-extensions/some-mujik/src/popup/popup.css
  packages/browser-extensions/some-mujik/src/popup/popup.html
  packages/browser-extensions/some-mujik/src/popup/popup.tsx
  packages/browser-extensions/some-mujik/tsconfig.build.json
  packages/browser-extensions/some-mujik/tsconfig.json
  packages/browser-extensions/some-mujik/tsconfig.node.json
  packages/browser-extensions/some-mujik/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: move to own dir for build purposes (ignore wip)
  packages/ui/nfl/src/components/hopium/bento-grid/index.tsx
  packages/ui/nfl/src/components/hopium/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.stories.tsx
  packages/ui/nfl/src/components/hopium/monitor/dashboard/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/event-card/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/modal/index.tsx
  packages/ui/nfl/src/components/hopium/monitor/stats-card/index.tsx
  packages/ui/nfl/src/components/hopium/rollercoaster/index.tsx
  packages/ui/nfl/src/components/hopium/streak-card/index.tsx
  packages/ui/nfl/src/data/hopium/events.ts
  packages/ui/nfl/src/hooks/hopium/use-element-size.ts
  packages/ui/nfl/src/hooks/hopium/use-hopium-data.ts
  packages/ui/nfl/src/hooks/hopium/use-replay-timeline.ts
  packages/ui/nfl/src/hooks/hopium/use-viewport.ts
  packages/ui/nfl/src/lib/hopium/adapters/mock-adapter.ts
  packages/ui/nfl/src/types/hopium/hopium-tracker.ts
  packages/ui/nfl/src/utils/hopium/filtering-sorting.ts
  packages/ui/nfl/src/utils/hopium/monitor-utils.ts
  packages/ui/nfl/src/utils/hopium/mood.ts
Due: eslint --fix, prettier --check --write

chore: update to reflect new config
  packages/bark/package.json
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/chat/tsconfig.build.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/tsconfig.build.json
  packages/ui/input/package.json
  packages/ui/maishatu-fetch-kit/package.json
  packages/ui/maishatu-fetch-kit/tsconfig.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/nfl/tsconfig.build.json
  packages/ui/overlays/package.json
  packages/ui/portfolio-chart/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/shared/tsconfig.build.json
  packages/ui/slideshow/package.json
  packages/ui/slideshow/tsconfig.build.json
  packages/ui/slideshow/tsconfig.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: prettier --check --write

feat: browser blob dump
  packages/browser-extensions/some-mujik/manifest.json
  packages/browser-extensions/some-mujik/package.json
  packages/browser-extensions/some-mujik/src/components/ui/button.tsx
  packages/browser-extensions/some-mujik/src/components/ui/dropdown-menu.tsx
  packages/browser-extensions/some-mujik/src/components/ui/switch.tsx
  packages/browser-extensions/some-mujik/src/content/content.css
  packages/browser-extensions/some-mujik/src/content/content.ts
  packages/browser-extensions/some-mujik/src/content/youtube-dropdown.tsx
  packages/browser-extensions/some-mujik/src/popup/popup-card.tsx
  packages/browser-extensions/some-mujik/src/popup/popup.tsx
  packages/browser-extensions/some-mujik/vite.config.background.ts
  packages/browser-extensions/some-mujik/vite.config.content.ts
  packages/browser-extensions/some-mujik/vite.config.popup.ts
  packages/browser-extensions/some-tab-meta/package.json
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: config files
  .gitignore
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  themes.css
  vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: don't remember
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/types/src/components/create-enum-zod-schema.ts
  packages/types/src/components/zd-types/zod-generic-object/index.test.ts
  packages/types/src/components/zd-types/zod-generic-object/index.ts
  packages/utils/src/lib/context/event-queue.ts
Due: eslint --fix, prettier --check --write

chore: blob dump
  .env.example
  crates/some-gui/examples/.tabs.rs.swp
  crates/some-slint-ui/ui/main.slint
  crates/some-slint-ui/ui/tab_bar.slint
Due: none

chore: some updates
  flake.lock
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: don't hardcode satellite data
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/components/youtube/with-shutter-yt-overlay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/with-shutter-yt-overlay/index.tsx
  packages/ui/overlays/src/data/chatbot-messages/beached-whale.ts
  packages/ui/overlays/src/data/chatbot-messages/farmers.ts
  packages/ui/overlays/src/data/chatbot-messages/nfl-tennis.ts
  packages/ui/overlays/src/data/chatbot-messages/the-same-winners.ts
  packages/ui/overlays/src/data/chatbot-messages/wai-no-tock-tock.ts
  packages/ui/overlays/src/data/chatbot-messages/yet-another-python.ts
  packages/ui/overlays/src/data/chatbot-messages/youtube.ts
  packages/ui/overlays/src/types/panels.ts
  packages/ui/overlays/tsconfig.build.json
  packages/ui/overlays/vite.config.ts
Due: eslint --fix, prettier --check --write

fix: lookie it's boolding
  package.json
  packages/ui/overlays/package.json
  packages/ui/overlays/src/index.ts
  packages/ui/overlays/src/utils/obs-websocket.ts
  packages/ui/overlays/tsconfig.build.json
  packages/ui/overlays/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

fix: isolate demo files from build files
  packages/ui/attributions/src/index.ts
  packages/ui/attributions/tsconfig.build.json
  packages/ui/attributions/vite.config.ts
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.stories.tsx
  packages/ui/nfl/src/components/brick-wall/brick-chart-carousel/index.tsx
  packages/ui/portfolio-chart/setupVitest.ts
  packages/ui/portfolio-chart/src/data/index.ts
  packages/ui/portfolio-chart/src/data/trade-data.ts
  packages/ui/portfolio-chart/tsconfig.json
Due: eslint --fix, prettier --check --write

fix: add missing hook to demo
  packages/ui/overlays/src/components/youtube/overlay-content/index.tsx
  packages/ui/overlays/src/data/attributions.ts
  packages/ui/overlays/src/data/index.ts
Due: eslint --fix, prettier --check --write

feat: some stuff goes on
  apps/www/.cta.json
  apps/www/.gitignore
  apps/www/eslint.config.js
  apps/www/index.html
  apps/www/package.json
  apps/www/public/favicon.ico
  apps/www/public/logo192.png
  apps/www/public/logo512.png
  apps/www/public/manifest.json
  apps/www/public/robots.txt
  apps/www/public/vite.svg
  apps/www/src/App.css
  apps/www/src/App.tsx
  apps/www/src/assets/react.svg
  apps/www/src/data/clues.ts
  apps/www/src/data/index.ts
  apps/www/src/index.css
  apps/www/src/logo.svg
  apps/www/src/main.tsx
  apps/www/src/providers/index.tsx
  apps/www/src/providers/tanstack-query.tsx
  apps/www/src/providers/tts.tsx
  apps/www/src/reportWebVitals.ts
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/__root.tsx
  apps/www/src/routes/index.tsx
  apps/www/src/styles.css
  apps/www/src/vite-env.d.ts
  apps/www/tsconfig.app.json
  apps/www/tsconfig.json
  apps/www/tsconfig.node.json
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: place styles in own workspace
  .storybook/index.css
  apps/www/src/App.css
  apps/www/src/index.css
  apps/www/src/styles.css
  extensions/no-comments/src/styles/styles.css
  extensions/some-mujik/src/content/content.css
  extensions/some-mujik/src/popup/popup.css
  extensions/some-prompt/src/popup/popup.css
  packages/some-styles/package.json
  packages/some-styles/tailwind.css
  packages/some-styles/themes.css
  packages/some-styles/tsconfig.json
Due: prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: add tsconfig path
  apps/www/vite.config.ts
  packages/types/vite.config.ts
  packages/ui/chat/vite.config.ts
  packages/ui/emoji-animations/vite.config.ts
  packages/ui/input/vite.config.ts
  packages/ui/maishatu-fetch-kit/vite.config.ts
  packages/ui/makjang/vite.config.ts
  packages/ui/nfl/vite.config.ts
  packages/ui/overlays/vite.config.ts
  packages/ui/resume/vite.config.ts
  packages/ui/shared/vite.config.ts
  packages/ui/slideshow/vite.config.ts
  packages/ui/stepper/vite.config.ts
  packages/ui/umag/vite.config.ts
  packages/ui/wireframes/vite.config.ts
  packages/utils/vite.config.ts
Due: eslint --fix, prettier --check --write

chore: it's over
  apps/www/src/App.tsx
  apps/www/src/assets/react.svg
  apps/www/src/data/clues.ts
  apps/www/src/data/index.ts
  apps/www/src/logo.svg
  tailwind.css
  themes.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: import css for build
  packages/ui/input/package.json
  packages/ui/input/src/components/crossword-clue/index.tsx
  packages/ui/input/src/components/crossword-svg/index.tsx
  packages/ui/input/src/components/index.ts
  packages/ui/input/src/index.css
  packages/ui/input/src/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: rewrite pkg
  crates/pkg_cloner/Cargo.toml
  crates/pkg_cloner/src/cloner.rs
  crates/pkg_cloner/src/cloner/.interaction.rs.swp
  crates/pkg_cloner/src/cloner/cli.rs
  crates/pkg_cloner/src/cloner/config.rs
  crates/pkg_cloner/src/cloner/interaction.rs
  crates/pkg_cloner/src/cloner/utils.rs
  crates/pkg_cloner/src/cloner/workspace.rs
  crates/pkg_cloner/src/lib.rs
  crates/pkg_cloner/src/main.rs
Due: none

chore: move content/assets to shared package
  packages/some-content/eslint.config.js
  packages/some-content/package.json
  packages/some-content/src/components/index.ts
  packages/some-content/src/components/overlay/index.tsx
  packages/some-content/src/data/attributions.ts
  packages/some-content/src/data/chatbot-messages/beached-whale.ts
  packages/some-content/src/data/chatbot-messages/characters.ts
  packages/some-content/src/data/chatbot-messages/farmers.ts
  packages/some-content/src/data/chatbot-messages/index.ts
  packages/some-content/src/data/chatbot-messages/nfl-tennis.ts
  packages/some-content/src/data/chatbot-messages/the-same-winners.ts
  packages/some-content/src/data/chatbot-messages/wai-no-tock-tock.ts
  packages/some-content/src/data/chatbot-messages/yet-another-python.ts
  packages/some-content/src/data/chatbot-messages/youtube.ts
  packages/some-content/src/data/gantt-data.ts
  packages/some-content/src/data/gemini-stepper.ts
  packages/some-content/src/data/index.ts
  packages/some-content/src/index.ts
  packages/some-content/src/types/index.ts
  packages/some-content/src/types/panels.ts
  packages/some-content/tsconfig.json
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/demo/index.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.stories.tsx
  packages/ui/overlays/src/hooks/use-obs-socket.ts
  packages/ui/overlays/src/types/obs-websocket.ts
  packages/ui/overlays/tsconfig.build.json
  packages/ui/overlays/tsconfig.json
  packages/ui/overlays/vite.config.ts
Due: eslint --fix, prettier --check --write

feat: add overlay (broken)
  apps/www/index.html
  apps/www/package.json
  apps/www/scripts/analyze-bundle.js
  apps/www/src/index.css
  apps/www/src/main.tsx
  apps/www/src/routeTree.gen.ts
  apps/www/src/routes/index.tsx
  apps/www/src/routes/overlays/youtube.tsx
  apps/www/tsconfig.json
  apps/www/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: update vite config
  packages/some-vite-config/package.json
  packages/some-vite-config/src/lib/package-json.ts
  packages/some-vite-config/src/lib/plugins.ts
  packages/some-vite-config/src/types/index.ts
Due: eslint --fix, prettier --check --write

feat: add voice ui init
  packages/ui/umag/package.json
  packages/ui/umag/src/components/megaphone-spectrum/index.tsx
  packages/ui/umag/src/components/mujik-discovery/index.tsx
  packages/ui/umag/src/components/now-playing/audio-player/demo/index.tsx
  packages/ui/umag/src/components/now-playing/index.ts
  packages/ui/umag/src/components/voice-ui/avatar/index.stories.tsx
  packages/ui/umag/src/components/voice-ui/avatar/index.tsx
  packages/ui/umag/src/components/voice-ui/controls/index.tsx
  packages/ui/umag/src/components/voice-ui/voice-card/index.tsx
  packages/ui/umag/src/hooks/voice-ui/use-blinking.ts
  packages/ui/umag/src/hooks/voice-ui/use-canvas-animation.ts
  packages/ui/umag/src/hooks/voice-ui/use-eye-tracking.ts
  packages/ui/umag/src/hooks/voice-ui/use-particles.ts
  packages/ui/umag/src/hooks/voice-ui/use-theme.ts
  packages/ui/umag/src/hooks/voice-ui/use-waveform.ts
  packages/ui/umag/src/index.css
  packages/ui/umag/src/index.ts
  packages/ui/umag/src/utils/color-utils.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: init some cycle
  .storybook/main.ts
  .storybook/preview.tsx
  __mocks__/webextension-polyfill.ts
  extensions/some-cycle/background/index.ts
  extensions/some-cycle/content/index.stories.tsx
  extensions/some-cycle/content/index.ts
  extensions/some-cycle/eslint.config.js
  extensions/some-cycle/manifest.json
  extensions/some-cycle/package.json
  extensions/some-cycle/popup/popup.html
  extensions/some-cycle/popup/popup.tsx
  extensions/some-cycle/rollup.config.js
  extensions/some-cycle/src/index.ts
  extensions/some-cycle/src/types/index.ts
  extensions/some-cycle/tsconfig.build.json
  extensions/some-cycle/tsconfig.json
  extensions/some-cycle/tsconfig.node.json
  extensions/some-cycle/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write
