Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

fix: get failing pkgs building
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/standings/index.tsx
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.tsx
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/umag/src/components/animated-wave-bar-chart/index.tsx
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

fix: circular dep
  packages/ui/shared/src/components/ui/animated-badge/index.tsx
  packages/ui/shared/src/components/ui/avatar-group/index.tsx
  packages/ui/shared/src/components/ui/overlay-input/index.tsx
  packages/ui/shared/src/components/ui/with-avatar/index.tsx
Due: eslint --fix, prettier --check --write

fix: get umag building
  packages/ui/umag/package.json
  packages/ui/umag/src/hooks/use-waveform-viz.ts
Due: eslint --fix, prettier --check --write

Revert "fix: get umag building"
  packages/ui/umag/package.json
  packages/ui/umag/src/hooks/use-waveform-viz.ts
Due: eslint --fix, prettier --check --write

Revert "fix: get failing pkgs building"
  packages/mdx-generator/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/neon-sign/src/components/neon-text/index.tsx
  packages/ui/nfl/package.json
  packages/ui/nfl/src/components/standings/index.tsx
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/splay-tree/splay-animation/auto-splay/index.tsx
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/umag/src/components/animated-wave-bar-chart/index.tsx
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

Revert "fix: circular dep"
  packages/ui/shared/src/components/ui/animated-badge/index.tsx
  packages/ui/shared/src/components/ui/avatar-group/index.tsx
  packages/ui/shared/src/components/ui/overlay-input/index.tsx
  packages/ui/shared/src/components/ui/with-avatar/index.tsx
Due: eslint --fix, prettier --check --write

Revert "fix: get attributions pkg to build"
  packages/ui/attributions/package.json
  packages/ui/attributions/src/components/index.ts
Due: eslint --fix, prettier --check --write

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: wrong alias
  packages/ui/attributions/rollup.config.js
Due: eslint --fix, prettier --check --write

ci: update postcss to fix ci
  postcss.config.js
Due: eslint --fix, prettier --check --write

ci: remove require
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
Due: eslint --fix, prettier --check --write

ci: module.css failing
  packages/rollup-config/src/configs/core.rollup.config.ts
Due: eslint --fix, prettier --check --write

ci: attempt to resolve lilconfig
  packages/rollup-config/package.json
Due: prettier --check --write

ci: test
  postcss.deprecated.config.js
Due: eslint --fix, prettier --check --write

ci: use mjs for postcss?
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  postcss.deprecated.config.js
Due: eslint --fix, prettier --check --write

Fix build issues (#152)
  package.json
  packages/rollup-config/package.json
  packages/rollup-config/src/configs/base.rollup.config.ts
  packages/rollup-config/src/configs/core.rollup.config.ts
  packages/ui/attributions/rollup.config.js
  pnpm-lock.yaml
  postcss.config.mjs
Due: eslint --fix, prettier --check --write

chore: release some-ui-utils first version
  .changeset/tricky-dogs-wave.md
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

fix: remove postinstall script
  .changeset/neat-hounds-complain.md
  packages/eslint/package.json
Due: eslint --fix, prettier --check --write

chore: update lockfile
  packages/ui/attributions/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/overlays/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: prettier --check --write

Fix release issues (#155)
  .changeset/neat-hounds-complain.md
  packages/eslint/package.json
  packages/ui/attributions/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/overlays/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

fix: prettier
  packages/types/package.json
  packages/types/src/components/is-null/index.test.ts
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/emoji-animations/src/components/bored-emoji/README.md
  packages/ui/emoji-animations/src/index.ts
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/overlays/package.json
  packages/ui/overlays/src/components/youtube/overlay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/index.ts
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/searchbar/src/components/data/searcbar.ts
  packages/ui/shared/package.json
  packages/ui/shared/src/components/ui/chart.tsx
  packages/ui/slideshow/package.json
  packages/ui/slideshow/src/components/inset-card/index.stories.tsx
  packages/ui/slideshow/src/components/inset-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.stories.tsx
  packages/ui/slideshow/tsconfig.build.json
  packages/ui/slideshow/tsconfig.json
  packages/ui/umag/package.json
  packages/ui/umag/src/components/audio-waveform/index.tsx
  packages/ui/umag/src/index.ts
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: eslint --fix, prettier --check --write

Fix release issues (#156)
  packages/types/package.json
  packages/types/src/components/is-null/index.test.ts
  packages/ui/calendar/package.json
  packages/ui/emoji-animations/src/components/bored-emoji/README.md
  packages/ui/emoji-animations/src/index.ts
  packages/ui/overlays/src/components/youtube/overlay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/splay-tree/index.ts
  packages/ui/resume/package.json
  packages/ui/searchbar/src/components/data/searcbar.ts
  packages/ui/shared/src/components/ui/chart.tsx
  packages/ui/slideshow/src/components/inset-card/index.stories.tsx
  packages/ui/slideshow/src/components/inset-card/index.tsx
  packages/ui/slideshow/src/components/rotating-cube/index.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.stories.tsx
  packages/ui/slideshow/src/components/slideshow-card/index.tsx
  packages/ui/slideshow/src/components/slideshow-sidebar/index.stories.tsx
  packages/ui/slideshow/tsconfig.build.json
  packages/ui/slideshow/tsconfig.json
  packages/ui/umag/src/components/audio-waveform/index.tsx
  packages/ui/umag/src/index.ts
Due: eslint --fix, prettier --check --write

fix: disable husky on ci
  .github/workflows/release.yml
Due: prettier --check --write

chore: remove postinstall
  packages/bark/package.json
  packages/rollup-config/package.json
  packages/tailwind-config/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: prettier --check --write

Remove post install build (#157)
  .github/workflows/release.yml
  packages/bark/package.json
  packages/rollup-config/package.json
  packages/tailwind-config/package.json
  packages/types/package.json
  packages/ui/attributions/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/emoji-animations/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
Due: prettier --check --write

chore: use npm package eslintkit
  package.json
  packages/bark/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: mov deps to devs deps
  packages/eslint/package.json
  pnpm-lock.yaml
Due: prettier --check --write

ci: debug build
  .github/workflows/build.yml
Due: prettier --check --write

refactor: remove archived github action
  .github/workflows/build.yml
Due: prettier --check --write

ci(fix): list correct dist path
  .github/workflows/build.yml
Due: prettier --check --write

Fix release installs (#159)
  .github/workflows/build.yml
  package.json
  packages/bark/package.json
  packages/eslint/package.json
  packages/types/package.json
  packages/ui/calendar/package.json
  packages/ui/chat/package.json
  packages/ui/honeycomb/package.json
  packages/ui/input/package.json
  packages/ui/makjang/package.json
  packages/ui/neon-sign/package.json
  packages/ui/nfl/package.json
  packages/ui/overlays/package.json
  packages/ui/resume/package.json
  packages/ui/searchbar/package.json
  packages/ui/shared/package.json
  packages/ui/slideshow/package.json
  packages/ui/stepper/package.json
  packages/ui/umag/package.json
  packages/ui/wireframes/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --check --write

ci: add build step to releasee, add retention for artifiacts
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --check --write

chore: release for eslintkit
  .changeset/weak-bottles-walk.md
Due: eslint --fix, prettier --check --write

Fix eslintkit release (#160)
  .changeset/weak-bottles-walk.md
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: eslint --fix, prettier --check --write

Fix eslintkit release (#162)
  .changeset/weak-bottles-walk.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check --write: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
  prettier --write: ((any of: **/*.css) or (any of: **/*.{scss,html})) or (any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx})
  eslint --config packages/embla-caro/.eslintrc.js --fix: any of: packages/embla-carousel/**/*.{js,ts,tsx,jsx}
  npx tsc --build --project packages/embla-carousel/tsconfig.json: any of: packages/embla-carousel/**/*.{ts,tsx}
