Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

fix: ts
  packages/ui/overlays/src/components/youtube/index.ts
  packages/ui/overlays/src/components/youtube/overlay/index.stories.tsx
  packages/ui/overlays/src/components/youtube/overlay/index.tsx
  packages/ui/overlays/src/components/youtube/yt-grid/index.stories.tsx
  packages/ui/overlays/src/components/youtube/yt-grid/index.tsx
  packages/ui/overlays/src/hooks/index.ts
  packages/ui/overlays/src/hooks/use-random-panel-expansion.ts
Due: eslint --fix, prettier --check --write

fix: don't build vidya
  packages/ui/vidya/package.json
Due: prettier --check --write

fix: ts
  packages/some-content/src/hooks/use-scene-driven-layout.ts
Due: eslint --fix, prettier --check --write

fix: ts issues
  apps/www/src/routeTree.gen.ts
  packages/ui/slideshow/src/components/orchestrator/edit-scene-dialog/index.stories.tsx
  packages/ui/slideshow/src/components/recap/status-card/index.tsx
  packages/utils/src/lib/registry/utils.ts
Due: eslint --fix, prettier --check --write

chore: update build script'
  apps/www/package.json
Due: prettier --check --write

chore: add tab-tracker to monorepo build
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat(tab-tracker): initial implementation
  extensions/tab-tracker/AI.md
  extensions/tab-tracker/README.md
  extensions/tab-tracker/eslint.config.js
  extensions/tab-tracker/package.json
  extensions/tab-tracker/public/manifest.json
  extensions/tab-tracker/src/background/background.ts
  extensions/tab-tracker/src/content/content.ts
  extensions/tab-tracker/src/popup/popup.html
  extensions/tab-tracker/src/popup/popup.ts
  extensions/tab-tracker/src/styles/content.css
  extensions/tab-tracker/src/types/index.ts
  extensions/tab-tracker/src/ui/context-panel/index.ts
  extensions/tab-tracker/src/ui/dot/index.ts
  extensions/tab-tracker/src/ui/floating-hud/index.stories.tsx
  extensions/tab-tracker/src/ui/floating-hud/index.ts
  extensions/tab-tracker/src/ui/neglect-label/index.ts
  extensions/tab-tracker/src/ui/session-label/index.ts
  extensions/tab-tracker/src/ui/timer/index.ts
  extensions/tab-tracker/src/ui/toast/index.ts
  extensions/tab-tracker/tsconfig.build.json
  extensions/tab-tracker/tsconfig.json
  extensions/tab-tracker/tsconfig.node.json
  extensions/tab-tracker/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix: ts
  extensions/tab-tracker/src/types/dom.d.ts
  extensions/tab-tracker/src/ui/floating-hud/index.ts
Due: eslint --fix, prettier --check --write

feat: lots of the things
  extensions/tab-tracker/env.d.ts
  extensions/tab-tracker/package.json
  extensions/tab-tracker/src/content/content.ts
  extensions/tab-tracker/src/content/logic.ts
  extensions/tab-tracker/src/types/dom.d.ts
  extensions/tab-tracker/src/ui/dot/index.stories.tsx
  extensions/tab-tracker/src/ui/timer/index.stories.tsx
  extensions/tab-tracker/src/ui/toast/index.stories.tsx
  extensions/tab-tracker/tsconfig.json
Due: eslint --fix, prettier --check --write

test: add tests
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.test.ts
  packages/ui/honeycomb/src/hooks/use-keyboard-input/index.ts
  packages/ui/honeycomb/tsconfig.build.json
  packages/ui/honeycomb/tsconfig.json
  packages/ui/honeycomb/vitest.config.ts
  packages/ui/honeycomb/vitest.setup.ts
Due: eslint --fix, prettier --check --write

chore: some edit
  packages/ui/input/src/components/typing-game/leetype/index.stories.tsx
  packages/ui/input/src/components/typing-game/leetype/index.tsx
Due: eslint --fix, prettier --check --write

feat: select filter tab
  extensions/some-filter/package.json
  extensions/some-filter/src/content/filter.css
  extensions/some-filter/src/popup/components/action-bar/index.stories.tsx
  extensions/some-filter/src/popup/components/action-bar/index.ts
  extensions/some-filter/src/popup/components/filter-badge/index.stories.tsx
  extensions/some-filter/src/popup/components/filter-badge/index.ts
  extensions/some-filter/src/popup/components/tablist/index.stories.tsx
  extensions/some-filter/src/popup/components/tablist/index.ts
  extensions/some-filter/src/popup/components/window-group-header/index.ts
  extensions/some-filter/src/popup/popup.css
  extensions/some-filter/src/popup/popup.html
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/popup.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: deps update
  packages/some-content/package.json
  packages/ui/vidya/package.json
  packages/ui/wireframes/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: this is fire!
  extensions/some-filter/popup.html
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/popup/popup.ts
  extensions/some-filter/src/types/popup.ts
  extensions/some-filter/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: perfect
  extensions/some-filter/src/background/background.ts
  extensions/some-filter/src/content/content.ts
  extensions/some-filter/src/popup/popup.ts
Due: eslint --fix, prettier --check --write

feat: working ui state
  extensions/some-filter/README.md
  extensions/tab-tracker/src/content/content.ts
  extensions/tab-tracker/src/content/logic.ts
  extensions/tab-tracker/src/styles/content.css
  extensions/tab-tracker/src/ui/context-panel/index.ts
  extensions/tab-tracker/src/ui/floating-hud/index.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: crazy that I didn't commit this
  extensions/some-filter/package.json
  extensions/tab-tracker/package.json
  extensions/tab-tracker/src/background/background.ts
  extensions/tab-tracker/src/content/logic.ts
  extensions/tab-tracker/src/popup/popup.ts
  extensions/tab-tracker/tsconfig.build.json
  extensions/tab-tracker/tsconfig.json
  extensions/tab-tracker/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: init scheduler
  packages/some-content/src/data/life-scheduler/index.ts
  packages/some-styles/tailwind.css
  packages/some-styles/themes/scheduler.css
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.stories.tsx
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.tsx
  packages/ui/calendar/src/components/life-scheduler/node-popup/index.stories.tsx
  packages/ui/calendar/src/components/life-scheduler/node-popup/index.tsx
  packages/ui/calendar/src/components/life-scheduler/ring/index.stories.tsx
  packages/ui/calendar/src/components/life-scheduler/ring/index.tsx
  packages/ui/calendar/src/types/life-scheduler.ts
  packages/ui/calendar/tsconfig.build.json
  packages/ui/calendar/tsconfig.json
  packages/ui/calendar/vite.config.mts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat: clock pattern
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.stories.tsx
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.tsx
  packages/ui/calendar/src/components/life-scheduler/node-popup/index.tsx
  packages/ui/calendar/src/hooks/use-cyclic-clock.ts
Due: eslint --fix, prettier --check --write

fix: draggable preventing onclick
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.tsx
  packages/ui/calendar/src/components/life-scheduler/node-popup/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --check --write

feat: quick actions
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.tsx
  packages/ui/calendar/src/components/life-scheduler/ring/index.tsx
Due: eslint --fix, prettier --check --write

feat: init mujik overlay
  extensions/some-mujik/manifest.json
  extensions/some-mujik/package.json
  extensions/some-mujik/public/manifest.json
  extensions/some-mujik/rollup.config.js
  extensions/some-mujik/src/background/background.ts
  extensions/some-mujik/src/components/ui/button.tsx
  extensions/some-mujik/src/components/ui/dropdown-menu.tsx
  extensions/some-mujik/src/components/ui/overlay-card/index.stories.tsx
  extensions/some-mujik/src/components/ui/overlay-card/index.ts
  extensions/some-mujik/src/components/ui/switch.tsx
  extensions/some-mujik/src/components/ui/waveform/index.stories.tsx
  extensions/some-mujik/src/components/ui/waveform/index.ts
  extensions/some-mujik/src/content/content.css
  extensions/some-mujik/src/content/content.ts
  extensions/some-mujik/src/content/lib/draggable.ts
  extensions/some-mujik/src/content/lib/fullscreen.ts
  extensions/some-mujik/src/content/lib/song.ts
  extensions/some-mujik/src/content/lib/yt-meta.ts
  extensions/some-mujik/src/content/youtube-dropdown.tsx
  extensions/some-mujik/src/lib/utils.ts
  extensions/some-mujik/src/popup/popup-card.tsx
  extensions/some-mujik/src/popup/popup.css
  extensions/some-mujik/src/popup/popup.html
  extensions/some-mujik/src/popup/popup.ts
  extensions/some-mujik/src/popup/popup.tsx
  extensions/some-mujik/src/styles/content.css
  extensions/some-mujik/tsconfig.build.json
  extensions/some-mujik/tsconfig.json
  extensions/some-mujik/tsconfig.node.json
  extensions/some-mujik/vite.config.background.ts
  extensions/some-mujik/vite.config.content.ts
  extensions/some-mujik/vite.config.popup.ts
  extensions/some-mujik/vite.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: config/deps
  extensions/tab-tracker/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

fix: ts
  extensions/some-mujik/src/background/background.ts
  extensions/some-mujik/src/components/ui/overlay-card/index.ts
  extensions/some-mujik/src/components/ui/waveform/index.ts
  extensions/some-mujik/src/content/lib/song.ts
Due: eslint --fix, prettier --check --write

chore: readme
  extensions/some-mujik/README.md
Due: eslint --fix, prettier --check --write

fix: only show on active non yt tab
  extensions/some-mujik/public/manifest.json
  extensions/some-mujik/src/background/background.ts
  extensions/some-mujik/src/content/content.ts
  extensions/some-mujik/src/types/browser.d.ts
Due: eslint --fix, prettier --check --write

fix: get html building at root
  extensions/some-mujik/popup.html
  extensions/some-mujik/src/popup/popup.ts
  extensions/some-mujik/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

fix: ts
  packages/ui/calendar/package.json
  packages/ui/calendar/src/components/life-scheduler/ring/index.tsx
Due: eslint --fix, prettier --check --write

fix: updated props
  packages/ui/calendar/src/components/life-scheduler/cyclic-scheduler/index.stories.tsx
Due: eslint --fix, prettier --check --write

fix: update pkg name
  packages/some-content/src/registry/index.ts
  packages/ui/honeycomb/vite.config.ts
Due: eslint --fix, prettier --check --write

styles: marquee
  extensions/some-mujik/src/styles/content.css
Due: stylelint --allow-empty-input, prettier --write

styles: marquee title
  extensions/some-mujik/src/components/ui/overlay-card/index.stories.tsx
  extensions/some-mujik/src/components/ui/overlay-card/index.ts
  tsconfig.json
Due: eslint --fix, prettier --check --write

feat: init extension
  extensions/some-schedule/bundle.mjs
  extensions/some-schedule/eslint.config.js
  extensions/some-schedule/package.json
  extensions/some-schedule/public/manifest.json
  extensions/some-schedule/src/background/capture.ts
  extensions/some-schedule/src/background/index.ts
  extensions/some-schedule/src/content/content.ts
  extensions/some-schedule/src/extractors/article.ts
  extensions/some-schedule/src/extractors/base.ts
  extensions/some-schedule/src/extractors/chat.ts
  extensions/some-schedule/src/extractors/docs.ts
  extensions/some-schedule/src/extractors/github.ts
  extensions/some-schedule/src/extractors/job-board.ts
  extensions/some-schedule/src/extractors/leetcode.ts
  extensions/some-schedule/src/extractors/registry.ts
  extensions/some-schedule/src/popup/index.ts
  extensions/some-schedule/src/popup/popup.html
  extensions/some-schedule/src/shared/domain-classifier.ts
  extensions/some-schedule/src/shared/id.ts
  extensions/some-schedule/src/shared/types.ts
  extensions/some-schedule/tsconfig.build.json
  extensions/some-schedule/tsconfig.json
  extensions/some-schedule/vite.config.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: building broken first v
  extensions/some-schedule/popup.html
  extensions/some-schedule/public/manifest.json
  extensions/some-schedule/src/background/background.ts
  extensions/some-schedule/src/background/capture.ts
  extensions/some-schedule/src/background/index.ts
  extensions/some-schedule/src/content/content.ts
  extensions/some-schedule/src/popup/index.ts
  extensions/some-schedule/src/popup/popup.html
  extensions/some-schedule/src/popup/popup.ts
  extensions/some-schedule/src/shared/domain-classifier.ts
  extensions/some-schedule/src/shared/id.ts
Due: eslint --fix, prettier --check --write, prettier --write

chore: clean
  extensions/no-comments/build.sh
  extensions/no-comments/manifest.json
  extensions/no-comments/rollup.config.js
  packages/ui/overlays/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat: wip
  extensions/some-schedule/popup.html
  extensions/some-schedule/public/manifest.json
  extensions/some-schedule/src/background/background.ts
  extensions/some-schedule/src/background/capture.ts
  extensions/some-schedule/src/content/content.ts
  extensions/some-schedule/src/popup/popup.ts
  extensions/some-schedule/src/shared/types.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: wip
  extensions/some-schedule/popup.html
  extensions/some-schedule/public/manifest.json
  extensions/some-schedule/src/background/background.ts
  extensions/some-schedule/src/content/content.ts
  extensions/some-schedule/src/popup/fsm.ts
  extensions/some-schedule/src/popup/messages.ts
  extensions/some-schedule/src/popup/popup.ts
  extensions/some-schedule/src/popup/view.ts
  extensions/some-schedule/src/shared/types.ts
Due: eslint --fix, prettier --check --write, prettier --write

feat: wip
  extensions/some-schedule/src/background/capture.ts
Due: eslint --fix, prettier --check --write
