Repository paulgsc/some-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write, eslint --config packages/embla-caro/.eslintrc.js --fix, npx tsc --build --project packages/embla-carousel/tsconfig.json

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"],
  "**/*.{scss,html}": ["prettier --write"],
  "packages/embla-carousel/**/*.{js,ts,tsx,jsx}": [
    "eslint --config packages/embla-caro/.eslintrc.js --fix",
    "prettier --write"
  ],
  "packages/embla-carousel/**/*.{ts,tsx}": [
    "npx tsc --build --project packages/embla-carousel/tsconfig.json"
  ]
}

chore: lock-file update
  Cargo.lock
Due: none

chore: copy over template from turbo repo path crate
  crates/file-paths/src/core/absolute_path.rs
  crates/file-paths/src/core/absolute_system_path.rs
  crates/file-paths/src/lib.rs
Due: none

chore: add license
  crates/file-paths/LICENSE
Due: none

chore: update deps
  Cargo.toml
Due: none

feat: add error and update deps
  Cargo.lock
  Cargo.toml
  crates/file-paths/Cargo.toml
  crates/file-paths/src/error.rs
  crates/file-paths/src/lib.rs
Due: none

feat: init new file-paths crate
  Cargo.toml
  crates/file-paths/Cargo.toml
  crates/file-paths/src/config.rs
  crates/file-paths/src/core/absolute_path.rs
  crates/file-paths/src/core/mod.rs
  crates/file-paths/src/error.rs
  crates/file-paths/src/lib.rs
Due: none

fix: filter Cargo.toml
  .github/workflows/lint.yml
Due: prettier --check --write

refactor: run test/build ci only for node
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier --check --write

feat: add new type
  packages/types/LICENSE
  packages/types/src/components/index.ts
  packages/types/src/components/numerical/index.ts
  packages/types/src/components/numerical/is-number/index.test.ts
  packages/types/src/components/numerical/is-number/index.ts
Due: eslint --fix, prettier --check --write

feat: create new package
  packages/ui/honeycomb/.gitignore
  packages/ui/honeycomb/.prettierignore
  packages/ui/honeycomb/LICENSE
  packages/ui/honeycomb/package.json
  packages/ui/honeycomb/rollup.config.js
  packages/ui/honeycomb/src/components/index.tsx
  packages/ui/honeycomb/src/index.ts
  packages/ui/honeycomb/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: update lock-file
  pnpm-lock.yaml
Due: none

fix: incorrect context key
  .github/workflows/test.yml
Due: prettier --check --write

feat: just happy to code
  packages/google-service/.gitignore
  packages/google-service/.prettierignore
  packages/google-service/package.json
  packages/google-service/rollup.config.js
  packages/google-service/src/index.ts
  packages/google-service/src/types/index.ts
  packages/google-service/src/types/zod-types/index.ts
  packages/google-service/src/types/zod-types/schema-parser/index.test.ts
  packages/google-service/src/types/zod-types/schema-parser/index.ts
  packages/google-service/src/utils/index.ts
  packages/google-service/tsconfig.json
  packages/types/LICENSE
  packages/types/src/components/common/index.ts
  packages/types/src/components/match/index.ts
  packages/types/src/components/option/index.ts
  packages/types/src/components/zd-types/index.ts
  packages/types/src/components/zd-types/zod-generic-object/index.test.ts
  packages/types/src/components/zd-types/zod-generic-object/index.ts
  packages/ui/nfl/.gitignore
  packages/ui/nfl/.prettierignore
  packages/ui/nfl/package.json
  packages/ui/nfl/rollup.config.js
  packages/ui/nfl/src/components/lineup-chart/index.tsx
  packages/ui/nfl/src/index.ts
  packages/ui/nfl/tsconfig.json
Due: eslint --fix, prettier --check --write

chore: welp something happening here!
  packages/types/src/components/common/index.ts
  packages/types/src/components/index.ts
  packages/types/src/components/match/index.ts
  packages/types/src/components/option/index.ts
  packages/types/src/components/zd-types/index.ts
  packages/types/src/components/zd-types/zod-generic-object/index.test.ts
  packages/types/src/components/zd-types/zod-generic-object/index.ts
  packages/types/src/index.ts
Due: eslint --fix, prettier --check --write

chore: lock-file update
  pnpm-lock.yaml
Due: none

feat: ending peiji?
  package.json
  packages/ui/nfl/package.json
  packages/ui/nfl/rollup.config.js
  packages/ui/nfl/src/components/lineup-chart/index.stories.tsx
  packages/ui/nfl/src/components/lineup-chart/index.tsx
Due: eslint --fix, prettier --check --write

feat: welp?
  packages/google-service/src/types/zod-types/schema-parser/index.test.ts
Due: eslint --fix, prettier --check --write

chore: update config aliases
  vite.config.ts
Due: eslint --fix, prettier --check --write

feat: mistakes were made, but it's okay because this is my first life
  packages/ui/nfl/src/components/lineup-chart/index.tsx
  packages/ui/nfl/src/global.d.ts
  packages/ui/nfl/src/public/assets/index.ts
  packages/ui/nfl/src/public/assets/nfl-field.png
  packages/ui/nfl/src/public/index.ts
  packages/ui/nfl/tsconfig.json
Due: eslint --fix, prettier --check --write

feat: sadness
  eslint.config.mjs
  packages/charts/d3/.gitignore
  packages/charts/d3/.prettierignore
  packages/charts/d3/LICENSE
  packages/charts/d3/package.json
  packages/charts/d3/rollup.config.js
  packages/charts/d3/src/components/bar/bar-background/index.stories.tsx
  packages/charts/d3/src/components/bar/bar-background/index.tsx
  packages/charts/d3/src/components/bar/bar-rectangle/index.tsx
  packages/charts/d3/src/components/bar/index.tsx
  packages/charts/d3/src/components/brushing/index.stories.tsx
  packages/charts/d3/src/components/brushing/index.tsx
  packages/charts/d3/src/components/index.tsx
  packages/charts/d3/src/index.ts
  packages/charts/d3/src/types/index.ts
  packages/charts/d3/tsconfig.json
  packages/types/src/components/is-null/index.test.ts
  packages/types/src/components/is-null/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: eslint --fix, prettier --check --write

chore: update deps
  packages/charts/d3/package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: suppose we tell stories about bar background
  packages/charts/d3/src/components/bar/bar-background/index.stories.tsx
  packages/charts/d3/src/components/bar/bar-background/index.tsx
  packages/charts/d3/src/components/bar/bar-rectangle/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

chore: update storybook
  .storybook/main.ts
  .storybook/preview.tsx
Due: eslint --fix, prettier --check --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: modularize the eslint config, and update to compatible package versions
  eslint.config.mjs
  eslint/base.config.js
  eslint/index.js
  eslint/overrides-tests.config.js
  eslint/overrides-tools.config.js
  eslint/react.config.js
  eslint/stories.config.js
  eslint/tailwind.config.js
  eslint/typescript.config.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --check --write

Feat: init nfl field
  packages/ui/nfl/src/components/nfl-field/index.stories.tsx
  packages/ui/nfl/src/components/nfl-field/index.tsx
Due: eslint --fix, prettier --check --write

chore: update tsconfig
  packages/tsconfig/base.json
Due: prettier --check --write

fix: incorrect yard markers
  packages/ui/nfl/src/components/nfl-field/index.tsx
Due: eslint --fix, prettier --check --write

chore: update stories
  packages/ui/nfl/src/components/nfl-field/index.stories.tsx
Due: eslint --fix, prettier --check --write

feat: init draggable container for nfl formations
  packages/ui/nfl/src/components/draggable/index.stories.tsx
  packages/ui/nfl/src/components/draggable/index.tsx
Due: eslint --fix, prettier --check --write

fix: ts/lint issues, unused forwarded ref
  packages/ui/nfl/src/components/draggable/index.tsx
Due: eslint --fix, prettier --check --write

chore: remove deprecated mod
  packages/ui/nfl/src/components/lineup-chart/index.stories.tsx
  packages/ui/nfl/src/components/lineup-chart/index.tsx
Due: eslint --fix, prettier --check --write
